@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; list-style:none; text-decoration:none;}

.fl{ float:left;}
.fr{float:right;}
body{background:#fbfbfb;}

/*头部开始*/
.top{width:100%; height:120px; background:#FFF;}
.top .nav{width:1200px; height:120px; margin:0 auto;}

.right{width:800px;
		height:120px;
		float:right;
}
.login{margin:50px 0 0 500px;
		min-width:150px;
		height:30px;
		float:right;
 }
.text{line-height: 30px;
	text-align:center;
	display:block;
	min-width: 5px;
	padding:0 5px;
	float:left;
	font-size:14px;
	font-family:"宋体";
	
}
.text a{color:#666;}
.text a:hover{color:#559bda;}

#BOX{width:800px;
}
#rightBox{width:800px;
		 height:46px;
		 clear:both;
		 
}

.noe{width:100px;
	height:30px;
	float:right;
	line-height: 30px;
	text-align: right;
	position: relative;
	font-size:16px;
	font-family:"微软雅黑";
}
.noe a{color:#000;}

.noe:hover .hidden{display:block;
}

.hidden{display:none;
	line-height: 30px;
	text-align:center;
	cursor: pointer;
	background: #fff;
	float:right;
	position:absolute; left:20px;
}/* 二级菜单 */


.hidden li{width:100px;
	line-height: 30px;
	text-align: center;
	font-size:12px; 
	font-family:"宋体";
	
}
/* 二级菜单  改变宽度*/
.hidden li:hover{background:#77c2dc;
				
}
.hidden li:hover a{color:#fff;}
/*头部结束

/*banner开始*/
.banner{width:100%;
	height:300px;
	background: url(../images/banner_2_02.jpg) center no-repeat;
}

/*banner结束*/

/*按钮开始*/
.box2{width:1200px; 
	margin:0 auto; 
	margin-top:75px; 
	overflow:hidden; 
	text-align:center; 
	position: relative;
}

.btxia{width:200px;
		height:110px;
		padding: 0 500px;
 }
.btxia li{width:80px;
		position:relative;
		height:96px;
		margin:10px ;
		float: left;
}
.xt{width:1200px; 
	height:1px; 
	background:#CCC; 
	clear:both; 
	margin-top:40px;
}
.btxia img{position: absolute;
			top:0;
			left:15px;
}
.btxia p{padding-top:60px;
		 font-size:16px; 
		 font-family:"微软雅黑";
}
.btxia{}
.bter{height:77px;
	border-bottom: 3px solid #559bda;
	color:#559bda;
}
.two{display: none;
	position: absolute;
	top:180px;
	left:-200px;
}
.frist{position: absolute;
	top:180px;
	right:0;}
.box2_nav{width:1200px;
			height: 280px;
			clear:both;
			/* position: absolute;
			top:170px;
			left:0; */
}
.box2_bt li{font-size:18px; 
			font-family:Arial, Helvetica, sans-serif; 
			padding-bottom:5px;
}
.box2_bt li.bj{width:80px; 
				height:28px; 
				font-family:"微软雅黑"; 
				margin:auto; 
				border-bottom:#6699cc 
				1px solid;
}
.box2_bt li.bj a{ color:#559bda;}
.xt{width:1200px; 
	height:1px; 
	background:#CCC; 
	clear:both; 

}

.box2 .buttom{float:left; 
				width:135px; 
				height:240px; 
				margin-top:7px;
}
.box2 .buttom li{width:135px;
				 height:44px;
				  text-align:center; 
				  line-height:42px;
				  padding:7px 0;
				  
}
.box2 .buttom li a{color:#fff;
}
.box2 .buttom .current_buttom{width:135px; 
								background:#FFF;
								border-bottom:1px #559bda solid;
}

.box2 .buttom .first{border:#61a4e0 1px solid;
					height:40px;
					width:118px;
					position:relative;
					z-index:1;
					background:#FFF;
					font-family:"微软雅黑";
					font-size:14px;
}
.box2 .buttom .first_c{background:#61a4e0;
}
.box2 .buttom .first a{color:#559bda;}
.box2 .buttom .first_c a{color:#fff;}
.box2 .buttom .firsts{border:#61a4e0 1px solid;
					height:40px;
					width:118px;
					position:relative; left:2px; top:-40px;
}
.box2 .right{width:1065px; 
			height:100%;
			background:#FFF;
			margin-top:7px;
}
/*按钮结束*/
/*板块开始*/
.right h6{font-size:16px;
			font-family:"微软雅黑";
			float:left;
			margin:30px 0 10px 40px;
			width:1000px; 
			text-align:left;
			border-left:#559bda 3px solid;
			padding-left:10px;
}
.right .text_a{height:100%;
				font-size:16px;
				font-family:"微软雅黑"; 
				text-align:left;
				margin-top:107px;
				margin-left:40px;
				line-height:30px;
}
.right .text_aa{margin-top:10px;}
				
.box2 .line{height:396px; 
			width:0;
			border-left:1px solid #559bda;
			margin-top:58px;
			float:left;
}
.box2 .right img{margin:10px 0 0 40px;;
				float:left;
}
.box2 .right .size{widht:145px; 
					height:145px;
					margin-left:60px;
					margin-top:53px;
}
/*板块结束*/


/*尾部开始*/
.b_bottom{width:100%; height:180px; background:url(../images/bottom-1.jpg); margin-top:40px;}
.b_bottom .b_nav{width:1200px; overflow:hidden; margin:auto;}
.b_bottom .b_nav li{float:left;}
.b_bottom .b_nav .left{width:26opx; margin-top:30px; }
.b_bottom .b_nav .left .logo_name{font-size:16px; font-family:"微软雅黑"; margin-top:5px; clear:both;color:#FFF;}
.b_bottom .b_nav .left .e_name{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#FFF;}

.b_bottom .b_nav .central{width:480px; height:130px; padding-right:120px; border-right:#FFF 1px solid; margin:auto;margin-top:30px; margin-left:80px;}
.b_bottom .b_nav .central .b_dh{width:480px;  margin:auto;}
.b_bottom .b_nav .central .b_dh li{float:left; font-family:"微软雅黑"; font-size:16px; margin-left:40px;}
.b_bottom .b_nav .central .b_dh .mo{margin-left:0;}
.b_bottom .b_nav .central .b_dh li a{color:#FFF;}

.b_bottom .b_nav .central .c_central{width:100%; height:57px; background:rgba(255,255,255,.1); margin-top:40px; padding-top:5px;}
.b_bottom .b_nav .central .c_central img{margin-left:30px; margin-right:30px;}
.b_bottom .b_nav .central .copyright{font-size:12px; font-family:"宋体"; text-align:center; color:#FFF; margin-top:10px;}

.b_bottom .b_nav .right{width:200px; height:150px; float:right; margin-top:30px; }
.b_bottom .b_nav .right p{font-size:12px; font-family:"宋体"; color:#FFF; text-align:center; clear:both; margin-left:90px;}
.b_bottom .b_nav .right img{width:110px; height:110px;float:right; margin-bottom:5px;}
<!--尾部结束-->


