@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; list-style:none; text-decoration:none;}

.fl{ float:left;}
.fr{float:right;}

/*头部开始*/
.top{width:100%; height:120px; background: #fff;}
.top .nav{width:1200px; height:120px; margin:0 auto;}
/* .top .nav .dh{height:120px; overflow:hidden;}
.top .nav .dh .dh_top{ margin-top:42px;}
.top .nav .dh .dh_top li{font-size:14px; font-family:"宋体"; color:#666; float:left; margin-left:15px;}
.top .nav .dh .dh_top li a{color:#666;}
.top .nav .dh .dh_top li a:hover{color:#559bda;}
.top .nav .dh .dh_bottom{margin-top:15px; clear:both;}
.top .nav .dh .dh_bottom .box{width:65px;text-align:center;font-size:16px; font-family:"微软雅黑";  float:left;   padding-top:15px ;padding-bottom:10px; margin-left:16px; background:#6F9;}
.top .nav .dh .dh_bottom .box a{color:#000;}
.top .nav .dh .dh_bottom li:hover
 */

.right{width:800px;
		height:120px;
		float:right;
}
.login{margin:50px 0 0 500px;
		min-width:150px;
		height:30px;
		float:right;
 }
.text{line-height: 30px;
	text-align:center;
	display:block;
	min-width: 5px;
	padding:0 5px;
	float:left;
	font-size:14px;
	font-family:"宋体";
	
}
.text a{color:#666;}
.text a:hover{color:#559bda;}

#BOX{width:800px;
}
#rightBox{width:800px;
		 height:46px;
		 clear:both;
		 
}

.noe{width:100px;
	height:30px;
	float:right;
	line-height: 30px;
	text-align: right;
	position: relative;
	font-size:16px;
	font-family:"微软雅黑";
}
.noe a{color:#000;}
.noe a:hover{color:#559bda;cursor: pointer;}
.noe:hover .hidden{display:block;
}

.hidden{display:none;
	line-height: 30px;
	text-align:center;
	cursor: pointer;
	background: #fff;
	float:right;
	position:absolute; left:20px;
}/* 二级菜单 */


.hidden li{width:100px;
	line-height: 30px;
	text-align: center;
	font-size:12px; 
	font-family:"宋体";
	
}
/* 二级菜单  改变宽度*/
.hidden li:hover{background:#77c2dc;
				
}
.hidden li:hover a{color:#fff;}
/*头部结束

/*banner开始*/
.banner{width:100%;
	height:500px;
	background: url(../images/banner_1.jpg) center no-repeat;
}

/*banner结束*/

/*板块一开始*/
.box1{width:100%;
 margin:0 auto;
  margin-top:75px; 
  overflow:hidden; 
  text-align:center;
  background:#f5fafb;
  padding:30px 0;
  position:relative;
}
.box1 .box1_bt{width:189px;
				margin:0 auto;
				border-bottom:#61a4e0 1px solid;
}
.box1 .bt_a{font-size:18px;
				 font-family:Arial,
				  Helvetica, sans-serif; 
}
.box1 .box1_bt .bj{width:110px; 
	font-family:"微软雅黑"; 
	background:#f5fafb;
	 margin:0 auto;
	 font-size:16px;
	 position:relative;
	 top:10px;
	}
.box1 .box1_bt .bj a{ color:#559bda;}
.box1 .xt{width:189px; 
	border-bottom:#61a4e0 1px solid;
	 margin:auto; 
	 position:relative;
	  bottom:16px; z-index:-1;
	}

/* .bkyi{margin-top:30px;} */
.bkyi{width:1200px; margin:0 auto;}
.bkyi .bkyi_yi{width:225px;
			 height:360px;
			  margin:0; 
			  position:relative; 
			  margin-left:17px; 
			  float:left; margin-top:30px;
			}
.bkyi .bkyi_yi_y{margin-left:0;}
.bkyi .bkyi_yi .erk{width:225px;
					height:350px;
					border:#999 1px solid;
					background:#FFF; 
					text-align:center; 
					position:relative; 
					z-index:5}
.bkyi .bkyi_yi .sank{width:225px; 
					 height:350px; 
					 border:#999 1px solid; 
					 position:absolute; 
					 left:4px; top:4px; 
					 z-index:2;
}
.bkyi .bkyi_yi .erk .bt{font-size:16px; 
						font-family:"微软雅黑"; 
						color:#000; 
						margin-top:15px;}
.bkyi .bkyi_yi .erk .zw{font-size:12px; 
						font-family:"宋体"; 
						color:#666; 
						margin:16px;
}
.bkyi .bkyi_yi .erk .zw_er{font-size:12px; 
						   font-family:"宋体"; 
						   color:#666; 
						   margin-top:10px;}

.bkyi .bkyi_yi .erk .xyikuan{width:150px; 
							 height:30px; 
							 border:#999 1px solid; 
							 background:#FFF; 
							 text-align:center;  
							 margin:auto; 
							  position:relative; 
							 margin-top:20px;
							  z-index:10; 
							 }
.bkyi .bkyi_yi .erk .xerkuan{width:150px; 
							 height:30px; 
							 border:#999 1px solid; 
							 position:relative; 
							 right:-3px; top:-29px; 
							 z-index:5; 
							 margin:auto;}
.bkyi .bkyi_yi .erk .xyikuan a{width:100px;
							   display:block;
							   font-size:14px; 
							   color:#333; 
							   font-family:"微软雅黑";
							   line-height:30px; 
							   margin:auto;
								 position:relative; 
								 z-index:20; 
								
}
.bkyi .bkyi_yi .erk .xyikuan a:hover{color:#559bda;}

/*板块一结束*/

/*板块二开始*/
.box2{width:1200px; 
	height:470px;
	margin:0 auto; 
	margin-top:75px; 
	overflow:hidden; 
	text-align:center; 
	position: relative;

}
.box2_bt li{font-size:18px; 
			font-family:Arial, Helvetica, sans-serif; 
			padding-bottom:5px;
}
.box2_bt li.bj{width:80px; 
			   height:28px; 
			   font-family:"微软雅黑"; 
			   margin:auto; 
			   border-bottom:#6699cc 1px solid;
}
.box2_bt li.bj a{ color:#559bda;}

/* .box2 .btxia{height:100px; position:relative; top:10px;}
.box2 .btxia .bter{width:65px; height:80px;  border-bottom:3px #6699cc solid;}
.box2 .btxia .bter a{ margin:auto; color:#559bda;}

.box2 .btxia .bter_er{width:65px; height:100px; margin-left:32px; position:absolute; left:600px;}
.box2 .btxia  a{ font-size:14px; font-family:"微软雅黑"; color:#999;} */
.btxia{width:200px;
		height:110px;
		padding: 0 500px;
 }
.btxia li{width:80px;
		position:relative;
		height:96px;
		margin:10px ;
		float: left;
}
.btxia img{position: absolute;
			top:0;
			left:15px;
}
.btxia p{padding-top:60px;
		 font-size:16px; 
		 font-family:"微软雅黑";
}
.btxia #solu{}
.bter{height:77px;
	border-bottom: 3px solid #559bda;
}
.two{display: none;
	position: absolute;
	top:180px;
	left:-200px;
}
.frist{position: absolute;
	top:180px;
	right:0;}
.box2_nav{width:1200px;
			height: 280px;
			clear:both;
			/* position: absolute;
			top:170px;
			left:0; */
}

.box2_nav li{width:390px;
			height:120px;
			/* margin-left:10px; */
			float:left;
			position: relative;
			margin: 5px ;
}
.box2_nav a{position: absolute;
			top:20px;
			left:170px;
			font-family:"微软雅黑"; 
			font-size:16px; color:#000; 
			text-align:left;
}
.box2_nav a:hover{
			color:#559bda;
}
#solu{color:#559bda;}
/* .box2_nav .bkyi{ position:relative; margin-left:15px; margin-top:0; margin-top:10px; text-align:left;}
.box2_nav .bkyi_yi{margin:0;}
.box2_nav .bkyi a{position:absolute; left:170px; top:20px; font-family:"微软雅黑"; font-size:16px; color:#333;}
.box2_nav .bkyi a:hover{color:#559bda;} */
/*板块二结束*/

/*尾部开始*/
.b_bottom{width:100%; height:180px; background:url(../images/bottom-1.jpg);}
.b_bottom .b_nav{width:1200px; overflow:hidden; margin:auto;}
.b_bottom .b_nav li{float:left;}
.b_bottom .b_nav .left{width:26opx; margin-top:30px; }
.b_bottom .b_nav .left .logo_name{font-size:16px; font-family:"微软雅黑"; margin-top:5px; clear:both;color:#FFF;}
.b_bottom .b_nav .left .e_name{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#FFF;}

.b_bottom .b_nav .central{width:480px; height:130px; padding-right:120px; border-right:#FFF 1px solid; margin:auto;margin-top:30px; margin-left:80px;}
.b_bottom .b_nav .central .b_dh{width:480px;  margin:auto;}
.b_bottom .b_nav .central .b_dh li{float:left; font-family:"微软雅黑"; font-size:16px; margin-left:40px;}
.b_bottom .b_nav .central .b_dh .mo{margin-left:0;}
.b_bottom .b_nav .central .b_dh li a{color:#FFF;}

.b_bottom .b_nav .central .c_central{width:100%; height:57px; background:rgba(255,255,255,.1); margin-top:40px; padding-top:5px;}
.b_bottom .b_nav .central .c_central img{margin-left:30px; margin-right:30px;}
.b_bottom .b_nav .central .copyright{font-size:12px; font-family:"宋体"; text-align:center; color:#FFF; margin-top:10px;}

.b_bottom .b_nav .right{width:200px; height:150px; float:right; margin-top:30px; }
.b_bottom .b_nav .right p{font-size:12px; font-family:"宋体"; color:#FFF; text-align:center; clear:both; margin-left:90px;}
.b_bottom .b_nav .right img{width:110px; height:110px;float:right; margin-bottom:5px;}
<!--尾部结束-->










