{template 'common/header-gw'}
{template 'extension/module-tabs'}
<div class="clearfix">
	<h5 class="page-header">安装 {$module['title']}</h5>
	<div class="alert alert-info">您正在安装 {$module['title']} 行业解决方案. 请选择您要针对哪个公众账号启用 {$module['title']} 功能.</div>
	<form class="form-horizontal form" action="" method="post" id="form1">
		<h5 class="page-header">模块基本信息 <small>这里来定义你自己模块的基本信息</small></h5>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">选择账号</label>
			<div class="col-sm-10 col-xs-12">
				<select class="form-control" name="target">
					<option value="">请选择要安装的公众账号</option>
					{loop $accounts $acc}
					<option value="{$acc['uniacid']}">{$acc['name']}</option>
					{/loop}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
			<div class="col-sm-10 col-xs-12">
				<input type="submit" class="btn btn-primary" name="submit" value="确定继续安装 {$module['title']}">
			</div>
		</div>
	</form>
	<script>
		$('#form1').submit(function(){
			var accs = $(this).find('select')[0];
			var acc = accs.options[accs.options.selectedIndex];
			if(acc.value == '') {
				u.message('请选择要安装模块的公众账号.');
				return false;
			}
			return confirm("确定要将 {$module['title']} 安装至" + acc.text + "?");
		});
	</script>
	<div class="alert alert-danger">
		行业方案功能主要是针对自运营的项目, 是单公众号功能. <br />
		由于功能过于强大, 代码复杂度高; 为了保证系统稳定, 效率和安全性, 每一个行业模块只能用于一个公众账号. <br />
		安装完成后, 其他公众号是无法使用这个行业模块功能的. <br />
		如果需要其他公众号使用, 只能先将此行业模块卸载再安装给别的公众号. 或者需要您再重新安装另外一套学晟惠系统 <br />
	</div>
</div>
{template 'common/footer-gw'}
