<ol class="breadcrumb">
	<li><a href="./?refresh"><i class="fa fa-home"></i></a></li>
	<li><a href="{url 'system/welcome'}">系统</a></li>
	<li class="active">{if $do == 'installed'}已安装的微站风格{elseif $do == 'prepared'}安装微站风格{elseif $do == 'designer'}设计微站风格{elseif $do == 'web'}管理后台风格{/if}</li>
</ol>
<ul class="nav nav-tabs">
	<li{if $do == 'installed'} class="active"{/if}><a href="{php echo url('extension/theme/installed');}">已安装的微站风格</a></li>
	<li{if $do == 'prepared' || $do == 'install'} class="active"{/if}><a href="{php echo url('extension/theme/prepared');}">安装微站风格</a></li>
	<li{if $do == 'designer'} class="active"{/if}><a href="{php echo url('extension/theme/designer');}">设计微站风格</a></li>
	<li><a href="http://mallgxxsh/" target="_blank">查找更多微站风格</a></li>
	<li{if $do == 'web'} class="active"{/if}><a href="{php echo url('extension/theme/web');}">管理后台风格</a></li>
</ul>
