@charset "utf-8";

*{margin:0;padding:0}
body{overflow:hidden;overflow-y:auto;
background: #e7e7e7 url(../images/register_bg.jpg) no-repeat left bottom;
background-size: 100%;min-height: 100%;font-size:13px;font-family:arial;-webkit-text-size-adjust:none;line-height:1.62;
}
html{ min-height: 100%;overflow:hidden;overflow-y:auto;}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol,li{list-style:none;}
em{font-style:normal}
img{border:none;}
input,img{vertical-align:middle;}
.fn-clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1;}
a{color:#333;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{color:#555;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}
.border-box{-webkit-box-sizing: border-box;box-sizing: border-box;}
.homeicon{ z-index: 10000000;display: block; width:35px; height: 35px; border-radius: 18px; background-color: #F00; text-align: center; position: absolute; right: 0; top: 0; }
.homeicon .icon-home{ display: block; width:25px; height: 25px;  background:url(../images/icon-home.png) no-repeat; background-size: 100%; margin: 5px 0 0 5px;  }



 /*经纪人注册*/
.register-indexbox {padding: 10px;margin: 20px 1% 0;background:#00b4bf}
.register-indexbox  img{width: 100%;max-height:132px;}
 
.head,.main{width:100%;min-width: 300px;}
.head{height:48px;background:#383c3c;color:#fff;border-bottom:2px solid rgba(255,255,255,.95);font-size: 16px;line-height: 48px;text-align: center;}
.head .h-return{position: absolute;left:2.5%;top:8px;width:22px;height:30px;border-radius:15px;border:1px solid #fff;font-size: 22px;color:#fff;line-height: 30px;padding-right:8px;}
.btn{display:inline-block;width:100%;height:40px;background: -webkit-linear-gradient(left,#e21d00, #e31e00, #e51f00, #fc3200 30%,#e72100,#df1b00);background:linear-gradient(left, #e21d00, #e31e00, #e51f00, #fc3200 30%,#e72100,#df1b00);color:#fff;font-size: 16px; font-weight:bold;border:0 none;text-align:center;line-height: 40px}
.input,.select{width:100%;height:24px;background:#fff;border:0 none;box-shadow: 0 1px 1px rgba(0,0,0,.1);text-indent:8px;padding:8px 0;font-size:14px;line-height: 24px;-webkit-appearance: none;}
.select{height:40px;padding:0}
.rb-row{margin:12px 0;}
.registerRuleBox{opacity: 0.7;font-size: 14px;background: #fff;box-shadow: 0 1px 1px rgba(0,0,0,.1);padding:8px;}
.registerRuleBox h1{color: #48494a; font-weight: bold;}
.registerRuleBox .rule-text{height: 160px;overflow:hidden;overflow-y:auto;color:#676869;line-height: 24px;width: 100%;}
.registerRuleBox img{ max-width: 100%;}
.registerRuleCheck{ color: #48494a;}
.company-name{ display: none;}
.jjr-register{ width: 447px; height: 57px; background: url(../images/register-logo.png) no-repeat; background-size: 47%; position: relative; left: 50%; top: 0; margin-left: -80px;}
.register-tips {text-align: center; color: #5f5f5f;}

/*经纪人个人中心*/
.unregister{margin: 20px 1% 0;}
.unregister img{ width: 100%; }
.main-box{padding:15px 5%;}
.loader{position:relative;width:100%;height:100%;background: #ae0804 url(../images/sales-bg-loader.jpg) no-repeat;background-size: 100% 100%}
.user-loader{position:relative;width:100%;height:100%;z-index:1000;}
.logo{position: absolute;left:50%;top:100px;width:200px;height:83px;margin-left:-100px;background:url(../images/ico-logo.png) no-repeat;background-size: 200px}
.loader .icon-spin4,.user-loader .icon-spin4{position: absolute;left:50%;top:50%;width:100px;height:100px;margin-left:-50px;color:#fff;font-size: 30px;text-align: center;line-height: 100px}
.load-copy{position: absolute;bottom:20px;left:0;width:100%;text-align: center}
.load-copy a{color:#f5f5f5;}
.home-info{ height: 132px;padding:10px;color:#00b4bf;background-color:#fff;  margin: 20px 1% 0;position: relative;box-shadow: 0 1px 1px rgba(0,0,0,.1);}
.home-info .figure-box{ position: absolute; top: -20px; left: -17px;}
.home-info .figure-box img{width:75px;height:75px;border-radius: 38px;}
.home-info h5{ font-size: 30px; font-weight: bold; margin-left: 60px;line-height: 1;}
.icon{ font-size: 22px;line-height: 1.4; vertical-align: middle;}
.icon:before{content: '';display: block;border-radius: 30px;border: 1px solid #00b4bf; padding: 3px;color:#00b4bf;}
.info-border{ float:right;padding: 15px 1px; margin-top: 48px; border-right:#00b4bf solid 1px; }
.home-nav{margin:20px 0 0;}
.home-nav li{float:left;width:47%;height:78px; margin:0 1% 10px; background-color: #00b4bf;box-shadow: 0 1px 1px rgba(0,0,0,.1);position: relative;}
.home-nav li a{display: block;width:100%;padding-top: 30px; font-size: 18px;line-height: 1; color: #fff; font-weight: bold; text-align: center;}
.home-nav li a span{ font-size: 12px; color: #fff;font-weight: normal;}
.home-nav li:nth-child(2n){ float: right;}
.home-nav li:active{ background-color: #e3704f;}
.nav-recommend{background:url(../images/btn-bg-1.png) no-repeat left bottom;}
.nav-recommend label{display: inline-block; width: 33px; height: 13px; margin-left:3px; text-indent: -9999px; background: #fff url(../images/icon-hot.png) no-repeat center center; background-size: 80%; padding: 2px;}
.nav-recommend span{ margin-left: -34px;}
.nav-rule{background: url(../images/btn-bg-2.png) no-repeat left bottom;}
.nav-rule span{margin-left: -39px;}
.nav-commission{background: url(../images/btn-bg-3.png) no-repeat left bottom;}
.nav-commission p{ margin-left: -37px;}
.nav-commission span{margin-left: -4px;}
.nav-rule-detail{background: url(../images/btn-bg-4.png) no-repeat left bottom;}
.nav-rule-detail span{margin-left: -44px;}
.sale-box{ margin: 0 1%;}
.sale-box h6{ color: #363636; font-size: 16px;}
.floor-box{ width: 100%;}
.floor-box a:first-child{ margin-top: 2px;}
.floor-detail{ display: block; width: 100%; height: 100%;background-color: rgba(255,255,255,.8);  margin-top: 10px;box-shadow: 0 1px 1px rgba(0,0,0,.1);}
.floor-detail .floor-img img{ width: 100%; min-height: 120px; max-height: 240px; }
.floor{ padding: 10px; font-size: 14px; color: #363636;}
.floor h5{ font-size: 26px; font-weight: bold;}
.floor p{ margin-top: 10px;}
.floor .award-title{ float: left;}
.floor .award-list{ float: left;}
.floor span{ background-color: #47c8c6;  color: #fff; padding:1px 3px; margin:0 0 5px 5px; display: inline-block;}
.floor .award-note{ margin-left: 5px; margin-top: 0;}
.icon-right-open-big{ position: absolute; top: 25px; right: 0; font-size: 28px; color: #00b4bf;line-height: 1.2;width: 25px;}
.rb-select{ position: relative;}
.icon-down-open-big{ position: absolute;top: 7px; right: 10px; font-size: 18px; color: #00b4bf;}
.recommend-tips{ color: #676869; font-size: 12px; margin: 25px 0;}

/*我的客户*/
.client ul li{float: left;text-align: center;padding-right: 1%;}
.my-client-title ul li{ font-size: 14px;width: 32%; }
.my-client-title ul li:first-child{width: 20%;}
.my-client-title ul li:last-child{padding-right:0; width: 17%;}
.my-client-title ul li:nth-child(3){width: 27%;}
.my-client-list ul li{font-size: 12px;width: 32%;}
.my-client-list ul li:first-child{width: 20%;}
.my-client-list ul li:last-child{padding-right:0; width: 17%;}
.my-client-list ul li:nth-child(3){width: 27%;}
.my-client{ display:block;width:100%;height:24px;background:rgba(255,255,255,.8); box-shadow: 0 1px 1px rgba(0,0,0,.1);padding:8px 0;line-height: 24px;}
.my-client li span{ display: inline-block; padding: 0 5px; color: #fff;}
.my-client li span.visit{ background-color: #fa614b;}
.my-client li span.invalid{ background-color: #777;}

/*我的客户详情*/
.client-info{ padding: 20px 5% 10px;background-color: rgba(255,255,255,.8); margin-top: 14px;}
.client-info h1{font-size: 27px; font-weight: bold; line-height: 1.2;}
.client-info .client-tel{font-size: 18px;}
.client-info .client-tel i{font-size: 20px;}
.client-info .client-tel .icon-location:before{ border-color: #00b4bf; padding: 1px;}
.client-info .client-tel .icon-phone:before{border-color: #00b4bf;padding: 1px;}
.client-info .client-tel p{ color: #00b4bf; margin-top: 8px;}
.client-info .client-tel p span{ color: #383c3c; font-weight: bold; margin-left: 10px;}
.call-to{ width: 100%; height: 40px; line-height: 40px; margin-bottom: 20px; }
.call-to a{ display: inline-block; background-color: #e7462f; text-align: center; color: #fff; width: 50%;}
.call-to a:first-child{ border-right: #fff solid 1px; -webkit-box-sizing:border-box;box-sizing:border-box;}
.call-to a:last-child{}
.call-to-jjr a:first-child{ width: 100%; border-right: none 0; }
.client-time{width:100%;background:#fff; padding: 5%; opacity: 0.8;}
.client-time .time-left{ float: left; width: 15%;}
.client-time .time-left i{display: block; width: 20px; height: 20px;}
.client-time .time-left span{ display: block; width:2px; height:47px; margin-left: 9px; }
.client-time .time-left .time-node{ background-color:#00b4bf; border-radius: 10px;}
.client-time .time-left .time-line{ background-color: #00b4bf;}
.client-time .time-left .time-node-no{ background-color:#969696;border-radius: 10px; }
.client-time .time-left .time-line-no{ background-color: #969696;}
.client-time .time-right{ float: right;width: 85%;}
.client-time .time-right li{ border-bottom: #bebebe dashed 1px; padding: 12px 0; height: 42px;}
.client-time .time-right li:first-child{ padding-top: 0;}
.client-time .time-right li:last-child{ border-bottom: 0 none; padding-bottom: 0;}
.time-right .time-detail{ float: left; color: #00b4bf;}
.time-right .time-detail-no{float: left; color: #969696;}
.time-right .time-detail .time-event{ font-size: 17px; font-weight: bold; line-height: 1.3;}
.time-right .time-detail .timer{ font-size: 12px;}
.time-right .time-detail-no .time-event{ font-size: 17px; font-weight: bold; line-height: 1.3;}
.time-right .detail-money{ float: right; width: 85px; height: 34px; line-height: 34px; text-align: center; font-size: 16px; font-weight: bold; color: #fff; background-color: #00b4bf; margin-top: 4px; position: relative;}
.time-right .detail-money .icon-ok-1{ position: absolute;right: -15px; bottom: -10px; color: #fff; font-size: 36px; text-shadow: 5px 5px 5px #d2cfd0;}

/*我的佣金*/
.commission-box{ width: 48%; height: 82px; padding: 10px; color: #fff; background:url(../images/my-money-bg.png) no-repeat;background-size: 100% 100%; margin-right: 4%;  float: left;}
.commission-box:last-child{ margin-right: 0;}
.commission-text{ font-size: 22px; line-height: 0.8; margin-top: 16px;}
.commission-text span{ font-size: 12px; vertical-align: top;}
.bank-card{ display:block;width:100%;height:24px;background:#fff; margin-top:40px;box-shadow: 0 1px 1px rgba(0,0,0,.1);padding:8px 0;line-height: 24px;}
.bank-card span{ float: left; font-size: 16px; color: #5f5f5f;}
.icon-credit-card{ float: left; margin: 0 5px 0 10px ; font-size: 18px; }
.icon-angle-right{ float: right; margin-right: 5px;font-size: 18px; color: #00b4bf; }
.commission-detail{ margin-top: 40px; opacity: 0.7;}
.commission-detail h6{ color: #434343; font-size: 22px; font-weight: normal;}
.commission-detail p{ margin-bottom: 12px;font-size: 12px;}
.commission-detail p span{ display: inline-block; height: 28px; padding: 2px 0; line-height: 28px; background-color: #fff;  }
.commission-detail p span.commission-time{ width: 28%; text-align: center;}
.commission-detail p span.commission-event{ width: 48%; text-indent: 3px;}
.commission-detail p span.commission-money{ width: 17%; color: #c40a04; margin-right: 0; text-align: center;}
.commission-detail p span label{ color: #29d0c6;}

/*案场经理*/
.manger-client-list ul li{float: left;text-align: center; padding-left: 2%;}
.manger-client-list ul li:first-child{ width: 32%; padding-left: 0;}
.manger-client-list ul li:nth-child(2){ width: 33%;}
.manger-client-list ul li:last-child{ width: 31%;}
.manger-client-list .checkbox-btn{ float: left; width: 12%; text-align: center;height: 33px;margin-top: -8px;padding-top: 7px;}
.manger-client-list .manger-content{ float: left; width: 88%;}
.mangerment{width:100%;height:24px;background:#fff;box-shadow: 0 1px 1px rgba(0,0,0,.1);padding:8px 0;line-height: 24px;}
.manger-client-setting{ float: right; color: #919191; font-size: 16px; margin-top: 15px;}
.manger-client-btn{ float: left; margin-top:3px; }
.allow{ display: block; width: 125px; height: 45px; line-height: 45px; text-align: center; color: #fff; background-color: #6ad167; }
.manger-allot h1{ color: #383c3c; font-size: 14px;}
.manger-allot h1 span{ margin: 0 3px;}
.allot-list p{width: 100%;height: 24px;background: rgba(255,255,255,.8);box-shadow: 0 1px 1px rgba(0,0,0,.1);padding: 8px 0;line-height: 24px;}
.allot-list .radio{ margin: 0 10px;}
.allot-submit{ margin: 0 auto;}
.new-client-list ul li{ float: left; width: 33%; padding-right: 2%; text-align: center;}
.new-client-list ul li:last-child{ width: 30%;padding-right:0;}
.old-client-list ul li{ float: left; width: 28%; padding-right: 1%; text-align: center;}
.old-client-list ul li:first-child{ width: 23%;}
.old-client-list ul li:last-child{ width: 23%;padding-right:0;}
.old-client-list ul li.client-user{ width: 23%;color: #2e88e6;}
.old-client-list ul li span{ display: inline-block; padding: 0 5px; color: #fff;}
.old-client-list ul li span.visit{ background-color: #fa614b;}
.old-client-list ul li span.invalid{ background-color: #777;}
.pending-manager{ padding: 15px 0;}
.pending-manager .client-manager-tab{ padding: 0 5%;}
.pending-manager .pending-client-list{padding: 0 5%;}
.pending-client-list .checkbox-btn{ width: 10%;}
.pending-client-list .manger-content{ width: 90%;}
.pending-client-list .mangerment ul li:first-child{ width: 21%;}
.pending-client-list .mangerment ul li:nth-child(2){ width: 27%;}
.pending-client-list .mangerment ul li:nth-child(3){ width: 25%;}
.pending-client-list .mangerment ul li:last-child{ width: 21%;}
.pending-client-list ul li span {display: inline-block;padding: 0 5px;color: #fff; background-color: #c6c6c6;}
.pending-client-list ul li span.visit{ background-color: #fa614b;}
.invalid-client{ padding: 10px 0; background-color: #c6c6c6; color: #535353; padding-left: 5%;}
.pending-get .allow{ margin: 0 auto;}

/*置业顾问个人中心*/
.sales-loader{position:relative;width:100%;height:100%;background: #003d63 url(../images/sales-bg-loader.jpg) no-repeat;background-size: 100% 100%;}
.sales-logo{position: absolute;left:50%;top:100px;width:200px;height:83px;margin-left:-100px;background-size: 200px;}
.sales-loader .icon-spin4{position: absolute;left:50%;top:200px;width:100px;height:100px;margin-left:-50px;color:#fff;font-size: 30px;text-align: center;line-height: 100px;}
.sales-home{position: relative;padding:10px; background: none;}
.sales-home-set{position: absolute;top:10px;right:10px;width:44px;height:44px;background: #d85b5b;border-radius:22px;color:#fff;font-size: 32px;text-align: center;line-height: 44px;}
.sales-home-info{text-align: center;}
.sales-home-info .figure{padding-top:30px;}
.sales-home-info .figure img{width:100px;height:100px;border-radius: 50px;}
.sales-home-info .figure h5{margin-top: 8px;font-size: 30px;font-weight: bold;}
.sales-home-info .info{margin:8px 0;line-height: 1.5;}
.sales-home-info .info i{ display: inline-block; width: 18px; height: 18px; border-radius: 9px;color:#fff; background-color: #2c84f0;}
.sales-home-nav{margin:20px 0 0;}
.sales-home-nav li{float:left;width:48%;margin:0 1%;padding-top:18px;}
.sales-home-nav li a{display: block;width:100%;height:105px; padding-top: 25px;background: #2c84f0; font-size: 18px;text-align: center;line-height: 1.2;color: #fff;}
.sales-home-nav li a:active{ color: #999;background-color: #f2f2f2;}
.sales-home-nav li a i{font-size: 50px;}

/*置业顾问客户管理*/
.client-manager-tab ul{display: -webkit-box;}
.client-manager-tab li{ width:33.3%; font-size: 14px;text-align: center;background-color: #fff; 
border: #2e88e6 solid 1px; height: 30px; line-height: 30px;}
.client-manager-tab li a{ color: #2e88e6; display: inline-block; width: 100%; height: 100%;}
.client-manager-tab li:first-child{ border-top-left-radius: 8px;border-bottom-left-radius:8px;}
.client-manager-tab li:nth-child(2){ border-left: none 0;border-right: none 0;}
.client-manager-tab li:last-child{ border-top-right-radius: 8px;border-bottom-right-radius:8px; }
.client-manager-tab li.active{ background-color: #2d86e3; color: #fff;}
.client-manager-tab li.active a{ color: #fff;}
.client-manager .client-list li a{ display: inline-block; color: #fff; padding: 1px 10px; font-size: 18px;  background: -webkit-radial-gradient(50% 50%, #56a5f6,#3889f2);background: radial-gradient(50% 50%, #56a5f6,#3889f2);}
.client-manager .old-client-list ul li{ width: 20%;}
.client-manager .old-client-list ul li:first-child{ width: 23%;}
.client-manager .old-client-list ul li:nth-child(2){ width: 30%;}
.client-manager .old-client-list ul li:nth-child(3){ width: 24%;}
.client-manager .new-client-list ul li span{ display: inline-block; padding: 0 5px; color: #fff;}
.client-manager .new-client-list ul li span.visit{ background-color: #fa614b;}
.client-manager .new-client-list ul li span.invalid{ background-color: #777;}
.get-client{ font-size: 16px; background-color: #fff; padding: 10px 5%; line-height: 1.5; position: fixed; left: 0; bottom: 0; width: 100%; height: 70px; }
.client-totals{ float: left;}
.client-totals p{ color: #919191;}
.client-totals span{ color: #4ba1fa;}
.get-client-btn{ float: right; margin-top:3px; }
.get-client-btn a{ display: block; width: 125px; height: 45px; line-height: 45px; text-align: center; color: #fff; background-color: #6ad167; }
.client-center{ padding-bottom: 65px;}
.client-center .main-box{ padding-bottom: 0;}
.allow.allow-no{ background-color: #ccc;}
.customer-info{width: 100%;height: 24px;background: #fff;box-shadow: 0 1px 1px rgba(0,0,0,.1);padding: 8px 0;line-height: 24px;}

/*置业顾问客户详情*/
.client-detail p span{ font-size: 28px; font-weight: bold; margin-right: 2px; line-height: 1.2;}
.client-detail .client-tel{ font-size: 22px;display: inline-block; padding: 1px 2px; background-color: #348ce7;  color: #fff; box-shadow: 0 1px 1px #376faa; float: right;}
.client-detail .referrals{ display: inline-block; width: 100%; border: #2d86e3 solid 1px; height: 25px; line-height: 25px;  margin-top: 10px; text-indent: 10px; padding: 5px 0; font-size: 14px;}	
.client-step{ background-color: #f5f5f5;  height: 97px; width: 100%; padding: 10px;}
.disable-step{ background-color: #cacaca;}
.disable-step .step-text .text-line{ color: #787878;}
.disable-step .step-icon{ background-color: #969696; font-size: 0;}
.client-states{ margin-top: 10px;}
.client-step{ display: block; margin-top: 5px;}
.step-text{ float: left;}
.step-text p{ font-size: 16px;}
.step-text .text-line{ color: #348ce7;}
.step-text .text-note{ color: #484848;}
.step-text p em{ font-size: 18px; margin-right: 10px; font-weight: bold;}
.step-icon{ float: right;}
.step-icon{ width: 30px; height: 30px; border-radius: 15px; background-color: #4ba1fa; color: #fff; text-align: center;line-height: 1.8; font-size: 18px; margin-top: 25px;}
.pop{ position: fixed; left: 50%; top: 50%; width: 230px; height: 170px; margin-left: -115px; margin-top: -85px; display: none; z-index: 2;}
.pop-box{background-color: #f9f9f9;  padding: 15px; text-align: center; position: relative;}
.pop-box h1{ font-size: 18px; font-weight: bold; color: #333;}
.pop-box p{ background-color: #4ba1fa; height: 45px; line-height: 45px; font-size: 16px;  margin-top: 10px; }
.pop-box p a{ display: block;width: 100%; height: 100%; color: #fff;}
.icon-cancel{ position: absolute; right: -16px; top: -16px; font-size: 28px; color: #fff; background-color: #4ba1fa; width: 35px; height: 35px; border-radius: 18px; cursor: pointer;}
.pop-box i.icon{line-height: 1.3;}
.pop-box i.icon:before{border: none 0;margin-left: 0;}
.pop-bg{position: fixed; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; background-color: rgba(88,88,88,.7); display: none;}
.pop-price .input{ margin-top: 20px; border: #eee solid 1px;}
.pop-price .pop-box h1{ font-size: 16px;}
.pop-price .pop-box h1 span{ font-size: 12px;}

/*活动细则*/
.rule-detail{ width: 100%; background-color: #fff; opacity: 0.7;  padding: 15px;}
.rule-detail h1{ font-size: 32px; font-weight: bold; text-align: center; }
.rule-detail img{ max-width: 100%;}


.user-info{ float: right;text-align: right; margin: 28px 2% 0;}
.user-info label{font-size: 14px;}
.user-info span{ font-size: 28px;vertical-align: middle;color:#c90b05;}
.user-info p{ line-height: 1.0;}
/*未注册个人中心*/
.user-center .tips{ text-align: center; font-style: italic; font-size: 14px; color: #808080; margin-top: 5px;}
.user-center a{ display: block; height: 100%;}
.user-center .figure-box{ margin-top: 20px; position: relative;}
.user-center .figure-box img{ width: 100%; box-shadow:-5px 0 5px rgba(206,204,205,.5),0 -5px 5px rgba(206,204,205,.5),0 5px 5px rgba(206,204,205,.5),5px 0 5px rgba(206,204,205,.5);}
.user-center .figure-box p{ width: 80px; height: 100%;position: absolute; right: 0; top: 0; background-color: #000; opacity: 0.1; border-top-right-radius: 5px;border-bottom-right-radius:5px;   }
.user-center .figure-box i{ font-size: 44px; top:50%; margin-top: -27px; color: #fff; width: 70px;}
.regular{ background-color: #fff; box-shadow: 0 0 10px rgba(40,40,40,.5); border-radius: 5px; }
.regular img{max-width:100%;}
/*个人中心*/
.user-center{ padding-top: 70px;}
.hd{background-color: #00b4bf; position: relative; height:150px; color: #fff; text-align: center; }
.hd .figure{width: 100px; height: 100px; position: absolute;top: -50px; left: 50%; margin-left: -55px; }
.hd .figure img{ display: block; width: 100px; height: 100px; border-radius: 60px; border: #00b4bf solid 4px; }
.hd .edit{ position: absolute;right: -10px;top: -15px; display: block; width: 40px; height: 40px; font-size: 24px; line-height: 1.2; text-align: center; border-radius: 20px; box-shadow: 0 2px 0 rgba(166,20,20,.9); background-color: #ef4545; color: #fff;}
.hd .edit .icon-pencil:before {padding-top: 7px; }
.hd .user-infos{ padding: 65px 0 20px;}
.hd .user-infos .u-name{ font-size: 18px; font-weight: bold;}
.bd{ margin-top: 20px;}
.bd p{ margin-bottom: 10px;}
.bd a{ display: block;height: 20px; line-height: 20px; padding: 10px; border-radius: 5px; background-color: #fff; color: #666;}
.bd i{ float: right; color: #227ae8;}

/*老业主注册*/
.old-register{width: 432px; height: 65px; background: url(../images/old-register.png) no-repeat; background-size: 50%; position: relative; left: 50%; top: 0; margin-left: -83px;}

/*确认个人信息*/
.jjr-confirm-register{width: 498px; height: 70px; background: url(../images/confirm.png) no-repeat; background-size: 55%; position: relative; left: 50%; top: 0; margin-left: -130px;}
.confirm-btn{ margin-top: 50px;}
.confirm-btn-new{ margin-top: 50px;}

/*引导页*/
.j-slider{ position: relative; background-color: #00b4bf;}
.j-slider .viewport {position:relative;padding:0px;width:100%;height: 100%;}
.j-slider .viewport .item{ background-size: 100% 100%; background-repeat: no-repeat; width: 100%; height: 100%; position: relative;}
.btn-go{display: block;width: 170px;height: 45px;position: absolute;bottom: 25px;left: 50%;margin-left: -85px;background: url(../images/btn-go.png) no-repeat;background-size: 100%;opacity: 0;}
.btn-static-go{display: block;width: 170px;height: 45px;position: absolute;bottom: 60px;left: 50%;margin-left: -85px;background: url(../images/btn-go.png) no-repeat;background-size: 100%;}
.pointer {position: absolute; bottom: 2px; left: 50%; margin-left: -40px;}
.pointer-static{ margin-left: -25px;}
.pointer span {display: inline-block;width: 10px;height: 10px;border-radius: 10px; background-color: #832420; margin: 0 2px; }
.pointer span.current {background: #fff; box-shadow: 0 2px 2px rgba(131,36,32,.8);}
.element{ position: absolute; top: 50%; left: 50%; width: 195px;height: 300px;margin-left: -53px;margin-top: -110px;}
.element-1 .phone{ width:99px; height: 172px; background: url(../images/icon_5.png) no-repeat;background-size: 99px 172px;position: absolute;left: 0;top: 0; z-index: 1; opacity: 0;}
.element-1 .hand{ width:168px; height: 153px; background: url(../images/icon_4.png) no-repeat;background-size: 168px 153px; position: absolute;left: -48px; top: -70px; z-index: 0;opacity: 0;}
.element-1 .gold{ width:121px; height: 98px; background: url(../images/icon_1.png) no-repeat;background-size: 121px 98px;position: absolute;left: -30px; top: -85px; z-index: 0;opacity: 0;}
.element-1 .gift{ width:63px; height: 59px; background: url(../images/icon_2.png) no-repeat;background-size: 63px 59px;position: absolute;left: 62px; top: 117px; z-index: 2;opacity: 0;}
.element-1 .text{width:239px; height: 91px; background: url(../images/icon_6.png) no-repeat;background-size: 239px 91px;position: absolute;left: -65px; top: 175px;opacity: 0;}
.element-2 .phone{width:99px; height: 172px; background: url(../images/icon_9.png) no-repeat;background-size: 99px 172px; position: absolute;left: 0;top: 0; z-index: 1;opacity: 0;}
.element-2 .building{width:224px; height: 159px; background: url(../images/icon_7.png) no-repeat;background-size: 224px 159px;position: absolute;left: -53px; top: -85px; z-index: 0;opacity: 0;}
.element-2 .floor{width:79px; height: 87px; background: url(../images/icon_8.png) no-repeat;background-size: 79px 87px;position: absolute;left: -38px; top: 96px; z-index: 2;opacity: 0;}
.element-2 .text{width:239px; height: 91px; background: url(../images/icon_10.png) no-repeat;background-size: 239px 91px;position: absolute;left: -65px; top: 175px;opacity: 0;}
.element-3 .phone{width:99px; height: 172px; background: url(../images/icon_11.png) no-repeat;background-size: 99px 172px; position: absolute;left: 0;top: 0; z-index: 1;opacity: 0;}
.element-3 .house{width:172px; height: 209px; background: url(../images/icon_12.png) no-repeat;background-size: 172px 209px; position: absolute;left: -42px;top: -90px; z-index: -1;opacity: 0;}
.element-3 .handshake{width:117px; height: 90px; background: url(../images/icon_15.png) no-repeat;background-size: 117px 90px; position: absolute;left: -9px;top: -60px; z-index: 0;opacity: 0;}
.element-3 .message{width:51px; height: 47px; background: url(../images/icon_14.png) no-repeat;background-size: 51px 47px; position: absolute;left: 70px;top: 40px; z-index: 2;opacity: 0;}
.element-3 .text{width:239px; height: 91px; background: url(../images/icon_13.png) no-repeat;background-size: 239px 91px;position: absolute;left: -65px; top: 155px;opacity: 0;}

/*推荐成功提示*/
.recommend-pop{ position: absolute; left: 0;top: 50%; z-index: 2; width: 100%; display: none;}
.recommend-box{ background-color: #00b4bf;margin: 0 5%; text-align: center; padding: 20px 10px 30px; position: relative;}
.recommend-title{ width: 160px; height: 40px; background:url(../images/recommend-tips.png) no-repeat; background-size: 100%; margin: 0 auto; }
.recommend-text{ margin-top: 15px;}
.recommend-text p{ color: #fff;}
.recommend-text p.user-get{ font-weight: bold; font-size: 14px; margin: 5px 0 10px;}
.recommend-icon{width:95px; height:100px;background:url(../images/recommend-logo.png) no-repeat; background-size: 100%; position: absolute; right: -18px;top: -26px;}
.recommend-submit{ display: block; margin:-5px 5% 0; background-color: #fff;  padding: 7px 0; position: absolute;; bottom: -13px; left: 0; width: 90%;}
.recommend-ok{ display: block; width: 59px; height: 27px; background:url(../images/recommend-submit.png) no-repeat; background-size: 100%; margin: 0 auto;}

/*个人主页*/
.jjr-home .sales-home-info .figure{ width: 104px; height: 104px;  border-radius: 65px; margin: 0 auto; border: #ddd solid 1px; padding: 10px;}
.jjr-home .sales-home-info .figure img{ border-radius: 52px; box-shadow: 0 0 8px rgba(70,68,68,.8); border: #fff solid 2px; }
.jjr-home .sales-home-info h5{margin-top: 8px;font-size: 30px;font-weight: bold;}
.jjr-info{ background-color: #fff;  margin-top: 10px;}
.jjr-info{ padding: 10px 20px; position: relative;}
.jjr-info .jjr-phone{ padding-bottom: 10px;}
.jjr-info .jjr-type{ border-top: #c1c1c1 dashed 1px;border-bottom: #c1c1c1 dashed 1px; padding: 10px 0;}
.jjr-info .jjr-company{ padding-top: 10px;}
.jjr-info .info-title{ float: left;color: #6b6b6b;}
.jjr-info .info-value{ float: right;color: #444;}
.others-links{ text-align: center; }
.others-links a{ text-decoration: underline; margin:0 10px; color: #6b6b6b;}
.jjr-info-edit{ display:  block; width: 40px; height: 40px; border-radius: 20px; background-color: #acacac; text-align: center;box-shadow: 0 2px 0 rgba(141,141,141,1); position: absolute;right: -10px; top: -30px;}
.icon-pencil{ display: inline-block; width: 25px; height: 25px; background: url(../images/icon-pencil.png) no-repeat; background-size: 100%; vertical-align: middle; margin: 6px 0 0 5px;}
.jjr-edit-info .info-title{ float: left; width: 20%; text-align: right; margin-top:10px;}
.jjr-edit-info .info-value{ float: left;width: 75%; margin-left: 5%;}

/*经纪人排行榜*/
.top-ten-title{ width: 288px; height: 99px; background:url(../images/jjr-niu.png) no-repeat; background-size: 100%; margin: 0 auto; }
.top-ten-column ul:first-child{ color: #6b1700; font-weight: bold;}
.top-ten-column .top-jjr{width:100%;height:24px;background:#fff;border:0 none;box-shadow: 0 1px 1px rgba(0,0,0,.1);text-indent:8px;padding:8px 0;font-size:14px;line-height: 24px; font-weight: bold; color: #585858;}
.top-ten-column li{ float: left; width: 25%; text-align: center;}
.top-ten-column li:first-child{width: 15%; }
.top-ten-column li:last-child{width: 35%;}
.top-ten-column .top-jjr li:first-child{ padding: 7px 0; margin-top: -8px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.top-ten-column .top-jjr li.num-1{background-color: rgba(248,215,59,.5);}
.top-ten-column .top-jjr li.num-2{background-color: rgba(227,227,227,.5);}
.top-ten-column .top-jjr li.num-3{background-color: rgba(233,136,65,.5);}
.icon-bd{ display: block; width:21px; height: 26px; margin: 0 auto; }
.icon-no1{ background:url(../images/icon-no1.png) no-repeat; background-size: 100%; }
.icon-no2{ background:url(../images/icon-no2.png) no-repeat; background-size: 100%;}
.icon-no3{ background:url(../images/icon-no3.png) no-repeat; background-size: 100%;}
.top-fourth-after{ background-color: #fff;  padding: 0 10px;}
.top-fourth-after ul{border-bottom: #d1d1d1 solid 1px; padding: 10px 0;}
.top-fourth-after ul:last-child{ border-bottom: none 0;}
.top-fourth-after li{ float: left; width: 27%; text-align: center;}
.top-fourth-after li span{ display: inline-block; width: 20px; height: 20px; border-radius: 10px; background-color: #00b4bf; color: #fff; font-weight: bold;}
.top-fourth-after li:first-child{width: 10%; }
.top-fourth-after li:last-child{width: 36%;}

/*个人中心经纪人排行榜*/
.my-model{margin: 20px 1% 10px;}
.my-model .imgs{display: block; width:113px; height:105px;position: absolute; left: 2px; top: -1px; }
.my-model p{ text-align: right; font-size: 14px; font-style: italic; font-weight: bold; color: #e24519; margin-right: 13px;}
.my-model .icon-right-open-big{ font-size: 14px; right: -10px; top: 24px;}
.rank-list,.my-team{ width: 49%; height: 65px; line-height: 65px; border: #e24519 solid 2px;   position: relative;}
.rank-list .icon-team{ background: url(../images/icon-prize.png) no-repeat; background-size: 60%; left: -10px;}
.rank-list{ float: left; margin-right: 1%;}
.my-team{ float: right; margin-left: 1%;}
.my-team .icon-jjr{ background: url(../images/icon-jjr.png) no-repeat; background-size: 60%;}
.my-model-alone .rank-list{ width: 100%; float: none; margin: 0;}
.my-model-alone .rank-list .icon-team{ left: 2px;}
.my-model-alone .my-team{ width: 100%; float: none;margin: 0;}
.jjr-setting{ display: block; width:35px; height: 35px; border-radius: 18px; background-color: #c6c6c6; text-align: center; position: absolute; right: -17px; top: -17px; }
.jjr-setting .icon-setting{ display: block; width:25px; height: 25px;  background:url(../images/icon-edit.png) no-repeat; background-size: 100%; margin: 5px 0 0 5px;  }

/*注册有礼*/
.regift-page .main-box{ padding: 0;position: relative;}
.gift{ width: 195px; margin: 0 auto; position: relative;}
.gift-amount{ width:100%;  height: 225px;position: absolute;top: 50%; left: 0; margin-top: -96px; }
.gift-box{ width:192px; height: 219px; background: url(../images/gift_01.png) no-repeat; background-size: 100%; opacity: 0; }
.gift-text{ width:262px; height: 74px; background: url(../images/gift_08.png) no-repeat; background-size: 100%; position: absolute; left: -37px; bottom: 2px; opacity: 0;}
.gift-open{ width:75px; height: 62px; background: url(../images/gift_02.png) no-repeat; background-size: 100%; position: absolute;left: -20px; top: -43px; opacity: 0;}
.gift-flash-1{ width:18px; height: 21px; background: url(../images/gift_03.png) no-repeat; background-size: 100%; position: absolute; left: 77px; top: -37px; opacity: 0;}
.gift-flash-2{ width:17px; height: 17px; background: url(../images/gift_04.png) no-repeat; background-size: 100%; position: absolute; left: 125px; top: -25px;opacity: 0; }
.gift-flash-3{ width:15px; height: 16px; background: url(../images/gift_05.png) no-repeat; background-size: 100%; position: absolute; left: 160px; top: -5px;opacity: 0; }
.gift-flash-4{ width:11px; height: 12px; background: url(../images/gift_06.png) no-repeat; background-size: 100%; position: absolute; left: 185px; top: 20px;opacity: 0; }
.gift-flash-5{ width:12px; height: 12px; background: url(../images/gift_07.png) no-repeat; background-size: 100%; position: absolute; left: -20px; top: 53px;opacity: 0; }
.prize{position: fixed; left: 50%; top: 50%; width: 215px; height: 300px; margin-left: -108px; margin-top: -150px; display: none; z-index: 2;}
.prize-content{ width:100%;  height: 300px;position: absolute;top: 50%; left: 0; margin-top: -150px; text-align: center; }
.red-bag{width:192px; height: 195px; background: url(../images/gift_11.png) no-repeat; background-size: 100%; padding: 105px 10px 0; }
.congratulate{width:140px; height: 26px; background: url(../images/gift_09.png) no-repeat; background-size: 100%; margin: 0 auto 5px ; }
.congratulate-get{width:77px; height: 19px; background: url(../images/gift_10.png) no-repeat; background-size: 100%;margin: 10px auto 5px;  }
.congratulate-gift{ font-size: 14px; color: #fff;}
.prize .prize-close{ position: absolute; right: -30px; top: -25px;}
.prize .prize-close .icon-close{ display: block; width: 32px; height: 32px; background:url(../images/gift_12.png) no-repeat; background-size: 100%; }
.jjr-enter{ padding:8px 10px; color: #fff; font-size: 14px; border: #fff solid 1px;  position: absolute; right: 20px; top: 20px;}

/*我的团队*/
.team-title{ width: 288px; height: 99px; background:url(../images/jjr-team.png) no-repeat; background-size: 100%; margin: 0 auto; }
.top-ten-column.my-team-column li{ width: 50%;}
.J_share{ display: block; height: 45px; width: 100%; line-height: 45px; text-align: center; color: #5c5c5c; font-size: 14px; font-weight: bold;  box-shadow: 0 2px 2px rgba(92,92,92,.6); background-color: #f4e600;}
.share-tips{position:fixed;left:0;top:0;width:100%;height:100%;padding:10px;background:#09f;background:rgba(0,0,0,.7);text-align: right;z-index: 999}
.share-tips img{position: fixed;left:50%;top:10px;margin-left:-125px;width:250px;z-index:1000;}
.share-tips .close{width:36px;height:36px;display: inline-block;background:#fff;background:rgba(255,255,255,.8);color:#00b4bf;border-radius:18px;font-size: 12px;line-height: 36px;text-align: center;margin-right:16px}


/*页脚*/
.foot{width:100%;min-width:300px;margin-top:10px;margin-bottom:50px;padding:10px 0;color:#555;text-align:center;}
.foot a{color:#555;margin:0 3px;}
.nav{ position: fixed; left: 0; bottom:0;  width: 100%; }
.nav a{ float: left; display: block; width: 33%; text-align: center;background-color: #00b4bf;color:#fff;padding: 5px 0 0;}
.nav a.active{background-color: rgba(243,241,241,.9); color: #00b4bf;}
.nav a:nth-child(2){width: 34%;}
.nav i{ font-size: 20px; line-height: 1.2;display: block;}

/*动画*/
.animate-spin{-webkit-animation:spin 1s infinite linear;animation:spin 1s infinite linear;display:inline-block}@-webkit-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes rotateIn{0%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}100%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotateIn{0%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-200deg);-ms-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}100%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes tada {0% {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}10%, 20% {opacity: 1;-webkit-transform: scale(0.9) rotate(-3deg);transform: scale(0.9) rotate(-3deg);}30%, 50%, 70%, 90% {opacity: 1;-webkit-transform: scale(1.1) rotate(3deg);transform: scale(1.1) rotate(3deg);}40%, 60%, 80% {opacity: 1; -webkit-transform: scale(1.1) rotate(-3deg);transform: scale(1.1) rotate(-3deg);}100% {opacity: 1;-webkit-transform: scale(1) rotate(0);transform: scale(1) rotate(0);}}
@keyframes tada {
  0% {
  	opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
  	opacity: 1;
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
  	opacity: 1;
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
  	opacity: 1;
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
  	opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
.zoomInPrice {
	display: block;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(.1) translateX(-2000px);
    transform: scale(.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(.475) translateX(48px);
    transform: scale(.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100%{
  	opacity: 1;
  }
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(.1) translateX(-2000px);
    -ms-transform: scale(.1) translateX(-2000px);
    transform: scale(.1) translateX(-2000px);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(.475) translateX(48px);
    -ms-transform: scale(.475) translateX(48px);
    transform: scale(.475) translateX(48px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100%{
  	opacity: 1;
  }
}

.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
}
@-webkit-keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0;}}
@keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0;}}

.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: flash;
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
/*字体*/
@font-face{font-family:'fontello';src:url('fontello.eot?39525876');src:url('fontello.eot?39525876#iefix') format('embedded-opentype'),url('fontello.woff?39525876') format('woff'),url('fontello.ttf?39525876') format('truetype');font-weight:normal;font-style:normal;}
[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center; /* opacity:.8; */ font-variant:normal;text-transform:none; /* fix buttons height,for twitter bootstrap */ line-height:1em; /* remove if not needed */ margin-left:.2em;}
.icon-spin4:before { content: '\e800'; } 
.icon-location:before { content: '\e804'; } 
.icon-phone:before { content: '\e801'; } 
.icon-cog:before { content: '\e807'; } 
.icon-angle-left:before { content: '\e808'; } 
.icon-angle-right:before { content: '\e809'; } 
.icon-user-1:before { content: '\e80c'; } 
.icon-export:before { content: '\e80a'; } 
.icon-trophy:before { content: '\e805'; } 
.icon-adult:before { content: '\e806'; } 
.icon-down-open-big:before { content: '\e802'; } 
.icon-right-open-big:before { content: '\e803'; } 
.icon-ok:before { content: '\e80b'; } 
.icon-credit-card:before { content: '\e80d'; } 
.icon-money:before { content: '\e80e'; } 
.icon-dollar:before { content: '\e80f'; } 
.icon-users:before { content: '\e810'; } 
.icon-user-add:before { content: '\e811'; } 
.icon-cancel:before { content: '\e812'; } 
.icon-ok-1:before { content: '\e814'; }
.icon-vhome:before { content: '\f015';}
.icon-mobile:before { content: '\e801'; } 
.icon-award:before { content: '\e803'; }
.icon-gift:before { content: '\e804'; }
.icon-inbox:before { content: '\e806'; }
.icon-eye-1:before { content: '\e807'; }
/*弹出提示*/
.pop_tips{position:fixed;z-index:300;left:50%;top:20%;width:255px;overflow:hidden;margin-left:-122px;background-color:#fbfbfb;font-size:14px;text-align:center;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);}
.pop_show h4{height:34px;font-size:16px;border-bottom:1px solid #ededed;line-height:34px;color:#252e32;}
.pop_show .pop_info{font-size:16px;padding:20px 0;background-color:#fff;}
.pop_show .pop_btns{text-align:center;display:-webkit-box;}
.pop_show .pop_btns a{-webkit-box-flex:1;display:block;font-weight:700;height:40px;line-height:40px;border-top:1px solid #e2e1e0;-webkit-box-shadow:0 1px 1px #fff inset;}
.pop_show .pop_btns a:last-child{border-left:1px solid #e2e1e0;-webkit-box-shadow:1px 0 1px #fff inset;}
.pop_photo{position:fixed;z-index:300;width:100%;text-align:center;}
.pop_photo .photo{text-align:center;}
.pop_photo .info{position:fixed;z-index:300;bottom:0;left:0;width:100%;background-color:rgba(0,0,0,0.7);text-align:center;color:#FFF;line-height:30px;}
.pop_photo .info .con{width:280px;margin:0 auto;text-align:left;padding:6px 0 5px 0;}
.pop_photo .info h3{font-size:16px;font-weight:normal;line-height:16px;}
.pop_photo .info p{font-size:12px;color:#b8b8b8;line-height:16px;}

.topnav{margin:0 auto;}
.topnav ul a li {
	text-align: center;
	background-color: #fa614b;
	border:1px solid #fff;
	height:30px;
}

.topnav ul a {float: left;
	width: 25%;
	line-height:30px;
	color:#fff;
}
.texthidden{
     width:200px;
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
}
