.gallery_container{
width:320px;
height:450px;
float:left;
clear:both;
position:relative;
}
/*content- is where the big photo shows-------------*/
div.content {display: none;clear: both;}
div.content a, div.navigation a {text-decoration: none;}
div.content a:hover, div.content a:active {text-decoration: underline;}
div.navigation a.pageLink {height:80px;line-height:80px;}


div.slideshow-container,
div.loader,
div.slideshow a.advance-link {
width:278px; /* This should be set to be at least the width of the largest image in the slideshow with padding */
}
div.caption-container {
height:328px; /* This should be set to be at least the height of the largest image in the slideshow with padding */	
}
div.slideshow-container {
position: absolute;
top:0px; left:20px;
clear: both;
float: left;
height: 328px;
z-index:7777;
}

div.loader {position: absolute;top: 0;left: 0;background-image: url("images/loader.gif")/*tpa=http://famousthemes.com/my-mobile-page/images/loader.gif*/;background-repeat: no-repeat;background-position: center;}
div.slideshow span.image-wrapper {display: block;position: absolute;top:0px;left: 0;}


div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
text-decoration: none;
}
div.slideshow a.advance-link:focus {
outline: none;
}
div.slideshow img {
border-style: solid;
border-width: 1px;
}

div.caption {
width:278px;
position:absolute;
top:16px;
left:21px;
z-index:9999;
background:url("images/gallery_caption.png")/*tpa=http://famousthemes.com/my-mobile-page/images/gallery_caption.png*/ repeat;
}
div.caption p{
padding:10px; margin:0px; font-size:11px; color:#FFFFFF; line-height:14px; font-family:Arial, Helvetica, sans-serif;
}

div.photo-index {
position: absolute;
bottom: 0;
left: 0;
padding: 0 0px;
}
/*---------------------------gallery navigation thumbs------------------*/
div.navigation-container {
float: left;
position: absolute;
top:350px;
left:0px;
z-index:8888;
}
div.navigation {
float: left;
}
div.navigation a.pageLink {
display: block;
position: relative;
float: left;
margin:3px 0 0 2px;
width:28px;
background-position:center center;
background-repeat:no-repeat;
}
div.navigation a.pageLink:focus {
outline: none;
}

ul.thumbs {
position: relative;
float: left;
margin: 0;
padding: 0;
}
ul.thumbs li {
float: left;
padding: 0;
margin: 2px;
list-style: none;
}
a.thumb {
padding: 1px;
display: block;
}
a.thumb:focus {
outline: none;
}
ul.thumbs img {
border: none;
display: block;
}
div.pagination {
clear: both;
position: relative;
left: -50%;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
position: relative;
display: block;
float: left;
margin-right: 2px;
padding: 4px 7px 2px 7px;
border: 1px solid #ccc;
}
div.pagination a:hover {
text-decoration: none;
}
div.pagination span.current {
font-weight: bold;
}
div.pagination span.ellipsis {
border: none;
padding: 5px 0 3px 2px;
}

div.gallery-gutter {
clear: both;
padding-bottom: 20px;
}

div.navigation a.prev {
background-image: url("images/gallery_prev.png")/*tpa=http://famousthemes.com/my-mobile-page/images/gallery_prev.png*/;
}
div.navigation a.next {
background-image: url("images/gallery_next.png")/*tpa=http://famousthemes.com/my-mobile-page/images/gallery_next.png*/;
}
div.loader {
background-image: url("images/loaderWhite.gif")/*tpa=http://famousthemes.com/my-mobile-page/images/loaderWhite.gif*/;
}
div.slideshow img {
border-color: #fff;
}
ul.thumbs li.selected a.thumb {
background: #fff;
}
div.pagination a:hover {
background-color: #111;
}
div.pagination span.current {
background-color: #fff;
border-color: #fff;
color: #000;
}
