<script language='javascript' src='../addons/weisrc_dragonboat/template/style/jquery.gcjs.js'></script>
<script language='javascript' src='../addons/weisrc_dragonboat/template/style/jquery.form.js'></script>
<script language='javascript' src='../addons/weisrc_dragonboat/template/style/tooltipbox.js'></script>
<link href="../addons/weisrc_dragonboat/template/style/common.css" rel="stylesheet"/>