<style>
.clear {
	width: 100%;
	height: 0;
	clear: both;
}
</style>
<div class="panel panel-default">
	<div class="panel-heading">选择公司</div>
	<div class="panel-body" id="new-reply">
		<div class="row">
			<input type="hidden" name='id' value='{$reply['id']}'>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">公司</label>
				<div class="col-sm-9 col-xs-12">
					<select id="company" class="form-control" name='companyid'>
						<option value='0'>请选择</option>  {loop $companys $item}
						<option value='{$item['id']}' {if $item['id']==$reply['companyid']} selected{/if}>{$item['name']}</option>
						{/loop}
					</select>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	require([ 'util' ], function(u) {
		$('#reply-form').submit(function() {
			var flag = $('#company').val();
			if (!flag) {
				return false;
			}
		});
	});
</script>