<ul class="nav nav-tabs">
   {if false} {ifp 'sale.deduct'}<li {if $_GPC['method']=='deduct'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('sale/deduct')}">抵扣设置</a></li>{/if}{/if}
    {ifp 'sale.enough'}<li class="active"><a href="{php echo $this->createPluginWebUrl('sale/enough')}">满额优惠设置</a></li>{/if}
   {if false}{ifp 'sale.recharge'}<li {if $_GPC['method']=='recharge'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('sale/recharge')}">充值优惠设置</a></li>{/if}{/if}
</ul>
  