﻿/**
author : 学晟惠;
desc : 幸运拆礼盒;
**/
body{
	background: #F5F5F5;
	background-size:100% auto;
}

iframe{
	width:100%;
}

.weiba-easycall.round.show{
	display: none;
}

.icon{
	font-family: 'icomoon';
	color:#fff;
	font-style: normal;
}

.icon-export:before{
	content: '\e853';
}
.icon-menu:before{
	content: '\e7ee';
}
.icon-spinner:before{
	content: '\e65c';
}
.icon-arrow-right:before{
	content: '\e912';
}

#wrap{
	padding:0 13px;
	overflow: hidden;
}

.zi{
	position: relative;
	top:25px;
}

.zi img{
	width:90%;
	height:auto;
	margin-left:3%;
}

.frame{
	padding:30px 10px 10px;
	overflow: hidden;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	border-radius: 5px 5px 0 0;
	border:1px solid #E3E3E3;
	border-bottom:0px;
}

.frameCon{
	overflow: hidden;
	background: #d1d1d1;
}

.frameCon img{
	width:100%;
	height:100%;
}

.frameBtn span{
	display:block;
	height:34px;
	color:#fff;
	line-height: 34px;
	text-align: center;
	font-size:18px;
}

.frameBtn span.b1{
	color:#fff;
	font-weight: bold;
	background: #C8242A;
	height:25px;
	line-height: 15px;padding-top:10px;
	overflow: hidden;
	border-radius: 5px;
	border:1px solid #AD1319;
}

.frameBtn span.b1 i{
	color:#fff;
}

.frameBtn span.b2{
	background: #fff;
	margin-bottom:10px;
	color:#333;
	font-size:14px;
	padding-left:10px;
	border-radius: 0 0 5px 5px;
	border:1px solid #E3E3E3;
	height:25px;
	line-height: 15px;padding-top:8px;
}

.frameBtn i{
	position: relative;
	top:1px;
	margin-right:5px;
	font-size:18px;
}

.frameBtn i.icon-arrow-right{
	float: right;
	display:block;
	width:30px;
	height:30px;
	text-align: center;
	line-height: 30px;
	color:#333;
}

.turnBox{
	background: #fff;
	margin-top:10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	border-radius: 5px;
	border:1px solid #E3E3E3;
}

.turnBox h2{
	height:35px;
	overflow: hidden;
	line-height: 30px;
	background: url('../images/spa.png') 0 bottom no-repeat;
	background-size:175px 35px;
	padding-top:10px;
	font-size:18px;
	font-weight: bold;
	color:#fff;
	padding-left:10px;
}
.boxCon{
	padding:10px;
	line-height: 20px;
}
.boxCon img{width:100%;}
.rankMe{
	height:25px;
	line-height: 15px;padding-top:10px;
	overflow: hidden;
	font-size:16px;
	color:#330000;
	font-weight: bold;
	background: #ccc;border:1px solid #ccc;
	padding-left:10px;
}
.rankMesj{
	height:20px;
	line-height: 15px;padding-top:10px;
	overflow: hidden;
	font-size:12px;
	color:#330000;
	background: #F3F3F3;
	padding-left:10px;
}
.tel{}
.address{}
.shangjiahome{}
.rankMe1{
	height:25px;
	line-height: 15px;padding-top:10px;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	font-size:16px;
	color:#330000;
	font-weight: bold;
	background: #ccc;border:1px solid #ccc;	
}

.rankMe2{
	height:25px;
	line-height: 15px;padding-top:10px;
	text-align: center;
	overflow: hidden;
	font-size:16px;
	color:#ffffff;
	font-weight: bold;
	background: #330000;border:1px solid #ccc;
}
.rankMe span,.rankMe1 span{
	color:#c4201b;
}
.zan{height:30px; width:105px;background: url('zan.gif') no-repeat; text-align:right;}
.zan span{ font-weight:800; padding-right:20px; font-size:16px; color:#3D589D;line-height:30px;}
.rank h2 i{
	float: right;
	margin-right:20px;
	color:#c00;
	font-size:18px;
}

table{
	margin-left:-1px;
	margin-top:10px;
	width:100%;border:1px solid #ccc;
}

table th{
	width:15%;
	background: #e4ddce;
	height:29px;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font-weight: bold;
}

table th:first-child{
	width:15%;
	border-left:none;
}

table th:last-child{
	width:15%;
}

table tr td{
	width:35%;
	height:29px;
	border-left:1px solid #ccc;
	text-align: center;
	color:#333; padding:0px 5px;
}

table tr td:first-child{
	width:15%;
	border-left:none;
}

table tr td:last-child{
	width:15%;
}

table tr:nth-child(2n) td{
	background: #f0eade;
}

table tr:nth-child(-n+3) td:first-child{
	color:#c00;
}
table td img{margin-top:5px;}
.weiba-layer-praisehelper{
	background: url(../images/121.png) center top no-repeat rgba(0,0,0,0.8);
	background-size: 80% auto;
	display: none;
}

.turnTime{
	height:25px;
	line-height: 15px;padding-top:10px;
	background: #ccc;
	color:#330000;
	font-size:16px; text-align: center;
}

.weiba-footer{
	margin-top:10px;
}

#frameG{
	position: relative;
	width:100%;
	min-height: 100%;
	display:none;
	border:none;
	z-index:9999;
}

#frameG iframe{
	min-height: 100%;
}

#frameG .frameGClose{
	position: fixed;
	right:0; 
	top:0;
	width:39px;
	height: 37px;
	background: url('../img/close.png') no-repeat;
	background-size:39px 37px;
}

#frameG .forw{
	background: rgba(0,0,0,0.7);
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	position: fixed;
	bottom:0;
	left:0;
	font-size:16px;
}

#frameG .forw i{
	font-size:20px;
	position: relative;
	top:2px;
	margin-right:5px;
}
#footer{padding:0; width:100%; height:40px; line-height:40px; text-align:center; color:#666; position:absolute; bottom: auto;}
.box_op{
	background: #fcfcfc;
	margin-top:10px;
	border-radius: 6px;
	overflow:hidden;
	border:1px solid #ccc;
}
.box_op li{
	line-height:40px;text-indent:10px;
}
.box_op li:not(:last-of-type){
	border-bottom:1px solid #ccc;
}
.box_op a{
	display:block;
	line-height:40px;
	text-indent:10px;
}

.box_op a[class*="op"]{
	text-indent:45px;
	background:url(addr.png) no-repeat 10px center;
	-webkit-background-size:auto 22px;
	background-size:auto 22px;
}
.box_op a.op_tel{
	background-image:url(tel.png);
}
.box_op a.op_addr{
	line-height: 30px;
	padding: 5px 48px;
	background-position: 10px 10px;
	text-indent:0;
}

*.arr{
	background:url(arrow3.png) no-repeat 95% center;
	-webkit-background-size:auto 15px;
	background-size:auto 15px;
}