
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bianji:before { content: "\f0022"; }
.icon-shangchuan:before { content: "\f0023"; }
.icon-liebiao:before { content: "\f0025"; }
.icon-yinle:before { content: "\f0036"; }
.icon-tupian:before { content: "\f0044"; }
.icon-rili:before { content: "\f0063"; }
.icon-pingbandiannao:before { content: "\f0070"; }
.icon-xianshiqi:before { content: "\f0091"; }
.icon-zhengque:before { content: "\f00b2"; }
.icon-cuowu:before { content: "\f00b3"; }
.icon-bangzhu:before { content: "\f00b8"; }
.icon-jinggao:before { content: "\f00b7"; }
.icon-mulu:before { content: "\f00e1"; }
.icon-paixu:before { content: "\f0111"; }
.icon-xiangzuo:before { content: "\f0112"; }
.icon-xiangshang:before { content: "\f0113"; }
.icon-xiangyou:before { content: "\f0114"; }
.icon-shouye:before { content: "\f012b"; }
.icon-sousuo:before { content: "\f012c"; }
.icon-yonghu:before { content: "\f012d"; }
.icon-fenxiang:before { content: "\f012f"; }
.icon-chexiao:before { content: "\f013a"; }
.icon-zhongzuo:before { content: "\f013b"; }
.icon-shezhi:before { content: "\f013e"; }
.icon-zanyang:before { content: "\f013c"; }
.icon-shanchu:before { content: "\f013f"; }
.icon-shoucang:before { content: "\f0144"; }
.icon-weizhi:before { content: "\f014a"; }
.icon-jia:before { content: "\f0154"; }
.icon-cuowu1:before { content: "\f0155"; }
.icon-zhengque1:before { content: "\f0156"; }
.icon-fujian:before { content: "\f015b"; }
.icon-shuaxin:before { content: "\f015c"; }
.icon-dasuolvetuliebiao:before { content: "\f015f"; }
.icon-liebiao1:before { content: "\f0161"; }
.icon-xiazai:before { content: "\f0163"; }
.icon-fasongyoujian:before { content: "\f0165"; }
.icon-bianjimoban:before { content: "\f0168"; }
.icon-xiangyou1:before { content: "\f016d"; }
.icon-xiangzuo1:before { content: "\f016e"; }
.icon-xiangshang1:before { content: "\f016f"; }
.icon-xiangxia:before { content: "\f0170"; }
.icon-jia1:before { content: "\f0175"; }
.icon-jian:before { content: "\f0176"; }
.icon-gouwucheman:before { content: "\f0178"; }
.icon-gouwuchekong:before { content: "\f0179"; }
.icon-fangda:before { content: "\f01b9"; }
.icon-suoxiao:before { content: "\f01b8"; }
.icon-bofang:before { content: "\f01cb"; }
.icon-dianhua:before { content: "\f01ef"; }
.icon-html5:before { content: "\f01ee"; }
.icon-xiangxia1:before { content: "\f02a9"; }
.icon-xiangshang2:before { content: "\f02aa"; }
.icon-xiangyou2:before { content: "\f02af"; }
.icon-paixu1:before { content: "\f02ef"; }
.icon-shezhi1:before { content: "\f02ed"; }
.icon-dingxiang:before { content: "\f0307"; }
.icon-fanhui:before { content: "\f0292"; }
.icon-qita:before { content: "\f0141"; }
.icon-jian1:before { content: "\f0153"; }
.icon-xiangzuo2:before { content: "\f01a8"; }
.icon-xiangyou3:before { content: "\f01a9"; }
.icon-xiangshang3:before { content: "\f01a3"; }
.icon-xiangxia2:before { content: "\f01a6"; }
.icon-tongzhi:before { content: "\f01c4"; }
.icon-qq:before { content: "\f01c7"; }
.icon-jiaoyin:before { content: "\f027f"; }
