body{ background: #efefef;}
html, body{height:100%;}
.weimob-page{
    max-width:640px;
    margin:auto;
    padidng:10px;
}
.weimob-content{
    margin:10px;
    padding:15px;
    min-height:100%:;

}
h3{margin-bottom:3px;}
.pub_time{
    display:inline-block;
    font-size:12px;
    color:#ccc;
    margin-bottom:8px;
}


.head_logo{
    padding:5px;
}
.head_logo>div{
    vertical-align: middle;
    display: table-cell;
}
.head_logo span{
    display:inline-block;
    width:60px;
    height:60px;
    margin:0 10px;
    border-radius:60px;
    border:1px solid #fff;
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-background-size:100% auto;
    background-size:100% auto;
    -webkit-box-shadow:1px 1px 1px #ccc;
}
.head_logo label{
    font-size:16px;
}
table{
    width:auto!important;
}