{template 'header'}
{template 'slide'}
<style>
body{
font:{$_W['styles']['fontsize']} {$_W['styles']['fontfamily']};
color:{$_W['styles']['fontcolor']};
padding:0;
margin:0;
background-image:url('{if !empty($_W['styles']['indexbgimg'])}{$_W['styles']['indexbgimg']}{/if}');
background-size:cover;
background-color:{if empty($_W['styles']['indexbgcolor'])}#E9EAEC{else}{$_W['styles']['indexbgcolor']}{/if};
{$_W['styles']['indexbgextra']}
}
a{color:{$_W['styles']['linkcolor']}; text-decoration:none;}
{$_W['styles']['css']}
.box{width:98.5%; margin:1.5% 0 1.5% 1.5%; overflow:hidden;}
.box .box-item1{float:left;text-align:center;display:block;text-decoration:none;outline:none;width:{php echo (100/4-2).'%';};height:75px;position:relative; color:#666;margin:0 0 5% 2%; padding:5px 0;}
.box .box-item1 i{display:inline-block;width:50px;height:50px;line-height:50px;font-size:25px;color:#fff;overflow: hidden; border:2px #FFF solid;}
.box .box-item1 span{color:{$_W['styles']['fontnavcolor']};display:block;font-size:14px; position:absolute; bottom:3.5%; width:100%;}

.box .box-item2{float:left;text-align:center;display:block;text-decoration:none;outline:none;width:{php echo (100/3-2).'%';};height:80px;position:relative; color:#666;background:#66c574;padding:0 0 5px 0; margin:0 2% 5% 0;}
.box .box-item2 i{display:inline-block;width:100%;height:100%;line-height:50px;font-size:35px;color:#FFF; overflow: hidden;}
.box .box-item2 span{color:{$_W['styles']['fontnavcolor']};display:block;font-size:14px; position:absolute; bottom:0; width:100%; background:#fff; border-bottom-left-radius:3px;border-bottom-right-radius:3px; -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px;}
</style>
<div class="box">
	{php $num = 1;}
	{loop $navs $nav}
	{php if($num == 1) $bg = '#AB6269';}
	{php if($num == 2) $bg = '#AB916E';}
	{php if($num == 3) $bg = '#647F90';}
	{php if($num == 4) $bg = '#B08A77';}
	{if ($num <= 4)}
	<a href="{$nav['url']}" class="box-item1 icon-rounded">
		{if !empty($nav['icon'])}
		<i style="background:url({$_W['attachurl']}{$nav['icon']}) no-repeat;background-size:cover;" class="img-circle"></i>
		{else}
		<i class="{$nav['css']['icon']['icon']} img-circle" style="background:{$bg}; "></i>
		{/if}
		<span style="{$nav['css']['name']}">{$nav['name']}</span>
	</a>
	{else}
	<a href="{$nav['url']}" class="box-item2 img-rounded">
		{if !empty($nav['icon'])}
		<i style="background:url({$_W['attachurl']}{$nav['icon']}) no-repeat;background-size:cover;" class=""></i>
		{else}
		<i class="{$nav['css']['icon']['icon']}" style="{$nav['css']['icon']['style']}"></i>
		{/if}
		<span style="{$nav['css']['name']}">{$nav['name']}</span>
	</a>
	{/if}
	{php $num++;}
	{/loop}
</div>
{template 'footer'}

