{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('category', array('op' => 'post'))}">添加分类</a></li>
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('category', array('op' => 'display'))}">管理分类</a></li>
</ul>
{if $operation == 'display'}
<div class="main">
    <div class="panel panel-default">
        <div class="table-responsive panel-body">
            <a class="btn btn-primary" href="{php echo $this->createWebUrl('category', array('op' => 'display', 'type' => 'default'))}"><i class="icon-plus"></i> 快速添加分类</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive panel-body">
            <form action="" method="post" class="form-horizontal form">
                <table class="table table-hover" style="margin-top: 15px;">
                    <thead class="navbar-inner">
                    <tr>
                        <th style="width:15%;">显示顺序</th>
                        <th style="width:30%;">分类名称</th>
                        <th style="width:30%;">图标</th>
                        <th style="width:15%;">属性</th>
                        <th style="width:10%;text-align: right;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $category $row}
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
                        <td>
                            <div class="type-parent">{$row['name']}&nbsp;&nbsp;{if empty($row['parentid'])}<a href="{php echo $this->createWebUrl('category', array('parentid' => $row['id'], 'op' => 'post'))}"><i class="icon-plus-sign-alt"></i> 添加子分类</a>{/if}</div>
                        </td>
                        <td>
                            {if $row['logo']}
                            <img src="{if strstr($row['logo'], 'http') || strstr($row['logo'], '../addons/')}{$row['logo']}{else}{$_W['attachurl']}{$row['logo']}{/if}"
                                 width="50"/>
                            {/if}
                        </td>
                        <td></td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('category', array('op' => 'post', 'id' => $row['id'], 'storeid' => $storeid))}" title="编辑"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-default btn-sm" onclick="return confirm('确认删除吗？');return false;" href="{php echo $this->createWebUrl('category', array('op' => 'delete', 'id' => $row['id'], 'storeid' => $storeid))}" title="删除"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {loop $children[$row['id']] $row}
                    <tr>
                        <td>
                            <input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}">
                        </td>
                        <td>
                            <div style="padding-left:50px;height:30px;line-height:30px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">{$row['name']}&nbsp;&nbsp;
                            </div>
                        </td>
                        <td>{if $row['logo']}<img
                                src="{if strstr($row['logo'], 'http') || strstr($row['logo'], '../addons/')}{$row['logo']}{else}{$_W['attachurl']}{$row['logo']}{/if}"
                                width="50"/>{/if}
                        </td>
                        <td>
                            {if $row['isfirst']==1}
                            <span class="label" style="background:#56af45;">首页推荐</span>
                            {else}
                            <span class="label">未推荐</span>
                            {/if}
                        </td>
                        <td style="text-align: right;">
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('category', array('op' => 'post', 'id' => $row['id'], 'parentid' => $row['parentid']))}" title="编辑"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('category', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除此分类吗？');return false;" title="删除"><i class="fa fa-times"></i></a></td>
                    </tr>
                    {/loop}
                    {/loop}
                    <tr>
                        <td colspan="5">
                            <input name="submit" type="submit" class="btn btn-primary" value="批量更新排序">
                            <input type="hidden" name="token" value="{$_W['token']}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    {$pager}
</div>
</div>
{elseif $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
	<input type="hidden" name="parentid" value="{$parent['id']}" />
    <div class="panel panel-default">
        <div class="panel-heading">
            分类编辑
        </div>
        <div class="panel-body">
            {if !empty($parentid)}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">上级分类</label>
                <div class="col-sm-9">
                    {$parent['name']}
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类名称</label>
                <div class="col-sm-9">
                    <input type="text" name="catename" class="form-control" value="{$item['name']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">类别图标</label>
                <div class="col-sm-9">
                    {if empty($parentid)}
                    {php echo tpl_form_field_image('logo', $logo, '../addons/weisrc_businesscenter/template/themes/images/nopic.jpeg', array('width' => 134, 'height' => 134))}
                    {else}
                    {php echo tpl_form_field_image('logo', $logo, '../addons/weisrc_businesscenter/template/themes/images/nopic.jpeg', array('width' => 120, 'height' => 90))}
                    {/if}
                    <span class="help-block" style="color:#f00">建议尺寸一级分类(134*134) 二级分类(120*90)</span>
                </div>
            </div>
            {if !empty($parentid)}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页推荐</label>
                <div class="col-sm-9">
                    <label for="isfirst1" class="radio-inline"><input type="radio" name="isfirst" value="1" id="isfirst1" {if $item['isfirst'] == 1}checked="true"{/if} /> 是</label>
                    <label for="isfirst2" class="radio-inline"><input type="radio" name="isfirst" value="0" id="isfirst2"  {if empty($item) || !empty($item) && $item['isfirst'] == 0}checked="true"{/if} /> 否</label>
                    <span class="help-block"></span>
                </div>
            </div>
            {/if}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                <div class="col-sm-9">
                    <input type="text" name="displayorder" class="form-control" value="{$item['displayorder']}" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="submit" type="submit" value="提交" class="btn btn-primary ">
            <input type="hidden" name="token" value="{$_W['token']}"/>
        </div>
    </div>
	</form>
</div>
<script type="text/javascript" src="./resource/script/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="./resource/script/kindeditor/lang/zh_CN.js"></script>
<link type="text/css" rel="stylesheet" href="./resource/script/kindeditor/themes/default/default.css" />
<script type="text/javascript">
    kindeditor($('.richtext-clone'));
</script>
<script type="text/javascript">
    var editor = KindEditor.editor({
        allowFileManager : true,
        uploadJson : "site.php?act=module&do=uploadphoto&name=weisrc_businesscenter&imagetype={if empty($parentid)}category{else}childcategory{/if}",
        fileManagerJson : "./index.php?act=attachment&do=manager",
        afterUpload : function(url, data) {
        }
    });
    $("#upload-image-logo").click(function() {
        editor.loadPlugin("image", function() {
            editor.plugin.imageDialog({
                tabIndex : 1,
                imageUrl : $("#upload-image-url-logo").val(),
                clickFn : function(url) {
                    editor.hideDialog();
                    var val = url;
                    if(url.toLowerCase().indexOf("http://") == -1 && url.toLowerCase().indexOf("https://") == -1) {
                        var filename = /images(.*)/.exec(url);
                        if(filename && filename[0]) {
                            val = filename[0];
                        }
                    }

                    $("#upload-image-url-logo-old").val($("#upload-image-url-logo").val());
                    $("#upload-image-url-logo").val(val);
                    $("#upload-image-preview-logo").html('<img src="'+url+'" width="80px;" />');
                }
            });
        });
    });
</script>
{/if}
{template 'common/footer'}