{template 'common/header'}
<style>
     .item_box img{
         width: 100%;
         height: 100%;
     }
</style>
<style type='text/css'>
    .tab-pane { padding:20px 0 20px 0;}
</style>
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{$setting['id']}" />
    <div class="panel panel-default">
        <div class="panel-heading">
            商家信息
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#tab_basic">基本设置</a></li>
                <li><a href="#tab_settled">入驻设置</a></li>
                <li><a href="#tab_nave">导航设置</a></li>
                <li><a href="#tab_share">分享设置</a></li>
            </ul>
            <div class="tab-content">
            <div class="tab-pane  active" id="tab_basic">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">网站名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="{$setting['title']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页滚动公告</label>
                    <div class="col-sm-9">
                        <label for="scroll_announce_enable1" class="radio-inline"><input type="radio" name="scroll_announce_enable" value="1" id="scroll_announce_enable1" {if empty($setting) || $setting['scroll_announce_enable'] == 1}checked="true"{/if} /> 开启</label>
                        <label for="scroll_announce_enable2" class="radio-inline"><input type="radio" name="scroll_announce_enable" value="0" id="scroll_announce_enable2"  {if !empty($setting) && $setting['scroll_announce_enable'] == 0}checked="true"{/if} /> 关闭</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">公告滚动速度</label>
                    <div class="col-sm-9">
                        <input type="text" name="scroll_announce_speed" class="form-control" value="{if empty($setting)}6{else}{$setting['scroll_announce_speed']}{/if}" />
                        <span class="help-block">公告滚动速度,默认速度为6,数值越大滚动越快.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页滚动公告</label>
                    <div class="col-sm-9">
                        <textarea name="scroll_announce" class="form-control">{if empty($setting['scroll_announce'])}{$_W['account']['account']}微商圈平台正式开通，现全城商家招募中，有意加入的商家，请自主提交加盟信息.{else}{$setting['scroll_announce']}{/if}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">公告链接</label>
                    <div class="col-sm-9">
                        <input type="text" name="scroll_announce_link" class="form-control" value="{if empty($setting)}#{else}{$setting['scroll_announce_link']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">列表每页显示数量</label>
                    <div class="col-sm-9">
                        <input type="text" name="pagesize" class="form-control" value="{if empty($setting)}5{else}{$setting['pagesize']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示留言</label>
                    <div class="col-sm-9">
                        <label for="feedback_show_enable1" class="radio-inline"><input type="radio" name="feedback_show_enable" value="1" id="feedback_show_enable1" {if empty($setting) || $setting['feedback_show_enable'] == 1}checked="true"{/if} /> 开启</label>
                        <label for="feedback_show_enable2" class="radio-inline"><input type="radio" name="feedback_show_enable" value="0" id="feedback_show_enable2"  {if !empty($setting) && $setting['feedback_show_enable'] == 0}checked="true"{/if} /> 关闭</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">留言是否需要审核</label>
                    <div class="col-sm-9">
                        <label for="feedback_check_enable1" class="radio-inline"><input type="radio" name="feedback_check_enable" value="1" id="feedback_check_enable1" {if empty($setting) || $setting['feedback_check_enable'] == 1}checked="true"{/if} /> 开启</label>
                        <label for="feedback_check_enable2" class="radio-inline"><input type="radio" name="feedback_check_enable" value="0" id="feedback_check_enable2"  {if !empty($setting) && $setting['feedback_check_enable'] == 0}checked="true"{/if} /> 关闭</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部版权</label>
                    <div class="col-sm-9">
                        <input type="text" name="copyright" class="form-control" value="{if empty($setting) || empty($setting['copyright'])}{$_W['account']['account']}微商圈{else}{$setting['copyright']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部版权链接</label>
                    <div class="col-sm-9">
                        <input type="text" name="copyright_link" class="form-control" value="{if empty($setting) || empty($setting['copyright_link'])}#{else}{$setting['copyright_link']}{/if}" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_nave">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航名称一</label>
                    <div class="col-sm-9">
                        <input type="text" name="menuname1" class="form-control" value="{if empty($setting) || empty($setting['menuname1'])}优惠资讯{else}{$setting['menuname1']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航链接一</label>
                    <div class="col-sm-9">
                        <input type="text" name="menulink1" class="form-control" value="{if empty($setting) || empty($setting['menulink1'])}{php echo $this->createMobileurl('news')}{else}{$setting['menulink1']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航名称二</label>
                    <div class="col-sm-9">
                        <input type="text" name="menuname2" class="form-control" value="{if empty($setting) || empty($setting['menuname2'])}积分兑换{else}{$setting['menuname2']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航链接二</label>
                    <div class="col-sm-9">
                        <input type="text" name="menulink2" class="form-control" value="{if empty($setting) || empty($setting['menulink2'])}#{else}{$setting['menulink2']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航名称三</label>
                    <div class="col-sm-9">
                        <input type="text" name="menuname3" class="form-control" value="{if empty($setting) || empty($setting['menuname3'])}领优惠券{else}{$setting['menuname3']}{/if}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航链接三</label>
                    <div class="col-sm-9">
                        <input type="text" name="menulink3" class="form-control" value="{if empty($setting) || empty($setting['menulink3'])}#{else}{$setting['menulink3']}{/if}" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_share">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享时的标题</label>
                    <div class="col-sm-9">
                        <input type="text" id="share_title" name="share_title" value="{$setting['share_title']}" class="form-control" /><div class="help-block">留空以网站名称作为标题</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('share_image', $share_image, '../addons/weisrc_businesscenter/template/themes/images/nopic.jpeg', array('width' => 640, 'height' => 640))}
                        <span class="help-block" style="color:#f00">建议尺寸640*640</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享时的摘要</label>
                    <div class="col-sm-9">
                        <input type="text" id="share_desc" name="share_desc" value="{$setting['share_desc']}" class="form-control" />
                        <div class="help-block">留空以网站名称作为内容</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户分享的链接</label>
                    <div class="col-sm-9">
                        <input type="text" id="share_url" name="share_url" value="{$setting['share_url']}" class="form-control" />
                        <div class="help-block">建议留空，让用户把测试链接分享出去。</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_settled">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家入驻</label>
                    <div class="col-sm-9">
                        <label for="settled1" class="radio-inline"><input type="radio" name="settled" value="1" id="settled1" {if empty($setting) || $setting['settled'] == 1}checked="true"{/if} /> 开启</label>
                        <label for="settled2" class="radio-inline"><input type="radio" name="settled" value="0" id="settled2"  {if !empty($setting) && $setting['settled'] == 0}checked="true"{/if} /> 关闭</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">入驻公告</label>
                    <div class="col-sm-9">
                        <textarea name="announcement" class="richtext form-control">{$setting['announcement']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="tel" class="form-control" value="{$setting['tel']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
                    <div class="col-sm-9">
                        <input type="text" name="address" id="address" value="{$setting['address']}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家所在地区</label>
                    <div class="col-sm-3">
                        <select name="location_p" id="location_p" class="location form-control"></select>
                    </div>
                    <div class="col-sm-3">
                        <select name="location_c" id="location_c" class="location form-control"></select>
                    </div>
                    <div class="col-sm-3">
                        <select name="location_a" id="location_a" class="location form-control"></select>
                        <script type="text/javascript" src="../addons/weisrc_businesscenter/template/js/region_select.js"></script>
                        <script type="text/javascript">
                            var location_p = "{if !empty($setting['location_p'])}{$setting['location_p']}{else}广东省{/if}";
                            var location_c = "{if !empty($setting['location_c'])}{$setting['location_c']}{else}汕头市{/if}";
                            var location_a = "{if !empty($setting['location_a'])}{$setting['location_a']}{else}龙湖区{/if}";
                            new PCAS("location_p", "location_c", "location_a", location_p, location_c, location_a);
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_coordinate('baidumap', $setting)}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
        <input type="hidden" name="token" value="{$_W['token']}" />
    </div>
	</form>
</div>
<script type="text/javascript">
    $(function () {
        window.optionchanged = false;
        $('#myTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })
    });
</script>
<script type="text/javascript">
    require(['jquery', 'util'], function ($, u) {
        $(function () {
            u.editor($('.richtext')[0]);
        });
    });
</script>
{template 'common/footer'}