{template 'header'}
<body id="rain6" screen_capture_injected="true" style="">
{data func="site_slide_search" limit="1" item="row"}
{php $f = $row['thumb'];}
{/data}
{if empty($f)}<div class="mainbg"><img src="{$_W['styles']['indexbgimg']}"></div>{else}{template 'slide'}{/if}
<div class="mainmenu">
<ul> <div id="insert1"></div>
{loop $navs $nav}     
<li><div class="menubtn"><a href="{$nav['url']}">{$nav['name']}</a></div></li>
{/loop} 
<div class="clr"></div>
         <div id="insert2"></div>
</ul>
</div>
<script>
var count = document.getElementById("thelist").getElementsByTagName("img").length;	
var count2 = document.getElementsByClassName("menuimg").length;
for(i=0;i<count;i++){
 document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";

}
document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";

 setInterval(function(){
myScroll.scrollToPage('next', 0,400,count);
},3500 );
window.onresize = function(){ 
for(i=0;i<count;i++){
document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";

}
 document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
} 
</script>
{template 'footer'}