html, body, #wrap {height: 100%;font-family:Microsoft Yahei;}
h1,h2,h3,h4,h5,h6,p,div,span,.button{font-family:Microsoft Yahei;}
#wrap {height: auto; min-height: 100%;} 
#main {padding-bottom: 50px;}
body{background:#f5f5f5;color:#333;height:100%;}
a{color:#529bee;text-decoration:none;}
a:hover{text-decoration:none;}
em,i{font-style:normal;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
hr{overflow: hidden;border-top: 1px solid #dedede;border-bottom: 1px solid #fff;margin:10px 0;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.font-bold{font-weight:bold;}
.top-bar{background:#529bee;height:50px;overflow:hidden;box-shadow:0px 2px 2px rgba(0,0,0,0.2)}
.top-bar a{float:left;display:block;width:25%;height:50px;text-align:center;line-height:55px;margin-left:-1px}
.top-bar i{color:#fff;font-size:24px;}
.vline{float:left;width:1px;height:50px;background:url(../images/vline.png) no-repeat}
.nav-collapse{display:none;margin:0;padding:0;}
.nav-collapse ul{padding:10px;background:#529bee;overflow:hidden;border-bottom:2px solid rgba(0,0,0,0.2);list-style:none;margin-bottom:0;}
.nav-collapse ul li{float:left;width:44%;line-height:35px;margin:5px 3%}
.nav-collapse ul li a{color:#fff;font-size:12px;display:block;width:100%;background:rgba(0,0,0,0.2);text-align:center;}
.nav-collapse ul li.currentPage a{background:#fff;color:#184579;font-weight:700}
.welcome{font-size:16px;padding:0;margin:10px 15px;line-height:22px;color:#555}
.welcome p{font-size:14px;font-weight:400;line-height:18px;margin:5px 0 0;color:#888}
.section-title{font-size:18px;margin:15px 15px 10px;}
.wrap-box{padding:0 15px;overflow:hidden;}
.box-item{width:33.3333%;float:left;margin-bottom:20px;}
.box-item a.ui-btn{width:88px;height:88px;display:inline-block;background:#fff;border-radius:4px;box-shadow:1px 1px 1px rgba(0,0,0,0.2);text-align:center;font-size:14px;padding-top:7px;}
.box-item a.ui-btn i{display:inline-block;margin-bottom:2px;width:50px;height:50px;background-size:50px 50px;}
i.ico-notice{background:url(../images/notice.png) no-repeat;}
i.ico-huodong{background:url(../images/huodong.png) no-repeat;}
i.ico-yijian{background:url(../images/yijian.png) no-repeat;}
i.ico-baoxiu{background:url(../images/baoxiu.png) no-repeat;}
i.ico-daohang{background:url(../images/daohang.png) no-repeat;}
i.ico-jiaoyi{background:url(../images/jiaoyi.png) no-repeat;}
i.ico-pinche{background:url(../images/pinche.png) no-repeat;}
i.ico-zhangmu{background:url(../images/zhangmu.png) no-repeat;}
i.ico-zhinan{background:url(../images/zhinan.png) no-repeat;}
i.ico-baoguang{background:url(../images/baoguang.png) no-repeat;}
i.ico-youhui{background:url(../images/youhui.png) no-repeat;}
i.ico-shangjia{background:url(../images/shangjia.png) no-repeat;}
i.ico-wuye{background:url(../images/wuye.png) no-repeat;}
i.ico-query{background:url(../images/query.png) no-repeat;}
i.ico-tuan{background:url(../images/tuan.png) no-repeat;}
i.ico-market{background:url(../images/market.png) no-repeat;}
i.ico-qiandao{background:url(../images/qiandao.png) no-repeat;}
i.ico-diaocha{background:url(../images/diaocha.png) no-repeat;}
i.ico-bbs{background:url(../images/bbs.png) no-repeat;}
i.ico-link{background:url(../images/link.png) no-repeat;}
a.button:hover{color:#fff;}
.tel{color:#368FF4;}

.listWrapper{padding:10px 0;}
.listWrapper h1,.picListWrapper h1{font-size:18px;margin-top:10px;padding:0 10px;}
.listWrapper ul{margin:0;padding:0 10px;}
.listWrapper ul li{position:relative;padding:7px 10px;border-bottom:1px solid #dbdbdb;border-top:1px solid #fff;}
.listWrapper ul li p em{margin-right:20px;}
.listWrapper ul li p{margin-bottom:0;}
.listWrapper ul li:first-child{border-top:none;}
.listWrapper ul li:last-child{border-bottom:none;}
.listWrapper ul li a{display:block;width:100%;height:100%;position:absolute;left:0;top:0;}
.listWrapper ul li h2{font-size:14px;margin:0;line-height:18px;max-height:36px;overflow:hidden;margin-bottom:5px;}
.listWrapper ul li p{font-size:12px;color:#aaa;}
.pageContent img{max-width:100%;height:auto;}
.pageContent{line-height:1.8;padding:10px;font-size:14px;}
.PostContentWrapper{padding:0 10px;}
.PostContentWrapper hr{margin:5px 0;}
.pageTitle{margin:15px 0 5px;padding:0;}
.pageTime{margin-bottom:0;font-size:12px;color:#aaa;}
.postLinksWrapper{overflow:hidden;}
.postLinksWrapper a.postLink{display:inline-block;width:33%;height:50px;line-height:50px;}
.postLinksWrapper a.previousPost{float:left;}
.postLinksWrapper a.linkPost{float:left;text-align:center;}
.postLinksWrapper a.nextPost{float:right;text-align:right;}

.add-form form{padding:20px 0;}
.add-form .pageTitle{padding:0 10px;}
.formFieldWrapper{padding:0px 0px 20px;min-height:52px;position:relative;overflow:hidden;}
.formFieldWrapper label{margin-bottom:0;}
.formFieldWrapper label.radio-inline{margin-top:-3px;}
.formFieldWrapper .formTypeRadio{float:left;margin-top:6px;}
.formFieldWrapper .formTitle{float:left;width:70px;text-align:right;padding-right:10px;line-height:32px;font-weight:400;}
.formFieldWrapper label input[type='radio']{margin-top:0px;}
.formFieldWrapper .titleLeft{float:left;width:65%;height:32px;border:1px solid #c4c4c4;border-radius:1px;padding-left:5px;}
.formFieldWrapper .titleLeft.small{width:25%;}
.sexBox{width:40%;float:left;height:32px;padding:5px 0 0 5px;}
.msg-box{position:absolute;left:80px;top:33px;color:red;font-size:12px;}
.formFieldWrapper input.n-invalid,.formFieldWrapper textarea.n-invalid{border:1px solid #ff6a6a;}
.formFieldWrapper span.unit-left{float:left;padding:6px;}
em.req{float:left;color:red;line-height:32px;padding-left:5px;}
.formTextareaWrapper textarea.titleLeft{width:65%;height:60px;}
.formTextareaWrapper .msg-box{top:62px;}
.formButtonWrapper{text-align:center;}
.formButtonWrapper .add-form-button{margin-left:80px;}


.picListWrapper{padding:0px;}
.picListWrapperItem{overflow:hidden;padding:10px;border-bottom:1px solid #dbdbdb;border-top:1px solid #fff;position:relative;}
.picListWrapper .picListWrapperItem:last-child{border-bottom:none;}
.picListWrapperItem img{width:100%;height:74px;}
.picListWrapperItem .picListItemAttr{float:left;width:65%;padding-left:10px;}
.picListWrapperItem .picListItemAttr h4{margin-top:0;font-size:16px;line-height:16px;margin-bottom:5px;}
.picListWrapperItem .picListItemAttr p{margin:0;padding:2px 0 1px;font-size:13px;color:#777;}
.imgLink{max-height:80px;overflow:hidden;display:block;float:left;width:35%;padding:2px;border:1px solid #ccc;}
.no-pic{display:block;height:74px;background:#c1dfec;line-height:74px;font-size:18px;text-align:center;color:#2f93bc;}
.attrLink{position:absolute;width:100%;height:100%;left:0;top:0;}

.pageContentWrapper{padding:0 10px;}
.pageContentWrapper img{max-width:100%;}
.pageContentWrapper.daohang_detail img{max-width:inherit;}
.pageContentWrapper table{border:1px solid #dcdcdc;border-right:0;border-bottom:0;margin-top:10px;width:100%;}
.pageContentWrapper table td{text-align:center;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;padding:7px 0;}
.label.bg-info{display:inline-block;background:#3b99da;color:#fff;font-weight:400;padding:6px;margin:0;font-size:13px;}
.hongdong_info{padding:10px 5px;}
.pageContentWrapper .pageTitle{font-size:22px;}
.baoming-btn{margin:15px 0 5px;}
.add-info-box{height:48px;padding-top:15px;line-height:37px;padding-left:10px;}
.add-info-box .button{float:right;margin-right:10px;}

.pageContentWrapper .attr{margin:0;padding:0;overflow:hidden;list-style:none;background:rgba(0,0,0,0.1);border-radius:2px;padding:10px;}
.pageContentWrapper .attr li{width:50%;float:left;padding:7px 0;}
.pageContentWrapper .attr li.full-w{width:100%;}
.pageContentWrapper .attr li b{margin-right:5px;}
.label.label-xs{padding:5px 6px;}

.help-block{margin-left:70px;line-height:1.2;padding-top:3px;float:left;}
.drop-downWrapper{width:65%;min-height:33px;margin-top:0;display:inline-block;float:left;}
.drop-downText{box-sizing:border-box;padding-left:12px;padding-right:12px;height:33px;line-height:33px;border:1px solid #c4c4c4;background:#fff url(../images/common/drop-downTextBg.png) right 0 no-repeat;color:#999;display:inline-block;overflow:hidden;cursor:pointer;transition:border-color .3s background-color .3s;width:100%;}
.drop-downItemsWrapper{display:none;width:100%;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;box-sizing:border-box;overflow-y:auto;border-bottom:1px solid #e9e9e9}
.drop-downItem{height:32px;line-height:32px;border-bottom:1px solid #e9e9e9;display:block;width:100%;padding-left:12px;padding-right:12px;background-color:#fff;box-sizing:border-box}
.drop-downItem:hover{background:#e6f1f9;}
.drop-downItem:last-child{border:none}
.listWrapper_item_title h2 i{float:right;font-size:12px;color:#bbb;}
.time{font-size:12px;color:#bbb}

.searchFormWrapper{padding:0 10px 10px;overflow:hidden;}
.searchFormWrapper input{height:30px;border:1px solid #ccc;border-radius:1px;font-size:12px;padding-left:5px;width:85%;float:left;margin-left:-1px;line-height:20px;padding-top:4px;}
.searchFormWrapper button{width:15%;border:none;height:30px;float:left;margin-right:-1px;background:url(../images/search.png) no-repeat center #ccc;}
.pageWrapper{padding:10px;}
.pageWrapper .pageNumber.currentPageNumber{background:#fff;border:1px solid #ccc;}
.pageWrapper .pageNumber{display:inline-block;border:1px solid #ccc;background:#ccc;width:35px;height:25px;margin-right:5px;line-height:23px;text-align:center;color:#666}
.pageWrapper .pageNumber:hover{background:#e4e4e4;}
.noList{padding:10px;}
.loginbox{padding:10px 20px;}

.twoWrapper{padding:20px 5px 10px;overflow:hidden;}
.twoWrapperItem{width:44%;text-align:left;float:left;font-size:16px;height:60px;line-height:60px;border:1px solid rgba(0,0,0,0.1);box-shadow:1px 1px 4px rgba(0,0,0,0.1);background:#fff;margin:10px 3%;}
.twoWrapperItem:hover{background:#d6f5ff;}
.twoWrapperItem i{margin-right:10px;width:15px;text-align:center;display:inline-block;font-size:16px;}
.twoWrapperItem a{display:block;width:100%;height:100%;padding-left:10px;}
.listWrapper.daohangList ul li{height:auto;background:#fff;border:1px solid rgba(0,0,0,0.1);padding:0;margin:15px 0;box-shadow:2px 2px 2px rgba(0,0,0,0.05);overflow:hidden;position:relative;}
.listWrapper.daohangList ul li div.listWrapper_item_title{width:100%;float:left;padding:10px;padding-right:80px;}
.listWrapper.daohangList ul li p.telphone{width:80px;float:right;position:absolute;right:0;top:0;text-align:center;height:100%;border-left:1px solid #eee;z-index:100}
.listWrapper.daohangList ul li p.telphone:hover{background:#d6f5ff;}
.listWrapper.daohangList ul li p.telphone i{font-size:32px;color:rgba(0,0,0,0.3);margin-top:22px;display:inline-block;}
.listWrapper.daohangList ul li .no-position{display:inline;position:static;}
.dh_area{float:right;font-size:12px;color:#666;margin-right:0px;position:relative;height:29px;line-height:29px;}
.dh_area i{font-size:13px;margin-right:4px;}
.listWrapper.daohangList .dh_area ul{position:absolute;z-index:120;width:120px;right:0px;top:29px;border:1px solid #363636;border-bottom:none;padding:0;display:none;}
.listWrapper.daohangList .dh_area ul li{margin:0;height:40px;line-height:40px;padding-left:10px;border:none;border-bottom:1px solid #363636;background:#272727;}
.listWrapper.daohangList .dh_area ul li a{padding-left:10px;color:#f5f5f5}


.daohang_detail{margin-top:15px;}
.daohang_detail .line{padding:5px 0;}
.daohang_detail .col-2{font-weight:700;}
.flexslider{padding:10px;background:#f5f5f5;}
input#fileToUpload{width:65%;margin-top: 5px;}

.wuye_content{line-height:25px;font-size:14px;padding:15px;margin-top:-15px;}
.wuye_content p,.wuye_content div{font-size:14px;line-height:25px;margin:10px 0;padding:0;}
.wuye_content img{max-width:100%;}
.query_content{padding:5px 5px 10px;margin-top:-5px;}
.listWrapper .query_content ul{overflow:hidden;padding:0;}
.listWrapper ul li{border:none;}
.query_content ul,.query_content li{list-style:none;padding:0;margin:0;}
.query_content li{width:29.33333%;float:left;text-align:center;margin:8px 2%;height:80px;line-height:20px;background:#76b3f7;font-size:16px;box-shadow:2px 2px 4px rgba(0,0,0,0.3);}
.query_content li a{display:block;width:90%;color:#fff;color:#fff;height:50px;padding:30px 5% 0;}
.query_content li a:hover{background:rgba(0,0,0,0.1);}

/*å›¢è´­style*/
.tuan_title{background:#529bee;height:43px;padding:0 10px;overflow:hidden;position:relative;z-index:300;}
.tuan_title i{line-height:43px;font-size:30px;color:#fff;display:inline-block;float:left;width:13%;text-align:center;margin-left:-10px;}
.tuan_title .input_text{width:75%;height:28px;float:left;margin-top:8px;border:none;border-radius:2px 0 0 2px;padding-left:10px;}
.tuan_title .btn-search{height:28px;width:10%;background:#eee;border-radius:0;margin-top:8px;padding:0;border-radius:0 2px 2px 0;}
.tuan_title .btn-search i{font-size:13px;line-height:28px;width:100%;margin:0 auto;color:#bbb}
.listWrapper ul.sort-ul,.listWrapper ul.cat-list{padding:0;}

.w-sort{width:100%;height:38px;background:#fff;border-bottom:1px solid #dedede;position:relative;z-index:300;}
.listWrapper .w-sort li{float:left;list-style:none;border:none;font-size:14px;width:33%;text-align:center;line-height:38px;padding:0;color:#717171;}
.listWrapper .w-sort li i{margin-left:5px;}
.listWrapper .w-sort li.v-line{width:1px;background:#dedede;height:18px;margin-top:10px;}

.sort-list-box{position:absolute;left:0;top:38px;background:#fff;width:100%;z-index:300;background:#f1f1f1;}
.sort-list-box ul{padding:0;background:#fff;}
.sort-list-box ul li{line-height:50px;padding:0;border-top:none;border-bottom:1px solid #dbdbdb;}
.sort-list-box ul li:last-child{border-bottom:1px solid #dbdbdb;}
.sort-list-box ul li a{padding:0 20px;color:#333}
.sort-list-box ul li a i{float:right;font-size:20px;line-height:41px;color:#ccc}
.sort-list-box ul li span{color:#aaa;font-size:12px;margin-left:5px;}
.listWrapper .child-ul{position:absolute;width:50%;left:50%;background:#fff;z-index:300;padding:0;list-style:none;background:#f1f1f1;}
.listWrapper .child-ul li{line-height:50px;height:51px;border-top:none;border-bottom:1px solid #e3e3e3}
.listWrapper .child-ul li:last-child{border-bottom:1px solid #e3e3e3;}
.listWrapper .child-ul li a{padding:0 20px;color:#777;font-size:12px;}
.listWrapper .child-ul li a span{color:999;margin-left:5px;}
.sort-ul.half{width:50%;border-right:1px solid #f1f1f1;}
.sort-ul.half li.child-show{background:#f1f1f1;margin-right:-1px;}


.t-goods-container{}
.text-sm{font-size:16px;}
.w-goods {background: #fff;border-bottom: 1px solid #e0e0e0;}
.w-goods a {display: block;padding: 10px 8px;text-decoration: none;position: relative;}
.w-goods a .img-wrapper {float: left;position: relative;margin-right: 8px;border: 1px solid #e0e0e0;}
.w-goods a .img-wrapper img {display: block;}
.w-goods a ul {overflow: hidden;list-style: none;margin:0;padding:0;}
.w-goods a ul li {overflow: hidden;margin:0;padding:0;}
.w-goods a li.title {line-height: 16px;position: relative;border:none;}
.w-goods a li.title .store {float: right;color: #9b9b9b;font-size: 12px;position: relative;bottom: -3px;}
.w-goods a li.title .item-name {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;padding-bottom: 5px;font-size: 16px;color: #1a1a1a;}
.w-goods a li.info {font-size: 12px;height: 32px;line-height: 16px;max-height: 40px;color: #636363;word-break: break-all;margin-top: -1px;border:none;}
.w-goods a li.others {padding-top: 19px;font-size: 12px;line-height: 12px;color: #9b9b9b;}
.w-goods a li.others ins {font-size: 21px;font-weight: 700;color: #ff3c6e;line-height: 5px;text-decoration: none;}
.w-goods a li.others .slash {margin-left: 4px;}
.w-goods a li.others .old-price {font-size: 12px;margin-left: 4px;line-height: 5px;text-decoration: line-through;}
.w-goods a li.others .bought {float: right;padding-left: 12px;}
.masker{width:100%;height:100%;position:absolute;left:0;top:0;z-index:100;background:rgba(0,0,0,0.5);display:none;}
.dp_sign{height:30px;text-align:center;position:fixed;bottom:0;background:rgba(0,0,0,0.8);width:100%;color:#fff;font-size:12px;line-height:30px;}


.picListWrapper,.listWrapper{padding:5px 0 0;}
.listWrapper hr{margin-bottom:0;}
.listWrapper h1, .picListWrapper h1{font-size:24px;}
.listWrapper ul{padding:0 10px;}
.listWrapper ul.listWrapper_ul li{padding:10px;border-bottom:1px solid #ddd;}
.listWrapper ul li h2{font-size:18px;max-height:44px;line-height:20px;}
.listWrapper ul li p{margin-top:0px;font-size:13px;}
.picListWrapperItem .picListItemAttr h4{line-height:18px;max-height:36px;overflow:hidden;}
.picListWrapperItem .picListItemAttr p{padding:0;line-height:16px;}
.picListWrapperItem .picListItemAttr p span.shop{display:block;background:#7fbc5b ;width:auto;float:left;color:#fff;padding:3px 10px;text-align:center;border-radius:3px;margin-top:5px;box-shadow:2px 2px 4px rgba(0,0,0,0.1);}
.picListWrapperItem .picListItemAttr p span.shop i{font-size:14px;}
.pageContentWrapper table{background:#fff;border-radius:3px;box-shadow:2px 2px 4px rgba(0,0,0,0.05);}
.pageContentWrapper .hongdong_info{background:#fff;border-radius:3px;box-shadow:2px 2px 4px rgba(0,0,0,0.05);border:1px solid #ccc;margin:15px 0;padding:0 0 5px;}
.pageContentWrapper .hongdong_info .info_title{padding-bottom:3px;border-bottom:1px solid #ccc;font-size:18px;padding:10px 10px 8px;margin-bottom:0;background:#f3f3f3}
.pageContentWrapper .hongdong_info .info_content{padding:10px;}
.pageContentWrapper .hongdong_info .info_content p{margin:0;font-size:16px;}
.PostContentWrapper .pageContent{background:#fff;box-shadow:2px 2px 4px rgba(0,0,0,0.05);}
.listWrapper .wuye_content{background:#fff;box-shadow:2px 2px 4px rgba(0,0,0,0.05);margin:5px 10px;}
.choose_shop{float:right;font-size:14px;line-height:26px;}
.picListWrapperItem .picListItemAttr h4{color:#666;font-size:16px;height:20px;font-weight:bold;}
.picListWrapperItem .picListItemAttr p{margin:5px 0 0;width:100%;float:left}
.picListWrapperItem .picListItemAttr p span.tel{display:block;background:#7fbc5b ;width:auto;float:left;padding:3px 10px;text-align:center;border-radius:3px;margin-top:5px;box-shadow:2px 2px 4px rgba(0,0,0,0.1);-webkit-animation-name: "glowing";-webkit-animation-duration: 5s;-webkit-animation-iteration-count: infinite;}
.picListWrapperItem .picListItemAttr p span.tel a{color:#fff;font-family:Microsoft Yahei;}
.picListWrapperItem .picListItemAttr.hongdong h4{font-size:14px;height:auto;}
.picListWrapperItem .picListItemAttr.hongdong p{margin:2px 0 0;width:100%;float:left}
.pageContentWrapper .pageTitle{text-align:center;font-size:22px;font-weight:bold;color:#666}
.pageContentWrapper .pageTime{text-align:center;}
.pageContentWrapper table td{height:32px;}
.pageContentWrapper table span.tel a{background:#7fbc5b;box-shadow:2px 2px 4px rgba(0,0,0,0.1);border-radius:3px;padding:3px 10px;color:#fff;
-webkit-animation-name: "glowing";
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: infinite;}
.pageContentWrapper .panel{border:1px solid #ccc;margin:15px 0;font-weight:bold;font-size:15px;}
.pageContentWrapper .panel .panel-body{font-weight:normal;font-size:14px;border-top:1px solid #ddd;display:none;}
.pageContentWrapper .panel .panel-heading a{float:right;color:#777;font-size:18px;}
.pageContentWrapper .panel .panel-heading span{color:#777;font-weight:normal;}
.pageContentWrapper .singleProjectImageWrapper img{box-shadow:2px 2px 4px rgba(0,0,0,0.1);}
.pageContentWrapper .pageContent{background:#fff;border-radius:3px;box-shadow:2px 2px 4px rgba(0,0,0,0.05);border:1px solid #ccc;margin:15px 0;padding:0 0 5px;}
.yhcode{font-size:18px;color:#c73800;text-align:center;font-weight:bold;}
.pageWrapper.add-form h3{margin-top:0;}
.formFieldWrapper label{font-size:16px;}
.formFieldWrapper label.formTitle {width:80px;}
.msg-box{left:80px;}
.formFieldWrapper input[type='text'],.formFieldWrapper textarea,.drop-downWrapper .drop-downText,.searchFormWrapper input{box-shadow:1px 1px 1px rgba(0,0,0,0.1) inset;border-radius:2px;}
.flexslider.shop_slider{padding:0;height:230px;overflow:hidden;}
.help-block{margin-left:80px;}
.pageContentWrapper .attr {background:rgba(0,0,0,0.05);border:1px solid #ddd;border-radius:3px;box-shadow:1px 1px 2px rgba(0,0,0,0.09);margin-top:10px;}
.time{color:#aaa;}
.searchFormWrapper input{width:80%;}
.searchFormWrapper button{float:left;margin-left:10px;background-color:#f0b68b;border-radius:3px;box-shadow:1px 1px 2px rgba(0,0,0,0.09);}
@-webkit-keyframes glow {
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(226, 132, 10, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(226, 132, 10, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(226, 132, 10, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(226, 132, 10, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(226, 132, 10, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(226, 132, 10, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(226, 132, 10, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(226, 132, 10, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(226, 132, 10, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
}
a.button {
-webkit-animation-name: "glow";
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: infinite;
}

.bind-title{text-align:center;font-size:25px;padding:10px 0;border-bottom:1px solid #ccc;}
.bind-content{border-top:1px solid #fff;}
.formFieldWrapper span.unit{float:left;margin:4px;}
.formButtonWrapper .add-form-button{margin-left:80px;}

.userinfo{background:#fff;box-shadow:2px 2px 3px rgba(0,0,0,0.1);-webkit-border-radius:4px;margin:10px 5px;}
.userinfo .panel-heading{border-bottom:1px solid #eee;-webkit-border-radius:4px 4px 0 0;}
.userinfo .panel-body{padding:10px;line-height:30px}
.userinfo .panel-body span{font-weight:bold;display:inline-block;width:80px;text-align:right;}
.userinfo .panel-footer{-webkit-border-radius:0 0 4px 4px;}
.userinfo .panel-footer .button{width:80%;margin:10px auto;font-size:15px;}

.fixed{position:fixed;top:0;left:0;width:100%;z-index:9999;}
#main{padding-top:50px;}

.footerWrapper{padding:0px;}
.footerWrapper p{margin-bottom:0;}
.footerWrapper p a{color:#fff;font-size:24px;display:block;width:60px;height:50px;text-align:center;line-height:50px;}
.footerWrapper p a:hover{background:rgba(0,0,0,0.3)}
.footerWrapper .left{float:left;}
.footerWrapper .right{float:right;}
h1.title_tabs{padding:0;margin:-5px 0 20px;}
.title_tabs p{font-size:16px;display:inline-block;width:50%;text-align:center;background:#ddd;height:45px;margin:0;line-height:45px;border-bottom:1px solid #ccc;}
.title_tabs p a{color:#333;display:block;width:100%;height:100%;}
.title_tabs p:first-child{border-right:1px solid #ccc;}
.title_tabs p.active{background:#f5f5f5;border-bottom:1px solid #f5f5f5;}
.select_search{border-bottom:1px solid #dedede;margin-bottom:5px;padding-bottom:5px;position:relative;}
.selectBox{float:left;margin:0 0 0 10px;}
.searchForm{padding:0 10px 10px;overflow:hidden;width:60%;float:right;}
.searchForm input{height:30px;border:1px solid #ccc;font-size:12px;float:left;width:80%;border-radius:3px 0 0 3px;border-color:#88d0f9;border-right:none;padding:0 0 0 5px;}
.searchForm button{width:15%;border:none;height:30px;float:left;margin-right:-1px;background:url(../images/search.png) no-repeat center #ccc;}
.searchForm button{float:left;margin-left:10px;background-color:#f0b68b;border-radius:3px;box-shadow:1px 1px 2px rgba(0,0,0,0.09);}
.searchForm button{margin-left:0;border-radius:0 3px 3px 0;width:32px;background-color:#88d0f9;}
.selectBox{position:relative;}
.selectBox a.selectLink{display:block;padding:6px 15px;float:left;}
.selectBox a.selectLink.active{background:#343434;color:#fff;}
.shop_type{position:absolute;background:#343434;z-index:999;top:32px;left:10px;right:10px;padding:10px;box-shadow:1px 1px 1px rgba(0,0,0,0.5);display:none;}
.shop_type p{display:inline-block;margin:0;}
.shop_type p a{display:block;width:100%;height:100%;padding:10px 5px;color:#fff;}

.pageContentWrapper .panel .panel-heading.shop_service a{float:none;font-size:18px;display:block;width:100%;height:100%;padding:8px 15px 8px 12px;color:#333}
.shop_service{background:#f3f3f3;}
.pageContentWrapper .panel .panel-heading.shop_service{padding:0;}
.shop_service i{float:right;margin-top:4px;color:#666}
.service-item{font-size:14px;border-bottom:1px solid #eee;background:#fff;padding:10px;margin-bottom:15px;color:#555;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;box-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.service-item:hover{background:#dffcf2}
.service-item img{width:60px;height:60px;border:1px solid #ddd;padding:2px;margin-right:10px;background:#fff;}
.service-item span{float:right;line-height:60px;margin-right:10px;font-size:14px;color:#f30;}
.service-item span em{font-size:22px;color:#f30;font-family:Georgia;margin-right:3px;}
.shop_service_page .pageTitle{text-align:left;}
.shop_service_page .pageTitle a.btn-phone{float:right;display:block;width:100px;height:28px;background:#60cea6;font-size:12px;text-align:center;line-height:28px;color:#fff;font-weight:400;border-radius:3px;box-shadow:1px 1px 1px rgba(0,0,0,0.1)}
.shop_service_page .pageTitle a.btn-phone:hover{background:#2ac18a;}
.shop_service_page .pageTitle a.btn-phone i{margin-right:3px;font-size:13px;}
.LogoTitle{padding:10px 15px;border-bottom:1px solid #ddd;font:normal 20px Microsoft Yahei;height:50px;line-height:40px;margin-bottom:30px;position:relative;}
.LogoTitle span{width:3px;display:block;height:20px;position:absolute;left:2px;top:21px;background:#368FF4}
.add-form .loginForm{margin:0;padding:0;}
.add-form .loginForm .formFieldWrapper .titleLeft{height:38px;}
.formFieldWrapper input[type='text'],.formFieldWrapper input[type='password']{box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset;border-radius: 2px;}
.add-form .loginForm .msg-box{top:38px;left:70px;}
.add-form .loginForm .formFieldWrapper label.formTitle{width:70px;}
.add-form .loginForm .formButtonWrapper .add-form-button{width:65%;margin-left:70px;margin-top:10px;}
.add-form .loginForm .formFieldWrapper{padding-bottom:25px;}
.masker_tip{background:#37aff4;padding:10px 5px;width:180px;text-align:center;position:fixed;left:50%;top:50%;margin-top:-20px;margin-left:-90px;z-index:9999;color:#fff;border-radius:4px;font-size:16px;display:none;}
.footerWrapper{background:#529bee;position: relative; margin-top: -50px; height: 50px; clear:both;}
/*11.17*/
.yijian_pic{
    padding-top: 0;
    text-align: left;
    margin: 0 0 0 80px;
}
.yijian_pic img{
    margin: 10px 0 0 2px;
}
#show_pic{
    padding: 0 !important;
}
/*å¯¼èˆªæ»šåŠ¨æ¡*/
.main-menu{
    height: 350px !important;
    overflow-y:scroll !important;
}
