/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Structure Elements CSS Rules Start                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.pageBreak {
	height: 0px;
	clear: both;
	margin-bottom: 27px;
	border-top: 3px solid #f0f0f0;
}
.pageBreakBottom {
	height: 0px;
	clear: both;
	border-top: 3px solid #f0f0f0;
}
.pageBreakBoth {
	height: 27px;
	clear: both;
	margin-bottom: 27px;
	border-bottom: 3px solid #f0f0f0;
}
.textBreak {
	height: 4px;
	clear: both;
	margin-bottom: 27px;
	border-bottom: 3px solid #f0f0f0;
}
.textBreakBoth {
	height: 4px;
	clear: both;
	margin-bottom: 23px;
	border-bottom: 3px solid #f0f0f0;
}
.textBreakBottom {
	height: 0px;
	clear: both;
	margin-bottom: 23px;
	border-top: 3px solid #f0f0f0;
}
.pageSpacer {
	height: 4px;
	background: none;
	clear: both;
	width: 100%;
}
.sectionBreak {
	height: 0px;
	clear: both;
	margin-bottom: 36px;
	border-top: 3px solid #f0f0f0;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Structure Elements CSS Rules End                                                                   */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Elements CSS Rules Start                                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.quoteWrapper {
	margin-bottom: 27px;
}
.quoteWrapper > .quoteAvatar {
	margin-right: 12px;
	float: left;
	height: 54px;
	width: 54px;
	border: 3px solid #f0f0f0;
}
.quoteWrapper > .quoteAvatar:hover {
}
.quoteWrapper > blockquote {
	background: none;
	border-left: 3px solid #f0f0f0;
	padding-left: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-style: italic;
	margin-bottom: 0px;
}
.quoteWrapper > blockquote cite {
	clear: both;
	color: #999;
	font-weight: bold;
}
blockquote {
	background: url("../images/common/quoteBg.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/quoteBg.png*/ 0 0 no-repeat;
	padding-left: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-style: italic;
	margin-bottom: 23px;
}
.blockquote cite {
	clear: both;
	color: #999;
	font-weight: bold;
}
.columnWrapper {
	margin-bottom: 27px;
}
.columnWrapper > *:last-child {
	margin-bottom: 0px;
}
.oneHalf {
	float: left;
	width: 46%;
	margin-right: 8%;
}
.oneThird {
	float: left;
	width: 30%;
	margin-right: 5%;
}
.oneFourth {
	float: left;
	width: 22%;
	margin-right: 4%;
}
.oneFifth {
	float: left;
	width: 16.8%;
	margin-right: 4%;
}
.oneSixth {
	float: left;
	width: 13.33%;
	margin-right: 4%;
}
.lastColumn {
	margin-right: 0px;
}
.testimonialsSectionWrapper {
	margin-bottom: 0px;
}
.buttonWrapper {
	height: 16px;
	padding: 4px;
	padding-right: 9px;
	padding-left: 9px;
	color: #fff;
	display: inline-block;
	background-position: 9px center;
	background-repeat: no-repeat;
}
.buttonWrapper:hover {
	text-decoration: none;
}
.buttonMarginRight {
	margin-right: 24px;
}
.buttonDefault, input.buttonDefault {
	background-color: #333;
}
.buttonRed:hover {
}
.buttonRed, input.buttonRed {
	background-color: #f25849;
}
.buttonRed:hover {
}
.buttonPink, input.buttonPink {
	background-color: #fe5d83;
}
.buttonPink:hover {
}
.buttonOrange, input.buttonOrange {
	background-color: #ffb24d;
}
.buttonOrange:hover {
}
.buttonGreen, input.buttonGreen {
	background-color: #65c178;
}
.buttonGreen:hover {
}
.buttonBlue, input.buttonBlue {
	background-color: #4baad3;
}
.buttonBlue:hover {
}
.buttonArrowLeft {
	background-image: url("../images/icons/smallIcons/16/2/iconArrowLeftBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconArrowLeftBg16.png*/;
	padding-left: 34px;
}
.buttonArrowRight {
	background-image: url("../images/icons/smallIcons/16/2/iconArrowRightBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconArrowRightBg16.png*/;
	padding-left: 34px;
}
.buttonBolt {
	background-image: url("../images/icons/smallIcons/16/2/iconBoltBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconBoltBg16.png*/;
	padding-left: 34px;
}
.buttonCalendar {
	background-image: url("../images/icons/smallIcons/16/2/iconCalendarBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCalendarBg16.png*/;
	padding-left: 34px;
}
.buttonCamera {
	background-image: url("../images/icons/smallIcons/16/2/iconCameraBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCameraBg16.png*/;
	padding-left: 34px;
}
.buttonCheckmark {
	background-image: url("../images/icons/smallIcons/16/2/iconCheckmarkBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCheckmarkBg16.png*/;
	padding-left: 34px;
}
.buttonComment {
	background-image: url("../images/icons/smallIcons/16/2/iconCommentBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCommentBg16.png*/;
	padding-left: 34px;
}
.buttonDelete {
	background-image: url("../images/icons/smallIcons/16/2/iconDeleteBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconDeleteBg16.png*/;
	padding-left: 34px;
}
.buttonEdit {
	background-image: url("../images/icons/smallIcons/16/2/iconEditBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconEditBg16.png*/;
	padding-left: 34px;
}
.buttonEmail {
	background-image: url("../images/icons/smallIcons/16/2/iconEmailBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconEmailBg16.png*/;
	padding-left: 34px;
}
.buttonExpand {
	background-image: url("../images/icons/smallIcons/16/2/iconExpandBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconExpandBg16.png*/;
	padding-left: 34px;
}
.buttonFlag {
	background-image: url("../images/icons/smallIcons/16/2/iconFlagBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconFlagBg16.png*/;
	padding-left: 34px;
}
.buttonGear {
	background-image: url("../images/icons/smallIcons/16/2/iconGearBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconGearBg16.png*/;
	padding-left: 34px;
}
.buttonGraph {
	background-image: url("../images/icons/smallIcons/16/2/iconGraphBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconGraphBg16.png*/;
	padding-left: 34px;
}
.buttonHome {
	background-image: url("../images/icons/smallIcons/16/2/iconHomeBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconHomeBg16.png*/;
	padding-left: 34px;
}
.buttonLocation {
	background-image: url("../images/icons/smallIcons/16/2/iconLocationBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconLocationBg16.png*/;
	padding-left: 34px;
}
.buttonMinus {
	background-image: url("../images/icons/smallIcons/16/2/iconMinusBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconMinusBg16.png*/;
	padding-left: 34px;
}
.buttonMobile {
	background-image: url("../images/icons/smallIcons/16/2/iconMobileBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconMobileBg16.png*/;
	padding-left: 34px;
}
.buttonNo {
	background-image: url("../images/icons/smallIcons/16/2/iconNoBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconNoBg16.png*/;
	padding-left: 34px;
}
.buttonPlus {
	background-image: url("../images/icons/smallIcons/16/2/iconPlusBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconPlusBg16.png*/;
	padding-left: 34px;
}
.buttonRefresh {
	background-image: url("../images/icons/smallIcons/16/2/iconRefreshBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconRefreshBg16.png*/;
	padding-left: 34px;
}
.buttonSearch {
	background-image: url("../images/icons/smallIcons/16/2/iconSearchBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconSearchBg16.png*/;
	padding-left: 34px;
}
.buttonStar {
	background-image: url("../images/icons/smallIcons/16/2/iconStarBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconStarBg16.png*/;
	padding-left: 34px;
}
.buttonTag {
	background-image: url("../images/icons/smallIcons/16/2/iconTagBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconTagBg16.png*/;
	padding-left: 34px;
}
.servicesPageContent {
	padding-bottom: 0px;
}
.serviceWrapper {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 27px;
}
.serviceWrapper > .buttonWrapper {
	margin-top: 4px;
}
.serviceIcon {
	height: 32px;
	display: block;
	padding-left: 44px;
	line-height: 32px;
	font-size: 14px;
	margin-bottom: 18px;
	color: #fff;
}
.serviceIconArrowDownLight {
	background: url("../images/icons/servicesIcons/32/1/iconArrowDownBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconArrowDownBg32.png*/ 0 0 no-repeat;
}
.serviceIconAttachLight {
	background: url("../images/icons/servicesIcons/32/1/iconAttachBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconAttachBg32.png*/ 0 0 no-repeat;
}
.serviceIconBoltLight {
	background: url("../images/icons/servicesIcons/32/1/iconBoltBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconBoltBg32.png*/ 0 0 no-repeat;
}
.serviceIconCameraLight {
	background: url("../images/icons/servicesIcons/32/1/iconCameraBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconCameraBg32.png*/ 0 0 no-repeat;
}
.serviceIconCartLight {
	background: url("../images/icons/servicesIcons/32/1/iconCartBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconCartBg32.png*/ 0 0 no-repeat;
}
.serviceIconChartLight {
	background: url("../images/icons/servicesIcons/32/1/iconChartBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconChartBg32.png*/ 0 0 no-repeat;
}
.serviceIconCheckmarkLight {
	background: url("../images/icons/servicesIcons/32/1/iconCheckmarkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconCheckmarkBg32.png*/ 0 0 no-repeat;
}
.serviceIconClockLight {
	background: url("../images/icons/servicesIcons/32/1/iconClockBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconClockBg32.png*/ 0 0 no-repeat;
}
.serviceIconCommentLight {
	background: url("../images/icons/servicesIcons/32/1/iconCommentBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconCommentBg32.png*/ 0 0 no-repeat;
}
.serviceIconDollarLight {
	background: url("../images/icons/servicesIcons/32/1/iconDollarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconDollarBg32.png*/ 0 0 no-repeat;
}
.serviceIconFilesLight {
	background: url("../images/icons/servicesIcons/32/1/iconFilesBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconFilesBg32.png*/ 0 0 no-repeat;
}
.serviceIconFlagLight {
	background: url("../images/icons/servicesIcons/32/1/iconFlagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconFlagBg32.png*/ 0 0 no-repeat;
}
.serviceIconGearLight {
	background: url("../images/icons/servicesIcons/32/1/iconGearBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconGearBg32.png*/ 0 0 no-repeat;
}
.serviceIconGlobeLight {
	background: url("../images/icons/servicesIcons/32/1/iconGlobeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconGlobeBg32.png*/ 0 0 no-repeat;
}
.serviceIconHeartLight {
	background: url("../images/icons/servicesIcons/32/1/iconHeartBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconHeartBg32.png*/ 0 0 no-repeat;
}
.serviceIconInfoLight {
	background: url("../images/icons/servicesIcons/32/1/iconInfoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconInfoBg32.png*/ 0 0 no-repeat;
}
.serviceIconKeyLight {
	background: url("../images/icons/servicesIcons/32/1/iconKeyBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconKeyBg32.png*/ 0 0 no-repeat;
}
.serviceIconLinkLight {
	background: url("../images/icons/servicesIcons/32/1/iconLinkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconLinkBg32.png*/ 0 0 no-repeat;
}
.serviceIconNoLight {
	background: url("../images/icons/servicesIcons/32/1/iconNoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconNoBg32.png*/ 0 0 no-repeat;
}
.serviceIconRefreshLight {
	background: url("../images/icons/servicesIcons/32/1/iconRefreshBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconRefreshBg32.png*/ 0 0 no-repeat;
}
.serviceIconScreenLight {
	background: url("../images/icons/servicesIcons/32/1/iconScreenBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconScreenBg32.png*/ 0 0 no-repeat;
}
.serviceIconSearchLight {
	background: url("../images/icons/servicesIcons/32/1/iconSearchBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconSearchBg32.png*/ 0 0 no-repeat;
}
.serviceIconUserLight {
	background: url("../images/icons/servicesIcons/32/1/iconUserBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconUserBg32.png*/ 0 0 no-repeat;
}
.serviceIconWarningLight {
	background: url("../images/icons/servicesIcons/32/1/iconWarningBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/1/iconWarningBg32.png*/ 0 0 no-repeat;
}
.serviceIconArrowDownDark {
	background: url("../images/icons/servicesIcons/32/2/iconArrowDownBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconArrowDownBg32.png*/ 0 0 no-repeat;
}
.serviceIconAttachDark {
	background: url("../images/icons/servicesIcons/32/2/iconAttachBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconAttachBg32.png*/ 0 0 no-repeat;
}
.serviceIconBoltDark {
	background: url("../images/icons/servicesIcons/32/2/iconBoltBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconBoltBg32.png*/ 0 0 no-repeat;
}
.serviceIconCameraDark {
	background: url("../images/icons/servicesIcons/32/2/iconCameraBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconCameraBg32.png*/ 0 0 no-repeat;
}
.serviceIconCartDark {
	background: url("../images/icons/servicesIcons/32/2/iconCartBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconCartBg32.png*/ 0 0 no-repeat;
}
.serviceIconChartDark {
	background: url("../images/icons/servicesIcons/32/2/iconChartBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconChartBg32.png*/ 0 0 no-repeat;
}
.serviceIconCheckmarkDark {
	background: url("../images/icons/servicesIcons/32/2/iconCheckmarkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconCheckmarkBg32.png*/ 0 0 no-repeat;
}
.serviceIconClockDark {
	background: url("../images/icons/servicesIcons/32/2/iconClockBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconClockBg32.png*/ 0 0 no-repeat;
}
.serviceIconCommentDark {
	background: url("../images/icons/servicesIcons/32/2/iconCommentBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconCommentBg32.png*/ 0 0 no-repeat;
}
.serviceIconDollarDark {
	background: url("../images/icons/servicesIcons/32/2/iconDollarBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconDollarBg32.png*/ 0 0 no-repeat;
}
.serviceIconFilesDark {
	background: url("../images/icons/servicesIcons/32/2/iconFilesBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconFilesBg32.png*/ 0 0 no-repeat;
}
.serviceIconFlagDark {
	background: url("../images/icons/servicesIcons/32/2/iconFlagBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconFlagBg32.png*/ 0 0 no-repeat;
}
.serviceIconGearDark {
	background: url("../images/icons/servicesIcons/32/2/iconGearBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconGearBg32.png*/ 0 0 no-repeat;
}
.serviceIconGlobeDark {
	background: url("../images/icons/servicesIcons/32/2/iconGlobeBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconGlobeBg32.png*/ 0 0 no-repeat;
}
.serviceIconHeartDark {
	background: url("../images/icons/servicesIcons/32/2/iconHeartBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconHeartBg32.png*/ 0 0 no-repeat;
}
.serviceIconInfoDark {
	background: url("../images/icons/servicesIcons/32/2/iconInfoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconInfoBg32.png*/ 0 0 no-repeat;
}
.serviceIconKeyDark {
	background: url("../images/icons/servicesIcons/32/2/iconKeyBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconKeyBg32.png*/ 0 0 no-repeat;
}
.serviceIconLinkDark {
	background: url("../images/icons/servicesIcons/32/2/iconLinkBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconLinkBg32.png*/ 0 0 no-repeat;
}
.serviceIconNoDark {
	background: url("../images/icons/servicesIcons/32/2/iconNoBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconNoBg32.png*/ 0 0 no-repeat;
}
.serviceIconRefreshDark {
	background: url("../images/icons/servicesIcons/32/2/iconRefreshBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconRefreshBg32.png*/ 0 0 no-repeat;
}
.serviceIconScreenDark {
	background: url("../images/icons/servicesIcons/32/2/iconScreenBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconScreenBg32.png*/ 0 0 no-repeat;
}
.serviceIconSearchDark {
	background: url("../images/icons/servicesIcons/32/2/iconSearchBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconSearchBg32.png*/ 0 0 no-repeat;
}
.serviceIconUserDark {
	background: url("../images/icons/servicesIcons/32/2/iconUserBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconUserBg32.png*/ 0 0 no-repeat;
}
.serviceIconWarningDark {
	background: url("../images/icons/servicesIcons/32/2/iconWarningBg32.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/servicesIcons/32/2/iconWarningBg32.png*/ 0 0 no-repeat;
}
.highlight {
	height: 18px;
	line-height: 18px;
	color: #fff;
	display: inline;
	padding-left: 3px;
	padding-right: 3px;	
}
.highlightDefault{
    background-color: #333;
}
.highlightOrange {
	background-color: #ffb24d;
}
.highlightRed {
	background-color: #f25849;
}
.highlightGreen {
	background-color: #65c178;
}
.highlightBlue {
	background-color: #4baad3;
}
.highlightPink {
	background-color: #fe5d83;
}
.alertBox {
	padding-top: 20px;
	padding-right: 38px;
	padding-left: 40px;
	padding-bottom: 20px;
	color: #333;
	background-position: 12px 21px;
	background-repeat: no-repeat;
	margin-bottom: 27px;
}
.alertBoxTextBreak {
	margin-bottom: 23px;
}
.alertBoxWarning {
	background-color: #ffb24d;
	background-image: url("../images/common/alertBoxWarningBg.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxWarningBg.png*/;
}
.alertBoxStop {
	background-color: #f25849;
	background-image: url("../images/common/alertBoxStopBg.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxStopBg.png*/;
}
.alertBoxGo {
	background-color: #65c178;
	background-image: url("../images/common/alertBoxGoBg.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxGoBg.png*/;
}
.alertBoxInfo {
	background-color: #4baad3;
	background-image: url("../images/common/alertBoxInfoBg.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxInfoBg.png*/;
}
.alertBoxContent {
	border-left: 1px solid rgba(0, 0, 0, 0.18);
	padding-left: 12px;
	margin-bottom: 0px;
}
.alertBoxButton {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 16px;
	width: 16px;
	background: url("../images/common/alertBoxButtonBg.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/common/alertBoxButtonBg.png*/ 0 0 no-repeat;
}
.accordionWrapper > *:last-child {
	margin-bottom: 0px;
}
.accordionItemWrapper {
	margin-bottom: 27px;
}
.accordionButton {
	background-color: #f0f0f0;
	padding-left: 6px;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	color: #666;
}
.accordionButton .accordionButtonIcon {
	background: url("../images/skins/default/accordionButtonBg.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/skins/default/accordionButtonBg.png*/ 0 0 no-repeat;
	height: 16px;
	width: 16px;
	margin-right: 12px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 6px;
	float: left;
}
.accordionButton .accordionButtonTitle {
	float: left;
}
.accordionButton:hover {
	text-decoration: none;
}
.currentAccordion .accordionButtonIcon {
	background-position: 0px -16px;
}
.accordionContentWrapper {
	display: none;
}
.accordionContent {
	padding: 12px;
	border: 1px solid #f0f0f0;
	margin-top: 27px;
}
.accordionContentWrapper .accordionContent > *:last-child {
	margin-bottom: 0px;
}
.largeImage {
	border: 3px solid #f0f0f0;
	margin-bottom: 23px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.iconWrapper {
	min-height: 16px;
	padding-left: 25px;
	background-position: left center;
	background-repeat: no-repeat;
}
.singleIconWrapper {
	padding-left: 16px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-position: left center;
	background-repeat: no-repeat;
	display: inline;
}
.singleIconText {
	padding-left: 28px;
}
.iconArrowLeftLight {
	background-image: url("../images/icons/smallIcons/16/1/iconArrowLeftBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconArrowLeftBg16.png*/;
}
.iconArrowRightLight {
	background-image: url("../images/icons/smallIcons/16/1/iconArrowRightBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconArrowRightBg16.png*/;
}
.iconBoltLight {
	background-image: url("../images/icons/smallIcons/16/1/iconBoltBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconBoltBg16.png*/;
}
.iconCalendarLight {
	background-image: url("../images/icons/smallIcons/16/1/iconCalendarBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconCalendarBg16.png*/;
}
.iconCameraLight {
	background-image: url("../images/icons/smallIcons/16/1/iconCameraBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconCameraBg16.png*/;
}
.iconCheckmarkLight {
	background-image: url("../images/icons/smallIcons/16/1/iconCheckmarkBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconCheckmarkBg16.png*/;
}
.iconCommentLight {
	background-image: url("../images/icons/smallIcons/16/1/iconCommentBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconCommentBg16.png*/;
}
.iconDeleteLight {
	background-image: url("../images/icons/smallIcons/16/1/iconDeleteBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconDeleteBg16.png*/;
}
.iconEditLight {
	background-image: url("../images/icons/smallIcons/16/1/iconEditBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconEditBg16.png*/;
}
.iconEmailLight {
	background-image: url("../images/icons/smallIcons/16/1/iconEmailBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconEmailBg16.png*/;
}
.iconExpandLight {
	background-image: url("../images/icons/smallIcons/16/1/iconExpandBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconExpandBg16.png*/;
}
.iconFlagLight {
	background-image: url("../images/icons/smallIcons/16/1/iconFlagBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconFlagBg16.png*/;
}
.iconGearLight {
	background-image: url("../images/icons/smallIcons/16/1/iconGearBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconGearBg16.png*/;
}
.iconGraphLight {
	background-image: url("../images/icons/smallIcons/16/1/iconGraphBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconGraphBg16.png*/;
}
.iconHomeLight {
	background-image: url("../images/icons/smallIcons/16/1/iconHomeBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconHomeBg16.png*/;
}
.iconLocationLight {
	background-image: url("../images/icons/smallIcons/16/1/iconLocationBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconLocationBg16.png*/;
}
.iconMinusLight {
	background-image: url("../images/icons/smallIcons/16/1/iconMinusBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconMinusBg16.png*/;
}
.iconMobileLight {
	background-image: url("../images/icons/smallIcons/16/1/iconMobileBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconMobileBg16.png*/;
}
.iconNoLight {
	background-image: url("../images/icons/smallIcons/16/1/iconNoBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconNoBg16.png*/;
}
.iconPlusLight {
	background-image: url("../images/icons/smallIcons/16/1/iconPlusBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconPlusBg16.png*/;
}
.iconRefreshLight {
	background-image: url("../images/icons/smallIcons/16/1/iconRefreshBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconRefreshBg16.png*/;
}
.iconSearchLight {
	background-image: url("../images/icons/smallIcons/16/1/iconSearchBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconSearchBg16.png*/;
}
.iconStarLight {
	background-image: url("../images/icons/smallIcons/16/1/iconStarBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconStarBg16.png*/;
}
.iconTagLight {
	background-image: url("../images/icons/smallIcons/16/1/iconTagBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/1/iconTagBg16.png*/;
}
.iconArrowLeftDark {
	background-image: url("../images/icons/smallIcons/16/2/iconArrowLeftBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconArrowLeftBg16.png*/;
}
.iconArrowRightDark {
	background-image: url("../images/icons/smallIcons/16/2/iconArrowRightBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconArrowRightBg16.png*/;
}
.iconBoltDark {
	background-image: url("../images/icons/smallIcons/16/2/iconBoltBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconBoltBg16.png*/;
}
.iconCalendarDark {
	background-image: url("../images/icons/smallIcons/16/2/iconCalendarBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCalendarBg16.png*/;
}
.iconCameraDark {
	background-image: url("../images/icons/smallIcons/16/2/iconCameraBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCameraBg16.png*/;
}
.iconCheckmarkDark {
	background-image: url("../images/icons/smallIcons/16/2/iconCheckmarkBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCheckmarkBg16.png*/;
}
.iconCommentDark {
	background-image: url("../images/icons/smallIcons/16/2/iconCommentBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconCommentBg16.png*/;
}
.iconDeleteDark {
	background-image: url("../images/icons/smallIcons/16/2/iconDeleteBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconDeleteBg16.png*/;
}
.iconEditDark {
	background-image: url("../images/icons/smallIcons/16/2/iconEditBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconEditBg16.png*/;
}
.iconEmailDark {
	background-image: url("../images/icons/smallIcons/16/2/iconEmailBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconEmailBg16.png*/;
}
.iconExpandDark {
	background-image: url("../images/icons/smallIcons/16/2/iconExpandBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconExpandBg16.png*/;
}
.iconFlagDark {
	background-image: url("../images/icons/smallIcons/16/2/iconFlagBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconFlagBg16.png*/;
}
.iconGearDark {
	background-image: url("../images/icons/smallIcons/16/2/iconGearBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconGearBg16.png*/;
}
.iconGraphDark {
	background-image: url("../images/icons/smallIcons/16/2/iconGraphBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconGraphBg16.png*/;
}
.iconHomeDark {
	background-image: url("../images/icons/smallIcons/16/2/iconHomeBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconHomeBg16.png*/;
}
.iconLocationDark {
	background-image: url("../images/icons/smallIcons/16/2/iconLocationBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconLocationBg16.png*/;
}
.iconMinusDark {
	background-image: url("../images/icons/smallIcons/16/2/iconMinusBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconMinusBg16.png*/;
}
.iconMobileDark {
	background-image: url("../images/icons/smallIcons/16/2/iconMobileBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconMobileBg16.png*/;
}
.iconNoDark {
	background-image: url("../images/icons/smallIcons/16/2/iconNoBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconNoBg16.png*/;
}
.iconPlusDark {
	background-image: url("../images/icons/smallIcons/16/2/iconPlusBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconPlusBg16.png*/;
}
.iconRefreshDark {
	background-image: url("../images/icons/smallIcons/16/2/iconRefreshBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconRefreshBg16.png*/;
}
.iconSearchDark {
	background-image: url("../images/icons/smallIcons/16/2/iconSearchBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconSearchBg16.png*/;
}
.iconStarDark {
	background-image: url("../images/icons/smallIcons/16/2/iconStarBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconStarBg16.png*/;
}
.iconTagDark {
	background-image: url("../images/icons/smallIcons/16/2/iconTagBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/smallIcons/16/2/iconTagBg16.png*/;
}
.socialIconFacebookLight {
	background-image: url("../images/icons/socialIcons/16/1/iconFacebookBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconFacebookBg16.png*/;
}
.socialIconRssLight {
	background-image: url("../images/icons/socialIcons/16/1/iconRssBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconRssBg16.png*/;
}
.socialIconDribbbleLight {
	background-image: url("../images/icons/socialIcons/16/1/iconDribbbleBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconDribbbleBg16.png*/;
}
.socialIconVimeoLight {
	background-image: url("../images/icons/socialIcons/16/1/iconVimeoBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconVimeoBg16.png*/;
}
.socialIconTwitterLight {
	background-image: url("../images/icons/socialIcons/16/1/iconTwitterBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconTwitterBg16.png*/;
}
.socialIconDeviantArtLight {
	background-image: url("../images/icons/socialIcons/16/1/iconDeviantArtBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconDeviantArtBg16.png*/;
}
.socialIconLinkedInLight {
	background-image: url("../images/icons/socialIcons/16/1/iconLinkedInBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconLinkedInBg16.png*/;
}
.socialIconYouTubeLight {
	background-image: url("../images/icons/socialIcons/16/1/iconYouTubeBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconYouTubeBg16.png*/;
}
.socialIconPicasaLight {
	background-image: url("../images/icons/socialIcons/16/1/iconPicasaBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconPicasaBg16.png*/;
}
.socialIconFlickrLight {
	background-image: url("../images/icons/socialIcons/16/1/iconFlickrBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconFlickrBg16.png*/;
}
.socialIconSkypeLight {
	background-image: url("../images/icons/socialIcons/16/1/iconSkypeBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconSkypeBg16.png*/;
}
.socialIconWordPressLight {
	background-image: url("../images/icons/socialIcons/16/1/iconWordPressBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/1/iconWordPressBg16.png*/;
}
.socialIconFacebookDark {
	background-image: url("../images/icons/socialIcons/16/2/iconFacebookBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconFacebookBg16.png*/;
}
.socialIconRssDark {
	background-image: url("../images/icons/socialIcons/16/2/iconRssBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconRssBg16.png*/;
}
.socialIconDribbbleDark {
	background-image: url("../images/icons/socialIcons/16/2/iconDribbbleBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconDribbbleBg16.png*/;
}
.socialIconVimeoDark {
	background-image: url("../images/icons/socialIcons/16/2/iconVimeoBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconVimeoBg16.png*/;
}
.socialIconTwitterDark {
	background-image: url("../images/icons/socialIcons/16/2/iconTwitterBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconTwitterBg16.png*/;
}
.socialIconDeviantArtDark {
	background-image: url("../images/icons/socialIcons/16/2/iconDeviantArtBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconDeviantArtBg16.png*/;
}
.socialIconLinkedInDark {
	background-image: url("../images/icons/socialIcons/16/2/iconLinkedInBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconLinkedInBg16.png*/;
}
.socialIconYouTubeDark {
	background-image: url("../images/icons/socialIcons/16/2/iconYouTubeBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconYouTubeBg16.png*/;
}
.socialIconPicasaDark {
	background-image: url("../images/icons/socialIcons/16/2/iconPicasaBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconPicasaBg16.png*/;
}
.socialIconFlickrDark {
	background-image: url("../images/icons/socialIcons/16/2/iconFlickrBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconFlickrBg16.png*/;
}
.socialIconSkypeDark {
	background-image: url("../images/icons/socialIcons/16/2/iconSkypeBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconSkypeBg16.png*/;
}
.socialIconWordPressDark {
	background-image: url("../images/icons/socialIcons/16/2/iconWordPressBg16.png")/*tpa=http://envato.pixek.com/mobile/items/themeforest/runio/images/icons/socialIcons/16/2/iconWordPressBg16.png*/;
}
.pageWrapper > .accordionWrapper:last-child > .accordionItemWrapper:last-child {
	margin-bottom: 0px;
}
.columnWrapper > .accordionWrapper:last-child > .accordionItemWrapper:last-child {
	margin-bottom: 0px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Elements CSS Rules End                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
