	<script>require(['bootstrap']);</script>
	<div class="container-fluid footer" role="footer">
		<div class="page-header"></div>
		<span class="pull-left">
			<p>{if empty($_W['setting']['copyright']['footerleft'])}Powered by <a href="http://gxxsh.com.cn"><b>学晟惠</b></a> v{IMS_VERSION} &copy; 2014-2015 <a href="http://gxxsh.com.cn">gxxsh.com.cn</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}</p>
		</span>
		<span class="pull-right">
			<p>{if empty($_W['setting']['copyright']['footerright'])}<a href="http://gxxsh.com.cn">关于学晟惠</a><a href="http://mallgxxsh">学晟惠帮助</a>{else}{$_W['setting']['copyright']['footerright']}{/if}{if !empty($_W['setting']['copyright']['statcode'])}&nbsp; &nbsp; {$_W['setting']['copyright']['statcode']}{/if}</p>
		</span>
	</div>
</body>
</html>
