{template 'header'}
<div id="main_container">

    <div id="logo">
    <h1><a href="#">{$title}</a></h1>
    </div>

    
        <div class="home_slidermenu">
             <div class="coda-nav-left" id="coda-nav-left-1"><a href="#"></a></div>
            <div class="coda-slider-wrapper">  
                <div class="coda-slider preload" id="coda-slider-1">
                {loop $navs $i $nav}
                    <div class="panel">
                        <div class="panel-wrapper">
                        <a href="{$nav['url']}">
                        	{if !empty($nav['icon'])}
                            	<img src="{$_W['attachurl']}{$nav['icon']}" alt="" border="0" width="128" height="149"/></span>
                            {else}                                            
                            	<span class="{$nav['css']['icon']['icon']}" style="{$nav['css']['icon']['style']}"></span>
                            {/if}
                        </a>
                        
                        <h2><a href="{$nav['url']}">{$nav['name']}</a></h2>
                        </div>
                    </div>
      	    	{/loop}	
               </div>
            </div>
           
            <div class="coda-nav-right" id="coda-nav-right-1"><a href="#"></a></div>
        </div> 
        
        <div class="footer">
        {if empty($footer_off)}<div id="footer">&copy;{if empty($_W['account']['name'])}学晟惠{else}Copyright 2014. {$_W['account']['name']}{/if}</div>{/if}
        </div>
    
</div>

<script language="JavaScript1.2">


var speed, currentpos=curpos1=0,alt=1,curpos2=-1

function initialize(){
if (window.parent.scrollspeed!=0){
speed=window.parent.scrollspeed
scrollwindow()
}
}

function scrollwindow(){
temp=(document.all)? document.body.scrollTop : window.pageYOffset
alt=(alt==0)? 1 : 0
if (alt==0)
curpos1=temp
else
curpos2=temp

window.scrollBy(0,speed)
}

setInterval("initialize()",10)

</script>
</body>
</html>