<div class="control-group js_scene_style js_t2share hide">
	<div class="control-group">
		<label for="" class="control-label">提示文字：</label>
		<div class="controls">
 			<input type="text" class="input-large" name="t2share[str]"  value="{$data['str']}"  placeholder="提示文字：" />
		</div>
 	</div>
	<div class="control-group">
		<label for="" class="control-label">分享图片：</label>
		<div class="controls">
            <div id="share_image_uploads" style="width:330px;">
                {php echo tpl_form_field_image('t2share[share_thumb]', $data['share_thumb'])}
            </div>
            <div class="help-inline">（建议尺寸:宽640像素,高960像素或等比图片）</div>
		</div>
	</div>										
</div>