<div class="js_scene_style js_t2tel hide">
 	<div class="control-group">    
		<label for="" class="control-label">提示文字：</label>
		<div class="controls">
 			<input type="text" class="input-large" name="t2tel[str]"  value="{$data['str']}"  placeholder="提示文字" />
		</div>
	</div>
	<div class="control-group">
		<label for="" class="control-label">电话：</label>
		<div class="controls">
			<input type="text" class="input-xlarge" name="t2tel[tel]" value="{$data['tel']}" placeholder="请输入电话号码" data-rule-required="true" data-rule-phone="true"/>
			<span class="help-block">请填写真实的电话号码</span>
		</div>
	</div>
</div>