{template 'header'}
<style>
#footer {
    bottom: 0;
    margin-bottom: 45px;
    position: inherit;
    text-align: center;
}
{$_W['styles']['css']}
</style>
<link type="text/css" rel="stylesheet" href="themes/mobile/style41/css/blue001.css">
<div id="doc" class="doc">
  <div class="container">
    <div class="box_main">
      <header class="top">
        <div class="logo"><a title="技术支持@学晟惠(WDL)&copy;{if empty($_W['account']['name'])}学晟惠{else}{$_W['account']['name']}{/if}" href="#"><img width="100%" alt="技术支持@学晟惠(WDL)&copy;{if empty($_W['account']['name'])}学晟惠{else}{$_W['account']['name']}{/if}" src="{if empty($_W['styles']['indexbgimg'])}./themes/mobile/style41/images/logo.png{else}{$_W['styles']['indexbgimg']}{/if}"></a></div>
        <div name="栏目导航" class="navigation" id="divNav">
          <nav class="menu" id="navbgColor" config-style-data="{&quot;IsDefault&quot;:&quot;1&quot;,&quot;BgColor&quot;:&quot;#ddd&quot;,&quot;BgImg&quot;:null,&quot;TextColor&quot;:&quot;#ddd&quot;,&quot;HoverBgColor&quot;:&quot;#ddd&quot;,&quot;HoverBgImage&quot;:null,&quot;HoverTextColor&quot;:&quot;#ddd&quot;}" style="">
            <ul class="navBody" id="menu">
			{loop $navs $nav}
              <li><a href="{$nav['url']}">{$nav['name']}</a></li>
			  {/loop}
            </ul>
          </nav>
        </div>
      </header>
	  {template 'slide'}
	  <div class="content_box" id="divProductWindowRow">
                <div class="title">
                  <p class="tit_name"> 产品展示</p>
                  <p class="more"><a href="#">更多&gt;&gt;</a></p>
                </div>
                <div class="list_box">
                  <div class="pro_list">
			{data func="site_article" return="true" iscommend="true" assign="result"}
	        {loop $result['list'] $row}
					<dl>
                      <dt><a title="{$row['title']}" href="{$row['url']}">{if $row['thumb']}<img width="100%" alt="{$row['title']}" src="{$_W['attachurl']}{$row['thumb']}">{/if}</a></dt>
                      <dd><a title="{$row['title']}" href="#">{$row['title']}</a></dd>
                    </dl>
					{/loop}
                  </div>
                </div>
              </div>
			  <div class="content_box" id="divnewslist">
                <div class="title">
                  <p class="tit_name">新闻列表</p>
                  <p class="more"><a href="#">更多&gt;&gt;</a></p>
                </div>
                <div class="list_box">
                  <div class="news_list">
                    <ul>
			{data func="site_article" return="true" ishot="true" assign="result"}
	        {loop $result['list'] $row}
				<li><a title="{$v['title']}" href="{$row['url']}">{$row['title']}</a>
                        <time>{php echo date('Y-m-d H:i:s', $row['createtime'])}</time>
                      </li>
						{/loop}
                    </ul>
                  </div>
                </div>
              </div>
      <div class="clear"></div>
      <div class="body_footer" style="position:fixed;">
        <ul id="doc" config-style-data="{&quot;MobSpControlStyle&quot;:{&quot;ContentBorderColor&quot;:&quot;#ddd&quot;,&quot;ContentLinkColor&quot;:&quot;#ddd&quot;,&quot;ContentOpacity&quot;:1,&quot;ContentTextColor&quot;:&quot;#ddd&quot;,&quot;IsContentBorder&quot;:1,&quot;IsDefault&quot;:1,&quot;TitleBgColor&quot;:&quot;#ddd&quot;,&quot;TitleBgImage&quot;:null,&quot;TitleTextColor&quot;:&quot;#ddd&quot;},&quot;MobSpNavigationListStyle&quot;:{&quot;BgColor&quot;:&quot;#ddd&quot;,&quot;BgImage&quot;:null,&quot;HoverBgColor&quot;:&quot;#ddd&quot;,&quot;HoverBgImage&quot;:null,&quot;HoverTextColor&quot;:&quot;#ddd&quot;,&quot;IsDefault&quot;:1,&quot;TextColor&quot;:&quot;#ddd&quot;}}">
		{php $num = 1;}
		{loop $_W['quick'] $nav}
          <li><a title="{$nav['name']}" href="{$nav['url']}"><dl><dt><img alt="{$nav['name']}" src="themes/mobile/style41/images/icon_{$num}.png"></dt><dd>{$nav['name']}</dd></dl></a></li>
		 {php $num++;}
			{/loop}
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call('hideToolbar');
});
</script>
{template 'footer'}