{template 'header'}
{template 'slide'}
<link rel="stylesheet" type="text/css" href="./themes/style79/style/reset.css" media="all" />
<link type="text/css" rel="stylesheet" href="./themes/style79/style/list.css" />
</head>
<body>
<div class="mainshowtop">
<div class="cate_list">
{loop $navs $key $nav}
{if $key == 0}
        <div class="cate_lo add_qq_more">
            <a href="{$nav['url']}">
                <p class="m_text">{$nav['name']}</p>
                <p class="m_desc" style="font-size:12px;">{$nav['description']}</p>
                <p style="text-align:right;"><img src="{$_W['attachurl']}{$nav['icon']}" class="m_pic"></p>
            </a>
        </div>	
{elseif $key == 1 || $key == 2 || $key == 3 || $key == 4}
        <div class="cate_lp add_qq_more">
            <a href="{$nav['url']}">
                <p style="text-align:center;"><img src="{$_W['attachurl']}{$nav['icon']}" class="m_pic"></p>
                <p class="m_text">{$nav['name']}</p>
            </a>
        </div>
{elseif $key == 5 || $key == 6}
        <div class="cate_lol add_qq_more">
            <a href="{$nav['url']}">
                <p style="text-align:right;"><img src="{$_W['attachurl']}{$nav['icon']}" class="m_pic"></p>
            </a>
        </div>
{elseif $key == 7 || $key == 8 || $key == 9 || $key == 10}		
        <div class="cate_lp add_qq_more">
            <a href="{$nav['url']}">								
                <p style="text-align:center;"><img src="{$_W['attachurl']}{$nav['icon']}" class="m_pic"></p>
                <p class="m_text">{$nav['name']}</p>
            </a>
        </div>
{/if}
{/loop}		
    </div></div>
	{if empty($footer_off)}<div id="footer" style="position:relative">&copy;{if empty($_W['account']['name'])}学晟惠团队{else}{$_W['account']['name']}{/if}&nbsp;&nbsp;{$_W['setting']['copyright']['statcode']}</div>{/if}
</div>
{if $_W['quickmenu']['menus']}
	<?php  include template($_W['quickmenu']['template'], TEMPLATE_INCLUDEPATH);?>
{/if}
<script type="text/javascript">
$(function() {
	$(".user-box .box-item").each(function(i) {
		i = i +1;
		if(i%3 == 0) $(this).css("border-right", "0");
	});
	$(window).scroll(function(){
		$(".menu-button").find("i").removeClass("icon-minus-sign").addClass("icon-plus-sign");
		$(".menu-main").hide();
	});
	$(".menu-main a").click(function(){ $(".menu-main").hide(); });

	//控制tab宽度
	var profile_tab = $(".nav-tabs li");
	profile_tab.css({"width": 100/profile_tab.length+"%", "text-align": "center"});

	//手机表单处理
	$(".form-table").delegate(".checkbox input[type='checkbox']", "click", function(){
		$(this).parent().toggleClass("btn-inverse");
	});
	$(".form-table").delegate(".file input[type='file']", "change", function(){
		var a = $(this).next("button");
		a.html(a.html() +' '+  $(this).val());
	});

	//处理固定横向导航条
	var navbarFixedTop = false, navbarFixedBottom = false;
	navbarFixedTop = $(".navbar").hasClass("navbar-fixed-top");
	navbarFixedBottom = $(".navbar").hasClass("navbar-fixed-bottom");
	if(navbarFixedTop) $("body").css("padding-top", "41px");
	if(navbarFixedBottom) $("body").css("padding-bottom", "41px");
});

//对分享时的数据处理
function _removeHTMLTag(str) {
	str = str.replace(/<script[^>]*?>[\s\S]*?<\/script>/g,'');
	str = str.replace(/<style[^>]*?>[\s\S]*?<\/style>/g,'');
    str = str.replace(/<\/?[^>]*>/g,'');
    str = str.replace(/\s+/g,'');
    str = str.replace(/&nbsp;/ig,'');
    return str;
}
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	<?php
		$_share = array();
		$_share['title'] = (empty($title)) ? $_W['account']['name'] : $title;
		$_share['link'] = 'http://'.$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] . '&wxref=mp.weixin.qq.com';
		$_share['img'] = $_W['siteroot'] . 'source/modules/' . $_GPC['name'] . '/icon.jpg';
	?>
	var _share_img = $('body img:eq(0)').attr("src");
	if(typeof(_share_img) == "undefined") _share_img = "{$_share['img']}";
	var _share_content = _removeHTMLTag($('body').html()).replace("{$_share['title']}",'');

	window.shareData = {
		"imgUrl": _share_img,
		"timeLineLink": "{$_share['link']}",
		"sendFriendLink": "{$_share['link']}",
		"weiboLink": "{$_share['link']}",
		"tTitle": "{$_share['title']}",
		"tContent":  _share_content,
		"fTitle": "{$_share['title']}",
		"fContent":  _share_content,
		"wContent":  "{$_share['title']}"
	};

	// 发送给好友
	WeixinJSBridge.on('menu:share:appmessage', function (argv) {
		WeixinJSBridge.invoke('sendAppMessage', {
			"img_url": window.shareData.imgUrl,
			"img_width": "640",
			"img_height": "640",
			"link": window.shareData.sendFriendLink,
			"desc": window.shareData.fContent,
			"title": window.shareData.fTitle
		}, function (res) {
			_report('send_msg', res.err_msg);
		})
	});

	// 分享到朋友圈
	WeixinJSBridge.on('menu:share:timeline', function (argv) {
		WeixinJSBridge.invoke('shareTimeline', {
			"img_url": window.shareData.imgUrl,
			"img_width": "640",
			"img_height": "640",
			"link": window.shareData.timeLineLink,
			"desc": window.shareData.tContent,
			"title": window.shareData.tTitle
		}, function (res) {
			_report('timeline', res.err_msg);
		});
	});

	// 分享到微博
	WeixinJSBridge.on('menu:share:weibo', function (argv) {
		WeixinJSBridge.invoke('shareWeibo', {
			"content": window.shareData.wContent,
			"url": window.shareData.weiboLink
		}, function (res) {
			_report('weibo', res.err_msg);
		});
	});
}, false);
</script>
{if empty($main_off)}</div>{/if}
</body>
</html>