{loop $list $item}
		<!-- <tr>
			<td><a href="{php echo $this->createMobileUrl('announcement',array('id'=>$item['id'],'op'=>'detail'));}">
			{php echo cutstr($item['title'], 15, true);}</a></td>
			<td style="text-align:right; color:#888;">{php echo date('Y-m-d', $item[createtime]);}</td>
		</tr>
		{if !empty($member['manage_status'])}
		<tr>
			<td colspan=3 align='right'>    
				<a href="
				{php echo  $this->createMobileUrl('announcement',array('id' => $item['id'],'op' => 'delete'))}">删除</a>&nbsp;|&nbsp;
				<a href="{php echo  $this->createMobileUrl('announcement',array('id' => $item['id'],'op' => 'update'))}">修改</a>&nbsp;|&nbsp;
				{if $item['status'] == 1)}
				<a href="
				{php echo $this->createMobileUrl('announcement',array('id' => $item['id'],'op' => 'verify','status' => 1,))}">启用</a>{else}
				<a href="
				{php echo $this->createMobileUrl('announcement',array('id' => $item['id'],'op' => 'verify','status' => 0,))}">禁用</a>{/if}
			</td>
		</tr>
		{/if} -->
		<div class="fy">
	<a href="{php echo $this->createMobileUrl('announcement',array('id'=>$item['id'],'op'=>'detail'));}" class="sq_box notice">
        <div class="notice_title">

            <span class="haveread">{$item['title']}</span>

        </div>
        <div class="author_time">
            <div class="author">{php echo $this->module['config']['cname']}</div>
            <div class="time">{php echo date('Y-m-d', $item[createtime]);}</div>
        </div>
        <div class="notice_content">
        	{$item['datetime']}{$item['location']}{$item['reason']}
        	{$item['remark']}
        </div>
        <div class="notice_all">

            <span class="haveread">查看全部>></span>

        </div>
    </a>
</div>
	{/loop}