{template 'business_header'}
<section id="content">
		<section class="vbox">
			<section class="scrollable" id="pjax-container">
				<header class="header bg-light dker bg-gradient text-llg">
					<p>管理我的店铺</p>
				</header>
				<section class="hbox wrapper">
				{if !$sjdps}
					<div class="row no-gutter">
						<div class="mycol">
							<div class="panel vbox">
								<div class="m text-center">
									<a class="myplus animated bounceInDown" href="{php echo $this->createMobileUrl('business',array('uid' => $uid,'op' => 'dpadd'))}" data-toggle="tooltip" title="添加新店铺">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
						{else}
<table class="table table-striped m-b-none text-sm mytable">
				<thead>
					<tr>
						<th style="width:10%;">商家名称</th>
						<th style="width:10%;">联系人</th>
						<th style="width:10%;">联系电话</th>
						<th style="width:20%;">商家地址</th>
						<th style="width:20%;">发布时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{loop $sjdps $row}
					<tr>
						<td>	
							{$row[sjname]}
						</td>
						<td>
							{$row['contactname']}
						</td>
						<td>
							{$row['mobile']}
						</td>
						<td>
							{$row['province']}{$row['city']}{$row['dist']}{$row['address']}
						</td>
						<td>
							{php echo date("Y-m-d H:i",$row['createtime'])}
						</td>
						<td class="xq-manage-option">
							<a onclick="return confirm('是否删除我的店铺？');return false;" href="{php echo $this->createMobileUrl('business',array('op' => 'delete','id' => $row['id']))}"><i style='font-size:18px;' class="glyphicon glyphicon-trash"></i></a> &nbsp;|&nbsp;
							<a href="{php echo $this->createMobileUrl('business',array('id' => $row['id'],'uid' => $row['uid'],'op' => 'dpadd'))}"><i style='font-size:18px;' class="fa fa-edit"></i></a>

						</td>
					</tr>
				{/loop}
				</tbody>
			</table>


						{/if}
					</div>
				</section>
			</section>
		</section>
	</section>



{template 'business_footer'}