{loop $list $item}
<div class="fy">
    <a href="{php echo $this->createMobileUrl('car',array('op'=> 'detail','id'=> $item['id']))}" class="sq_box commodity">
        <div class="commodity_content">
            <div class="commodity_content_info">
                <div class="content_info_l">
                    <div class="info_l_x"></div>
                    <div class="info_l_s"><span>{$item['title']}</span>
                    </div>
                    <div class="info_l_x">
                        <input type="hidden" class="recordId" value="378" />
                        <span class="unread">
                            {$item['start_position']}-{$item['end_position']}
                        </span>
                    </div>
                </div>
            </div>
            <div class="commodity_address">
                <span class="comm_add">发布人：{$item['contact']}</span>
            </div>
        </div>
    </a>
    <div class="commodity_fbxx">

    {if $op=='my'}
        <div class="commodity_name">
            <div class="edit_del_btn" onclick="window.location.href='{php echo $this->createMobileUrl('car',array('op' => 'post','id'=> $item['id']))}'">编辑</div>
            <div class="edit_del_btn" onclick="delsell({$item['id']})">删除</div>
        </div>
    {/if}

        <div class="commodity_time">


            <font color="blue"></font>{php echo date('Y-m-d H:i:s', $item['createtime'])}


        </div>
    </div>

</div>
{/loop}