{template 'header'}
<link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/theme2.css" rel="stylesheet" type="text/css" media="all">
<link href="{MODULE_URL}template/css/buttons.css" rel="stylesheet" type="text/css" media="all">
<script src="{MODULE_URL}template/js/galleria.js"></script>
<div  id="content">
<div class="top_menu">
    商品信息
</div>
<div class="top_menu_shadow"></div>
<div class="pageContentWrapper">
  <h3 class="pageTitle">{$item['title']}</h3>
  <ul class="attr">
    <li> <b>价格</b>
      <span class="text-lg text-danger">{$item['zprice']}元</span>
    </li>
    <li> <b>成色</b>
      <span class="label bg-info label-xs">{$item['rolex']}</span>
    </li>
    <li>
      <b>联系人</b>
      <span class="text-primary">{$item['realname']}</span>
    </li>
    <li>
      <b>电话</b>
      <span class="tel">
        <a href="tel:{$item['mobile']}">{$item['mobile']}</a>
      </span>
    </li>
    <li class="full-w">
      <b>发布时间</b>
      <span class="text-primary">{php echo date('Y-m-d H:m',$item['createtime'])}</span>
    </li>
  </ul>
  <a href="tel:{$item['mobile']}" class="baoming-btn button button-block button-rounded button-highlight button-large">
    <i class="icon-phone"></i>
    拨打联系电话
  </a>

  <div class="hongdong_info" style='height:200px'>
    <p class="info_title">
      <b>物品详情：</b>
    </p>
    <div class="info_content">{$item['description']}</div>
        <p style='margin-top:5px;'>
            {loop $imgs $value}
                <img src="{$value['src']}" style="width: 80px; height: 80px;border:1px solid white;margin-left:10px;float:left" />
            {/loop}
        </p>
    </div>
    <div id="galleria"></div>
</div>
</div>
 <script>
    // Load theme
    Galleria.loadTheme('{MODULE_URL}template/lightbox/galleria.lightbox.js');

    $('#galleria').galleria({
        data_source: '#content',
        extend: function() {
            this.bind(Galleria.LOADFINISH, function(e) {
                $(e.imageTarget).click(this.proxy(function(e) {
                    e.preventDefault();
                    this.next();
                }))
            })
        },
        keep_source: true,
        data_config: function(img) {
            return {
                description: $(img).next('.caption').html()
            }
        }
    });
    </script>
{template 'footer'}