{template 'header'}
<link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
<style type="text/css">
.list {
border-radius: 8px;
}
.list {
background: #fafafa;
padding: 10px;
margin: 5px;
}
.list .hd {
border-bottom: 1px #DDD dotted;
margin-bottom: 5px;
padding-bottom: 5px;
}
.list .content {
color: #545454;
line-height: 25px;
}
.list .reply {
background: #FFF;
border-top: 2px #769cdc solid;
padding: 10px;
margin-top: 10px;
overflow: hidden;
}
.list .content .author {
color: #999;
text-align: right;
margin-top: 10px;
}
</style>
<a href="{php echo $this->createMobileUrl('homemaking',array('op'=>'post'))}" class="top_menu">
    <img src="{MODULE_URL}template/image/fb.png" />发布+
</a>
<div class="top_menu_shadow"></div>
<div id='list' style="margin-bottom:50px;">
{loop $list $item}
<div class="list img-rounded">
	<div class="hd">
		<span class="title">{if intval($item['status'])==0}<p class="text-danger">未解决</p>{elseif intval($item['status'])==1}<p class="text-success">已解决</p>{else}<p class="text-warning">已撤销</p>{/if}</span>
		<span class="date">{php echo date('Y-m-d H:i:s', $item['createtime']);}</span>
	</div>
	<div class="content">
		<p><span class="label label-info">{$item['servicesmallcategory']}</span></p>
		<p><span class="label alert-info">家政需求:</span>{$item['requirement']}</p>
		<p><span class="label alert-info">备注说明:</span>{$item['remark']}</p>
		<p><span class="label alert-info">联系手机:</span>{$item['mobile']}</p>
		<div class="author">
		{if $item['status'] == '0'}
			<a href="{php echo $this->createMobileUrl('homemaking', array('id'=>$item['id'],'op'=>'post'));}" ><i class="fa fa-edit"></i> 编辑</a>
			&nbsp;&nbsp; 
			<a href="{php echo $this->createMobileUrl('homemaking', array('id'=>$item['id'],'op'=>'resolve'));}" onclick="return confirm('您的家政服务是否已经完成了，确定完成吗？')"><i class="glyphicon glyphicon-ok-sign"></i> 完成</a>
			&nbsp;&nbsp; 
			<a href="{php echo $this->createMobileUrl('homemaking', array('id'=>$item['id'],'op'=>'cancel'));}" onclick="return confirm('是否确认取消该条申请？')"><i class="glyphicon glyphicon-trash"></i> 取消</a>
		{/if}
		</div>
	</div>
</div>
{/loop}
</div>
{template 'footer'}