{template 'header'}
<link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
    <div class="sq_box form_box" style="margin-top:20px;">
        <div class="text_title">
           	个人信息
        </div>
        <form method="post"  action="{php echo $this->createMobileUrl('register')}">
        <div class="form_text_div">
            <div class="form_name">昵称：</div>
            <div class="form_input">
            	<input id="nickname" name="nickname" value="{$auth['nickname']}" type="text" disabled="disabled" maxlength="15"/>
              
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">姓名：</div>
            <div class="form_input">
                <input  name="realname" value="{$member['realname']}" type="text" placeholder="姓名" maxlength="15"/>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">电话：</div>
            <div class="form_input">
                <input  name="mobile" value="{$member['mobile']}" type="text" placeholder="手机号码" maxlength="11"/>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">地址：</div>
            <div class="form_input">
                <input  name="address" value="{$member['address']}" type="text" placeholder="地址" maxlength="11"/>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name_onliny">小区：</div>
            <div class="">
                <select name="regionid" style='height:25px;width:150px;'>
                    {loop $regions $region}
                    <option value="{$region['id']}" {if $member['regionid']==$region['id'] }selected{/if}>{$region['title']}</option>
                    {/loop}
                </select>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name_onliny">个人备注：</div>
            <div class="form_hint">
                	最多可输入300字
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_input">
                <textarea  name="remark" placeholder="个人备注" maxlength="300">{$member['remark']}</textarea>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_btn_box">
                <button type="submit" name="submit" value="yes" class="btn btn-info btn-block" style="width:100%;">提交</button>
                <input type="hidden" name="id" value="{$member['id']}" />
                <input type="hidden" name="token" value="{$_W['token']}" />
            </div>
        </div>
        </form>
    </div>
{template 'footer'}
