{template 'header'}
<link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
<style type="text/css">
.list {
border-radius: 8px;
}
.list {
background: #fafafa;
padding: 10px;
margin: 5px;
}
.list .hd {
border-bottom: 1px #DDD dotted;
margin-bottom: 5px;
padding-bottom: 5px;
}
.list .content {
color: #545454;
line-height: 25px;
}
.list .reply {
background: #FFF;
border-top: 2px #769cdc solid;
padding: 10px;
margin-top: 10px;
overflow: hidden;
}
.list .content .author {
color: #999;
text-align: right;
margin-top: 10px;
}
</style>
<div class="top_menu">
    我的投诉
</div>
<div class="top_menu_shadow"></div>
<div style='margin-bottom:80px;'>
{loop $list $item}
<div class="list img-rounded">
	<div class="hd">
		<span class="title">{if intval($item['status'])==0}<p class="text-danger">未处理</p>{else}<p class="text-success">已处理</p>{/if}</span>
		<span class="date">{php echo date('Y-m-d H:i:s', $item['createtime']);}</span>
	</div>
	<div class="content">
		<p><span class="label label-warning">{$item['category']}</span> {$item['content']}</p>
		{if $item['resolve']}<p><span class="label label-warning">处理结果：{$item['resolve']}</span></p>{/if}
		{if $item['resolver']}<p><span class="label label-warning">处理人：{$item['resolver']}</span></p>{/if}
		<div class="author">
			{if $item['status'] == '0'}
				<a href="{php echo $this->createMobileUrl('report', array('id'=>$item['id'], 'op'=>'cancel'));}" onclick="return confirm('是否确认取消该条申请？')">
				<i class="glyphicon glyphicon-trash"></i>取消
				</a>
			{/if}
		</div>

	</div>
</div>
{/loop}
</div>
{template 'footer'}