{loop $list $item}
<div class="list img-rounded">
  <div class="hd">
    <span class="title">{if intval($item['status'])==0}<p class="text-danger">未处理</p>{else}<p class="text-success">已处理</p>{/if}</span>
    <span class="date">{php echo date('Y-m-d H:i:s', $item['createtime']);}</span>
  </div>
  <div class="content">
    <p><span class="label label-warning">{$item['category']}</span> {$item['content']}</p>
  </div>
</div>
{/loop}