{template 'shopping_header'}
<body class="bg-white">
    <div id="wrap">
        <div id="main" style="padding:0 0 80px;">
            <div class="flexslider">
                <ul class="slides">
                    <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; -webkit-transition: opacity 0.6s ease; transition: opacity 0.6s ease; z-index: 2;">
                        <a href="javascript:void(0);">
                        <!-- <img src="http://img.weixiaoqu.com/201503/16/3651/201503/07e9ab60bb6772b56b5091bd6dde9ecb.jpg!360x200.jpg" draggable="false"> -->
                        <div id="banner_box" class="box_swipe" style='width:100%;float:left;'>
							<ul>
								{loop $advs $adv}
								<li>
									<a href="{if empty($adv['link'])}#{else}{$adv['link']}{/if}">
										<img src="{php echo tomedia($adv['thumb']);}" title="{$adv['advname']}" height='200px'/>
									</a>
									<span class="title">{$adv['advname']}</span>
								</li>
								{/loop}
							</ul>
							<ol>
							   {php $slideNum = 1;}
							{loop $advs $adv}
								<li{if $slideNum == 1} class="on"{/if}></li>
								{php $slideNum++;}
							{/loop}
							</ol>
						</div>
							<script>
								// $(function() {
								// 	new Swipe($('#banner_box')[0], {
								// 		speed:500,
								// 		auto:3000,
								// 		callback: function(){
								// 			var lis = $(this.element).next("ol").children();
								// 			lis.removeClass("on").eq(this.index).addClass("on");
								// 		}
								// 	});
								// });

							</script>
                        </a>
                    </li>
                </ul>
                <ol class="flex-control-nav flex-control-paging"></ol>
            </div>
            <!-- <h1 class="market_title"><img src="/static/images/shop.png">小区超市</h1>
 -->            <marquee behavior="" direction="" scrollamount="2" class="market_notice" style='line-height:40px;'>
                公告：{php echo $this->module['config']['notice']}</marquee>
            <!-- <p class="market_search">
                <input type="text" class="searchTxt" id="search_keywords" name='keyword' placeholder="商品搜索：请输入商品关键字">
                <button type="button" class="search_btn"><i class="icon-search"></i></button>
            </p> -->
           <!--  <div class="list_large_index"><i class="icon-th-large th_click"></i><i class="icon-th-list th_default"></i></div> -->
            <section class="wrapper" style="margin-top: 10px">
                <hr class="option_hr">
                <div class="row goods_list" id="show_message">
                {loop $rlist $item}
                	<div class="col-xs-6 goods_item">
                        <div class="border-box">
                            <a href="{php echo $this->createMobileUrl('shopping', array('op' => 'detail','id' => $item['id']))}"><img src="{php echo tomedia($item['thumb']);}" style="width:128px;height:128px;">
                                <p class="good_title">{$item['title']}</p>
                                <p class="good_price"><span><b>{$item['productprice']}</b>元</span>已售{$item['sales']}件</p>
                            </a>
                        </div>
                    </div>
                {/loop}
                    <!-- <div class="col-xs-6 goods_item">
                        <div class="border-box">
                            <a href="/fun/good_detail?productid=20"><img src="http://img.weixiaoqu.com/201404/10/32/201408/1a6870c0728a0ef00d4dddd9502068e7.jpg!300x300.jpg">
                                <p class="good_title">【限购】清风原木纯品卷筒卫生纸</p>
                                <p class="good_price"><span><b>17.50</b>元</span>库存 9606</p>
                            </a>
                        </div>
                    </div> -->
                    
                </div>
                <!--动态加载-->
                <div class="news_loading" id="loading" style="display: none;"><img src="/static/images/loading.gif">正在加载...</div>
                <div style="display: none;" class="news_more" id="market_more"></div>
                <input type="hidden" name="po" id="po" value="">
                <input type="hidden" name="uo" id="uo" value="">
                <input type="hidden" name="keywords" id="keywords" value="">
                <input type="hidden" id="page" value="">
                <input type="hidden" id="the_page_type" value="0">
                <input type="hidden" id="item">
            </section>
        </div>
    </div>
    {template 'shopping_footerbar'}
<!--     <script type="text/javascript">
    $(function() {
        $('.search_btn').click(function() {
            window.location.href = "/fun/market?keywords=" + $("#search_keywords").val();
        });
    })
    </script> -->
   
    <script script="text/javascript">
    $(document).ready(function() {
        $("#toggle").click(function() {
            $(".nav-collapse").slideToggle(200);
        });
    });
    $(window).load(function() {
        $('.flexslider').flexslider({
            directionNav: false
        });
    });
    </script>
    <script>
    $(function() {
        $(window).scroll(function() {
            var h = $(document).scrollTop()
            if (h > 230) {
                $(".market_bottom").removeClass("good_list_bottom");
            } else {
                $(".market_bottom").addClass("good_list_bottom");
            }
        });

        $(".icon-th-large").click(function() {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/fun/set_old_page_style?',
                data: {
                    'yhid': ''
                },
                success: function(msg) {
                    if (msg.status == 1) {
                        window.location.reload();
                    }
                }
            });
        });

        $(".icon-th-list").click(function() {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/fun/set_new_page_style?',
                data: {
                    'yhid': ''
                },
                success: function(msg) {
                    if (msg.status == 1) {
                        window.location.reload();

                    }
                }
            });
        });
    })
    </script>

</body>

</html>
