@charset "utf-8";

body{ font:12px "微软雅黑"; color:#353535;}
a{ text-decoration:none; color:#353535;}
a:hover{ text-decoration:none;}
.bg1{ background-color:#cbcbcb;}
.bg2{ background:url(../images/bg2.jpg); background-size:320px 100%;}
.bg3{ background:url(../images/bg3.jpg); background-size:100% 100%;}
.bg4{ background:url(../images/bg4.jpg); background-size:320px 100%;}
.bg5{ background-color:#ebebeb;}
.bg6{ background-color:#eeebe5;}
.bg7{ background-color:#d9d9d9;}
.bg9{ background:url(../images/bg9.jpg); background-size:100% 100%;}
.bg10{ background-color:#d3d3d3;}

/*footer------2014.2.28 add*/
#footer{ height:48px; padding:10px 11px 0 17px; background-color:#3a4148;}
#footer nav{ line-height:20px; opacity:0.7;}
#footer .copyRight{ line-height:18px; font-family:Arial; opacity:0.57;}

/*goToTop------2014.2.28 add*/
.goToTop{ display:block; width:27px; height:27px; line-height:100px; background:url(../images/topBg2.png) no-repeat; right:11px; top:16px; overflow:hidden;}
.goToTop11{ background-position:0 0;}
.goToTop12{ background-position:-26px 0;}
.goToTop13{ background-position:-53px 0;}
.goToTop14{ background-position:-80px 0;}

.goToTop21{ background-position:-106px 0;}
.goToTop22{ background-position:-133px 0;}
.goToTop23{ background-position:-159px 0;}
.goToTop24{ background-position:-186px 0;}

.goToTop31{ background-position:0 -26px;}
.goToTop32{ background-position:-26px -26px;}
.goToTop33{ background-position:-53px -26px;}
.goToTop34{ background-position:0 -53px;}
.goToTop35{ background-position:-26px -53px;}
.goToTop36{ background-position:-53px -53px;}

.goToTop41{ background-position:-80px -26px;}
.goToTop42{ background-position:-106px -26px;}
.goToTop43{ background-position:-133px -26px;}
.goToTop44{ background-position:-159px -26px;}
.goToTop45{ background-position:-186px -26px;}
.goToTop46{ background-position:-80px -53px;}
.goToTop47{ background-position:-106px -53px;}
.goToTop48{ background-position:-133px -53px;}
.goToTop49{ background-position:-159px -53px;}
.goToTop410{ background-position:-186px -53px;}

.goToTop51{ background-position:-212px -26px;}
.goToTop52{ background-position:-212px -53px;}

.goToTop61{ background-position:-238px -26px;}
.goToTop62{ background-position:-238px -53px;}
.goToTop63{ background-position:-238px -80px;}

/*contentPage*/
.lineH17{ line-height:17px;}
.opacity{ opacity:0.8;}
.padLR3{ padding-left:3px; padding-right:3px;}
.padLR6{ padding-left:6px; padding-right:6px;}
.padT7{ padding-top:7px;}
.pad9{ padding:9px;}
.padL13{ padding-left:13px;}
.padR18{ padding-right:18px;}
.padLR15{ padding-left:15px; padding-right:15px;}
.marLR9{ margin-left:9px; margin-right:9px;}
.marL18R12{ margin-left:18px; margin-right:12px;}
.marLR12{ margin-left:12px; margin-right:12px;}
.marLR15{ margin-left:15px; margin-right:15px;}
.marLR20{ margin-left:20px; margin-right:20px;}
.marT5{ margin-top:5px;}
.marB2{ margin-bottom:2px;}
.marB5{ margin-bottom:5px;}

/*articleDate------2014.2.28 add*/
.articleDate{ margin-right:13px;}
.fontSize{ padding-left:18px; background:url(../images/fontSizeBg.png) no-repeat left 1px; background-size:14px 13px;}
.shareTo{ color:#565656;}
.shareTo a{ margin-right:4px;}
.shareTo img{ vertical-align:middle; margin-top:-3px;}
.newsArticle{ font-size:14px;}

/*relatedNews------2014.2.28 add*/
.relatedNews{ border:#d4d4d4 solid 1px; background-color:#fff;}
.relatedNews h3{ height:20px; line-height:20px; padding-left:5px; border-bottom:#c6c6c6 solid 1px;}
.relatedNews1 h3{ background-color:#dce9ff;}
.relatedNews2 h3{ background-color:#ededed;}
.relatedNews3 h3{ background-color:#deffdc;}
.relatedNews4 h3{ background-color:#ffffff;}
.relatedNews5 h3{ background-color:#a23333; color:#fff;}
.relatedNews .newsList{ padding:10px 13px;}
.relatedNews .newsList li{ height:20px; line-height:20px; padding-left:10px; background:url(../images/liBg.png) no-repeat left 7px; background-size:4px 4px;}

/*loadMore------2014.2.28 add*/
.loadMore{ width:100%; height:28px; line-height:28px; border-radius:5px; text-align:center; font-size:13px; color:#fff; font-weight:bold; border:none; cursor:pointer;}
.loadMore1{ background:-webkit-linear-gradient(#6fb7d1 0%,#6ca8bc 100%);}
.loadMore2{ background:-webkit-linear-gradient(#8fc27d 0%,#88b078 100%);}
.loadMore3{ background:-webkit-linear-gradient(#c2947d 0%,#b08978 100%);}
.loadMore4{ background:-webkit-linear-gradient(#9f9f9f 0%,#949494 100%);}
.loadMore5{ background:-webkit-linear-gradient(#ffffff 0%,#ffffff 100%); color:#8d8d8d;}

.summary{ border-radius:6px; box-shadow:0 0 4px rgba(0,0,0,0.1);}
.summary h2{ margin-bottom:2px;}
.summary .onePic{ margin:4px 0 9px;}
.summary .twoPics{ width:285px; margin-bottom:13px;}
.summary .twoPics img:first-child{ left:0; top:7px;}
.summary p{ line-height:1.5;}
.sharing{ height:31px; line-height:31px; border-radius:5px; background:-webkit-linear-gradient(#d5743a 0%,#bb6332 100%);}
.sharing2{ height:28px; line-height:28px; border-radius:4px; background:-webkit-linear-gradient(#6fb7d1 0%,#6fb7d1 49%,#6fb5cf 50%,#6ca8bc 100%);}
.sharing3{ height:29px; line-height:29px; border-radius:5px; background:-webkit-linear-gradient(#adadad 0%,#a2a2a2 100%);}

.columnHeaders{ background:url(../images/columnHeadersBg.png) no-repeat; background-size:100% 35px;}
.columnHeaders .box{ display:-webkit-box; padding:7px 0 9px; background:url(../images/boxBg.png) no-repeat left bottom; background-size:100% 2px;}
.columnHeaders .pic{ margin:0 10px 0 19px;}
.columnHeaders .text{ -webkit-box-flex:1; line-height:24px; padding-top:2px; color:#525252;}
.columnHeaders .arrow{ width:11px; height:15px; margin:14px 23px 0 0; background:url(../images/arrow1.png) no-repeat; background-size:contain;}

.fivePics{ width:283px;}
.fivePics .left{ width:91px;}
.fivePics .right{ width:186px;}

.introduce{ padding:0 20px;}
.introduce h2{ color:#505050;}
.introduce p{ color:#2f2f2f;}
.time{ color:#813024;}
.sourse{ color:#515151;}

/*textList*/
.textList1 li{ margin:0 12px 15px 18px; background-color:#fff; position:relative; border-radius:3px; box-shadow:0 0 4px rgba(0,0,0,0.1);}
.textList1 li .box{ padding:5px 20px 14px 15px;}
.textList1 h3{ line-height:24px; font-size:14px; color:#5c5c5a; font-weight:bold;}
.textList1 p{ line-height:17px; font-size:11px; color:#757575;}
.textList1 .arrow{ width:7px; height:13px; position:absolute; left:-6px; top:17px; background:url(../images/arrow2.png) no-repeat; background-size:contain;}

.textList2 li{ margin:0 5px 8px 7px; background:-webkit-linear-gradient(#ffffff 0%,#e2e2e2 100%); position:relative; border-radius:3px; box-shadow:0 0 4px rgba(0,0,0,0.1);}
.textList2 li .box{ padding:5px 34px 14px 15px;}
.textList2 h3{ line-height:24px; font-size:14px; color:#5c5c5a; font-weight:bold;}
.textList2 p{ line-height:17px; font-size:11px; color:#757575;}
.textList2 .arrow{ width:11px; height:15px; position:absolute; right:5px; top:40%; background:url(../images/arrow1.png) no-repeat; background-size:contain;}

.textList3 li{ margin:0 12px 0 10px; border-left:#fff solid 3px; background-color:#ffffff; opacity:0.9; border-bottom:#e0e0e0 solid 1px; position:relative; box-shadow:0 0 4px rgba(0,0,0,0.1);}
.textList3 li .box{ padding:16px 34px 16px 23px;}
.textList3 li.current{ border-left:#c46c3b solid 3px;}
.textList3 li.current h3{ color:#d07a50;}
.textList3 h3{ line-height:24px; font-size:15px; color:#818081; font-weight:bold;}
.textList3 .arrow{ width:8px; height:11px; position:absolute; right:15px; top:40%; background:url(../images/arrow3.png) no-repeat; background-size:contain;}

/*picList*/
.picList1{ padding-left:15px;}
.picList1 li{ float:left; width:93px; margin:0 6px 11px 0; background-color:#ffffff; border-radius:4px; box-shadow:1px 1px 4px rgba(0,0,0,0.1);}
.picList1 li img{ vertical-align:middle; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px;}
.picList1 li span{ display:inline-block; width:93px; line-height:31px; margin-top:10px; text-align:center; color:#737373; font-weight:bold; overflow:hidden;}

.picList2{ padding-left:12px;}
.picList2 li{ float:left; width:93px; margin:0 9px 20px 0;}
.picList2 li img{ vertical-align:middle; border-radius:4px;}

.carouselBox{ height:230px;}
.carouselBox2{ height:168px;}
.carouselBox .carouselPics{ display:table;}
.carouselBox .carouselPics li{ display:table-cell;}
.carouselBox .carouselBtns{ height:6px; left:0; bottom:10px; display:table; font-size:0;}
.carouselBox .carouselBtns li{ display:inline-block; width:6px; height:6px; margin-left:5px; border-radius:6px; background-color:#ebebeb; opacity:0.7;}
.carouselBox .carouselBtns li.current{ opacity:1;}
.carouselBox .carouselBtns li:first-child{ margin-left:0;}

.picList3{ padding-left:15px;}
.picList3 li{ float:left; width:93px; margin:0 6px 11px 0; background-color:#ffffff; border-radius:4px; box-shadow:1px 1px 4px rgba(0,0,0,0.1);}
.picList3 li img{ vertical-align:middle; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px;}
.picList3 li span{ display:inline-block; width:93px; line-height:31px; margin:5px 0; text-align:center; color:#737373; font-weight:bold; overflow:hidden;}

.dividingLine{ height:1px; border-top:#cbcbcb solid 1px; border-bottom:#ffffff solid 1px;}

/*picTextList*/
.picTextListTit1{ display:-webkit-box; margin:0 16px; box-shadow:0 0 4px rgba(0,0,0,0.4);}
.picTextListTit1 li{ -webkit-box-flex:1; height:48px; border-right:#f1cf95 solid 2px;}
.picTextListTit1 li:last-child{ border-right:none;}
.picTextListTit1 li a{ display:block; line-height:48px; background:-webkit-linear-gradient(rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.45) 10%,rgba(255,255,255,0.45) 11%,rgba(255,255,255,0.45) 100%); text-align:center; color:#6f706f; font-weight:bold;}
.picTextListTit1 li.on{ border-right:#bca680 solid 1px; box-shadow:1px 0 2px rgba(0,0,0,0.3); position:relative; z-index:2;}
.picTextListTit1 li.on a{ background:-webkit-linear-gradient(rgba(201,94,39,1) 0%,rgba(201,94,39,1) 4%,rgba(255,255,255,1) 5%,rgba(255,255,255,1) 100%); color:#d17a55;}

.picTextList1Box{ margin:0 16px; box-shadow:0 0 4px rgba(0,0,0,0.4);}
.picTextList1{ padding-top:16px;}
.picTextList1 li{ padding:0 23px 16px 19px;}
.picTextList1 li .box{ display:-webkit-box;}
.picTextList1 li .info{ -webkit-box-flex:1;}
.picTextList1 li .pic{ margin-right:17px;}
.picTextList1 li h3{ line-height:18px; padding-top:3px; color:#858585; font-weight:bold;}
.picTextList1 li .text{ line-height:14px; margin-bottom:2px; color:#818181; font-size:9px;}
.picTextList1 li .num{ padding-left:12px; background:url(../images/numBg.jpg) no-repeat left center; background-size:9px 8px; font:7px/14px Arial; color:#a7a7a7;}
.picTextList1 li img{ vertical-align:middle;}

.picTextList2{ margin:0 6px 0 8px; box-shadow:0 0 4px rgba(0,0,0,0.1);}
.picTextList2 li{ margin-bottom:4px; background-color:#fff; border-radius:3px;}
.picTextList2 li .box{ display:-webkit-box; padding:6px 13px 6px 11px;}
.picTextList2 li .info{ -webkit-box-flex:1;}
.picTextList2 li .pic{ margin-right:17px;}
.picTextList2 li h3{ line-height:22px; margin-bottom:2px; color:#5d5d5d; font-weight:bold; font-size:14px;}
.picTextList2 li .text{ line-height:16px; color:#757575; font-size:11px;}
.picTextList2 li img{ vertical-align:middle; border-radius:4px;}

.picTextList3{ margin:0 5px 0 7px;}
.picTextList3 li{ margin-bottom:6px; background:-webkit-linear-gradient(#ffffff 0%,#dfdfdf 100%); border-radius:3px; border-bottom:#c8c8c8 solid 1px;}
.picTextList3 li .box{ display:-webkit-box; padding:6px 40px 6px 8px; position:relative;}
.picTextList3 li .info{ -webkit-box-flex:1;}
.picTextList3 li .pic{ margin-right:12px;}
.picTextList3 li h3{ line-height:22px; margin-bottom:2px; color:#5c5c5c; font-weight:bold; font-size:14px;}
.picTextList3 li .text{ line-height:16px; color:#808080; font-size:11px;}
.picTextList3 li img{ vertical-align:middle; border-radius:4px;}
.picTextList3 li .arrow{ width:11px; height:15px; background:url(../images/arrow1.png) no-repeat; background-size:contain; position:absolute; right:5px; top:40%;}





.picTextList4 li{ padding:17px 0 12px 8px; border-top:#ffffff solid 1px; border-bottom:#cdcdcd solid 1px;}
.picTextList4 li .box{ display:-webkit-box; position:relative;}
.picTextList4 li .info{ -webkit-box-flex:1; line-height:21px; font-size:15px;}
.picTextList4 li .pic{ margin-right:12px;}
.picTextList4 li img{ vertical-align:middle; border-radius:4px;}
.picTextList4 li .time{ padding-left:23px; background:url(../images/timeBg.png) no-repeat left center; background-size:15px 13px; color:#cc7aac; position:absolute; right:8px; top:0;}
.picTextList4 li:first-child{ border-top:none;}
.picTextList4 li:last-child{ border-bottom:none;}
.picTextList4 li .contentsBox{ margin:9px 8px 0 46px;}
.picTextList4 li .contentsBox .arrow{ width:18px; height:9px; background:url(../images/arrow4.png) no-repeat; background-size:contain; left:6px; top:-8px;}
.picTextList4 li .contentsBox .contents{ padding:8px 9px; margin-bottom:4px; border:#d5d5d5 solid 1px; border-radius:4px; background:rgba(255,255,255,0.7);}
.picTextList4 li .contentsBox .text{ line-height:18px; margin-bottom:8px; font-size:13px; color:#5e5e5e;}
.picTextList4 li .contentsBox .pic img{ vertical-align:middle; margin-bottom:7px;}
.picTextList4 li .contentsBox .sourse{ color:#8496ac;}
.picTextList4 li .contentsBox .num1{ margin-right:10px; color:#587495; font-family:Arial;}
.picTextList4 li .contentsBox .num2{ padding-left:15px; background:url(../images/num2Bg.png) no-repeat left center; background-size:12px 11px; color:#587495; font-family:Arial;}

.picTextList5{ margin:0 13px; box-shadow:0 0 4px rgba(0,0,0,0.1);}
.picTextList5 li{ margin-bottom:17px; background-color:#fff; border-radius:3px;}
.picTextList5 li .box{ display:-webkit-box; padding:6px 7px 6px 19px;}
.picTextList5 li .info{ -webkit-box-flex:1; margin-right:15px;}
.picTextList5 li h3{ line-height:22px; margin-bottom:2px; color:#5d5d5d; font-weight:bold; font-size:14px;}
.picTextList5 li .text{ line-height:16px; color:#757575;}
.picTextList5 li img{ vertical-align:middle; border-radius:4px;}

.picTextList6{ margin:0 12px;}
.picTextList6 li{ margin-bottom:13px; padding:6px 0 0 0; background-color:#fff; border-radius:3px;}
.picTextList6 li h2{ line-height:22px; padding:0 20px 0 17px; margin-bottom:2px; font-size:17px; font-weight:bold;}
.picTextList6 li .date{ padding:0 20px 0 17px;}
.picTextList6 li .pic img{ vertical-align:middle; margin-bottom:3px;}
.picTextList6 li .text{ padding:0 23px 0 20px; margin-bottom:5px; font-size:14px;}
.picTextList6 li .detail{ height:30px; line-height:30px; border-top:#01445b solid 1px; padding:0 23px 0 20px;}
.picTextList6 li .detail a{ color:#016181; font-size:14px;}

.picTextList7{ margin:0 12px;}
.picTextList7 li{ margin-bottom:14px; padding:6px 20px 0 17px; background-color:#fff; border-radius:3px;}
.picTextList7 li h2{ line-height:22px; margin-bottom:2px; font-size:17px; font-weight:bold;}
.picTextList7 li .pic img{ vertical-align:middle;}
.picTextList7 li .text{ line-height:20px; padding:10px 3px 13px 3px; font-size:14px;}


