@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
button{border: 0;}input{ border:none;}
*{
    padding: 0;
    margin: 0;
}
img{
    border: 0;
}

body {
    font: 100%/1.4 "Microsoft YaHei","方正黑体简体", "宋体", arial;
    /*font-family:'Microsoft YaHei','宋体', 'helvetica', 'Arial';
    font-size: 14px;
    line-height: 1em; text-shadow:0 1px 0 #111;*/
    color: #555;
    height: 100%;
    width: 100%;
}
article{padding:50px 0; min-height:270px;}
a:link,a:visited,a:hover,a:active,a:focus { text-decoration:none;}
.clear {
    clear: both;
    line-height:0px;
    height:0px;
    font-size:0px;
    zoom: 1;
}
.fr{ float:right;}
.fl{ float:left;}

