			</div>
		</div>
		<script>require(['bootstrap']);</script>
		<div class="center-block footer" role="footer">
			<div class="text-center">
				{if empty($_W['setting']['copyright']['footerright'])}<a href="http://gxxsh.com.cn">关于学晟惠</a>&nbsp;&nbsp;<a href="http://mallgxxsh">学晟惠帮助</a>{else}{$_W['setting']['copyright']['footerright']}{/if}{if !empty($_W['setting']['copyright']['statcode'])}&nbsp; &nbsp; {$_W['setting']['copyright']['statcode']}{/if}
			</div>
			<div class="text-center">
				{if empty($_W['setting']['copyright']['footerleft'])}Powered by <a href="http://gxxsh.com.cn"><b>学晟惠</b></a> v{IMS_VERSION} &copy; 2014 <a href="http://gxxsh.com.cn">gxxsh.com.cn</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}
			</div>
		</div>
	</div>
</body>
</html>
