{template 'common/header'}
<ul class="nav nav-tabs">
	<li class="active"><a>佣金管理</a></li>
</ul>
<div class="main">
	<div class="stat">
		{if empty($id)}
		
		{else}
		<form action="" method="post">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="broke" />
			<input type="hidden" name="do" value="customer" />
			<input type="hidden" name="op" value="mycustomer" />
			<input type="hidden" name="id" value="{$id}" />
			<table class="table sub-search">
			<table class="table sub-search">
				<tbody>
					<tr>
						<th style="width:100px;">真实姓名</th>
						<td>
							<input name="realname" type="text" value="{$sort['realname']}" />
						</td>
					</tr>
					<tr>
						<th style="width:100px;">手机号码</th>
						<td>
							<input name="mobile" type="text" value="{$sort['mobile']}" />
						</td>
					</tr>
					<tr>
						<th></th>
						<td>
							<input type="submit" name="" value="搜索" class="btn btn-primary">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		{/if}
		<div class="stat-div">
			<div class="sub-item" id="table-list">
				<h4 class="sub-title" style="float:right;color:red;"><a href="">刷新</a></h4>
				<h4 class="sub-title">未结佣金</h4>

				<form action="" method="post" onsubmit="">
				<div class="sub-content">
					<table class="table table-hover">
						<thead class="navbar-inner">
							<tr>
								<th class="row-hover" style="text-align: center;">未结总佣金</th>
								<th class="row-hover" style="text-align: center;">操作</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td style="text-align: center;">
									{$tjcommission}
								</td>
					
								<td style="text-align: center;">
									<a href="{php echo $this->createWebUrl('customer');}">查看</a>		
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
				</form>
				{$pager}
			</div>
		</div>
		<!--
		<div class="stat-div">
			<div class="navbar navbar-static-top">
				<div class="navbar-inner">
					<span class="brand">预约名单</span>
				</div>
			</div>
			<div class="sub-item" id="table-list">
				
				<h4 class="sub-title">预约佣金</h4>

				<form action="" method="post" onsubmit="">
				<div class="sub-content">
					<table class="table table-hover">
						<thead class="navbar-inner">
							<tr>
								<th class="row-hover">预约总佣金</th>
								<th class="row-hover">操作</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td style="text-align: center;">
									{$yycommission}
								</td>
							
								<td style="text-align: center;">
									<a href="{php echo $this->createWebUrl('customer');}">查看</a>		
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
				</form>
				{$pager}
			</div>
		</div>
		-->
		<div class="stat-div">
			<div class="sub-item" id="table-list">
				
				<h4 class="sub-title">已结佣金</h4>

				<form action="" method="post" onsubmit="">
				<div class="sub-content">
					<table class="table table-hover">
						<thead class="navbar-inner">
							<tr>
								<th class="row-hover" style="text-align: center;">已结总佣金</th>
								<th class="row-hover" style="text-align: center;">操作</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td style="text-align: center;">
									{$yjcommission}
								</td>
							
								<td style="text-align: center;">
									<a href="{php echo $this->createWebUrl('member');}">查看</a>		
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
				</form>
				{$pager}
			</div>
		</div>
	</div>
</div>
{template 'common/footer'}