{template 'common/header'}
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('counselors')}">销售员管理</a></li>
	<li><a href="{php echo $this->createWebUrl('counselor',array('op'=>'post'));}">添加邀请码</a></li>
	<li><a href="{php echo $this->createWebUrl('counselor',array('op'=>'list'));}">邀请码管理</a></li>
</ul>
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$user['id']}">
		<input type="hidden" name="flag" value="{$user['flag']}">
		<input type="hidden" name="op" value="status">
		<input type="hidden" name="c" value="site" />
		<input type="hidden" name="a" value="entry" />
		<input type="hidden" name="m" value="broke" />
		<input type="hidden" name="do" value="counselors" />
		<div class="panel panel-default">
			<div class="panel-heading">
				销售员详细信息
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">设置状态</label>
				<div class="col-sm-5">
					<label class="radio-inline">
						<input type="radio" name="status" value="1" {if $user['status'] == 1}checked="true"{/if}> 可用
					</label>
					<label class="radio-inline">
						<input type="radio" name="status" value="0" {if $user['status'] == 0}checked="true"{/if}>禁用
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">真实姓名</label>
				<div class="col-sm-5">
					{if $user['realname']!=""} {$user['realname']}{else}未完善{/if}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">手机号码</label>
				<div class="col-sm-5">
					{if $user['mobile']!=""} {$user['mobile']}{else}未完善{/if}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">公司名称</label>
				<div class="col-sm-5">
					{if $user['company']!=""} {$user['company']}{else}未完善{/if}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">邀请码</label>
				<div class="col-sm-5">
					<font color="red">{$user['code']}</font>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册时间</label>
				<div class="col-sm-5">
					{php echo date('Y-m-d H:i:s', $user['createtime']);}
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">备注</label>
				<div class="col-sm-5">
					<textarea type="text" class="form-control" name="content" >{$user['content']}</textarea>
				</div>
			</div>
			<div class="form-group col-sm-12">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input type="button" class="btn btn-primary col-lg-1" name="submit" onclick="history.go(-1)" value="返回" />
				<input type="submit" class="btn btn-primary col-lg-1" name="submit"  value="提交" />
			</div>
		</div>
	</form>
</div>
{template 'common/footer'}