{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('customer');}">客户管理</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('xlsupload');}">保护客户导入</a></li></a></li>
	<li><a href="{php echo $this->createWebUrl('output');}">客户导出</a></li>
</ul>
	
	<div class="main">
		<div class="category">
		{if $op=='import'}	
	
		{$str}
 	
		{else}
		
 			<table class="table table-hover">
			<form method="post" action="{php echo $this->createWebUrl('xlsupload',array('op'=>'import'));}"  enctype="multipart/form-data" >
					<tbody>			
					
						<tr>
							<td>
								<p><br/><br/>请选择要导入的XLS文件：<br/><input type="file" name="file"> 
								</p><input type="hidden" name="token" value="{$_W['token']}" />
								
							</td>
						</tr>
						<tr>
							<td>
								<input type="submit" class="btn btn-primary" value="导入XLS">
							</td>
						</tr>
						
						<tr>
							<td>
								<p><a href="../addons/broke/style/demo.xls" target="_blank">下载示例XLS文件</a><br/>
								单个文件最多不能超过2000条记录<br/><br/>
								请按如下格式选择EXCEL文件,从第二列开始导入数据库<br/>
								如不导入名字,可为空,但不能少此列<br/>
								<img src="../addons/broke/style/images/xls.jpg">
								</p>
							</td>
						</tr>			
					</tbody>
				</form>
			</table>
		{/if}
 		</div>
    </div>
{template 'common/footer'}
