{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'create'}class="active"{/if}><a href="{php echo $this->createWebUrl('loupan', array('op' => 'create'));}">创建产品</a></li>
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('loupan', array('op' => 'display'));}">产品管理</a></li>
	{if $op == 'photo'}<li class="active"><a href="{php echo $this->createWebUrl('loupan', array('op' => 'photo', 'lpid' => $id));}">添加照片</a></li>{/if}
</ul>
<link type="text/css" rel="stylesheet" href="../addons/broke/style/css/wanimation.css" />
<style>
.loupan_list{overflow:hidden; padding-top:15px;}
.loupan_list li{border:1px #DDD solid; width:320px; float:left; margin-left:15px; margin-bottom:10px;}
.loupan_list li .loupan_pic{display:block; width:320px; height:160px; overflow:hidden;}
.loupan_list li .loupan_pic img{width:320px;}
.loupan_list li .loupan_main{padding:10px; overflow:hidden;}
.loupan_list li .loupan_main .loupan_title{font-size:16px; height:20px; width:217px; overflow:hidden;}
.loupan_list li .loupan_main .pull-left{color:#999;}
.loupan_manage .table th{width:120px;}
.loupan_manage #loupans_head img{margin-right:10px; max-height:70px;}
</style>
{if $op == 'create'}
<div class="main">
	<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data" onsubmit="return formcheck(this)">
		<input type="hidden" name="id" value="{$item[id]}">
		<div class="panel panel-default">
			<div class="panel-heading">
				产品管理
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">排序</label>
					<div class="col-sm-5">
						<input type="text" name="displayorder" class="form-control" value="{$item['displayorder']}" />
						<span class="help-block">产品优先级，越大则越靠前</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">名称</label>
					<div class="col-sm-5">
						<input type="text" name="title" class="form-control" value="{$item['title']}" />
						<span class="help-block">产品名称</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">封面</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('thumb', $item['thumb']);}
						<span class="help-block">产品封面</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">佣金</label>
					<div class="col-sm-5">
						<input type="text" name="commission" class="form-control" value="{$item['commission']}" />
						<span class="help-block">请输入佣金</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">简介</label>
					<div class="col-sm-5">
						<textarea style="height:200px;" class="form-control" name="content" cols="70" id="reply-add-text">{$item['content']}</textarea>
						<span class="help-block">请输入简介</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">开场图片</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('open', $item['open']);}
						<span class="help-block">作为第一场景的遮罩图片，可以选择开场动画，尺寸为640*1008</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">擦除模式</label>
					<div class="col-sm-5">
						<label class="radio-inline">
							<input type="radio" name="ostyle" value="0" {if $item['ostyle'] == 0}checked="true"{/if}> 无擦除
						</label>
						<label class="radio-inline">
							<input type="radio" name="ostyle" value="1" {if $item['ostyle'] == '1'}checked="true"{/if}>滑动擦除
						</label>
						<span class="help-block">请设置擦除模式,产品多时,为了体验,请不要使用滑动擦除</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享图标</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_image('icon', $item['icon']);}
						<span class="help-block">请上传分享时的图标，大小为100*100</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">背景音乐</label>
					<div class="col-sm-5">
						{php echo tpl_form_field_audio('music', $item['music']);}
						<label class="radio-inline">
							<input type="checkbox" name="mset[0]" value="mauto" {if empty($item) || $item['mauto'] == 1} checked{/if}> 自动播放
						</label>
						<label class="radio-inline">
							<input type="checkbox" name="mset[1]" value="mloop" {if empty($item) || $item['mloop'] == 1} checked{/if}>自动循环
						</label>
						<span class="help-block">选择上传的音频文件或直接输入URL地址，常用格式：mp3</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">场景是否循环</label>
					<div class="col-sm-5">
						<label class="radio-inline">
							<input type="radio" name="isloop" value="1" {if empty($item) || $item['isloop'] == 1} checked{/if}> 允许
						</label>
						<label class="radio-inline">
							<input type="radio" name="isloop" value="0" {if !empty($item) && $item['isloop'] == 0} checked{/if}>禁止
						</label>
						<span class="help-block">设置允许循环后，场景可以从最后一页翻到第一页</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">前台是否显示</label>
					<div class="col-sm-5">
						<label class="radio-inline">
							<input type="radio" name="isview" value="1" {if empty($item) || $item['isview'] == 1} checked{/if}> 显示
						</label>
						<label class="radio-inline">
							<input type="radio" name="isview" value="0" {if !empty($item) && $item['isview'] == 0} checked{/if}>隐藏
						</label>
						<span class="help-block">设置允许循环后，场景可以从最后一页翻到第一页</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">联系电话</label>
					<div class="col-sm-5">
						<input type="text" name="tel" class="form-control" value="{$item['tel']}" />
						<span class="help-block">*该电话用于联系方式按钮 如不填,将不会出现预约界面</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">地址</label>
					<div class="col-sm-5">
						<input type="text" name="addr" class="form-control" value="{$item['addr']}" />
						<span class="help-block">*该地址将用于所有地图展示处具体位置描述展现</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">商家所在地区</label>
					<div class="col-sm-2" style="width:13.6666%">
						<select name="location_p" id="location_p" style="width:150px;" class="location span2 form-control"></select>
					</div>
					<div class="col-sm-2" style="width:13.6666%">
						<select name="location_c" id="location_c" style="width:150px;" class="location span2 form-control"></select>
					</div>
					<div class="col-sm-2" style="width:13.6666%">
						<select name="location_a" id="location_a" style="width:150px;" class="location span2 form-control"></select>
					</div>
					<script type="text/javascript" src="../addons/broke/style/js/region_select.js"></script>
					<script type="text/javascript">
						var location_p = "{if !empty($item['location_p'])}{$item['location_p']}{else}福建省{/if}";
						var location_c = "{if !empty($item['location_c'])}{$item['location_c']}{else}厦门市{/if}";
						var location_a = "{if !empty($item['location_a'])}{$item['location_a']}{else}思明区{/if}";
						new PCAS("location_p", "location_c", "location_a", location_p, location_c, location_a);
					</script>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">地图标识</label>
					<div class="col-sm-5">
						<input type="text" id="jw_addr" class="form-control" name="jw_addr" value="{$item['jw_addr']}" data-rule-required="true">
						<span class="maroon" style="color: #f30;margin-left: 5px;"><br/>注意：这个只是模糊定位，准确位置请地图上标注!</span>
						<div id="l-map" style="overflow: hidden; position: relative; z-index: 0; background-image: url(http://api.map.baidu.com/images/bg.png);width: 500px; height: 300px;margin-top: 10px; color: rgb(0, 0, 0); text-align: left;"></div>
					</div>
					<button class="btn" type="button" id="positioning" onclick="bmap.searchMapByAddress($('#jw_addr').val())">搜索</button>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">经纬度</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" style="width:210px" id="lat" name="lat">
					</div>
					<div class="col-sm-2">
						<input type="text" class="form-control" style="width:210px" id="lng" name="lng">
					</div>
				</div>
			</div>
			
		</div>
				
		<table class="tb">
			
			<tr>
				<th></th>
				<td>
					<button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
					<input type="hidden" name="token" value="{$_W['token']}" />
				</td>
			</tr>
			<tr>
				<th></th>
				<td><div id="baidumap" style="width:600px; height:500px;"></div></td>
			</tr>
			
			
		</table>
	</form>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=1.4&ak=&services=&t=20140102035142"></script>
<script type="text/javascript">
    $(function(){
        $(".location").change(function(){
            bmap.searchMapByPCD();
        });
    });
    new PCAS("location_p", "location_c", "location_a", location_p, location_c, location_a);
    var bmap = {
        'option' : {
            'lock' : false,
            'container' : 'l-map',
            'infoWindow' : {'width' : 250, 'height' : 100, 'title' : ''},
            'point' : {'lng' : "{if $item['lng']!='0.0000000000' && !empty($item['lng'])}{$item['lng']}{else}109.483181{/if}", 'lat' : "{if $item['lat']!='0.0000000000' && !empty($item['lat'])}{$item['lat']}{else}24.371128{/if}"}
        },
        'init' : function(option) {
            var $this = this;
            $this.option = $.extend({},$this.option,option);

            $this.option.defaultPoint = new BMap.Point($this.option.point.lng, $this.option.point.lat);
            $this.bgeo = new BMap.Geocoder();
            $this.bmap = new BMap.Map($this.option.container);
            $this.bmap.centerAndZoom($this.option.defaultPoint, 15);
            $this.bmap.enableScrollWheelZoom();
            $this.bmap.enableDragging();
            $this.bmap.enableContinuousZoom();
            $this.bmap.addControl(new BMap.NavigationControl());
            $this.bmap.addControl(new BMap.OverviewMapControl());
            //添加标注
            $this.marker = new BMap.Marker($this.option.defaultPoint);
            $this.marker.setLabel(new BMap.Label('请您移动此标记，选择您的坐标！', {'offset':new BMap.Size(10,-20)}));
            $this.marker.enableDragging();
            $this.bmap.addOverlay($this.marker);
            //$this.marker.setAnimation(BMAP_ANIMATION_BOUNCE);
            $this.showPointValue($this.marker.getPosition());
            //拖动地图事件
            $this.bmap.addEventListener("dragging", function() {
                $this.setMarkerCenter();
                $this.option.lock = false;
            });
            //缩入地图事件
            $this.bmap.addEventListener("zoomend", function() {
                $this.setMarkerCenter();
                $this.option.lock = false;
            });
            //拖动标记事件
            $this.marker.addEventListener("dragend", function (e) {
                $this.showPointValue();
                $this.showAddress();
                $this.bmap.panTo(new BMap.Point(e.point.lng, e.point.lat));
                $this.option.lock = false;
                $this.marker.setAnimation(null);
            });
        },
        'searchMapByAddress' : function(address) {
            var $this = this;
            $this.bgeo.getPoint(address, function (point) {
                if (point) {
                    $this.showPointValue();
                    $this.showAddress();
                    $this.bmap.panTo(point);
                    $this.setMarkerCenter();
                }
            });
        },
        'searchMapByPCD' : function(address) {
            //alert($('#location_p').val()+$('#location_c').val()+$('#location_a').val());
            var $this = this;
            $this.option.lock = true;
            $this.searchMapByAddress($('#location_p').val()+$('#location_c').val()+$('#location_a').val());
        },
        'setMarkerCenter' : function() {
            var $this = this;
            var center = $this.bmap.getCenter();
            $this.marker.setPosition(new BMap.Point(center.lng, center.lat));
            $this.showPointValue();
            $this.showAddress();
        },
        'showPointValue' : function() {
            var $this = this;
            var point = $this.marker.getPosition();
            $('#lng').val(point.lng);
            $('#lat').val(point.lat);
        },
        'showAddress' : function() {
            var $this = this;
            var point = $this.marker.getPosition();
            $this.bgeo.getLocation(point, function (s) {
                if (s) {
                    $('#place').val(s.address);
                    if (!$this.option.lock) {
                        //cascdeInit(s.addressComponents.province,s.addressComponents.city,s.addressComponents.district);
                        new PCAS("location_p", "location_c", "location_a", s.addressComponents.province, s.addressComponents.city, s.addressComponents.district);
                    }
                }
            });
        }
    };
    $(function(){
        var option = {};
        bmap.init(option);
    });</script>
{elseif $op == 'display'}
<ul class="unstyled loupan_list">
	{loop $list $item}
	<li>
		<a href="{php echo $this->createWebUrl('loupan', array('op' => 'photo', 'lpid' => $item['id']))}" class="loupan_pic"><img src="{$_W['attachurl']}{$item[thumb]}" /></a>
		<div class="loupan_main">
			<p class="loupan_title">{$item['title']}</p>
			<p>
				<span class="pull-right"><a href="{php echo $this->createWebUrl('loupan', array('op' => 'photo', 'lpid' => $item['id']))}">上传照片</a> <a href="{php echo $this->createWebUrl('loupan', array('op' => 'create', 'id' => $item['id']))}">编辑</a> <a href="{php echo $this->createWebUrl('loupan', array('op' => 'delete', 'id' => $item['id'], 'type' => 'loupan'))}" onclick="return confirm('此操作不可恢复，确定删除码？'); return false;">删除</a></span>
				<span class="pull-left">有{$item['total']}个场景</span>
			</p>
		</div>
	</li>
	{/loop}
</ul>
{elseif $op == 'photo'}
<style>
.photo_list{padding:15px 0;}
.photo_list .alert{width:auto; margin-top:10px; overflow:hidden; background-color:#ECECEC}
.photo_list .photo_preview{width:130px;}
.photo_list .photo_preview img{width:130px; margin-bottom:5px;}
.photo_list .photo_preview label{padding:0;}
.photo_list .photo_preview input[type="radio"]{margin-left:0; margin-right:10px;}
.photo_list table{margin-left:40px;}
.photo_list table th,.photo_list table td{padding-bottom:5px;}
.photo_list table th{width:60px; font-size:14px;}
.photo_list table input,.photo_list table select{margin-bottom:0;border-radius: 5px;}
</style>
<div class="main">
	<div class="photo_list">
	<form method="post" class="form">
	<input name="token" type="hidden" value="{$_W['token']}" />
	<input name="lpid" type="hidden" value="{$loupan['id']}" />
	{php echo tpl_form_field_multi_image('attachment-new');}
	<input type="submit" name="submit" id="selectimage" class="btn" value="保存" /> <span style="color:red;">照片尺寸为640*1008，上传照片后，请保存照片数据！</span>
	<div style="padding:10px 0;">产品访问地址：<a target="_blank" href="{php echo create_url('mobile/module', array('do' => 'loupan', 'weid' => $_W['weid'], 'lid' => $loupan['id'], 'name' => 'broke'))}">{php echo create_url('mobile/module', array('do' => 'loupan', 'weid' => $_W['weid'], 'lid' => $loupan['id'], 'name' => 'broke'))}</a></div>
	{if $loupan['type'] == 0}<div id="listimage"></div>{/if}
	{loop $photos $photo}
	<div class="alert alert-block alert-new">
		<input type="hidden" value="{$photo['attachment']}" name="attachment[{$photo['id']}]">
		<span class="pull-right"><a class="delete" onclick="return confirm('删除操作不可恢复，确定码？'); return false;" href="{php echo $this->createWebUrl('loupan', array('op' => 'delete', 'type' => 'photo', 'id' => $photo['id']))}">删除</a></span>
		<div class="photo_preview pull-left">
			<label class="radio inline">
				<img src="{$_W['attachurl']}{$photo['attachment']}">
			</label>
		</div>
		<table class="pull-left">
			<tr>
				<th>排序</th>
				<td>
				<input type="text" style="width:60px;" value="{$photo['displayorder']}" name="displayorder[{$photo['id']}]">
				</td>
			</tr>
			<tr>
				<th>标题</th>
				<td><input type="text" style="width:300px;" value="{$photo['title']}" name="title[{$photo['id']}]"></td>
			</tr>
			<tr>
				<th>链接</th>
				<td><input type="text" style="width:300px;" value="{$photo['url']}" name="url[{$photo['id']}]"></td>
			</tr>
			<tr>
				<th>元素</th>
				<td>
					{loop $photo['items'] $item}
					<a  data-toggle="modal" href="{php echo $this->createWebUrl('item', array('lpid' => $id, 'photoid' => $photo['id'], 'id' => $item['id']));}" data-target="#modal" style="margin-right:10px;float:left;"><img src="../addons/broke/style/img/{if ($item['type']==0)}image.png{/if}"></a>
					{/loop}
					<a  data-toggle="modal" href="{php echo $this->createWebUrl('item', array('lpid' => $id, 'photoid' => $photo['id']));}" data-target="#modal" style="background:url(../addons/broke/style/img/addno.png) no-repeat;background-size:80px 80px;width:80px;height:80px;margin-right:10px;float:left;"><img src="../addons/broke/style/img/add.png"></a>
				</td>
			</tr>
		</table>
	</div>
	{/loop}
	</form>
	</div>
</div>
<div id="modal" class="modal hide fade" style="width:600px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">设置动画元素</h3>
  </div>
  <div class="modal-body" style="max-height: 800px;">
  </div>
  </form>
</div>
<script type="text/javascript">
$('#modal').on('hide', function () {
	location.reload();
})
</script>
{/if}
{template 'common/footer'}