{template 'common/header'}
<style type="text/css">
table li{padding:5px 0;}
small a{color:#999;}

.label-important {
	background-color: #747474;
}
</style>
<ul class="nav nav-tabs">
	<li class="active"><a href="">经纪人信息</a></li>
	<li><a href="{php echo $this->createWebUrl('member',array('op'=>'showteam','id' => $_GPC['id']));}">经纪人团队</a></li>
</ul>
<div class="main">
	<form action="" class="form-horizontal form" method="post">
		<input type="hidden" name="id" value="{$user['id']}">
		<input type="hidden" name="op" value="status">
		<input type="hidden" name="c" value="site" />
		<input type="hidden" name="a" value="entry" />
		<input type="hidden" name="m" value="broke" />
		<input type="hidden" name="do" value="member" />
		<div class="panel panel-default">
			<div class="panel-heading">
				用户详细信息
			</div>
			<div style="padding-top:10px;">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">设置权限</label>
					<div class="col-sm-5">
						<label class="radio-inline">
							<input type="radio" name="status" value="1" {if $user['status'] == '1'}checked="true"{/if}> 可用
						</label>
						<label class="radio-inline">
							<input type="radio" name="status" value="0" {if $user['status'] == '0'}checked="true"{/if}>禁用
						</label>
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">真实姓名</label>
					<div class="col-sm-5">
						{if $user['realname']!=""} {$user['realname']}{else}未完善{/if}
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">手机号码</label>
					<div class="col-sm-5">
						{if $user['mobile']!=""} {$user['mobile']}{else}未完善{/if}
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册时间</label>
					<div class="col-sm-5">
						{php echo date('Y-m-d H:i:s', $user['createtime']);}
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">银行卡号</label>
					<div class="col-sm-5">
						{if $user['banktype']!=""} {$user['banktype']}－<span id="bankcard">{$user['bankcard']}</span> {else}未完善{/if}
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">身份类型</label>
					<div class="col-sm-5">
						{$identitys[$user['identity']]}
					</div>
				</div>
			</div>
			{if $user['company']!=''}
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">所属公司</label>
					<div class="col-sm-5">
						{$user['company']}
					</div>
				</div>
			</div>
			{/if}
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">客户数量</label>
					<div class="col-sm-5">
						{if $count==0}
							{$count}
						{else}
							<a href="{php echo $this->createWebUrl('customer', array('op'=>'mycustomer', 'id'=>$user['id']))}">{$count}</a>
						{/if}
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">当前佣金</label>
					<div class="col-sm-5">
						{$user['commission']}
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">用户状态</label>
					<div class="col-sm-5">
						{if $user['status']==0}
							<span class="label label-important">未审核</span>
						{else}
							<span class="label label-success">已审核</span>
						{/if}
					</div>
				</div>
			</div>
			<div class="form-group col-sm-12">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input type="submit" class="btn btn-primary col-lg-1" onclick="history.go(-1)" value="返回" />
				<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
window.onload = function(){
	var bankcard = "{$user['bankcard']}";
	//var bankcard = bankcard.toString();
	if(bankcard != ''){
		var card = '';
		for(var i=0; i<5; i++){
			card  = card + bankcard.substr(4*i,4) + ' ';
		}
		window.document.getElementById('bankcard').innerHTML = card;
	}

}

</script>
{template 'common/footer'}
