{template 'common/header'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
		<div class="panel panel-default">
			<div class="panel-heading">
				活动细规设置
			</div>
			<div class="form-group" style="padding-top:12px;">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态设置</label>
				<div class="col-sm-5">
					<input type="text" name="status" class="form-control" value="{$theone['status']}" />
					<span class="help-block">[推荐,跟进,无意向]三项为内置状态 ,不可修改。新增状态请用英文逗号隔开。如 [ <font style="color:#f00"> 到访,认筹,认购,签约,回款 </font> ]</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">团队抽成</label>
				<div class="col-sm-5">
					<input type="text" name="teamfy" class="form-control" value="{$theone['teamfy']}" />
					<span class="help-block">1-100,百分比计算</span>
				</div>%
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关注引导页</label>
				<div class="col-sm-5">
					<input type="text" name="gzurl" class="form-control" value="{$theone['gzurl']}" />
					<span class="help-block">如果是认证服务号，此项无效</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">活动细则</label>
				<div class="col-sm-5">
					<textarea style="height:180px;" class="form-control" name="rule" id="rule" >{$theone['rule']}</textarea>
					<span class="help-block">活动的相关说明</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">注册条款</label>
				<div class="col-sm-5">
					<textarea style="height:180px;" class="form-control" name="terms" id="terms" >{$theone['terms']}</textarea>
					<span class="help-block">注册条款相关说明</span>
				</div>
			</div>
			<div class="form-group col-sm-12">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input type="hidden" name="id" value="{$theone['id']}" />
				<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
			</div>
		</div>
	</form>
</div>
<script>
require(['jquery', 'util'], function($, u){
	$(function(){
		u.editor($('#rule')[0]);
		u.editor($('#terms')[0]);
	});
});
</script>
{template 'common/footer'}