@charset "utf-8";
/* CSS Document */
body{
	background-color:#000;
	background-image:url(../images/bg0.jpg);
	background-size: 100% auto;
	margin:0;
	font-family: "simsun",Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; sans-serif;
	font-size:12px;
}
*{
	margin:0;
	padding:0;
}

.cover_bg{
	position:absolute;padding:5px;top:50%; margin-top:-155px; left:50%;width:300px;height:300px; margin-left:-155px;background:url(../images/coverbg.png) no-repeat;

}
.songintro{
	position:absolute;top:50%; margin-top:155px; left:50%;width:300px;height:20px; margin-left:-150px;text-align:center;color:#fff;line-height:20px;overflow:hidden;

}
.copyright{position:absolute;bottom:0px;width:100%;text-align:right;font-size:120%;color:#fff;}
.copyright strong{background:#000;}
.cover_pic{
	background: none;
	width:300px;
	height:300px;
	overflow:hidden;
	background-size:300px 300px;
}
.homebtn{
	position:absolute;
	top:10px;
	right:10px;
	background:url(../images/list.png) no-repeat;
	width:30px;
	height:30px;
	background-size:30px 30px;
}
.heartbtn{
	position:absolute;
	top:10px;
	left:10px;
	background:url(../images/heart_2.png) no-repeat;
	width:30px;
	height:30px;
	background-size:30px 30px;
}
.heartselect{
	background:url(../images/heart_1.png) no-repeat;
	background-size:30px 30px;
}
.playbg{
	position:absolute;
	background:url(../images/playbg.png);
	width:300px;
	height:150px;
	bottom:5px;
	left:5px;
}
.songtitle{
	width:300px;height:22px;line-height:22px;font-size:140%;color:#fff;text-align:center;padding-top:40px;font-weight:bold;overflow:hidden;
}
.auther{
	width:300px;height:20px;line-height:20px;color:#ddd;text-align:center;
}
.progdiv{
	width:260px;
	margin:0 auto;
	margin-top:10px;
	background-color:#000;
	border-radius:3px;
	height:5px;
}
.pgbg{
	position:relative;
}
.pgbuf, .pgtime{
	background-color:#333;
	height:5px;
	position: absolute;
	top: 0px;
	width:0;
	border-radius: 3px;
}
.pgtime{
	background-color:#fff;
}



.playbtns{
	width: 150px;
	margin: 0 auto;
	padding-top:10px;
}
.playbtns a{
	display:inline-block;
}
.prevbtn, .nextbtn{
	background:url(../images/prevbtn.png);
	width:32px;
	height:32px;
	margin-bottom: 4px;
	background-size:32px 32px;
}
.playbtn{
	background:url(../images/playbtn.png);
	width:40px;
	height:40px;
	margin:0 17px;
	background-size:40px 40px;
}
.pausebtn{
	background:url(../images/pausebtn.png);
	background-size:40px 40px;
}
.nextbtn{
	background:url(../images/nextbtn.png);
	background-size:32px 32px;
}




.header{
	height:40px;
}
header{
	background:url(../images/hdbg.png) repeat-x;
	height:30px;
	line-height:30px;
	display:block;
	text-align:center;
	width:100%;
	padding:5px 0px;
}
header span{
	font-size:150%;
	color:#fff;
}
.fmlist, .fmlista{
	background:url(../images/listbtnb.png);
	width:30px;
	height:30px;
	float:left;
	background-size:30px 30px;
}
.fmlista{
	float:right;
}
.list_style{
	font-size:140%;
	float:left;
	width:100px;
	height:30px;
	color:#f48a01;
	text-decoration: none;
	margin:0 auto;
	background:url(../images/style_back.png) no-repeat;
	line-height:30px;
}
.no_select{
	background:url(../images/style_back2.png) no-repeat;
	color:#fff;

}
.fmlistbox{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -1000px;
	background:url("../images/bg.png") repeat;
	z-index: 500;
	overflow:hidden;
}
.fmlistdiv dl{
	border-bottom:1px solid #252525;
	padding: 5px;
}
.fmlistdiv dt{
	float:left;
	margin-right:10px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.fmlistdiv a{
	color:#fff;
	text-decoration:none;
	height: 50px;
	display: block;
}
.fmlistdiv dd{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
}
.fmlistdiv h3{
	font-size:120%;
}
.fmlistdiv span{
	color:#ccc;
}

.fmlistdiv p{
	color:#fff;
    font-size:120%;
    line-height:40px;
}


.fmlistdiv dd:nth-of-type(2){
	padding:0px 0px;
}
.s_page {
	padding-top:10px;
	width:100%;
	height:30px;
}
.s_page_div{
	width:300px;
	height:30px;
	line-height:30px;
	margin:0 auto;
	overflow:hidden;
	padding-left:20px;
}
.s_page a{
	text-indent:-9999px;
	cursor: pointer
	height:30px;
	float:left;
	margin-right:15px;
}
.first_pg{
	width:63px;
	background:url(../images/pg1.png) no-repeat;
	background-size:65px 30px;
}
.end_pg{
	width:63px;
	background:url(../images/pg4.png) no-repeat;
	background-size:65px 30px;
}
.prev_pg{
	width:30px;
	background:url(../images/pg2.png) no-repeat;
	background-size:30px;
}
.next_pg{
	width:30px;
	background:url(../images/pg3.png) no-repeat;
	background-size:30px;
}
.num_pg{
	float:left;
	margin-right:15px;
	color:#fff;
}
