{php $bootstrap_type = 3;}
{template 'header'}
<style type='text/css'>
	.sel { background:#33cdd6; color:#fff;}
	.nosel { background:#fff;color:#000}
</style>
<link type="text/css" rel="stylesheet" href="../addons/hx_zhongchou/images/style.css?{TIMESTAMP}">
<div class="head">
	<a href="javascript:history.back();" class="bn pull-left"><i class="fa fa-angle-left"></i></a>
	<span class="title">我的众筹</span>
	
</div>
 <div class="myoder img-rounded" style='text-align:center;color:#aaa;padding:5px;'>
	 <div style='float:left;height:23px;margin:auto;width:60%;'>
		<div {if $status==0}class='sel'{else}class="nosel"{/if} style='border-top-left-radius: 5px;border-bottom-left-radius:5px;border:1px solid #33cdd6;text-align: center;float:left;width:30%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>0))}'">
			待支付
		</div>
		<div {if $status==1 || $status==2}class='sel'{else}class="nosel"{/if} style='border:1px solid #33cdd6;margin-left:-1px;float:left;width:30%;text-align: center;' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>2))}'">
			待收货
		</div>
		<div {if $status==3}class='sel'{else}class="nosel"{/if} style='border-top-right-radius: 5px;margin-left:-1px;border-bottom-right-radius:5px;text-align: center;border:1px solid #33cdd6;float:left;width:30%' onclick="location.href='{php echo $this->createMobileUrl('myorder',array('status'=>3))}'">
			已完成
		</div>
	</div>
</div>

{if count($list)<=0}
<div class="myoder img-rounded" style='text-align:center;color:#aaa;padding:30px;'>
	您暂时没有任何订单!
</div>
{/if}
<div style='margin-bottom:40px;'>
{loop $list $item}
<div class="myoder img-rounded">
	<div class="myoder-hd">
		<span class="pull-left">订单编号：{$item['ordersn']}</span>
		<span class="pull-right">{php echo date('Y-m-d H:i', $item['createtime'])}
		{if $item['paytype'] == 3}
			{if $item['status'] == -1}
			<span class="text-muted">订单取消</span>
			{elseif $item['status'] < 3}
			<span class="text-danger">货到付款 / 未付款</span>
			{else}
			<span class="text-success">已完成</span>
			{/if}
		{else}
			{if $item['status'] == -1}
			<span class="text-muted">订单取消</span>
			{elseif $item['status'] == 0}
			<span class="text-danger">未付款</span>
			{elseif $item['status'] == 1}
			<span class="text-warning">已付款</span>
			{elseif $item['status'] == 2}
			<span class="text-warning">已发货</span>
			{else}
			<span class="text-success">已完成</span>
			{/if}
		{/if}
		</span>
	</div>
	{php $project = $this->getproject($item['pid']);}
	{php $p_item = $this->getitem($item['item_id']);}
	<div class="myoder-detail">
		<a href="{php echo $this->createMobileUrl('detail', array('id' => $project['id']))}">
			<img src="{$_W['attachurl']}{$p_item['thumb']}" width="160"/>
		</a>
	</div>
	<div class="myoder-total">
		<span>
			共计：<span class="false">
				{if $item['dispatchprice']<=0}
				{$item['price']} 元
				{else}
				{$item['price']} 元 (付出金额：{$item['item_price']}元 运费 {$item['dispatchprice']} 元)
				{/if}</span>
		</span>
		<div style="height:30px;"><a href="{php echo $this->createMobileUrl('myorder', array('orderid' => $item['id'], 'op' => 'detail'))}" class="btn btn-success pull-right btn-sm" >订单详情</a></div>
	</div>
</div>
{/loop}</div>
{template 'footer'}
{template 'footerbar'}