* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
    display: block;
    border: 0px;
}
a {
    text-decoration: none;
}
.hrgd {
    height: 1px;
}
body {
    margin: 0px;
    padding: 0px;
    background-color:#e2dccf;
    font-family: Î¢ÈíÑÅºÚ,"Helvetica Neue",\5FAE\8F6F\96C5\9ED1,Tohoma;
    color: #5e6060;
    overflow-x: hidden;
}
/*default*/
.address {
    height: 35px;
    line-height: 35px;
    margin: 5px auto;
    padding: 0px 5px;
    font-size: 18px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    font-family: Î¢ÈíÑÅºÚ;
}

.theWeather, .situation {
    color: #fff;
    width: 80%;
    height: 40px;
    text-align: left;
    margin: 0px auto;
    line-height: 40px;
}

.temperature {
    font-size: 45px;
    padding: 0px 5px;
}

.weather {
    font-size: 18px;
    padding: 0px 5px;
}

.situation {
    height: 25px;
    line-height: 25px;
}

.wind, .humidity {
    font-size: 14px;
    padding: 0px 0px;
}

.particular {
    width: 95%;
    margin: 10px auto;
}

.weatherleft, .weatherright {
    width: 50%;
    float: left;
}

.week {
    width: 95%;
    margin: 3px auto;
    height: 45px;
    border-radius: 5px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    background-image: url(../images/btm.png);
}

.weather_img {
    width: 45px;
    height: 45px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .weather_img img {
        width: 70%;
    }

.weektemperature {
    -webkit-box-flex: 1;
    font-size: 12px;
    text-align: center;
}

.warning {
    width: 39%;
    margin: 2px 5%;
    height: 45px;
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url(../images/btm.png);
}

.degree {
    width: 80%;
    height: 4px;
    margin: 3px auto;
    background-color: red;
    border-radius: 5px;
}

.red {
    background-color: rgb(230, 68, 68);
}

.blue {
    background-color: rgb(27, 109, 213);
}

.orange {
    background-color: rgb(250, 186, 70);
}

.degree_font {
    width: 100%;
    font-size: 9pt;
    line-height: 15px;
    height: 15px;
    margin: 0px auto;
    text-align: center;
}

.degree_num {
    width: 100%;
    font-size: 13px;
    line-height: 17px;
    height: 17px;
    margin: 0px auto;
    text-align: center;
}

.clear {
    clear: both;
}
.footer_zw {
    height:60px;
}
footer {
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0px;
    left:0px;
    border-top: 1px solid #666;
    display: -webkit-box;
    z-index: 1000;
    -webkit-box-orient: horizontal;
    /*background-image:url(../images/btm.png);*/
    background: -webkit-linear-gradient(top, #5A5A5A,#2A3538,#000000);
}

.menu_list {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    /*background-image:url(../images/ds.png);*/
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 75%;
}

    .menu_list a {
        display: block;
        text-decoration: none;
        color: #B9B9B9;
        font-size: 12px;
        width: 45px;
        height: 35px;
        line-height: 17px;
        border-radius: 5px;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        /* background-image:-webkit-linear-gradient(bottom, #07A58C 0%, #5DA8F8 100%);*/
    }

        .menu_list a img {
            width: 30px;
            margin: 0px auto;
        }

.color_l {
    color: #fff !important;
}

.msg {
    width: 14px;
    height: 14px;
    position: absolute;
    top: -5px;
    right: -10px;
    /*background-image:-webkit-linear-gradient(bottom, #A50707 0%, #F85D69 100%);
    background-color: rgb(241, 24, 24);
    border-radius:7px;
    border:2px solid #fff;*/
    background-image: url(../images/d.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.msgs {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -5px;
    right: -15px;
    /*background-image:-webkit-linear-gradient(bottom, #A50707 0%, #F85D69 100%);
    background-color: rgb(241, 24, 24);
    border-radius:7px;
    border:2px solid #fff;*/
    color: #fff;
    text-align: center;
    font-size: 8px;
    line-height: 17px;
    background-image: url(../images/d.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.edition_list {
    margin:0px 30px;
    line-height:23px;
    font-size:13px;
    text-align:center;
    color: #9b9f9f;
}

.loading {height:22px;margin:3px auto;}
.loading,.moreP{ line-height:22px;font-size:12px;text-align:center;}
.loadInco{position:relative;width:17px;height:21px;margin-right:5px;display:inline-block;vertical-align:-30%;}
.blockG{display:block;position:absolute;background-color:#ccc;width:2px;height:6px;-webkit-border-radius:3px 3px 0 0;-webkit-transform:scale(0.4);-webkit-animation-name:fadeG;-webkit-animation-duration:0.48s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;border-radius:3px 3px 0 0;transform:scale(0.4);animation-name:fadeG;animation-duration:0.48s;animation-iteration-count:infinite;animation-direction:linear;}
.rotateG_01{left:0;top:8px;-webkit-animation-delay:0.18s;-webkit-transform:rotate(-90deg);animation-delay:0.18s;transform:rotate(-90deg);}
.rotateG_02{left:2px;top:3px;-webkit-animation-delay:0.24s;-webkit-transform:rotate(-45deg);animation-delay:0.24s;transform:rotate(-45deg);}
.rotateG_03{left:8px;top:1px;-webkit-animation-delay:0.3s;-webkit-transform:rotate(0deg);animation-delay:0.3s;transform:rotate(0deg);}
.rotateG_04{right:2px;top:3px;-webkit-animation-delay:0.36s;-webkit-transform:rotate(45deg);animation-delay:0.36s;transform:rotate(45deg);}
.rotateG_05{right:0;top:8px;-webkit-animation-delay:0.42s;-webkit-transform:rotate(90deg);animation-delay:0.42s;transform:rotate(90deg);}
.rotateG_06{right:2px;bottom:2px;-webkit-animation-delay:0.48s;-webkit-transform:rotate(135deg);animation-delay:0.48s;transform:rotate(135deg);}
.rotateG_07{bottom:0;left:8px;-webkit-animation-delay:0.54s;-webkit-transform:rotate(180deg);animation-delay:0.54s;transform:rotate(180deg);}
.rotateG_08{left:2px;bottom:2px;-webkit-animation-delay:0.6s;-webkit-transform:rotate(-135deg);animation-delay:0.6s;transform:rotate(-135deg);}
@-webkit-keyframes fadeG{0%{background-color:#8b8c8d}100%{background-color:#ccc}}
@keyframes fadeG{0%{background-color:#8b8c8d}100%{background-color:#ccc}}

/*------*/
.TopShowBox {
    width:100%;
    height:40px;
    position:fixed;
    left:0px;
    top:0px;
    z-index:100;
    background-color:#fff;
    border-bottom:1px solid #ccc;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    font-size:13px;
    color:#333;
}
    .TopShowBox img {
        display:block;
        height:20px;
        margin-right:10px;
    }
.ListContBox {
    width:100%;
    padding-top:41px;
}
.ListBox{
    min-height:40px;
    margin:10px;
    background-color:#fff;
    border-radius:5px;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:start;
}
.ListIcon {
    width:34px;
    height:100%;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}
    .ListIcon span {
        display:block;
        width:10px;
        height:10px;
        border-radius:5px;
    }
    .ListIcon img {
        display:block;
        height:10px;
    }
span.Ys {
    background-color:rgb(232, 154, 14);
}
span.Lvs {
    background-color:#96CDCD;
}
span.Hus {
    background-color:#FFFF00;
}
span.Rs {
    background-color:#FF0000;
}
span.Zs {
    background-color:#8968CD;
}
span.Las {
    background-color:#436EEE;
}
span.Hs {
    background-color:#000000;
}
span.Gs {
    background-color:#7FFF00;
}
span.is {
    background-color:#87CEFA;
}
.ListTitle {
    height:100%;
    -webkit-box-flex:1;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:start;
    font-size:13px;
    color:#333;
    line-height:20px;
}
.WorkInfoContBox {
    margin:10px;
    padding:10px;
    box-sizing:border-box;
    font-size:13px;
    line-height:22px;
    color:#333;
    background-color:#fff;
    border-radius:5px;
}