.myheader{border-bottom: 1px solid #d1d4d7;box-shadow: 0 0 5px rgba(0,0,0,.1);}
.mylogo{margin-right:30px;position:relative;}
.mylogo a{position:absolute;display:block;width:100%;height:100%;left:0;top:0;}
.mylogo img{float:left;}
.myfont{font-family:Microsoft Yahei;}
.mylogo em{font:normal 26px Microsoft Yahei;color:#53ab3d;margin:6px 10px 0;float:left;text-shadow:0 1px 1px rgba(45,114,17,0.2);padding-right:10px;}
.mylogo i{float:left;font:normal 16px Microsoft Yahei;margin-top:15px;text-shadow:0 1px 1px rgba(100,100,100,0.2);}
.dropdown-menu li i.fa{width:14px;text-align:center;}
.dropdown-menu li a{font-size:12px;font-family:Microsoft Yahei;}
.mynav .nav li a span{font-size:13px;}
.myhbox{margin-top:-50px;float:left;padding-top:50px;font-family:Microsoft Yahei;}
.myhbox .bg-success.dker{background-color:#53ab3d;}
.myhbox .bg-success.nav-user{background-color:#5dbf45;}
.text-yh{font-family:Microsoft Yahei;}
.text-f14{font-size:14px;}
.text-sg{font-size:13px;}
.text-lg{font-size:14px;}
.text-llg{font-size:16px;}
.text-lllg{font-size:18px;}
.w90{width:90%;display:inline-block;float:left;}
.require{color:red;font-size:18px;margin-left:10px;margin-top:7px;float:left;}
.modal-backdrop{z-index:1100;}
.modal{z-index:1140;}
.clear {clear: both;}




.myfunc .btn-group{margin:10px 0 20px;}
.myfunc .dropdown-menu .btn-xs{font-size:12px;float:left;margin-left:12px;}
.myfunc .dropdown-menu p{width:100%;margin:3px 0;float:left;}
.myfunc .btn .caret_box{float:right;margin-top: -10px;margin-right: -10px;padding: 10px 10px;}
.myfunc .btn i.fa{margin-right:15px;}
.row .tc{width:180px;height:180px;text-align:center;padding-top:30px;font-size:30px;cursor: pointer;}
.row .tc small{font-size:16px;}
.row .tc small.text-muted{color:#fdff37;}
.myradiobtn .radio{margin-left:60px;margin-top:-10px;}
.table.td-h-2x td{height:40px;padding-top:12px;}
.table.td-h-3x td{height:50px;padding-top:28px;}

.column { width:85%;margin:0 auto;min-height:300px;}
.other_func_box .column{min-height:100px;}
.my_bg_width{width:95%;margin:0 auto;padding:0 0 1px;min-height:370px;}
.my_bg_width .func_item{width:100%;}
.func_item .item_bar{width:100%;min-width:120px;height:40px;font-size:13px;}
.func_item .item_bar .dropup .caret{border-bottom: 4px solid #ffffff;}
.func_item .item_cont{display:none;font-size:13px;margin-top:5px;padding:8px;text-align:center;border-radius: 2px;-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);box-shadow: 0 2px 6px rgba(0,0,0,0.1);border: 1px solid #ddd;border: 1px solid rgba(0,0,0,0.1);background:#f7f8f9;}
.edit_menu_icon{float:right;color:#ffffff;font-size:14px;margin-top:0px;padding:0 10px;}
.edit_menu_icon:hover{color:#ffffff}
.edit_menu_input{background:#5dcff3;color:#fff;font-size:12px;width:65%;height:37px;margin-top:-12px;outline:none;text-indent:5px;}
.edit_menu_input:-moz-placeholder{color:#ffffff;}.edit_menu_input::-moz-placeholder{color:#fff;}.edit_menu_input:-ms-input-placeholder{color:#fff;}.edit_menu_input::-webkit-input-placeholder{color:#fff;}

.coldisable .item_bar a{color:#fff;}
.coldisable .item_bar a:hover{color:#fff;}

.index-line2{margin:20px -15px 0;background:rgba(200,200,200,0.1);border-top:1px solid #e1e1e1;}
.index-no-row{padding:15px 15px 20px;margin-bottom:-15px;background:#fcfcfc;}
.other_func_box{padding:15px 0;}
.other_func_box .func_item{width:28.666666%;margin:1em 2%;float:left;}
.other_func_box .column{width:50%;}
.other_func_box #column4{width:100%;}
.other_func_box #column5{width:100%;}
.index-no-menu{width:97.5%;margin:0 auto;background:#fefefe;}
.index-no-menu .panel-heading{background:none;}
.index-no-menu .panel-body,.index-no-active .panel-body{padding:0.5em;}
.index-no-active{width:95%;margin:0 auto;background:#f8f8f8;}
.index-no-active .panel-heading{background:none;}
.index-no-menu .other_func_box .func_item{width:46%;margin:0.5em 2%;}
.index-no-active .other_func_box .func_item{width:46%;margin:0.5em 2%;}
.index-no-active .other_func_box .func_item .caret_box{display:none;}
.index-no-active .other_func_box .func_item .btn.item_bar{min-width:90px;background:#c7c7c7;border-color:#bcbcbc;}
.index-no-menu .other_func_box .func_item .btn.item_bar{background:#fcc44d;border-color:#e2c27e;}

.portlet { margin: 0 0 1.2em 0; }
.portlet-header {padding-top:9px;}
.ui-sortable-placeholder { border: 1px dotted #92cf5c; visibility: visible !important; height: 40px; }
.wx_main_menu{width:100%;height:40px;padding-top:8px;margin:0 auto 2em;display:block;border-radius:0;position:relative;}
.wx_main_menu i.fa{margin-right:3px!important;}
.wx_main_menu .showname{position:absolute;z-index:99;width:100%;left:0;top:8px;}
.wx_main_menu .editname{position:absolute;z-index:98;width:100%;left:0;top:8px;}
.avatar_box{position:relative;}
.avatar_box a{display:block;position:absolute;right:0;top:0;width:50px;height:50px;background:rgba(0,0,0,0.6);text-align:center;padding-top:14px;display:none;}
.avatar_box .fa{font-size:22px;color:#fefefe;}
.myinfocenter_list .noread i.fa{margin-top:2px;color:rgba(0,0,0,0.3);margin-right:10px;}
.myinfocenter_list .read i.fa{margin-top:2px;color:rgba(0,0,0,0);margin-right:10px;}

.myzijintab {height:40px;}
.myzijintab li{width:120px;text-align:center;}
.alert{font-size:100%;}
.modal-backdrop.in {opacity: 0.7;filter: alpha(opacity=70);}
#start{display:block;}
#start .modal-dialog{width:50%;padding-top:30px;padding-bottom:30px;margin-top:30px;}
.modal .modal-title,.modal .modal-body{font-family:Microsoft Yahei;}
.start_tip{padding:0 15px;}
.start_tip h3{font-family:Microsoft Yahei;font-size:14px;font-weight:bold;}
.start_tip p{color:#999;}
.start_tip p a{color:#428bca;}
#start .modal-footer{text-align:center;}
a.jumplink{display:inline-block;margin-left:100px;color:#5dcff3;vertical-align:bottom;}
a.jumplink:hover{color:#3a87ad;}
.add-success-tip{width:80%;margin:20px auto;font-size:14px;line-height:30px;}
.add-success-tip .alert{padding:25px 40px;}
.add-success-tip h4{font-family:Microsoft Yahei;font-size:35px;text-align:center;padding-top:20px;color:#4cae4c;}
.add-success-tip h4 img{margin-right:30px;}
.add-success-tip  p{text-align:center;padding:30px 0;}
.add-success-tip  p .btn{width:300px;height:52px;line-height:40px;font-size:18px;}
.modal-footer .btn{min-width:100px;}

.set_list_group .list-group-item{border-left:none;border-right:none;border-top:none;margin-bottom:0;}
.set_list_group .list-group-item em{font-style:normal;color:#999;}
.set_list_group .list-group-item i.fa{width:16px;text-align:center;font-size:13px;color:#aaa}
.my_block div.b-center span{font-size:30px;margin-right:5px;color:#ff0000;text-shadow:0 2px 2px rgba(28,28,28,0.3);font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;float:left;}
.my_block div.b-center small{font-size:16px;margin-right:5px;float:left;margin-top:5px;}
.my_block div.b-center i{font-size:32px;margin-right:10px;float:left;color:#f8f8f8;}
.my_block div.col-xs-4{padding:20px 10px 0;height:155px;overflow:hidden;}
.my_block div.col-xs-4 p{text-align:center;margin:5px 0 0;}
.my_block div.col-xs-4 p i{color:rgba(255,255,255,0.5);margin-right:5px;margin-top:-2px;}
.my_block div.col-xs-4 p span{color:#faf6ad;}
.my_block div.col-xs-4 .line{border-top: 1px solid rgba(0,0,0,0.1);border-bottom: 1px solid rgba(255,255,255,0.17);}
.my_block div.b-center{width:250px;margin:0 auto;overflow:hidden;}
.my_block div.btn-center{width:250px;margin:15px auto 0;}
.my_block div.btn-center .btn{width:98px;}
.my_block div.btn-center .btn-r-text{vertical-align:middle;font-size:14px;color:#fff;border-right:1px solid rgba(0,0,0,0.1);display:inline-block;padding-right:15px;margin-left:15px;line-height:15px;color:#fefefe;}
.my_block div.btn-center .btn-r-text:hover{color:#e8e8e8}

.my_block  div.zj{width:auto;overflow:hidden;}
.text-r-s{font:normal 12px Microsoft Yahei;margin-left:30px;color:rgba(250,250,250,0.7);}
.my_block .wrapper p.h2 .tooltip{font-weight:normal;}
.my_block .wrapper p.tp i{color:#999;margin-right:5px;}
.my_block .wrapper .list-group{margin-bottom:0;}
.my_block .wrapper .list-group-item{background:none;padding:5px 10px;}
.my_block div.tpline{border-top: 1px solid rgba(0,0,0,0.1);border-bottom: 1px solid rgba(255,255,255,0.17);margin:5px 0 0;}
.zj-panel .panel{height:148px;overflow:hidden;}
.tixian-body .h5 span.label{margin-left:20px;font-weight:normal;}
.tixian-body small.block{padding:5px 18px;color:#888;}
.tixian-body small.block i{color:#999;}

.messagelist .list-group-item i.fa{font-size:20px;margin-top:7px;margin-right:15px;}
.mysettingh4{padding:10px 15px 8px;font-size:15px;font-family:Microsoft Yahei;}
.mysettingh4 .btn{margin-top:-8px;}

.breadcrumb i.fa{margin-right:5px;}
.panel .mytable td{padding:10px 15px 6px;}
.mypanelhead{font-size:14px;line-height:25px;}
.mypanelhead .btn{margin-top:-3px;}
.mypanelhead .btn-s-xx{min-width:50px;}
.mypanelhead em{float:left;color:#999;line-height:20px;padding-right:10px;font-style:normal;}
.mypanelhead .label input{float:left;}
.mypanelhead .label a.btn{margin-left:10px;padding:4px 10px;margin-top:-3px;float:left;}
.thumb-hd{width:360px;display:inline-block;}
.thumb-hd img{width:350px;height:170px;overflow:hidden;}
.mylabel{display:inline-block;padding:3px 2px;}
.panel-body{font-size:12px;}
.line-dotted{border-style:dotted;background:transparent;}
.mypic{height:195px;max-width:100%}
.myheight200{height:195px;}
.pic-box{height:192px;overflow:hidden;border:1px solid #dedede;padding:2px;}
.no-pic{background:url(../images/nopic2.png) center no-repeat #dff5e8;height:186px;background-size:200px 100px}
.pic-box a{display:block;overflow:hidden;}
.pic-box img{}
.fl{float:left;}
.fr{float:right;}
.l-h-3x{line-height:30px;}
.btn-s-xxs{min-width:60px;padding:3px 10px;}
.p-t-xxs{padding-top:3px;}

.mycol{width:265px;height:315px;float:left;margin-right:20px;display:inline;margin-bottom:20px;}
.imgbox{width:100%;height:100%;max-height:180px;;overflow:hidden;display:block;}
.imgbox img{width:100%;}
.dph4{font:normal 14px Microsoft Yahei;margin:5px 0;max-height:38px;overflow:hidden;text-shadow:1px 1px 1px rgba(0,0,0,0.03)}
.dph4 a{color:#666}
.dph4 a:hover{color:#464646;}
.myplus{font-size:150px;color:#e4e8f2;display:block;margin:50px auto 0;}
.myplus:hover{color:#dde2ee;}

.loginbox{margin:7% auto 0;font-family:Microsoft Yahei;color:#8b91a0;width:500px;}
.p-b-sm{padding-bottom:10px;}
.btn-h-sm{height:37px;}

.daohang_type{width:160px;height:160px;text-align:center;display:block;padding-top:40px;overflow:hidden;font-size:21px;line-height:35px;margin:10px 20px;float:left;display:inline;}
.daohang_type i.fa{font-size:50px;}

.add_color{width:24px;height:24px;background:url(../images/color.png);display:inline-block;margin-top:-2px;}
.add_bold{display:inline-block;width:24px;height:24px;background:url(../images/b-icon.png);margin-left:10px;margin-top:-2px;}
.onbold{background:url(../images/b-icon.png) 0 -24px;}
.add_bold b{display:none;}
table th[class*="col-"],table td[class*="col-"]{position:static;}
.page_info_tb{border:1px solid #eee;margin-top:20px;}
.page_info_tb td{line-height:20px;padding:5px;border-right:1px solid #eee;border-bottom:1px solid #eee;text-align:center;}
.page_info_tb tr:hover{background:#fefefe;}

.tixian-set{float:right;font:normal 14px Microsoft Yahei;margin-top:15px}

.page_p{padding-right: 20px;line-height: 29px;vertical-align: top;display: inline-block;margin: 20px 0;}

.dropdown-toggle{font-family:Microsoft Yahei;}
.form-control{padding:4px 7px;}

.weiwebform ul{padding:10px;overflow:hidden;}
.weiwebform ul li{list-style:none;text-align:center;float:left;margin:5px 30px;width:220px;height:460px;background:url(../images/iphone_box.png) 1px 0 no-repeat #fff;}
.weiwebform ul li:hover{background-position:-220px 0;}
.weiwebform ul li img{margin-bottom:10px;width:161px;height:262px;margin-top:73px;margin-bottom:50px;cursor:pointer;}
.weiwebform ul li input[type="radio"]{margin-right:5px;}
.weiwebform ul li .radio{width:100%;height:25px;padding-top:3px;}
.mb-set-p .col-sm-offset-2 button{min-width:80px;}
.weiwebform ul li.onselect{background-position:-220px 0;}



#yewu_check{padding:10px;}
#yewu_check label{font-weight:normal;margin-right:20px;cursor:pointer;}
.tp_right{position:absolute;right:25px;font-size:14px;color:#acacac;top:6px;cursor:pointer;}
a.close_tag{position:absolute;right:10px;bottom:5px;color:#ccc;}
a.close_tag:hover{color:#666;}

.item_cont .form-group{margin-bottom:5px;height:30px;}
.item_cont .open-option{margin-top:3px;}
.item_cont .open-option label{font-weight:normal;cursor:pointer;font-size:12px;line-height:22px;margin-right:15px;margin-bottom:0;}
.item_cont .open-option input{margin-right:2px;width:13px;}
.item_cont .type-file{font-size:12px;margin-top:3px;cursor:pointer;width:100%;}
.item_cont .line-d{border-top:1px solid rgba(150,150,150,0.1);height:1px;overflow:hidden;background:rgba(200,200,200,0.3);}
.cover_option{display:none;}

.bc_blue { border: solid 1px blue; }
.fontbold{font-weight:bold;}
.w80{width:80px}
.w100 { width: 100px;  }
.w200 { width: 200px;  }
.w600 { width: 600px;  }
.h300 { height: 100px; }
.edit{border:solid 1px #ccc;width:700px;border: 1px solid #e1e1e1;border-radius:4px;}
.editContent{padding:10px;word-wrap:break-word;height: auto; min-height: 200px;padding-top:15px;
}
.editContent:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(102,175,233,0.6);}
.editTool{width:100%;height:30px;background-color:#f1f1f1;margin:0px;box-shadow:0px 2px 2px rgba(0,0,0,0.12);}
.fontbold:hover{background:rgba(0,0,0,0.1);}
.editTool div{ float:left;padding:3px 4px;margin:2px 0 0 5px;cursor:pointer;text-decoration:none;color:Black }
.editTool  .curr{background-color:#81AAD1;}

.phhe { width: 100%; height: 20px; text-align: right; margin: 0px;  }
.phul {  border: solid 1px #7A8B7C; width: 200px; height: 200px; padding: 0px;  margin: 0px; }
.phli { border: solid 1px #D3E4F0; float: left; width: 24px; height: 24px;  list-style: none; margin: 1px; }
.phdiv {position: relative;display:none;position:absolute;background-color:white;border:solid 1px #ccc; }
.phdiv .phtable{padding:0px;margin:0px;border:0;border-collapse:separate;}
.phdiv .phtd{margin:0px;padding:1px;border:1px solid #F0F0EE;cursor:pointer;width:35px;height:35px;}
.phdiv .phtd_on{border: 1px solid #5690D2;background-color: #E9EFF6;}
.phdiv .phspan{background-repeat:no-repeat;overflow:hidden;padding:0px;margin:0px;border:0px; width:100%;height:100%;display:block;/*display:block;（很重要）*/ }


.result-modal{filter: alpha(opacity=60);opacity: 0.6;}
.result-msg{padding:10px 20px;width:260px;height:50px;position:absolute;font-family:Microsoft Yahei;top:50%;left:50%;margin-left:-150px;margin-top:-35px;text-align:center;font-size:16px;line-height:30px;border-radius:4px;z-index:10000;display:none;}
#shopimg{width:auto;max-height:155px;}
.error-msg{color:#c33;position:absolute;top:35px;left:230px;background: url(images/error.png) no-repeat;padding-left:18px;line-height:14px;}
.loginbox .error-msg{top:12px;left:300px;}


.paper p{height:30px;margin:0;line-height:30px;padding-left:55px;font-size:14px;}
.paper.replyCont{margin-bottom:20px;}
.paper.replyCont textarea{min-height:151px;}
.label.label-xs{padding:2px 5px;font-size:12px;border-radius:0;}
img.replyed{position:absolute;right:30px;top:140px;z-index:99;}

.mcenter{padding:30px 40px;}
.mcenter h4.myfont{font-size:15px;border-bottom:1px dotted #eee;padding:10px 5px;text-shadow:1px 1px 1px rgba(0,0,0,0.2);}
.mcenter .list-ul{padding:0;list-style:none;}
.mcenter .list-ul li{padding:0px 8px;height:30px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.mcenter .list-ul li i.fa{margin-right:5px;color:#333;}
.mcenter .list-ul li a{color:#0985d4;display:inline-block;line-height:30px;}
.mcenter .list-ul li a:hover{color:#52aae2;}
.mcenter .single-line ul li{width:33%;float:left;}

.n-invalid {border-color: #ff5f5f !important;}
.msgLeft .msg-box.n-right{position:absolute;right:-90px;top:5px;padding-top:0;}
.msgTime{margin-bottom:8px;}
.msgTime .msg-box.n-right{display:block;margin-top:0;padding-top:0;}
.msgTime .msg-box .n-error{position:absolute!important;left:-8px;bottom:-21px;}
.msgTime .msg-box .n-ok{position:absolute;right:-22px;top:-22px;}
.msgCont{padding-bottom:15px;}
.msgCont .msg-box.n-right{position:absolute;left:12px;}
.msg-box{padding-top:3px;}

.loginHeader{background: #fff;box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);height:68px;}
.loginLogo{float:left;margin-left:-15px;}
.loginLogo a{float:left;width: 211px;height: 60px;display:block;margin-top: 4px;background-image: url(/static/images/fix-logo.png);}
.loginHeadRight{float:right;margin-right:-15px;}
.loginHeadRight .loginBtn{float:right;height:68px;}
.loginHeadRight .loginBtn ul{margin:0;padding-top:9px;padding-left:0;}
.loginHeadRight .loginBtn ul li{height:58px;}
.loginHeadRight .loginBtn ul li a:hover{color:#575757;border:none;}
.loginHeadRight ul{float:right;margin:0 20px 0 0;}
.loginHeadRight ul li{float:left;list-style:none;height:68px;font:14px/66px Microsoft Yahei;padding:0px;}
.loginHeadRight ul li a{display:block;padding:0 15px;}
.loginHeadRight ul li a:hover{background:#f5f5f5;border-bottom: 2px solid #7ab80e;color: #7ab80e;}
.loginMain{background:#f9f9f9;margin-top:-68px;}
.loginMain .panel{width:80%;margin:0 auto;box-shadow:1px 1px 3px rgba(0,0,0,0.05);}
.loginMain .panel-heading{background:#fdfdfd;padding:0;}
.loginMain .panel-heading a{display:inline-block;padding:17px 35px;font-size:15px;}
.loginMain .panel-heading a.active{background:#fff;border-top:2px solid #5bb75b;}
.loginMain .panel-heading i{background:#f2f2f2;border-top:2px solid #f2f2f2;width:1px;display:inline-block;height:100%;padding: 17px 0;}
.loginForm{padding:5px 0;}

.loginForm .form-group .btn-get-code{width:120px;float:left;margin-left:15px;}
.msgPhone .msg-box{position:absolute;left:95px;top:53px;}
.msgPhone .msg-box .n-ok,.pwd .msg-box .n-ok{display:none;}
.loginForm .form-group.msgPhone{padding-bottom:25px;}
.loginForm .code_msg{color:#e33;top:59px;left:102px;position:absolute;}

.loginMain .panel-body{padding:15px 0 20px;}
.logbox .form-group{display:block;width:100%;overflow:hidden;border-bottom:1px solid #fafafa;margin-bottom:0;padding:20px 0 20px 20px;position:relative;background:#fff;}
.logbox label.control-label{font-weight:normal;font-size:13px;display:inline-block;width:80px;padding-right:20px;padding-top:9px;float:left;text-align:right;}
.logbox .form-group .form-control{width:50%;float:left;height:35px;}
.logbox .loginFormBtn,.loginbox .loginFormBtn,.loginbox .regFormBtn{margin-top:1px;margin-left:80px;width:120px;height:34px;font-size:14px;border-radius:0;background:#49afcd;border:none;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;float:left;}
.loginbox .regFormBtn{width:80%;margin:0 auto;float:none;color:#fff;}
.loginbox .loginFormBtn:hover{background:#2f96b4;}
.loginbox .regFormBtn{background:#5bb75b;}
.loginbox .regFormBtn:hover{background:#51a351;}
.logbox .form-group  small{margin:12px 10px 0;float:right;font-size:13px;}
.logbox .form-group  small.leftLink{margin-left:30px;border-right:1px solid #ccc;padding-right:15px;margin-right:5px;}
.login-foot{position:absolute;bottom:0;left:50%;margin-left:-170px;}
.loginForm .vercode.form-control{width:120px;}
.logbox .form-group.hasAccount{background:#fefefe;border-bottom:0;}
.logbox .form-group.hasAccount small{float:left;margin-left:80px;}
.logbox .form-group.hasAccount .loginFormBtn{margin-left:10px;color:#fff;height:28px;margin-top:6px;width:90px;font-size:12px;letter-spacing:1;}
.regForm{margin-top:-15px;padding-top:20px;background:#fff;}
.reg2HasAccount{float:right;font-size:12px;}
.logbox .reg2HasAccount a{float:right;margin:12px 10px 0;color:#49afcd;}
.logbox .reg2HasAccount a:hover{color:#2f96b4;}
.logbox .backFormBtn{background:#d5d5d5;border:0;border-radius:0;margin-left:30px;width:120px;height:34px;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.logbox .backFormBtn:hover{background:#bcbcbc;}

.inva-input .form-group input.form-control{width:80%;}
.inva-input .line{width:64%;}
.wyContact .form-group{width:30%;}
.wyContact .form-group label{padding:10px 0;font-weight:normal;}
.wyContact .addPhoneMsg .msg-box{position:absolute;right:-100px;top:3px;}
.panel-heading .help-inline{font-size:12px;padding-left:15px;color:#8c8c8c;font-weight:normal;}
.panel-heading .help-inline i{font-size:14px;color:#fcac4d;}

.weixinHelp h4{border-bottom:1px solid #c76765;margin-bottom:0;padding:3px 0 12px 5px;}
.weixinHelp ul{padding-left:22px;font-size:13px;border-top:1px solid #f3f3f3;padding-top:5px;}
.weixinHelp ul li{line-height:25px;margin:5px 0;}
.weixinHelp ul li .panel-collapse{background:#d5c1c1;padding:5px;color:#706363;line-height:20px;font-size:12px;font-size:100%;}
.weixinHelp ul li .panel-collapse a{color:#a61212;margin:0 2px;}
.weixinHelp ul li .panel-collapse a:hover{color:rgba(0,0,0,1.5)}
.wxUrl{padding:15px 30px 0;line-height:30px;font-size:14px;}
.wxjkSetting .control-label{width:150px;padding-right:0;}
.wxjkSetting .form-group{padding:5px 0;position:relative;}
.wxjkSetting .form-group button{margin-left:165px;}
.wxjkSetting .error-msg{left:410px;top:20px;}
.wxUrl .text-sg em{color:#379f17;font-style:normal;margin:0 5px;}
.wxUrl .text-sg a{color:#379f17;margin-left:5px;}
.wxUrl .text-sg a:hover{color:#41bb1c;}

.headRight i.fa-mail{display:inline-block;background:url(../images/contact.png) -2px -17px no-repeat;width:24px;height:16px;margin-top:2px;}
.navbar-nav.headRight>li.infoLink>a {padding-top: 15px;padding-bottom: 12px;}
.navbar-nav.headRight>li.qqLink>a ,.navbar-nav.headRight>li.telLink>a{font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
.navbar-nav.headRight>li.qqLink>a {padding-top:12px;padding-bottom: 10px;background:url(../images/contact.png) -2px -51px no-repeat;height:50px;padding-left:25px;line-height:27px;}
.navbar-nav.headRight>li.telLink>a {padding-top:12px;padding-bottom: 10px;background:url(../images/contact.png) -2px -99px no-repeat;height:50px;padding-left:25px;line-height:27px;cursor:default;}
.wxNosetting{width:18px;}
.pillbox input{width:200px!important;}
.fun-title{margin:0;padding:0 15px;}
.fun-title h3{margin-top:12px;}
.showList.dropdown-menu{padding:0;}
.showList.dropdown-menu li{border-bottom:1px solid rgba(133,201,72,0.2);}
.showList.dropdown-menu li:last-child{border:none;}
.showList.dropdown-menu>li>a {padding: 8px 15px;line-height:20px;}
.showList.dropdown-menu>li>a.add_icon{padding:0;position:absolute;right:0;height:0;height:36px;width:36px;text-align:center;}
.showList.dropdown-menu>li>a.add_icon i{margin-right:0;margin-top:10px;}
.showList.dropdown-menu li:hover a{background:#85c948;}
.showList.dropdown-menu li:hover a.add_icon{background:#70aa3b;color:#fff;}
.req{font:normal 13px Microsoft Yahei;position:absolute;left:0;top:7px;color:red}
.ywMsg .msg-box{position:absolute;right:0;}
.sjForm .form-group{overflow:hidden;margin:10px 0 25px;position:relative;}
.sjForm .form-group label{width:80px;float:left;text-align:right;padding:6px 10px 0 0;}
.sjForm .form-group input{width:50%;float:left;}
.sjForm .form-group input.btn-get-code{width:120px;margin-left:10px;}
.sjForm .msgPhone .msg-box{position:absolute;left:75px;top:32px;}
.sjForm .form-group.msgPhone{margin-bottom:0;padding-bottom:20px;}
.loginForm.sjForm .code_msg{color:#e33;top:40px;left:32px;position:absolute;}
.sjForm .form-group .regBtn2{width:50%;float:left;margin-left:80px;margin-bottom:15px;}
.sjForm .form-group .line{clear:both;}
.nrz-pic{position:absolute;right:5px;top:5px;}
.sj_tjsign{color:#ef0000;font-weight:400;font-size:12px;}
.yh-imgbox{border:1px solid #ccc;padding:2px;width:auto;display:inline-block;float:right;}
.yh-imgbox.no-pic-box{display:block;float:none;width:100%;}
.yh-imgbox .no-pic{margin:0;width:100%;}
.yh-detail,.sj-detail{position:relative;}
.yh-detail .nrz-pic.nfb-pic,.sj-detail .nrz-pic.nfb-pic{left:inherit;right:50px;top:10px;}
.yh-item{position:relative;}
.yh-item .nrz-pic{position:absolute;right:20px;top:10px;z-index:888;}
.yh-item .nrz-pic.nfb-pic{left:720px;top:25px;}
.youhui-list-pic{border:1px solid #dedede;padding:2px;float:left;margin-right:10px;overflow:hidden;height:166px;}
.youhui.no-pic{width:350px;height:160px;}
.btn-sh {padding: 5px 12px;margin-left: 65px;}
.option-sj .btn-xs{padding:2px 7px;margin-right:3px;}
.yh-imgbox{border:1px solid #ccc;padding:2px;width:auto;display:inline-block;float:right;}
.yh-imgbox.no-pic-box{display:block;float:none;width:100%;}
.yh-imgbox .no-pic{margin:0;width:100%;}
.pay-dailog{width:400px;height:200px;background:#fff;z-index:1200;position:absolute;left:50%;top:50%;margin-left:-200px;margin-top:-100px;border-radius:5px;box-shadow:0 0 14px rgba(0,0,0,0.5)}
.pay-req{width:280px;height:50px;text-align:center;line-height:50px;position:absolute;left:50%;top:50%;margin-left:-90px;margin-top:-15px;font-size:14px;background:#fff;box-shadow:2px 2px 2px rgba(0,0,0,0.3)}

#bankbox label{width:180px;display:inline-block;margin-right:15px;height:50px;margin-bottom:0;}
#bankbox label img{max-width:154px;max-height:33px;}
#bankbox label input[type="radio"]{margin-top:10px;}
#bankbox label span{display:inline-block;width:154px;height:33px;cursor:pointer;margin-left:5px;}
.pay-dailog{width:400px;height:200px;background:#fff;z-index:1200;position:absolute;left:50%;top:50%;margin-left:-200px;margin-top:-100px;border-radius:5px;box-shadow:0 0 14px rgba(0,0,0,0.5)}
.pay-req{width:280px;height:50px;text-align:center;line-height:50px;position:absolute;left:50%;top:50%;margin-left:-90px;margin-top:-15px;font-size:14px;background:#fff;box-shadow:2px 2px 2px rgba(0,0,0,0.3)}

a.add_more_info {color: #3cc5f1;}
.pic_box{width:100%;height:70px;background:#fcfcfc;box-shadow:2px 2px 4px rgba(0,0,0,0.2);border-top:1px solid #fefefe;position:absolute;top:100%;left:0;padding:10px;display:none;z-index: 999;}
.pic_box img{width:60px;max-height:60px;border:1px solid #ccc;padding:2px;margin-right:3px;cursor:pointer;vertical-align: top;}
.pic_box img:hover{border:2px solid #f30;padding:1px}
.pic_box p{float:right;font-size:12px;width:60px;background:#3cc5f1;text-align:center;color:#fff;height:45px;}
.pic_box p a{color:#fff;}
.pic_box p i{font-size:15px;margin-top:7px;}
.pic_box p:hover{background:#51d02a}
.pic_box .no_pic_box{width:80%;margin:10px auto 0;font-size:14px;}
.up_box{margin-top:10px;}
.up_box img{width:80px;max-height:80px;border:1px solid #ccc;padding:2px;margin-right:3px;cursor:pointer;vertical-align: top;}
.up_box span img:hover{border:2px solid #24beef;}
.up_box span .del_pic{display:block;width:14px;height:14px;background:url(../images/1.png) no-repeat;position:absolute;right:5px;top:-5px;}
.up_box span{float:left;width:90px;position:relative;}
.up_box a{cursor:pointer;display:block;height:70px;}
.up_box input{width:80px;border:1px solid #ddd;height:25px;}
.show_pic_big{position:absolute;left:0;top:0;width:100%;text-align:center;padding-top:150px;z-index:1101;display:none}
.show_pic_big img{max-width:800px;max-height:600px;vertical-align:top;}
.show_pic_big a{width:60px;height:55px;background:rgba(0,0,0,0.3);display:inline-block;font-size:40px;font-family:arial;color:#aaa}
.show_pic_big a:hover{background:#rgba(0,0,0,0.6);color:#ddd}
.modal-body .form-group p.col-sm-12{width:95%;}
.yh_code hr{margin:-5px 10px 10px;border-top:1px solid #ddd;border-bottom:1px solid #fff;}
.yh_code .yh_status{color:#cc7845;}
.yh_code .yh_status em{font-style:normal;color:#e35905}
.yh_code .yh_status i{font-size:14px;color:#ff6000;}
.yh_code .yh_status a{color:#11b604;}
.yh_code .yh_active{padding-left:33px;line-height:27px;}
.yh_code .yh_active input[type="text"]{border:1px solid #ddd;height:27px;width:200px;vertical-align: middle;padding-left:5px;}
.yh_code .yh_active .btn{border-radius:0;height:25px;line-height:22px;margin-left:10px;width:100px;}

input.form-control, input.form-control:focus {padding: 4px 6px;box-shadow: 1px 1px 1px rgba(0,0,0,0.04) inset;font-size: 13px;}
textarea.form-control,textarea.form-control:focus{padding: 4px 6px;box-shadow: 1px 1px 1px rgba(0,0,0,0.04) inset;font-size: 13px;}
select.form-control {font-size: 12px;padding: 4px 6px;height: 30px;border-radius: 3px;box-shadow: 1px 1px 1px rgba(0,0,0,0.04) inset;cursor: pointer;}
.xq-label.label.label-xs{border-radius:4px;background:#00ba4b;}
.xq-label.label.label-xs i{margin-right:2px;}
.select-xq-box{width:960px;background:rgba(0,0,0,0.2);position:absolute;padding:15px;border-radius:8px;left:50%;top:10%;margin-left:-480px;z-index:10003;}
.select-xq{background:#fdfdfd;padding:20px;position:relative;}
.select-xq h2{font-family:Microsoft Yahei;font-size:24px;margin-top:0px;text-shadow:1px 1px 1px rgba(0,0,0,0.06)}
.select-xq .line{border-top:1px solid #ddd;border-bottom:1px solid #fff;}
.select-xq .btn-the-xq{padding:6px 8px 0;width:auto;height:36px;font-size:14px;font-weight:400;}
.select-xq .btn-the-xq i{font-size:17px;box-shadow:1px 1px 1px rgba(0,0,0.0.07);vertical-align: bottom;margin-right:2px;}
.xq-toggle-add .btn{margin:0 10px 15px;text-shadow:1px 1px 1px rgba(0,0,0,0.09);min-width:110px;font-family:Microsoft Yahei;}
.xq-toggle-add{padding:10px 0 20px;}
.close-select-box{position:absolute;right:0;top:0;font-size:24px;width:50px;height:50px;text-align:center;color:#999;font-family:Verdana;}


/*0718*/
.myheader.bg-dark{height:80px;background:url(/static/images/scan-lines.png) #363636;}
.myhbox{margin-top:-80px;padding-top:80px;}
.mylogo em.b-r{border-right: 1px solid rgba(0,0,0,0.4);}
.navbar-nav.headRight>li{border-right:1px solid rgba(0,0,0,0.2);}
.navbar-nav.headRight>li>a{-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.navbar-nav.headRight>li:hover,.navbar-nav.headRight>li>a:hover,.navbar-nav.headRight>li>a:focus{background:rgba(0,0,0,0.6);}
.navbar-nav.headRight>li.navbar-right-option.text-default>a{color:#e9e9e9;}
.mylogo {margin-top:15px;}
.wxq-version{margin-top:28px;}
.nav.navbar-nav{margin-top:20px;}
.navbar-nav.headRight>li{margin-right:10px;}
.navbar-nav.headRight>li.dropdown:last-child{border:none;}
.navbar-nav.headRight .dropdown-menu{margin-right:10px;margin-top:5px;}
.navbar-nav>li>a{padding:8px 10px;border-radius:4px;margin-right:10px;}
.navbar-nav.headRight>li:hover{background:none;}
.bg-dark .navbar-nav.headRight>li>a{color:#e9e9e9}
.nav .caret {border-top-color: #ccc;border-bottom-color: #ccc;}
.nav a:hover .caret{border-top-color: #eee;border-bottom-color: #eee;}
.nav .open>a .caret, .nav .open>a:hover .caret, .nav .open>a:focus .caret{border-top-color: #eee;border-bottom-color: #eee;}
.mynav.bg-left{background:#4c4c4c;}
.mynav.bg-left a span,.mynav.bg-left a i{color:#fff;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.mynav.bg-left a:hover span,.mynav.bg-left a:hover i{color:#3becac}
a.contact-text:hover{color:#333}
.xqshopLogin p{color:#888}
#nav.nav-vertical{width:100px;}
#nav.nav-vertical .nav-primary>ul>li>a i{font-size:30px;}
.nav-primary>ul>li>a {border-bottom: 1px solid rgba(0,0,0,0.1) !important;border-top: 1px solid rgba(255,255,255,0.09) !important;}
.xq-toggle{margin-top:15px;border-left: 1px solid rgba(0,0,0,0.3);}
.xq-toggle .xq-toggle-link{color:#eee;text-shadow:1px 1px 1px rgba(255,255,255,.1);-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;font-size:15px;}
.xq-toggle .xq-toggle-link:hover{color:#0fb478;}
.xq-toggle .dropdown-menu{left:0;top:65px;}
.xq-toggle .dropdown-menu p{color:#666;}
.add-xq-box.bg-light.lter {background:#0fb478;}
.add-xq-box.bg-light.lter:hover{background:#14d68f;}
.add-xq-box.bg-light.lter a{color:#e6f8f1;text-shadow:1px 1px 1px #1aa06f;}
.add-xq-box.bg-light .text-info{color:#eee;text-shadow:1px 1px 1px #1aa06f;}
.bg-success .nav li>ul.dropdown-menu>li>a {color:#0fb478;}
.showList.dropdown-menu li:hover a.add_icon {background:#0c9463;color: #fff;}
.showList.dropdown-menu li:hover a {background: #0fb478;}
.btn.btn-success{background:#1dcf8e;border:1px solid #1cc386;}
.btn.btn-success:hover{background:#19b47b;}
.text-success{color:#18a974;}
.text-success:hover,.text-success:focus{color:#158e62;}
.bg-success{background:#1dcf8e}
.bg-success:hover{background:#1aba7f;}
.bg-success.lter{background:#31c690;}
.btn.btn-info,.general-foot .option a{background:#32b5f2;border:1px solid #30aee9;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.btn.btn-info:hover,.general-foot .option a:hover{background:#2c9ed3;}
.bg-info{background:#0f91cd;}
.bg-info:hover{}
.wxq-version{background:#32b5f2;}
.wx-manage-table tbody tr td.xq span:hover{background:#1abd81;}
.loginMain{margin-top:0;}
.panel-heading.bg-success.dk,.panel-heading.bg-success.dk:hover{background:#1aba7f}
.panel-heading.bg-info,.panel-heading.bg-info:hover{background:#32b5f2}
.my_block .col-xs-4.bg-success,.my_block .col-xs-4.bg_success:hover{background:#1dcf8e;}
.wx-manage-table tbody tr td.wx{background:#5ac2f2;color:#fff;}
.wx-manage-table tbody tr td.wx-option{background:#23aff0;color:#fff;border-top:1px solid rgba(0,0,0,0.02)}
.wx-manage-table tbody tr td.wx-option:hover{background:#1399d8}
.wx-manage-table tbody tr td.wx-option a{color:#fff;}
.label.bg-info{background: #69ccfa;}
.label.bg-danger{background: #fb9b91;}
.label.bg-warning{background: #fbd37d;}
.sadmin_title{color:#666}
.sadmin,.sadmin a{color:#888}
.sadmin a:hover{color:#33c2ef}
.adm_fun_ul li.adm_title{}
#tip{display:none;}
.tc.bg-info.lt{background:#0fb478;}
.sjlist img{height:117px;}
.option_link.text-info{color:#16a1e9;}
.option_link.text-info:hover{color:#fff;background:#16a1e9}
.option_link.text-danger{color:#f11313;}
.option_link.text-danger:hover{color:#fff;background:#f11313}
.mycol{position:relative;}
.sj_option{position:absolute;bottom:0px;left:0;width:100%;height:51px;padding:10px 15px;border-top:1px solid #ddd;background:#fbfbfb;}

.btn{-webkit-transition:all .5s ease;-moz-transition:.5s;-o-transition:.5s;transition:.5s;box-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.btn-success:hover{background:#64b31e;color:#fff;}
.btn-info:hover{background:#20b3e1;color:#fff;}

.shop_status{font:bold 12px Microsoft Yahei;color:#00ba4b;}
.shop_status.no{color:#f11313;}
.shop_status.tj{color:#016ef4;}
.sjlist .sj_option a i{margin-right:2px;font-size:14px;}
.sjlist .sj_option a.option_link{display:inline-block;margin-right:5px;padding:1px 5px;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;-webkit-border-radius:2px;-o-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin-top:5px;}


.shop_youhui ul{padding-left:20px;}
.shop_youhui li{font-size:14px;border-bottom:1px dotted #eee;line-height:45px;list-style:none;}
.shop_youhui li i{color:#888;margin-right:2px;}
.shop_youhui li a{color:#777}
.shop_youhui li span.time{float:right;font-size:12px;}
.add_step{overflow:hidden;}
.add_m_title{padding-right:0;}
.add_step span{padding:2px 10px;border-radius:4px;display:inline-block;font-size:12px;color:#fff;box-shadow:1px 1px 3px rgba(0,0,0,0.2) inset;text-shadow:1px 1px 1px rgba(0,0,0,0.09)}
.add_step .add_step_over{background:#85d872;}
.add_step .add_step_no{background:#eee;color:#999;text-shadow:1px 1px 1px rgba(0,0,0,0.05)}
.add_step .add_setp_line{padding:0;height:5px;width:20%;background:#36d810;border-radius:0;}
.add_step .add_setp_line.no{background:#eee;}
.add_step .add_setp_line.over{background-image: -moz-linear-gradient(left, #85d872, #eeeeee); /* Firefox */
background-image:-webkit-gradient(linear,0% 50%,100% 50%,from(#85d872),to(#eeeeee)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85d872', endColorstr='#eeeeee', GradientType='1'); /* IE*/}

.msgTime.over .msg-box .n-ok{right:-62px;}
i.icon-shop{width:15px;height:15px;display:inline-block;background:url(/static/images/shop.png) no-repeat;background-size:15px 15px; vertical-align:middle;margin-top:-4px;margin-right:4px;-webkit-transition:all .5s ease;}
.mytable.table>tbody>tr:hover i.icon-shop{}
.listno{display:none;}
.service_img{width:40px;height:40px;margin-top:-5px;float:left;margin-right:15px;display:none;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s;}
.service_img:hover {-moz-transform: scale(2.8,2.8);-webkit-transform: scale(2.8,2.8);-o-transform: scale(2.8,2.8);-ms-transform: scale(2.8,2.8);transform: scale(2.8,2.8);}
.no-list{padding:15px 20px;font-size:14px;}
a.delete-item{font-size:15px;color:#fc5033;margin-right:10px;display:inline-block;width:30px;text-align:center;}
a.delete-item:hover{color:#e32000;}
.img-upload-tip{display:block;font-size:12px;padding-top:10px;color:#e66e52}
.mycol .panel{-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.mycol .panel:hover{background:#f8fcf8;}
.txmsgLeft .msg-box.n-right{position:absolute;right:-10px;top:5px;padding-top:0;}
i.icon-shop{width:15px;height:15px;display:inline-block;background:url(/static/images/shop.png) no-repeat;background-size:15px 15px; vertical-align:middle;margin-top:-4px;margin-right:4px;-webkit-transition:all .5s ease;}
.panel .mytable td {padding: 10px 12px;vertical-align: middle;}
.dpdetail_cont{margin:-5px 0 0;}
.dpdetail_cont .dd_cont_col{padding:0px 20px;}
.dpdetail_cont h4{font-size:18px;border-bottom:1px solid #ddd;padding-bottom:10px;position:relative;height:40px;line-height:40px;padding-left:5px;color:#555;}
.dpdetail_cont h4 span{position:absolute;display:block;width:140px;height:3px;background:#1ab77e;bottom:-2px;left:0;}


.score-minus{font-family:Verdana;color:#009e43;margin-right:3px;}
.score-add{font-family:Verdana;color:#f22207;margin-right:3px;}
.sale_score{padding:20px 0;}
.sale_score .form-group{margin-bottom:25px;}
.sale_score .input-group input[type="text"]{}
.sale_score .input-group .input-group-btn .btn{box-shadow:none;border-left:1px solid #ddd;background:#fcfcfc}
.sale_score .input-group .input-group-btn .btn:hover{background:#efefef}
.sale_score .col-sm-5{width:500px}
.sale_score .buyer,.sale_score .sale_shop{width:530px;}
.sale_score .buyer ul,.sale_score .sale_shop ul{padding:0;list-style:none;margin:0;}
.sale_score .buyer ul li{width:225px;background:#f8f8f8;padding:8px 10px;border:1px solid #f5f5f5;color:#969696;cursor:pointer;float:left;margin:0 20px 10px 0;position:relative;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;}
.sale_score .buyer ul li:hover,.sale_score .buyer ul li.active{background:#3ddca2;color:#fff;border:1px solid #3cd29c;}
.sale_score .buyer ul li.active em{background:url(/static/images/checked.png) no-repeat;width:25px;height:25px;position:absolute;right:1px;bottom:1px;}
.sale_score .sale_shop ul li{width:225px;background:#f8f8f8;padding:8px 10px;border:1px solid #f5f5f5;color:#969696;cursor:pointer;float:left;margin:0 20px 10px 0;text-align:center;position:relative;font-size:14px;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;transition:.2s;}
.sale_score .sale_shop ul li:hover,.sale_score .sale_shop ul li.active{background:#fb6b5b;color:#fff;}
.sale_score .sale_shop ul li:hover p small,.sale_score .sale_shop ul li.active p small{color:#fff;}
.sale_score .sale_shop ul li strong{display:block;height:20px;overflow:hidden;font-size:14px;}
.sale_score .sale_shop ul li p{margin:6px 0 0;}
.sale_score .sale_shop ul li p.ss_xq,.sale_score .sale_shop ul li p.ss_score{font-size:12px;}
.sale_score .sale_shop ul li p small{font-size:14px;color:#fb6b5b;font-weight:700;font-family:Verdana;}
.sale_score .sale_shop ul li.active em{background:url(/static/images/checked2.png) no-repeat;width:25px;height:25px;position:absolute;right:1px;bottom:1px;}
.as_shop_buyer,.as_shop_box{display:none;}
.as_shop_buyer .msg-box.n-right,.as_shop_box .msg-box.n-right{margin-left:-36px;}
.as_shop_xm.msgRight20 .msg-box.n-right{position: absolute;right: 5px;}
.msgRight20 .msg-box.n-right{position: absolute;right: -10px;}
.sale_score .buyer li i{font-size:13px;margin-right:3px;}
.add_jifen_btn{margin:20px 30px 0 0;padding:7px 12px;float:right;font-family:Microsoft Yahei;text-shadow:1px 1px 1px rgba(0,0,0,0.09);font-size:14px;line-height:20px;}
.add_jifen_btn i{margin-right:3px;}
.service-item{font-size:14px;border-bottom:1px solid #eee;background:#fdfdfd;padding:10px;margin-bottom:25px;color:#555;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.service-item:hover{background:#fff6f6}
.service-item img{width:80px;border:1px solid #ddd;padding:2px;margin-right:10px;background:#fff;}
.service-item span{float:right;line-height:60px;margin-right:10px;font-size:14px;color:#f30;}
.service-item span em{font-size:22px;color:#f30;font-family:Georgia;margin-right:3px;}



@media all and (min-width: 1499px) {
.myphone{background:url(../images/wxlist.png) no-repeat center;height:780px;margin:19px auto 0;width:468px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:50px;font-size:14px;color:#666;}
.menu-list-1{left:60px;top:375px;}
.menu-list-2{left:185px;top:375px;}
.menu-list-3{left:310px;top:375px;}
.menu-name{position:absolute;font-size:16px;font-family:Microsoft Yahei;}
.menu-name-1{left:98px;bottom:100px;}
.menu-name-2{left:218px;bottom:100px;}
.menu-name-3{left:338px;bottom:100px;}
}
@media screen and (max-width: 1500px) and (min-width: 1399px) {
.myphone{background:url(../images/wxlist-420.png) no-repeat center;height:700px;margin:19px auto 0;width:430px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:45px;font-size:14px;color:#666;}
.menu-list-1{left:60px;top:335px;}
.menu-list-2{left:165px;top:335px;}
.menu-list-3{left:275px;top:335px;}
.menu-name{position:absolute;font-size:15px;font-family:Microsoft Yahei;}
.menu-name-1{left:92px;bottom:90px;}
.menu-name-2{left:202px;bottom:90px;}
.menu-name-3{left:310px;bottom:90px;}
}
@media screen and (max-width: 1400px) and (min-width: 1199px) {
.myphone{background:url(../images/wxlist-360.png) no-repeat center;height:600px;margin:19px auto 0;width:370px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:40px;font-size:14px;color:#666;}
.menu-list-1{left:40px;top:285px;}
.menu-list-2{left:135px;top:285px;}
.menu-list-3{left:230px;top:285px;}
.menu-name{position:absolute;font-size:15px;font-family:Microsoft Yahei;}
.menu-name-1{left:75px;bottom:74px;}
.menu-name-2{left:168px;bottom:74px;}
.menu-name-3{left:260px;bottom:74px;}
.tp_right{right:10px;}
}
@media screen and (max-width: 1024px){
.myphone{background:url(../images/wxlist-280.png) no-repeat center;height:467px;margin:19px auto 0;width:290px;position:relative;}
.menu-list{list-style:none; position:absolute;}
.menu-list li{line-height:30px;font-size:12px;color:#666;}
.menu-list-1{left:25px;top:225px;}
.menu-list-2{left:95px;top:225px;}
.menu-list-3{left:170px;top:225px;}
.menu-name{position:absolute;font-size:12px;font-family:Microsoft Yahei;}
.menu-name-1{left:60px;bottom:55px;}
.menu-name-2{left:132px;bottom:55px;}
.menu-name-3{left:205px;bottom:55px;}
.row .mycol{width:265px;margin:0 5px 20px;}
.add_step .add_setp_line {width: 10%;}
.col-sm-1.add_m_title{width:10%;}
.inva-input .col-sm-4.hidden-xs.pull-right{display:none!important;}
.inva-input .line {width: 100%;}
.inva-input .col-sm-2{width:22%;}
.inva-input .col-sm-5{width:70%;}
.inva-input .col-sm-1{width:13%;}
.inva-input .col-sm-3{width:35%;}
.inva-input .fa.fa-map-marker{display:none!important;}
.sj-detail .col-sm-12.text-right .btn{margin-bottom:10px;}
.sj-detail .col-sm-12.text-right .btn:last-child{margin-right:10px;}
.yh-detail .col-xs-9 .col-sm-4,.sj-detail .col-xs-9 .col-sm-4{width:50%;}
.sj-detail .col-xs-9 .col-sm-8{width:100%;}
.yh-item .nrz-pic.nfb-pic{left:650px;}
.btn-sh{margin-left:10px;}
.jifenTable tbody tr td a.text-default{display:block;margin-bottom:5px;}
}