/*公共开始*/
.sq_box {
    display: block;
    margin: 5px 10px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.21);
}

.top_menu {
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 13px;
    color: #5a5959;
    /*z-index: 15;*/
    box-shadow: 0px 0px 6px rgba(0,0,0,0.21);
}

    .top_menu img {
        width: 25px;
        margin: 0px 5px;
    }

.top_menu_shadow {
    width: 100%;
    height: 50px;
}

.unread {
    color: #2b9eb6;
}

.haveread {
    color: #5e6060;
}

/*公共结束*/
/*user*/
.user_top {
    width: 100%;
    height: 85px;
    background-image: url("../image/user_top.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.user_edit {
    width: 28px;
    height: 28px;
    background-image: url("../image/edit.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 20px;
    top: 10px;
}

.user_info {
    display: -webkit-box;
    margin: 0px 30px 8px 30px;
    height: 40px;
    border-bottom: 1px solid #cbc6bb;
    padding-left: 60px;
    box-sizing: border-box;
    position: relative;
    line-height: 40px;
    text-align: left;
}

.user_img {
    width: 53px;
    height: 53px;
    border: 3px solid #fff;
    position: absolute;
    left: -7px;
    top: -20px;
    box-sizing: border-box;
    border-radius: 3px;
}

    .user_img img {
        width: 47px;
        height: 47px;
    }

.user_info span {
    font-family: 黑体;
    color: #303537;
    font-size: 16px;
}

.user_min_info {
    display: -webkit-box;
    margin: 0px 30px;
    height: 22px;
    line-height: 22px;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}

    .user_min_info img {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }

    .user_min_info span {
        font-size: 12px;
    }

.last_child_margin {
    margin-bottom: 10px;
}

.user_list_a {
    display: -webkit-box;
    height: 44px;
    margin: 0px 15px;
    border-bottom: 1px solid #e4e5e5;
    -webkit-box-align: center;
}

    .user_list_a:last-child {
        border-bottom: none;
    }

.user_list_a_img {
    width: 18px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .user_list_a_img img {
        width: 18px;
    }

.user_list_a_title {
    -webkit-box-flex: 1;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: #5e6060;
}

.user_list_a_zx {
    width: 11px;
}

    .user_list_a_zx img {
        width: 7px;
    }
/*notice*/
.notice {
    padding: 5px 0px;
    margin-bottom: 10px;
}

.notice_title {
    margin: 0px 15px;
    /*height: 30px;*/
    line-height: 30px;
    font-size: 17px;
    border-bottom: 1px solid #e4e5e5;
    position: relative;
}

    .notice_title .emergency {
        width: 65px;
        height: 20px;
        font-size: 13px;
        line-height: 20px;
        text-align: right;
        background-color: #e61515;
        border-radius: 10px 0px 0px 10px;
        color: #fff;
        position: absolute;
        top: 5px;
        right: -15px;
    }

.author_time {
    margin: 0px 15px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #888681;
    text-align: left;
    display: -webkit-box;
}

    .author_time .author {
        -webkit-box-flex: 1;
    }

    .author_time .time {
        -webkit-box-flex: 1;
        text-align: left;
    }

.notice_img {
    margin: 0px 15px;
    height: 85px;
    overflow: hidden;
}

    .notice_img img {
        width: 100%;
    }

.notice_content {
    margin: 0px 15px;
    height: 60px;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    color: #363838;
}

.notice_all {
    margin: 0px 15px;
    height: 25px;
    text-align: right;
    line-height: 25px;
    font-size: 12px;
}

.commodity {
    padding: 5px;
    box-sizing: border-box;
    display: -webkit-box;
}

.commodity_img {
    width: 78px;
    height: 78px;
    display: -webkit-box;
    -webkit-box-align: center;
    overflow: hidden;
}

    .commodity_img img {
        width: 78px;
    }

.commodity_content {
    height: 78px;
    -webkit-box-flex: 1;
}

.commodity_content_info {
    height: 58px;
    margin: 0px 10px;
    display: -webkit-box;
}

.commodity_address {
    height: 20px;
    margin: 0px 10px;
    line-height: 20px;
    font-size: 12px;
    color: #bdbcbc;
    border-top: 1px solid #e4e5e5;
    display: -webkit-box;
    -webkit-box-align: center;
}
/**/
.comm_add {
    display: block;
    -webkit-box-flex: 1;
}

.comm_time {
    display: block;
    -webkit-box-flex: 1;
    text-align: right;
}

.edit_del_btn {
    width: 60px;
    margin: 0px 5px;
    height: 25px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #000;
    box-sizing: border-box;
    background-color: #2b9eb6;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
}
/**/

.content_info_l {
    -webkit-box-flex: 2;
    width: 0%;
    height: 58px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.content_info_r {
    -webkit-box-flex: 1;
    width: 0%;
    height: 58px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.info_l_s, .info_l_x {
    -webkit-box-flex: 1;
    text-align: left;
}

.info_l_s {
    font-size: 17px;
    color: #5a5959;
    height: 20px;
    overflow-y: hidden;
    overflow-x: auto;
}

    .info_l_s span {
        display: block;
        width: 300px;
    }

.info_l_x {
    font-size: 13px;
}

    .info_l_x span {
        font-size: 12px;
    }

.price_num {
    font-family: 宋体;
    font-size: 18px;
    color: #d81f1f;
    font-weight: 500;
}

.price {
    font-size: 13px;
    color: #d81f1f;
    font-weight: bold;
}

.commodity_fbxx {
    margin: -8px 10px 18px 10px;
    height: 40px;
    background-color: #e4e4e4;
    border-radius: 0px 0px 3px 3px;
    display: -webkit-box;
    padding: 0px 5px;
    box-sizing: border-box;
    -webkit-box-align: center;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.21);
}

.commodity_user {
    width: 35px;
    height: 28px;
    border-right: 1px solid #cdcdce;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .commodity_user img {
        width: 28px;
        height: 28px;
        border-radius: 3px;
    }

.commodity_name {
    width: 0%;
    -webkit-box-flex: 1;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.commodity_time {
    width: 0%;
    -webkit-box-flex: 1;
    font-size: 12px;
    text-align: right;
    padding-right: 3px;
    box-sizing: border-box;
}
/*businessesList*/
.businessesList {
    padding: 5px 0px;
    position: relative;
    margin-bottom: 10px;
}

.businessesList_name {
    margin: 0px 15px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    text-align: left;
    color: #303537;
}

.businessesList_info {
    margin: 0px 15px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
    color: #b0b1b1;
    overflow: hidden;
}

.businessesList_tel {
    margin: 0px 15px;
    height: 30px;
    color: #737474;
    font-size: 14px;
    letter-spacing: 1px;
    display: -webkit-box;
    border-top: 1px solid #e4e5e5;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .businessesList_tel img {
        width: 15px;
        margin: 0px 3px;
    }

.businessesList_mark {
    width: 65px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 5px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .businessesList_mark img {
        width: 23px;
        height: 23px;
        margin: 0px 2px;
    }
/*commodity*/
.message {
    padding: 5px;
    box-sizing: border-box;
}

.message_title {
    margin: 0px 5px;
    height: 40px;
    border-bottom: 1px solid #e4e5e5;
    display: -webkit-box;
    -webkit-box-align: center;
}

.message_user {
    width: 40px;
    display: -webkit-box;
    -webkit-box-pack: start;
}

    .message_user img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }

.message_name_time {
    -webkit-box-flex: 1;
    text-align: left;
}

.message_name {
    height: 20px;
    font-size: 15px;
}

.message_time {
    height: 20px;
    line-height: 15px;
    font-size: 12px;
    color: #ababab;
}

.messages_floor {
    width: 50px;
    text-align: right;
    font-size: 13px;
    color: #818181;
}

.message_content {
    margin: 0px 5px;
    height: 60px;
    overflow: hidden;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
    color: #363838;
}

.message_all {
    margin: 0px 5px;
    height: 25px;
    text-align: right;
    line-height: 25px;
    font-size: 12px;
}

.message_fbxx {
    margin: -8px 10px 15px 10px;
    background-color: #e4e4e4;
    border-radius: 0px 0px 3px 3px;
    display: -webkit-box;
    padding: 0px 5px;
    box-sizing: border-box;
    min-height: 45px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.21);
}

.message_users {
    width: 38px;
    height: 30px;
    overflow: hidden;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .message_users img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }

.message_info {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;
}

.message_content_hf {
    -webkit-box-flex: 1;
    line-height: 20px;
    font-size: 13px;
    text-align: left;
    color: #363838;
}

.message_info_time {
    height: 20px;
    text-align: left;
    font-size: 12px;
    color: #ababab;
}
/*more*/
.more {
    display: -webkit-box;
}

.more_box {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.more_box_item {
    height: 90px;
    float: left;
    border: 1px solid #e4e5e5;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .more_box_item span {
        display: block;
        width: 100%;
        height: 20px;
        color: #767575;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
    }

.item_img {
    width: 100%;
    height: 45px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .item_img img {
        width: 35px;
    }
/*server*/
.server_box {
    width: 100%;
    margin: 0px auto;
    border-radius: 0px;
}

.server_top {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #e2dccf;
    display: -webkit-box;
}

.server_top_zw {
    height: 50px;
}

.server_left {
    width: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.server_right {
    width: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.server_type {
    -webkit-box-flex: 1;
    display: -webkit-box;
}

.server_type_cont {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}

.type_item {
    height: 50px;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 13px;
    color: #303537;
    position: relative;
}

.item_xz {
    color: #ed1968;
    font-size: 20px;
}

.type_item_zz {
    display: none;
    width: 14px;
    height: 5px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 45px;
    background-image: url(../images/server_zz.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.server_zz {
    width: 16px;
    height: 10px;
    background-image: url(../images/server_zz.png);
    background-repeat: no-repeat;
    background-position: center -2px;
    background-size: 100% 100%;
    float: left;
}
/*commodityInfo*/
.commodityInfo_box {
    margin-top: 10px;
    padding: 5px 0px;
    box-sizing: border-box;
}

.commodityInfo_title {
    height: 30px;
    margin: 0px 15px;
    line-height: 30px;
    font-size: 17px;
    text-align: left;
    border-bottom: 1px solid #e4e5e5;
    display: -webkit-box;
}

.comm_title {
    -webkit-box-flex: 2;
}

.comm_price {
    -webkit-box-flex: 1;
    text-align: right;
}

.comm_user {
    display: -webkit-box;
    height: 40px;
    margin: 0px 15px;
    position: relative;
}

.comm_user_pic {
    width: 35px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    overflow: hidden;
}

    .comm_user_pic img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }

.comm_user_name_addr {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.comm_suer_name {
    height: 21px;
    line-height: 25px;
    font-size: 14px;
}

.comm_suer_address {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
}

.comm_rolex {
    width: 60px;
    height: 25px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: absolute;
    top: 5px;
    right: 0px;
}

    .comm_rolex img {
        width: 60px;
        height: 25px;
    }

.comm_desc {
    font-size: 14px;
    margin: 0px 15px;
    line-height: 20px;
}

.comm_images {
    margin: 0px 15px;
    border-top: 1px solid #e4e5e5;
    border-bottom: 1px solid #e4e5e5;
    overflow: hidden;
}

.comm_images_list {
    height: 100px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .comm_images_list img {
        width: 90px;
        margin-right: 5px;
        max-height: 100px;
    }
/*相册*/
.picture_bg {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .picture_bg img {
        max-width: 100%;
        max-height: 100%;
    }
/*相册结束*/
.comm_msg_tel {
    margin: 0px 15px;
    height: 35px;
    display: -webkit-box;
}

.comm_msg {
    border-right: 1px solid #e4e5e5;
}

.comm_msg, .comm_tel {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 0%;
    font-size: 15px;
    color: #5a5959;
}

    .comm_msg img, .comm_tel img {
        width: 21px;
        display: block;
        margin: 0px 10px;
    }

    .comm_tel img {
        width: 18px;
    }

.comm_mess {
    height: 30px;
    margin: 0px 15px;
    display: -webkit-box;
    line-height: 30px;
}

.mess_user_pic {
    width: 40px;
    display: -webkit-box;
    -webkit-box-pack: start;
}

    .mess_user_pic img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
    }

.mess_user_name {
    -webkit-box-flex: 1;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #e4e5e5;
    /*word-break: break-all;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.mess_user_name_s {
    -webkit-box-flex: 1;
    line-height: 15px;
}

.mess_user_time {
    width: 80px;
    text-align: right;
    font-size: 12px;
    border-bottom: 1px solid #e4e5e5;
}

.comm_mess_content {
    line-height: 22px;
    font-size: 12px;
    text-align: left;
    margin: 0px 15px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #ababab;
}

.comm_user_hfbox {
    margin: -8px 10px 18px 10px;
    background-color: #e4e4e4;
    border-radius: 0px 0px 3px 3px;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    min-height: 45px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.21);
}

.hfbox_b {
    border-bottom: 1px solid #D3D3D3;
}
/*form*/
.form_box {
    padding: 5px 0px;
    box-sizing: border-box;
}

.text_title {
    line-height: 35px;
    text-align: center;
    font-size: 16px;
}

.form_text_div {
    margin: 8px 15px;
    display: -webkit-box;
}

    .form_text_div span {
        display: block;
        line-height: 30px;
        font-size: 12px;
    }

.form_name {
    min-width: 40px;
    max-width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    color: #5a5959;
}

.form_input {
    -webkit-box-flex: 1;
    border: 1px solid #e4e5e5;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .form_input span {
        font-size: 12px;
    }

    .form_input:focus {
        border: 1px solid #2b9eb6;
    }

.form_radio {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    font-size: 14px;
    line-height: 30px;
}

.form_check {
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    font-size: 14px;
    line-height: 30px;
}

    .form_check label {
        display: block;
        float: left;
        width: 80px;
    }

.form_radio label {
    margin: 0px 5px;
}

input[type=text], input[type=number] {
    /*-webkit-box-flex: 1;
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px 5px;
    font-size: 14px;
    height: 30px;
    text-align: left;
    box-sizing: border-box;*/
}

textarea {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 5px 5px;
    font-size: 14px;
    width: 100%;
    min-height: 70px;
    text-align: left;
    box-sizing: border-box;
}

select {
    display: block;
    border: 0px;
    margin: 0px;
    font-size: 14px;
    height: 30px;
    width: 100%;
    text-indent: 5px;
    box-sizing: border-box;
}

.form_name_onliny {
    line-height: 20px;
    font-size: 14px;
}

.form_hint {
    line-height: 20px;
    color: #d81f1f;
    font-size: 14px;
    text-align: left;
    padding: 0px 5px;
    box-sizing: border-box;
}

.form_btn_box {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.form_btn {
    -webkit-box-flex: 1;
    margin: 0px 5px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #000;
    box-sizing: border-box;
    background-color: #2b9eb6;
    text-align: center;
    line-height: 35px;
    color: #fff;
}
/*上传图片*/
.form_img_box {
    margin: 8px 15px;
}

.uploadImg {
    width: 45px;
    height: 45px;
    margin: 5px;
    float: left;
    border: 1px solid #e4e5e5;
    border-radius: 3px;
    background-image: url(../images/021.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90% 90%;
}

.imgfile {
    width: 0px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.file_img {
    width: 45px;
    height: 45px;
    float: left;
    margin: 5px;
    border: 1px solid #e4e5e5;
    border-radius: 3px;
    background-image: url(../images/fileimg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.loding {
    position: absolute;
    width: 47px;
    height: 47px;
    left: -1px;
    top: -1px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.file_up_img {
    width: 45px;
    height: 45px;
    float: left;
    margin: 5px;
    border: 1px solid #e4e5e5;
    border-radius: 3px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

    .file_up_img img {
        max-height: 45px;
        max-width: 45px;
    }

.remove_pic {
    width: 15px;
    height: 15px;
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 100;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background-color: #8B8B8B;
    border-radius: 10px;
    font-family: 宋体;
}

/*msginfo*/
.msginfo_box {
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
}

.content_title {
    padding: 5px 0px;
    line-height: 30px;
    font-size: 19px;
    font-weight: bold;
    box-sizing: border-box;
}

.noticeContent {
    line-height: 27px;
    font-size: 16px;
    overflow: hidden;
}

.content_time {
    line-height: 20px;
    font-size: 12px;
    text-align: left;
}

.noticeContent img {
    width: 100%;
    margin: 5px auto;
}

.bottom_menu {
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: 0px;
    text-decoration: none;
    background-color: #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 13px;
    color: #5a5959;
    z-index: 15;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.21);
}
/**/
.whileinfo_box {
    padding: 10px;
    margin: 5px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.line {
    line-height: 25px;
    text-align: left;
    display: -webkit-box;
    box-sizing: border-box;
}

.line_form {
    padding: 0px 5px;
    line-height: 35px;
    text-align: left;
    display: -webkit-box;
    box-sizing: border-box;
}

.field_name {
    width: 70px;
    font-size: 13px;
    font-weight: bold;
}

.field_info {
    width: 0%;
    -webkit-box-flex: 1;
    font-size: 13px;
}

    .field_info a {
        color: #5a5959;
    }
/*about*/
.wjylogo {
    width: 100%;
    margin-top: 60px;
    height: 70px;
    background-image: url(../images/sqgy.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 70px;
}

.wsq_box {
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #303537;
}

.wsq_bb_box {
    line-height: 15px;
    font-size: 12px;
    color: #c4486b;
    text-align: center;
}

.wsq_line {
    margin: 10px 30px;
    border-bottom: 1px solid #cbc6bb;
}

.wsq_kf {
    margin: 0px 30px;
    text-align: left;
    line-height: 23px;
    font-size: 16px;
    color: #9b9f9f;
}

.wsq_kf_tel {
    margin: 0px 30px;
    text-align: left;
    line-height: 23px;
    font-size: 16px;
    color: #c4486b;
}

.wsq_xy {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.wsq_bq_font {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 21px;
    /*position:fixed;
    left:0px;
    bottom:100px;*/
}

.wsq_bq {
    width: 100%;
    font-size: 11px;
    text-align: center;
    line-height: 21px;
    color: #9b9f9f;
    /*position:fixed;
    left:0px;
    bottom:60px;*/
}
/*busindessInfo*/
.busindess_type_box {
    margin: 0px 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    color: #303537;
    display: -webkit-box;
    -webkit-box-align: center;
}

    .busindess_type_box img {
        height: 20px;
        margin: 0px 5px;
    }

.businessesInfo_info {
    margin: 3px 15px;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
    color: #b0b1b1;
    overflow: hidden;
}

.bussiness_img_box {
    padding-top: 10px;
    margin: 0px 20px;
    height: 130px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: relative;
}

.bussiness_img_box_float {
    -webkit-box-flex:1;
    height: 120px;
    overflow-x:auto;
    overflow-y:scroll;    
    display:-webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}
    .bussiness_img_box_float img {
        height:100px;
        display:block;
        margin:0px 5px 0px 0px;
    }

.bussiness_img_cont_box {
    height: 120px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.bussiness_img {
    width: 100%;
    height: 120px;
}

    .bussiness_img img {
        display: block;
        width: 100%;
        height: 120px;
        border-radius: 4px;
    }

.left_img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 55px;
    z-index: 10000;
    background-image: url(../images/yl.png);
    background-position: center center;
    background-size: 100% 100%;
}

.right_img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 55px;
    z-index: 10000;
    background-image: url(../images/yr.png);
    background-position: center center;
    background-size: 100% 100%;
}

.bussiness_address {
    height: 110px;
    margin: 0px 20px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.bussiness_no_img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .bussiness_no_img img {
        width: 100%;
    }

.bussiness_add_del {
    height: 100%;
    -webkit-box-flex: 1;
}

.bussiness_add {
    height: 70px;
    width: 100%;
    display: -webkit-box;
}

.bussiness_del {
    height: 30px;
    width: 100%;
    display: -webkit-box;
    color: #444;
    -webkit-box-align: center;
}

    .bussiness_del img {
        height: 22px;
        margin: 0px 5px;
    }

.add_img {
    width: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .add_img img {
        width: 20px;
    }

.add_font {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 13px;
}
/*twocode*/
.twocode_box {
    margin: 10px 20px;
    height: 70px;
    border-bottom: 1px solid #cbc6bb;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.user_pic {
    width: 53px;
    height: 53px;
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 3px;
}

    .user_pic img {
        width: 47px;
        height: 47px;
    }

.user_info_box {
    height: 53px;
    -webkit-box-flex: 1;
    padding-left: 15px;
    box-sizing: border-box;
}

.username {
    height: 30px;
    width: 100%;
    font-family: 黑体;
    color: #303537;
    font-size: 16px;
    line-height: 30px;
}

.useraddress {
    height: 23px;
    width: 100%;
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: start;
}

    .useraddress img {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }

.twocode_msg {
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    text-align: center;
    font-size: 13px;
    color: #606060;
}

    .twocode_msg span {
        color: #eb3733;
        font-size: 17px;
        font-weight: bold;
    }

.twocode_ewm {
    margin: 0px 20px;
}

.ewm_box {
    width: 250px;
    height: 250px;
    margin: 0px auto;
    background-image: url(../images/ewm.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .ewm_box img {
        width: 140px;
        height: 140px;
        margin-left: -6px;
        margin-top: -9px;
    }

.twocode_show {
    margin: 0px 20px;
    height: 30px;
    color: #303537;
    font-size: 16px;
    line-height: 30px;
}

    .twocode_show span {
        font-size: 12px;
        color: #6e6e6e;
    }

.twocode_content {
    margin: 0px 20px;
    font-size: 12px;
    line-height: 22px;
    color: #303537;
}

.twocode_btn {
    margin: 15px 20px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color: #ef4752;
    box-shadow: -1px -1px 5px #beb9ae;
}
/*selectbus*/
.selectbus {
    margin-bottom: 10px;
}

.bus_title {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.bus_pic {
    width: 45px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .bus_pic img {
        width: 25px;
    }

.bus_name {
    width: 0%;
    -webkit-box-flex: 1;
    text-align: left;
    font-size: 16px;
    color: #de0404;
}

    .bus_name span {
        font-weight: bold;
    }

.bus_info {
    width: 0%;
    font-size: 15px;
    -webkit-box-flex: 1;
    text-align: center;
}

.bus_info_cont {
    width: 100%;
    background-color: #a9a9a9;
}

.bus_info_list {
    height: 35px;
    margin: 0px 15px;
    padding: 0px 10px;
    border-bottom: 1px solid #b8b8b8;
    box-sizing: border-box;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
}

    .bus_info_list img {
        width: 25px;
        display: block;
        float: left;
        margin-top: 8px;
        margin-right: 5px;
    }

    .bus_info_list span {
        color: #c40101;
        padding: 0px 5px;
    }

.bus_address {
    height: 30px;
    color: #4f4f4f;
    font-size: 15px;
    line-height: 30px;
    margin: 5px 15px;
    border-bottom: 1px solid #e4e5e5;
    padding-left: 10px;
    box-sizing: border-box;
}

.bus_add_list {
    height: 30px;
    color: #4f4f4f;
    font-size: 13px;
    margin: 0px 20px;
    line-height: 30px;
    text-indent: 13px;
    background-image: url(../images/j4.png);
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 6px;
}

.bus_red {
    color: #c50101;
}
/*留言板*/
.lyzz {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-image: url(../images/btm.png);
}

.from_to_msg {
    height: 20px;
    margin: 0px auto;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
}

    .from_to_msg span {
        padding: 0px 3px;
        color: #2b9eb6;
    }

.ly_msg_box {
    padding: 5px;
    box-shadow: 0px 0px 5px #000;
}

.text_msg {
    margin: 0px auto;
    height: 80px;
}

.text_msg_area {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    border: 1px solid rgb(184, 184, 184);
    box-sizing: border-box;
}

.btn_msg_box {
    margin: 5px auto 0px auto;
    height: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
/*imgshow*/
.imgshow_box {
    width: 100%;
}

    .imgshow_box img {
        display: block;
        width: 100%;
    }

.imgshow_box_hfbox {
    margin: 5px 10px 0px 10px;
    background-color: #e4e4e4;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    min-height: 45px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.21);
}

.imgshow_box_desc {
    font-size: 13px;
    margin: 0px 15px;
    line-height: 22px;
}