﻿@import url(comm.css);
@import url(/e/css/focus.css);
@import url(/e/css/iconfont/iconfont.css);

/*网站基础样式*/
html{-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
body{font:14px/1.8 "Segoe UI",Tahoma,Verdana,Arial,\5b8b\4f53;background-color:#9FCCDF;color:#333}

input,select,textarea,button{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0px;}
img,embed{max-width:100%;height:auto;}
li{list-style:none;*margin-left:-1px}
.left{float:left}
.right{float:right}
.clear{display:block;clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0px;padding:0px;overflow:hidden}
a{color:#333;text-decoration:none}
.page_style{margin:0px auto;width:100%;margin:0px auto;background-color:#fff;text-align:center;}

/*顶部及主菜单样式*/
.top_box{clear:both;position:relative;width:100%;overflow:hidden}
.top_box .logo{position:absolute;text-align:left;z-index:3;line-height:0px;left:5px;top:5px;}
.top_box .logo img{height:auto;}
.top_box .topcontent{clear:both;width:100%;height:46px;background-color:#0066CC;border-bottom:1px solid #0066CC;}

.menu_box{clear:both;background-color:#E1EDFF;padding:10px;background-image:-webkit-gradient(linear,left top,left bottom,from(#EDF4FF),to(#DFECFF));background-image:-moz-linear-gradient(top,#EDF4FF,#DFECFF);overflow:hidden;}

.menu_style_homepage{float:left;text-align:left;padding:0px;}
.menu_style{float:left;text-align:left;padding:0px;}

a.menu{display:block;line-height:25px;font-size:1.3em;font-weight:bold;margin-right:20px;text-align:center;}

.menu_current a.menu{}

/*banner样式*/
.banner{clear:both;padding:0px;margin:0px;overflow:hidden;background:#fff}
.smallbanner{clear:both;padding:0px;margin:0px;text-align:left}

/*网站主体框架样式*/

.main_box_style{clear:both;margin:0px;overflow:hidden;}

.main_box_style1{clear:both;height:100%;overflow:hidden;}
.main_box_style1 .main_box_inner{margin:0px;}
.main_box_style1 .main_box_inner_left{width:100%;text-align:left;}
.main_box_style1 .main_box_inner_right{width:100%;overflow:hidden;text-align:left;}

.main_box_style2{clear:both;margin:0px 0 0 0;overflow:hidden;height:100%;overflow:hidden;}
.main_box_style2 .main_box_inner_left{float:left;width:680px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style2 .main_box_inner_right{float:right;width:210px;margin:0 0 0 0;padding:0 0 0 0;overflow:hidden;text-align:left;}

.main_box_style3{clear:both;margin:0px 0 0 0;height:100%;overflow:hidden;}
.main_box_style3 .main_box_inner_left{float:left;width:210px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_middle{float:left;width:460px;margin:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_right{float:right;width:210px;margin:0 0 0 10px;overflow:hidden;text-align:left;}


/*导航样式*/

.nav_box{clear:both;width:100%;overflow:hidden;}
.nav_title{height:25px;text-align:left;overflow:hidden;cursor:pointer;display:none}
.nav_sign{float:left;text-align:left;line-height:25px;font-size:1.2em;}
.nav_more{float:right;font-weight:normal;padding:8px 10px 0 10px;margin:0 0 0 0;}
.nav_more a{font-size:10px;line-height:15px}

.nav_content{margin:0px;padding:5px 5px 5px 10px;text-align:left;}

.nav_menu{padding:5px;background-color:#ececec;text-align:left;}
.nav_menu ul{clear:both;overflow:hidden}
.nav_menu ul li{float:left;margin-left:5px;margin-right:10px;text-align:left;overflow:hidden}
.nav_menu ul li a{line-height:25px;height:25px;font-size:1.2em;}
.nav_menu ul li a.current{color:#C81207}

.nav_menu ul li ul li{text-align:left;}
.nav_menu ul li ul li a{}
.nav_menu ul li ul li a.current{color:#fff}

.nav_menu ul li ul li ul{padding:0 0 0 15px;}
.nav_menu ul li ul li span.node{float:left;height:20px;width:15px;cursor:pointer;background:url(images/node_open.gif) no-repeat 0 center;}
.nav_menu ul li ul li span.node_close{float:left;height:20px;width:15px;cursor:pointer;background:url(images/node_close.gif) no-repeat 0 center;}
.nav_menu ul li ul li span{float:left;height:20px;width:15px;background:url(images/subnav.gif) no-repeat 0 center;display:none}

/*模块样式*/
.module_box{clear:both;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}                 /*模块整行布局样式*/
.module_box_layout_left{float:left;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}  /*模块左布局样式*/
.module_box_layout_right{float:right;margin:0 0 5px 0;border:0 solid #cccccc;overflow:hidden;}   /*模块右布局样式*/

.module_box_inner{clear:both;text-align:center;padding:5px 0 5px 0;border:0px solid #cccccc;overflow:hidden;height:100%;}/*模块内层容器样式*/
.module_box_layout_left .module_box_inner{clear:both;text-align:center;margin:0 10px 0 0;padding:5px 0 5px 0;} /*模块居左时重写内层样式*/

.module_title{height:40px;text-align:left;border:1px solid #B0CBDB;border-width:1px 0px 1px 0px;background-color:#C0E6FE;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#cae9fe));background-image:-moz-linear-gradient(top, #ffffff, #cae9fe);}
.module_sign{float:left;text-align:left;font-size:1.2em;font-weight:bold;padding-left:10px;line-height:40px}
.module_more{float:right;font-weight:normal;width:20%;}
.module_more a{display:block;font-size:1.3em;line-height:40px;padding-right:10px;color:#333;text-align:right}
.module_more a .iconfont{font-size:1.3em;line-height:40px;color:#333;}

.module_content{text-align:left;}
.module_content_introduct{padding:10px;line-height:1.3;font-size:1.1em;}
.module_content_introduct p{margin-bottom:10px;text-indent:2em;}

.module_footer{clear:both;height:1px;overflow:hidden;background-color:#cccccc;display:none}
.module_footer .l{float:left;}
.module_footer .r{float:right}

/*子栏目样式*/
.lanmupage .current_location{display:none}
.current_location{clear:both;position:relative;text-align:left;height:30px;padding-left:5px;font-size:15px;}
.current_location_1{float:left;line-height:30px;}
.current_location_2{float:left;line-height:30px;display:none}

.sublanmu_box{text-align:left;padding-bottom:10px;}
.sublanmu_content{text-align:left;padding:5px 10px;}

.sublanmu_content_introduct{line-height:2;font-size:1.2em}
.sublanmu_content_introduct p{margin-bottom:10px;}

.sublanmu_page{clear:both;position:relative;text-align:center;padding:10px;font-size:14px;overflow:hidden}
.sublanmu_page a{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 10px 2px 10px;border:1px solid #cccccc;display:none}
.sublanmu_page a.prevpage{float:left;display:block}
.sublanmu_page a.nextpage{float:right;display:block}

.sublanmu_page span{display:none}
.sublanmu_page span.pageinfo{position:absolute;top:10px;left:50%;display:block;margin-left:-50px;color:#666}
.sublanmu_page span.c{border:0px solid #cccccc;border-color:#999999;font-weight:bold;padding:0 2px 0 2px;}

.sublanmu_pn{margin:15px 0 5px 0}
.sublanmu_pn li{color:#D33506}

/*评论*/
.comments_box{text-align:left;border:1px solid #cccccc;margin:10px 5px 10px 10px;}
.comments_box .title{padding:2px 0 0 10px;height:20px;font-weight:bold;background-color:#ececec}
.comments_box ul li{padding:5px 0 5px 25px;}
.comments_box .textarea{width:520px;height:100px;border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}

.comments_list{padding:5px 5px 0 10px;border:0px solid #cccccc;overflow:hidden}
.comments_list .title{display:block;padding:2px 0 3px 5px;height:18px;width:100%;font-weight:bold;}
.comments_list .item{clear:both;margin:0 0 10px 0;overflow:hidden}
.comments_list .header{padding:3px 0 0 10px;height:22px;background-color:#eeeeee}
.comments_list .header .floornum{font-size:12px;font-style:Italic;font-weight:bold}
.comments_list .header .left{float:left}
.comments_list .header .right{float:right;padding-right:10px}
.comments_list .quote{display:block;color:#999999;padding:5px 5px 5px 10px;border:1px solid #ececec}
.comments_list .content{padding:5px 5px 5px 15px}
.comments_list .reply{background:url(public/reply.gif) no-repeat 5px 5px;border:1px dashed #cccccc;padding:2px 5px 2px 25px;margin:2px 0 5px 0;color:#D33506}


/*bottom样式*/
.bottom_box{clear:both;padding:15px 10px;text-align:cetenr;line-height:30px;background-color:#9FCCDF;color:#333;font-size:13px;overflow:hidden}
.bottom_box a{color:#333;}

.bottom_box a.sj_pc{line-height:20px;color:#0066CC;font-size:14px}


/*登陆界面*/
.loginbox_item{height:20px;padding:0 0 0 0;padding:0 5px 5px 0;text-align:left;font-size:9pt;}
.loginbox_textbox{width:100px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_textbox_yzm{width:40px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_submit{width:60px;height:20px;border:0 solid #333333;border-width:0 1px 1px 0;background-color:#dddddd;cursor:pointer;}
a.logined_href:link{font-size:9pt;color:#FF0000;text-decoration:underline}
a.logined_href:visited{font-size:9pt;color:#FF0000;;text-decoration:underline}
a.logined_href:hover{font-size:9pt;color:#FF0000;text-decoration:underline}
