ul,ol
{
	list-style: none;
}
.operBtn
{
	padding: 10px 0 0;
}
.pText
{
	margin-right: 10px;
	font-size: 1.8rem;
}
.photoList
{
	margin: 15px 10px;
	padding-top: 5px;
}
.photoList li
{
	float: left;
	margin: 0 15px 15px 0;
	position: relative;
}
.photoList .on,.maskLay
{
	width: 60px;
	height: 60px;
}
.photoCut
{
	width: 60px;
	height: 60px;
	overflow: hidden;
}
.photoCut img
{
	min-width: 80px;
	max-width: 80px;
}
.photoList .on
{
	background:#d9d9d9 url('../img/021.png') no-repeat 10px 10px;
	margin-right: 0;
	cursor: pointer;
}
.dImg
{
	width: 31px;
	height: 27px;
	margin-top: 50%;
	margin-left: 50%;
}
.cBtn
{
	width: 25px;
	height: 25px;
	background: url('../img/sprBg.png') no-repeat;
	background-size: 400px auto;
	-webkit-background-size: 400px auto;
	text-indent: -9999px;
	position: absolute;
}
.cBtn
{
	right: -10px;
	top: -10px;
}
.cBtnOn
{
	background-image: url('../img/021.png');
	background-position: -25px 0;
}
.maskLay
{
	position: absolute;
	left: 0;
	top: 0;
	-moz-opacity: 0.6;
	opacity: 0.6;
	background-color: #000;
}
.progress
{
	width: 34px;
	height: 4px;
	padding: 2px 2px 0;
	position: absolute;
	left: 9px;
	top: 25px;
	border: 2px solid #eaebeb;
	-moz-border-radius: 0.6rem;
	-webkit-border-radius: 0.6rem;
	border-radius: 0.6rem;
}
.proBar
{
	height: 2px;
	background-color: #eaebeb;
}
.textTip
{
	width: 100%;
	line-height: 21px;
	color: #afafaf;
	clear: both;
}