﻿<style>
    .nav-menu {
        border: 0px none;
        cursor: default;
        font-size: 0;
        line-height: 0;
    }
    .shop-nav {
        position: fixed;
        z-index: 99;
    }
    .nav-menu-1, .nav-menu-2, .nav-menu-3 {
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 40px;
        background: #eaeaea;
        color: #eee;
        text-align: center;

        border: 1px none;
        -webkit-border-image: url("{RES}/themes/images/border-line.png") 2 stretch;
        -moz-border-image: url("{RES}/themes/images/border-line.png") 2 stretch;
        border-image: url("{RES}/themes/images/border-line.png") 2 stretch;
        border-top: 2px solid #e5e5e5;
        background: no-repeat #fafafa;
        background-size: 100% 100px;
        height: 40px;

        border-top-width: 1px;
    }

    .nav-menu-1 .nav-item {
        float: left;
        display: block;
        height: 40px;
    }

    .nav-menu-1 .nav-item+.nav-item {
        border-left: 1px solid #e5e5e5;
    }

    .nav-menu-1.has-menu-3 .nav-item {
        width: 28%;
    }

    .nav-menu-1.has-menu-3 .nav-special-item {
        width: 15%;
    }
    .nav-menu-1 a {
        display: block;
        color: #333;
        font-weight: bold;
        text-shadow: 0 0 2px #f5f5f5;
        width: 100%;
    }

    .nav-menu-1 .nav-special-item a {
        background-size: 25px 25px;
        margin: 0 auto;
        border-left-width: 1px;
        border-left-color: #e5e5e5;
        border-left-style: solid;
    }

    .home {
        display: inline-block;
        width: 45px;
        color: #333;
        font-weight: bold;
        font-size: 14px;
        background: url("{RES}/themes/images/ico_home@2x.png") no-repeat scroll center center;
        background-size: 24px 24px;
        text-indent: -10000px;
        height: 40px;
        vertical-align: top;
    }

    .mainmenu-txt {
        font-size: 14px;
        line-height: 41px;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<div style="height: 20px;"></div>
<div class="js-navmenu shop-nav nav-menu nav-menu-1 has-menu-3">
    <div class="nav-special-item nav-item">
        <a href="{php echo $this->createMobileurl('index', array(),true)}" class="home">主页</a>
    </div>
    <div class="nav-item">
        <a class="mainmenu js-mainmenu" href="{if empty($setting[menulink1])}{php echo $this->createMobileurl('news', array(),true)}{else}{$setting[menulink1]}{/if}">
            <span class="mainmenu-txt">{if empty($setting[menuname1])}优惠资讯{else}{$setting[menuname1]}{/if}</span>
        </a>
        <!-- 子菜单 -->
    </div>
    <div class="nav-item">
        <a class="mainmenu js-mainmenu" href="{$setting[menulink2]}">
            <span class="mainmenu-txt">{$setting[menuname2]}</span>
        </a>
        <!-- 子菜单 -->
    </div>
    <div class="nav-item">
        <a class="mainmenu js-mainmenu" href="{$setting[menulink3]}">
            <span class="mainmenu-txt">{$setting[menuname3]}</span>
        </a>
        <!-- 子菜单 -->
    </div>
</div>