<input type="hidden" name="reply_id" value="{$reply['id']}" />
<div class="panel panel-default">
    <div class="panel-heading">
        封面设置 
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">名称</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="title" value="{$reply['title']}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面</label>
            <div class="col-xs-12 col-sm-9">
                {php echo tpl_form_field_image('thumb',$reply['thumb']);}
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">简介</label>
            <div class="col-xs-12 col-sm-9">
                <textarea style="height:70px;" class="form-control" id="description" name="description" cols="70">{$reply['description']}</textarea>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        详细设置 
    </div>
    <div class="panel-body">
      
          <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家名称</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="heading" value="{$reply['heading']}" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家简介</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="smallheading" value="{$reply['smallheading']}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">联系电话</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="tel" value="{$reply['tel']}" />
            </div>
        </div>
         <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">过期几位</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="num" value="{$reply['num']}" />
                <span class='help-block'>抽的号过 n 位就失效了，需要重新抽号,0 不过期</span>
            </div>
        </div>
         <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">提前通知</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="beforenum" value="{$reply['beforenum']}" />
                <span class='help-block'>如果有人入座或者放弃，则通知前 beforenum 位顾客的排号进度,0为不通知,尽量少于5位，数字越大会影响效率</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">说明文字</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="intro" value="{$reply['intro']}" />
            </div>
        </div>
   
    </div>

<div class="panel-heading">
    排号类型
</div>
<div class="panel-body">

    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">排号类型</label>
        <div class="col-sm-9 col-xs-12">

            <table class='table'>
                <thead>
                    <tr>
                        <th>标签(例如A,B)</th>
                        <th>名称</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="type-items">
                    {loop $types $type}
                    {template 'type_item'}
                    {/loop}
                </tbody>
            </table>

            <a class="btn btn-default btn-add-type" href="javascript:;" onclick="addType();"><i class="fa fa-plus" title="添加排号类型"></i> 添加排号类型</a>
        </div>
    </div>
</div>
    
    <div class="panel-heading">
       通知及二维码 
    </div>
    <div class="panel-body">
          <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">取号模板消息ID</label>
            <div class="col-xs-12 col-sm-9">
                <input type="text" class="form-control" placeholder="" name="templateid" value="{$reply['templateid']}" />
                <span class='help-block'>公众平台模板消息ID, 推荐餐饮行业的模板ID:  OPENTM201145868 ，</span>
                <span class='help-block'>认证服务号，使用模板消息进行通知</span>
                <span class='help-block'>认证订阅号，使用客服消息进行通知</span>
            </div>
        </div>
    
              <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">大屏幕背景图</label>
            <div class="col-xs-12 col-sm-9">
                {php echo tpl_form_field_image('screenbg',$reply['screenbg']);}
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">大屏幕二维码类型</label>
            <div class="col-xs-12 col-sm-9">
                <label class='radio-inline'>
                    <input type='radio' name='qrcodetype' value='0' {if empty($reply['qrcodetype'])}checked{/if} /> 公众号二维码
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='qrcodetype' value='1' {if $reply['qrcodetype']==1}checked{/if} /> 带参数二维码
                </label>
                <span class='help-block'>认证服务号可使用带参数二维码，关注后直接推送排号，关键词，普通号提示回复关键词</span>
                <span class='help-block'>请到 <a href='{url 'platform/qr/post'}' target='_blank'>生成带参数二维码</a> 后复制二维码连接</span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">大屏幕二维码</label>
            <div class="col-xs-12 col-sm-9">
                {php echo tpl_form_field_image('qrcode',$reply['qrcode']);}
               <span class='help-block'>认证服务号可使用带参数二维码，关注后直接推送排号，关键词，普通号为公众号二维码</span>
            </div>
        </div>
        
    </div>
    
    
</div>

<script text="text/javascript">

    function addType() {
        $(".btn-add-field").button("loading");
        $.ajax({
            url: "{php echo $this->createWebUrl('typetpl')}",
            cache: false
        }).done(function (html) {
            $(".btn-add-type").button("reset");
            $("#type-items").append(html);
        });
    }
    function removeType(obj) {
        $(obj).parent().parent().remove();
    }
</script>