<div ng-controller="titleCtrl">
{if $_GPC['iseditor']}
	<!--标题-->
	<div class="app-title-edit">
		<div class="arrow-left"></div>
		<div class="inner">
			<div class="panel panel-default">
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label"><span class="red">*</span> 标题名</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="" ng-model="activeItem.params.title" value="">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">标题模板</label>
						<div class="col-xs-9">
							<label class="radio-inline">
								<input type="radio" name="title-style" ng-model="activeItem.params.template" value="1" class="tradition" >传统样式
							</label>
							<label class="radio-inline">
								<input type="radio" name="title-style" ng-model="activeItem.params.template" value="2" class="wx"/>模仿微信图文页样式
							</label>
						</div>
					</div>
					<!--传统-->
					<div class="form-group" ng-if="activeItem.params.template == 1">
						<label class="col-xs-3 control-label">副标题</label>
						<div class="col-xs-6">
							<input type="text" class="form-control" ng-model="activeItem.params.tradition.subtitle" value="" />
						</div>
						<div class="col-xs-3 form-control-static">
							<span class="date"><a href="javascript:;" ng-my-date-picker ng-my-date-value="activeItem.params.tradition.subtitle">日期</a></span>
						</div>
					</div>
					<div class="form-group" ng-if="activeItem.params.template == 1">
						<label class="control-label col-xs-3">显示</label>
						<div class="col-xs-9">
							<label class="radio-inline">
								<input type="radio" name="tra-style" value="left" ng-model="activeItem.params.tradition.align">居左显示
							</label>
							<label class="radio-inline">
								<input type="radio" name="tra-style" value="center" ng-model="activeItem.params.tradition.align"/>居中显示
							</label>
							<label class="radio-inline">
								<input type="radio" name="tra-style" value="right" ng-model="activeItem.params.tradition.align"/>居右显示
							</label>
						</div>
					</div>
					<div class="form-group" ng-if="activeItem.params.template == 1">
						<label class="col-xs-3 control-label">背景颜色</label>
						<div class="col-xs-9 ">
							<div class="input-group">
								<div ng-my-colorpicker ng-my-color="activeItem.params.tradition.bgcolor" ng-my-default-color="'#ffffff'"></div>
							</div>
						</div>
					</div>
					<div class="add-textNav card" ng-if="activeItem.params.template == 1 && activeItem.params.tradition.nav.enable == 0">
						<a href="javascript:" ng-click="changeNavEnable(1)"><i class="fa fa-plus-circle green"></i>  添加一个文本导航</a>
					</div>
					<div class="card" style="padding:20px;" ng-if="activeItem.params.template == 1 && activeItem.params.tradition.nav.enable == 1">
						<div class="btns">
							<a href="javascript:" ng-click="changeNavEnable(0)"><i class="fa fa-times"></i></a>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label"><span class="red">*</span> 名称</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" name="" ng-model="activeItem.params.tradition.nav.title" value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label"><span class="red">*</span> 链接</label>
							<div class="col-xs-9 form-control-static ">
								<div ng-my-linker ng-my-url="activeItem.params.tradition.nav.url" ng-my-title="activeItem.params.tradition.nav.title"></div>
							</div>
						</div>
					</div>

					<!--仿微信样式-->
					<div class="form-group" ng-if="activeItem.params.template == 2">
						<label class="col-xs-3 control-label">日期</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="" ng-my-date-picker ng-my-date-value="activeItem.params.news.date" value="">
						</div>
					</div>
					<div class="form-group" ng-if="activeItem.params.template == 2">
						<label class="col-xs-3 control-label">作者</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="" ng-model="activeItem.params.news.author" value="">
						</div>
					</div>
					<div class="form-group" ng-if="activeItem.params.template == 2">
						<label class="col-xs-3 control-label">链接标题</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" name="" ng-model="activeItem.params.news.title" value="">
						</div>
					</div>
					<div class="form-group" ng-if="activeItem.params.template == 2">
						<label class="control-label col-xs-3">链接地址</label>
						<div class="col-xs-9">
							<div ng-my-linker ng-my-url="activeItem.params.news.url" ng-my-title="activeItem.params.news.title"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end标题-->
{else}
	<!--app标题-->
	<div class="app-title">
		<div class="inner">
			<!--传统样式-->
			<!--居左:text-left   居右:text-right    居中:text-center-->
			<div ng-if="module.params.template == 1" class="title-detail tradition" style="text-align: {{module.params.tradition.align}}; background:{{module.params.tradition.bgcolor}};/*背景颜色设置*/">
				<h2 class="title-con">{{ module.params.title || "点击编辑『标题』"}}<span ng-if="module.params.tradition.nav.enable == 1" class="title-link"> - <a href="{{module.params.tradition.nav.url}}" ng-bind="module.params.tradition.nav.title">文本导航</a></span></h2>
				<p class="sub-title" ng-bind="module.params.tradition.subtitle">副标题</p>
			</div>
			<!--仿微信样式-->
			<div ng-if="module.params.template == 2" class="title-detail text-left wx">
				<h2 class="title-con">{{ module.params.title || "点击编辑『标题』"}}</h2>
				<p class="sub-title"><span class="date" ng-bind="module.params.news.date">2015-03-12</span>&nbsp;&nbsp;<span class="author" ng-bind="module.params.news.author">zhangsan</span>&nbsp;&nbsp;<span><a href="{{module.params.news.url}}" ng-bind="module.params.news.title">学晟惠团队</a></span></p>
			</div>
		</div>
	</div>
	<!--end标题-->
{/if}
</div>