http://mallgxxsh/forum.php?mod=viewthread&tid=10576&fromuid=56310{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="{php echo $this->createWebUrl('info');}">信息管理</a></li>
        <li class="active"><a href="{php echo $this->createWebUrl('addinfo');}">单条录入</a></li>
        <li><a href="{php echo $this->createWebUrl('batchaddinfo');}">批量导入</a></li>
    </ul>
</div>       
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
.display {display:block;}
</style>

<div class="clearfix">
<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">信息编辑</div>
        <div class="panel-body">
                <input type="hidden" name="infoid" value="{$info['id']}">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"><span style='color:red'>*</span>手机号码</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="0123456789" name="keyword" value="{$info['keyword']}">
                    	<span class="help-block">手机号码与下方订单号码一一对应</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"><span style='color:red'>*</span>订单号码</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" placeholder="0123456789" name="ordercode" value="{$info['ordercode']}">
                    	<span class="help-block">订单号码与上方手机号码一一对应</span>
                    </div>
                </div>                
<!-- 				<div class="form-group display">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>详细信息</label>
					<div class="col-sm-9 col-xs-12">
						<textarea style="height:200px; width:80%;" id='rule' class="form-control span7 richtext" name="info" cols="70">{$info['info']}</textarea>
						<span class="help-block">通过关键字查询出来展示的内容</span>
					</div>
				</div>
               
                <div class="form-group display">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">信息图片</label>
                    <div class="col-sm-8 col-xs-12">
                       {php echo tpl_form_field_image('infophoto',$info['infophoto']);}
                    </div>
                </div> 
                <div class="form-group display">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="help-block">图片，建议大小：50*50</div>
                    </div>
                </div>  -->                                            


        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </div>
</form>
</div>
<script type="text/javascript">
    var category = {php echo json_encode($children)};
    require(['jquery', 'util'], function($, u){
        $(function(){
            u.editor($('.richtext')[0]);
        });
    });
</script>
{template 'common/footer'}