{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="{php echo $this->createWebUrl('info');}">信息管理</a></li>
        <li ><a href="{php echo $this->createWebUrl('addinfo');}">单条录入</a></li>
        <li class="active"><a href="{php echo $this->createWebUrl('batchaddinfo');}">批量导入</a></li>
    </ul>
</div>       
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
.display {display:block;}
</style>

<div class="clearfix">
<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">信息编辑</div>
        <div class="panel-body">
                <input type="hidden" name="infoid" value="{$info['id']}">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label"><span style='color:red'>*</span>EXCEL文件</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="file" class="form-control"  name="exceldata" />
                    	<span class="help-block">手机号码--订单号码的EXCEL文件</span>
                    </div>
                </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </div>
</form>
</div>
<script type="text/javascript">
    var category = {php echo json_encode($children)};
    require(['jquery', 'util'], function($, u){
        $(function(){
            u.editor($('.richtext')[0]);
        });
    });
</script>
{template 'common/footer'}