{template 'template_script'}
<div class="row span8">

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:90px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;" bigimg="../addons/amouse_article/style/images/wemdeia_detail.png"
                 src="../addons/amouse_article/style/images/wemdeia_detail.png" alt="过路">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
               WEMEDIA模板（推荐公众号）
            </span>
            <div class="radio">
                <label>
                    <input type="radio" name="template" value="5" {if $item['template']=='5'}  checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:90px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/detail1.png"
                 src="../addons/amouse_article/style/images/detail1.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                      模板1
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="1" {if $item['template']=='1'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:90px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/detail2.png"
                 src="../addons/amouse_article/style/images/detail2.png" alt="列表1">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
                  模板(方太)
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="2" {if $item['template']=='2'}
                    checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:90px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/detail3.png"
                 src="../addons/amouse_article/style/images/detail3.png" alt="过路">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
               模板(过路)
            </span>

            <div class="radio">
                <label>
           <input type="radio" name="template" value="3" {if $item['template']=='3'}  checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>

    <div class="col-xs-2 col-md-2 template_picker">
        <div class="thumbnail" style="text-align:center;width:90px;" title="点击打开新窗口查看大图">
            <img class="showTip" style="height:100px;overflow:hidden;"
                 bigimg="../addons/amouse_article/style/images/detail4.png"
                 src="../addons/amouse_article/style/images/detail4.png" alt="过路">
             <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">
               模板4
            </span>

            <div class="radio">
                <label>
                    <input type="radio" name="template" value="4" {if $item['template']=='4'}  checked="checked"{/if}>选择
                </label>
            </div>
        </div>
    </div>



</div>
