{php $bootstrap_type = 3;}
{template 'header'}

<style>
body{background:#f5f5f5 url({$stopbg}) no-repeat;background-size:100% auto;}
.body{background:#f5f5f5 url({$stopbg}) no-repeat;background-size:100% auto;}
 .h {height:10px}
 .btn{  padding: 4px 8px;}
 .pagination ul > li > a, .pagination ul > li > span {
  padding: 5px 5px;
}
</style>
<link rel="stylesheet" type="text/css" href="../addons/fm_photosvote/template/css/style.css">
<div class="body">

</div>




   
	<!--<div class="copyright">
    {if $reply['iscopyright']==1}<a href="{$reply['copyrighturl']}">&copy;{$reply['copyright']}</a> <a href="http://gxxsh.com.cn">FantasyMoons</a>{else}<a href="javascript:;">{if empty($footer_off)}&copy;{if empty($_W['account']['name'])}FantasyMoons Team团队{else}{$_W['account']['name']}{/if}&nbsp;&nbsp;{$_W['setting']['copyright']['statcode']}{/if}</a>{/if}
	</div>-->

{template 'footer'}
