{template 'header'}
<body id="rain1" screen_capture_injected="true" style="">
{data func="site_slide_search" limit="1" item="row" assign="slide"}
{php $f = $row['thumb'];}
{/data}
{php $banner = $_W['styles']['indexbgextra'];}
<div class="banners">{if !empty($f)}</div>{template 'slide'}{else if !empty($banner)}<img src="{$banner}"></div>{else}<img src="http://bcs.duapp.com/baeimg/lW5ah0buTG.jpg" /></div>{/if}
<div class="catemenu">
<ul>
{loop $navs $nav}     
<li><a href="{$nav['url']}">{$nav['name']}</a></li>
{/loop} 
<div class="clr"></div>
</ul>
</div>
<script>
var count = document.getElementById("thelist").getElementsByTagName("img").length;	
var count2 = document.getElementsByClassName("menuimg").length;
for(i=0;i<count;i++){
 document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";

}
document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";

 setInterval(function(){
myScroll.scrollToPage('next', 0,400,count);
},3500 );
window.onresize = function(){ 
for(i=0;i<count;i++){
document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";

}
 document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
} 
</script>
<div id="insert2"></div>
{template 'footer'}