{template 'web/_header'}
{template 'web/shop/tabs'}
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>

{if $operation == 'post'}
<style type='text/css'>
    .tab-pane {padding:20px 0 20px 0;}
</style>
<div class="main">
    <form  method="post" class="form-horizontal form" enctype="multipart/form-data" action="">
        <div class="panel panel-default">
            <div class="panel-heading">
                {if empty($item['id'])}添加商品{else}编辑商品{/if}
                {if $_W['shopunid']!=$_W['uniacid']&&$item['id']}<span style="color:red;">&nbsp;&nbsp;&nbsp;(该商品不是您的商品，不能修改。)</span>{/if}
            </div>
            <div class="panel-body">
                <ul class="nav nav-arrow-next nav-tabs" id="myTab">
                    <li class="active" ><a href="#tab_basic">基本信息</a></li>
                    <li><a href="#tab_des">商品描述</a></li>
                    <li><a href="#tab_param">自定义属性</a></li>
                    <li><a href="#tab_option">商品规格</a></li>
                    <li><a href="#tab_share">分享设置</a></li>
                     <li><a href="#tab_others">其他设置</a></li>
                    <li><a href="#tab_discount">会员等级折扣设置</a></li>
                    {if p('verify')}
                       <li><a href="#tab_verify">线下核销设置</a></li>
                    {/if}
                    {if !empty($com_set['level'])}
                    <li><a href="#tab_sell">分销设置</a></li>
                    {/if}
                    {if p('sale')}
                          <li><a href="#tab_sale">营销设置</a></li>
                    {/if}
                    <li><a href="#tab_detaildiy">详情页店铺信息设置</a></li>
                </ul> 
                {if !empty($item['id'])} 
                <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">商品连接(点击复制)</label>
                <div class="col-sm-9 col-xs-12">
                    <p class='form-control-static'><a href='javascript:;' title='点击复制连接' id='cp'>{php echo $this->createMobileUrl('shop/detail',array('id'=>$item['id']))}</a></p>
                </div>
            </div>
                {/if} 
                
                <div class="tab-content">
                    <div class="tab-pane  active" id="tab_basic">{template 'web/shop/goods/basic'}</div>
                    <div class="tab-pane" id="tab_des">{template 'web/shop/goods/des'}</div>
                    <div class="tab-pane" id="tab_param">{template 'web/shop/goods/param'}</div>
                    <div class="tab-pane" id="tab_option">{template 'web/shop/goods/option'}</div>
                    <div class="tab-pane" id="tab_share">{template 'web/shop/goods/share'}</div>
                    <div class="tab-pane" id="tab_others">{template 'web/shop/goods/others'}</div>
                    <div class="tab-pane" id="tab_discount">{template 'web/shop/goods/discount'}</div>
                    <div class="tab-pane" id="tab_detaildiy">{template 'web/shop/goods/detaildiy'}</div>
                    
                    {if p('verify')}
                    <div class="tab-pane" id="tab_verify">{template 'verify/goods'}</div>
                    {/if}
                    
                    {if p('commission') && !empty($com_set['level'])}
                    <div class="tab-pane" id="tab_sell">{template 'commission/goods'}</div>
                    {/if} 
                    
                    {if p('sale')}
                    <div class="tab-pane" id="tab_sale">{template 'sale/goods'}</div>
                    {/if}
                    
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
                 {ife 'shop.goods' $item}
                            <input {if ($_W['shopunid']!=$_W['uniacid'])&&$item['id']}type="hidden" {/if} type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" onclick="return formcheck()" />
                            <input type="hidden" name="token" value="{$_W['token']}" />
                 {/if}
               <input type="button" name="back" onclick='history.back()' {ifp 'shop.goods.add|shop.goods.edit'}style='margin-left:10px;'{/if} value="返回列表" class="btn btn-default" />

        </div>
    </form>
</div>

<script type="text/javascript">
    window.type = "{$item['type']}";
    window.virtual = "{$item['virtual']}";
    {if $item['parentid']}
    $(function()
    {
        $("#tab_basic *").attr("readonly","readonly");       
        $("#displayorder").attr("readonly",false);
        $("#category_parent").attr("readonly",false);
        $("#category_child").attr("readonly",false);
        $("#category_third").attr("readonly",false);
        $("#shuxing *").attr("readonly",false);
        $("input[name=type]").attr("onclick","return false");
        $("#isdiscount").attr("onclick","return false");
        $("#issendfree").attr("onclick","return false");
        $("#istime").attr("onclick","return false");
        $("#isnodiscount").attr("onclick","return false");
        $("#originimg button").attr("disabled",true);
        $("#imggallary button").attr("disabled",true);
        $(".close").css("display","none");
        $("#productprice").attr("readonly",false);
        $("#marketprice").attr("readonly",false);
        $("input[name=totalcnf]").attr("onclick","return false");
        $("#credit").attr("readonly",false);
        $("input[name=status]").attr("readonly",false);
        $("input[name=timestart]").removeClass("datetimepicker");
        $("input[name=timeend]").removeClass("datetimepicker");
        {if empty($parentstatus)} 
        $("input[name=status]").attr("onclick","return false");
        {/if}  
        $("#tab_option *").attr("readonly","readonly");
        $("input[name=hasoption]").attr("onclick","return false");
        $("#specs :checkbox").attr("onclick","return false");
        $("#specs a").css("display","none");
        $("#specs button").attr("disabled",true);
        $("#add-spec").css("display","none");
        $("#add-spec").siblings().css("display","none");
        $("#options .option_marketprice_all").attr("readonly",false);
        $("#options .option_marketprice").attr("readonly",false);
        $("#options .option_productprice_all").attr("readonly",false);
        $("#options .option_productprice").attr("readonly",false);
        $("#options .fa-hand-o-down").attr("readonly",false);
        $("#options .fa-hand-o-down").css("display","none");
        $("#options .option_productprice_all").siblings().children().css("display","block");
        $("#options .option_marketprice_all").siblings().children().css("display","block");
        
        
    })
    {/if}
    $(function(){
    
        $(':radio[name=type]').click(function(){
            window.type = $("input[name='type']:checked").val();
            window.virtual = $("#virtual").val();
            if(window.type=='3'){
                if($('#virtual').val()=='0'){
                    $('.choosetemp').show();
                }
            }
        })
    })
    var category = {php echo json_encode($children)};
     window.optionchanged = false;
        require(['bootstrap'],function(){
             $('#myTab a').click(function (e) {
                 e.preventDefault();
                 $(this).tab('show');
             })
     });
     
         require(['util'],function(u){
    $('#cp').each(function(){
	u.clip(this, $(this).text());
	});
    })
     
    function formcheck() {
         window.type = $("input[name='type']:checked").val();
         window.virtual = $("#virtual").val();
         
         if ($("#goodsname").isEmpty()) {
                $('#myTab a[href="#tab_basic"]').tab('show');
                Tip.focus("#goodsname", "请输入商品名称!");
                return false;
        }
        {if $shopset['catlevel']==3}
        if ($("#category_third").val() == '0') {
            $('#myTab a[href="#tab_basic"]').tab('show');
            Tip.focus("#category_third", "请选择完整商品分类!");
            return false;
        }
        {else}
        if ($("#category_child").val() == '0') {
            $('#myTab a[href="#tab_basic"]').tab('show');
            Tip.focus("#category_child", "请选择完整商品分类!");
            return false;
        }
        
        {/if}
     
        {if empty($id)}
            if ($.trim($(':input[name="thumb"]').val()) == '') {
                    $('#myTab a[href="#tab_basic"]').tab('show');
                    Tip.focus(':input[name="thumb"]', '请上传缩略图.');
                    return false;
            }
        {/if}
   var full = true;
if(window.type=='3'){
    
    if(window.virtual!='0'){  //如果单规格，不能有规格
        
        if($('#hasoption').get(0).checked){
          
              $('#myTab a[href="#tab_option"]').tab('show');
              util.message('您的商品类型为：虚拟物品(卡密)的单规格形式，需要关闭商品规格！');
              return false;
        }
    }
    else{
 
         var has = false;
        $('.spec_item_virtual').each(function(){
            has  = true;
            if($(this).val()=='' || $(this).val()=='0'){
                 $('#myTab a[href="#tab_option"]').tab('show');
                 Tip.focus($(this).next(), '请选择虚拟物品模板!');
                 full =false;
                 return false;
            }
        });
        if(!has){
              $('#myTab a[href="#tab_option"]').tab('show');
              util.message('您的商品类型为：虚拟物品(卡密)的多规格形式，请添加规格！');
              return false;
        }
    }
}
    if (!full) { 
            return false;
        }
        
        full = checkoption();
        if (!full) { 
            return false;
        }
        if (optionchanged) {
            $('#myTab a[href="#tab_option"]').tab('show');
            alert('规格数据有变动，请重新点击 [刷新规格项目表] 按钮!');
            return false;
        }
        return true;
    }

    function checkoption() {

        var full = true;
        if ($("#hasoption").get(0).checked) {
            $(".spec_title").each(function (i) {
                if ($(this).isEmpty()) {
                    $('#myTab a[href="#tab_option"]').tab('show');
                    Tip.focus(".spec_title:eq(" + i + ")", "请输入规格名称!", "top");
                    full = false;
                    return false;
                }
            });
            $(".spec_item_title").each(function (i) {
                if ($(this).isEmpty()) {
                    $('#myTab a[href="#tab_option"]').tab('show');
                    Tip.focus(".spec_item_title:eq(" + i + ")", "请输入规格项名称!", "top");
                    full = false;
                    return false;
                }
            });
        }
        if (!full) {
            return false;
        }
        return full;
    }

</script>

{elseif $operation == 'display'}

<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="ewei_shop" />
                <input type="hidden" name="do" value="shop" />
                <input type="hidden" name="p"  value="goods" />
                <input type="hidden" name="op" value="display" />
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="status" class='form-control'>
                            <option value="1" {if $_GPC['status'] != '0'} selected{/if}>上架</option>
                            <option value="0" {if $_GPC['status'] == '0'} selected{/if}>下架</option>
                        </select>
                    </div>
                </div>
				 <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">商家</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                      {$shtml}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-1 control-label">分类</label>
                    <div class="col-sm-8 col-xs-12">
                        {if intval($shopset['catlevel'])==3}
        {php echo tpl_form_field_category_3level('category', $parent, $children, $params[':pcate'], $params[':ccate'], $params[':tcate'])}
        {else}
        {php echo tpl_form_field_category_2level('category', $parent, $children, $params[':pcate'], $params[':ccate'])}
        {/if}
                    </div>
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
        
                </div>
				
                <div class="form-group">
                </div>
            </form>
        </div>
    </div>
    <style>
        .label{cursor:pointer;}
    </style>
     <div class="panel panel-default">
        <div class="panel-body">
                  <a class='btn btn-default' href="{php echo $this->createWebUrl('shop/goods',array('op'=>'post'))}"><i class='fa fa-plus'></i> 添加商品</a>
                  <a id="chhtml" style="color:red;" href="{php echo $this->createWebUrl('shop/goods',array('op'=>'display','shopunid'=>'pp'))}">{$chhtml}</a>
       <form name="sendgoods" enctype="multipart/form-data" class="form-horizontal" action="{php echo $this->createWebUrl('shop/goods', array('op' => 'batch'))}" method="post">
	   		   <div style="margin-top:10px">
                    <label style="float:left" class='btn btn-default'>批量导入商品:</label>
                    <div style="float:left;margin-left:10px">
                        <input type="file" name="fileName" class="btn btn-success" />
                    </div>
                    <div class="col-sm-3 " style="float:left"><button id="batchBtn" type="submit" class="btn btn-success"> 导 入 </button>
                    <a style="margin-left:10px;" href="{php echo $this->createWebUrl('shop/goods', array('op' => 'downxls',dty=>'goods'))}">下载模板</a>
                    <a style="margin-left:10px;display:none" onclick="down('goods')" id="downgoods">下载商品ID</a>
					</div>
                </div>
	   		</form>
	   		<div style="clear:both"></div>
	   <form name="sendoptions" enctype="multipart/form-data" class="form-horizontal" action="{php echo $this->createWebUrl('shop/goods', array('op' => 'option'))}" method="post">
	   		   <div style="margin-top:10px">
                    <label style="float:left" class='btn btn-default'>批量修改规格:</label>
                    <div style="float:left;margin-left:10px">
                        <input type="file" name="fileName" class="btn btn-success" />
                    </div>
                    <div class="col-sm-3 " style="float:left"><button id="optionBtn" type="submit" class="btn btn-success"> 修 改 </button>
                    <a style="margin-left:10px;" href="{php echo $this->createWebUrl('shop/goods', array('op' => 'downxls',dty=>'option'))}">下载模板</a>
					<a style="margin-left:10px;display:none" onclick="down('option')" id="downoption">下载规格编码</a>                   
				   </div>
                </div>
	   		</form>
        </div>
     </div>
    <form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                    <tr>
                        <th style="width:80px;">ID</th>
                       {if $_W['shopunid']==$_W['uniacid']}  <th style="width:80px;">排序</th>{/if}
                        <th style="width:50px;">商品</th>
                        <th>&nbsp;</th>
                        
                      	<th ><a href="{php echo $this->createWebUrl('shop/goods', array( 'op' => 'display','shopunid'=>pp,'psort'=>$ps))}">商品属性(点击可修改)</a></th>
                        <th style='width:80px;'>价格</th>
                        <th style='width:80px;'>实际销量</th>
                        <th style='width:100px;'>商品条码</th>
                       <th style='width:150px;'>状态(点击可修改)</th>                  
                        <th style="width:100px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {loop $list $item}
                    <tr>
                        
                        <td>{$item['id']}</td>
                         {if $_W['shopunid']==$_W['uniacid']}  <td>
                              {ifp 'shop.goods.edit'}
                              <input type="text" class="form-control" name="displayorder[{$item['id']}]" value="{$item['displayorder']}">
                              {else}
                              {$item['displayorder']} 
                              {/if}
                          </td>
                          {/if}
                          <td title="{$item['title']}">
                              <img src="{php echo tomedia($item['thumb'])}" style="width:40px;height:40px;padding:1px;border:1px solid #ccc;"  />
                           </td>
                          <td title="{$item['title']}">
                            {if !empty($category[$item['pcate']])}
                            <span class="text-danger">[{$category[$item['pcate']]['name']}]</span>
                            {/if}
                            {if !empty($category[$item['ccate']])}
                            <span class="text-info">[{$category[$item['ccate']]['name']}]</span>
                            {/if}
                            {if !empty($category[$item['tcate']]) && intval($shopset['catlevel'])==3}
                            <span class="text-info">[{$category[$item['tcate']]['name']}]</span>
                            {/if}
                            <br/>{$item['title']}
                        </td>
                        <td>
                          
                            <label data='{$item['isnew']}' class='label label-default {if $item['isnew']==1}label-info{else}{/if}'  {if $_W['shopunid']==$_W['uniacid']} {ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'new')"{/if}{/if}>新品</label>
                            <label data='{$item['ishot']}' class='label label-default {if $item['ishot']==1}label-info{/if}' {if $_W['shopunid']==$_W['uniacid']}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'hot')"{/if}{/if}>热卖</label>
                            <label data='{$item['isrecommand']}' class='label label-default {if $item['isrecommand']==1}label-info{/if}' {if $_W['shopunid']==$_W['uniacid']}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'recommand')"{/if}{/if}>推荐</label>                  
                          {if empty($item['parentid'])}  
                          	<label data='{$item['isdiscount']}' class='label label-default {if $item['isdiscount']==1}label-info{/if}' {if $_W['shopunid']==$_W['uniacid']}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'discount')"{/if}{/if}>促销</label>
                            <label data='{$item['issendfree']}' class='label label-default {if $item['issendfree']==1}label-info{/if}' {if $_W['shopunid']==$_W['uniacid']}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'sendfree')"{/if}{/if}>包邮</label>
                            <label data='{$item['istime']}' class='label label-default {if $item['istime']==1}label-info{/if}' {if $_W['shopunid']==$_W['uniacid']}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'time')"{/if}{/if}>限时卖</label>
                            <label data='{$item['isnodiscount']}' class='label label-default {if $item['isnodiscount']==1}label-info{/if}' {if $_W['shopunid']==$_W['uniacid']}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'nodiscount')"{/if}{/if}>不参与折扣</label>
                           {else}{if $item['pupdatetime']>$item['updatetime']}
                           <label name="update" data=0 lang={$item['id']} class='label label-default' onclick="setProperty(this,{$item['parentid']},'choice')" alt=1>更新</label>
                           <label style="color:red" name="tishi">(已修改)</label>
                           {/if}
                           {/if}

                        </td>
                        <td>{$item['marketprice']}</td>
                        <td>{$item['salesreal']}</td>
                        <td>{$item['productsn']}</td>
                        <td>
                        {if $_W['shopunid']==$_W['uniacid']} 
                       <label name="upchoice" data='{$item['status']}' class='label  label-default {if $item['status']==1}label-info{/if}' {if empty($item['parentid'])}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'status')"{/if}{/if}>{if $item['status']==1}上架{else}下架{/if}</label>
                       
                        <label data='{$item['type']}' class='label  label-default {if $item['type']==1}label-info{/if}' {if empty($item['parentid'])}{ifp 'shop.goods.edit'}onclick="setProperty(this,{$item['id']},'type')"{/if}{/if}>{if $item['type']==1}实体物品{else}虚拟物品{/if}</label>
                        {else}  <label name="cchoice" data="{php echo unserialize($item['choiceunid'])[$_W['uniacid']]}" class='label  label-default {if unserialize($item["choiceunid"])[$_W['uniacid']]==1}label-info{/if}' {if unserialize($item["choiceunid"])[$_W['uniacid']]==1||$_GPC['status']==1}onclick="setProperty(this,{$item['id']},'choice')"{/if}>{if unserialize($item["choiceunid"])[$_W['uniacid']]==1}选择{else}未选择{/if}</label>
                        {/if}
                        </td>
                        <td>
                 
                        <a name="look" id="look{$item['id']}" {if $item['pupdatetime']>$item['updatetime']}{ifp 'shop.goods.edit|shop.goods.view'}style="display:none"{/if}{/if} href="{php echo $this->createWebUrl('shop/goods', array('id' => $item['id'], 'op' => 'post','shopunid'=>$_W['shopunid']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="{ifp 'shop.goods.edit'}编辑{else}查看{/if}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                         {if $_W['shopunid']==$_W['uniacid']} {ifp 'shop.goods.delete'}<a href="{php echo $this->createWebUrl('shop/goods', array('id' => $item['id'], 'op' => 'delete'))}" onclick="return confirm('确认删除此商品？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>{/if}{/if}
                        </td>
                    </tr>
                    {/loop}
                  <tr>
                    <td colspan={php echo ($_W['shopunid']==$_W['uniacid'])?10:9}>
                          {ifp 'shop.goods.add'}
                          <a class='btn btn-default' href="{php echo $this->createWebUrl('shop/goods',array('op'=>'post'))}"><i class='fa fa-plus'></i> 添加商品</a>
                          {/if}
                          {ifp 'shop.goods.edit'}
                       {if $_W['shopunid']==$_W['uniacid']}   
                       <input name="submit" type="submit" class="btn btn-primary" value="提交排序">
                        {if $_GPC['shopunid']=='pp'}
						<label style="margin-left:310px">更新：</label>
                       <input  type="checkbox" name="allupdate" id="allupdate" value="{php echo empty($_GPC['allupdate'])?0:1}" {php echo empty($_GPC['allupdate'])?'':checked} > <label for="allupdate">全选</label> 
						<a alt=1 style="margin-left:20px" class='btn btn-default' onclick="setProperty(this,'upd','choice')"> 确定</a>
						<label style="color:red;margin-left:75px">（供应商已下架或还未更新的商品不能上架）</label>
						{/if}
                       <span {if $_GPC['shopunid']!='pp'}style="margin-left:850px"{/if}>
                       <label>全选：</label>
                       <input  type="radio" name="allup" id="allup1" value=1 {if isset($_GPC['allup'])&&$_GPC['allup']==1}checked{elseif !isset($_GPC['allup'])&&$_GPC['status']!='0'}checked{/if}> <label for="allup1">上架</label> 
                       <input  type="radio" name="allup" id="allup2" value=0 {if isset($_GPC['allup'])&&$_GPC['allup']==0}checked{elseif !isset($_GPC['allup'])&&$_GPC['status']=='0'}checked{/if}> <label for="allup2">下架 </label>
                       </span>                  
                       <a style="margin-left:50px" class='btn btn-default' onclick="allup()">确定</a>
                       {else}
                       <span style="margin-left:970px"><input  type="checkbox" name="allpick" id="allpick" value="{php echo empty($_GPC['allpick'])?0:1}" {php echo empty($_GPC['allpick'])?'':checked}> <label for="allpick">全选 </label> </span>                  
                       <a style="margin-left:90px" class='btn btn-default' onclick="setProperty(this,'all','choice')"> 确定</a>
                       {/if}
                           <input type="hidden" name="token" value="{$_W['token']}" />
                           {/if}
                           
                    </td>
                </tr>
                
                </tr>
                </tbody>
            </table>
            {$pager}
        </div>
    </div>
        </form>
</div>
<script type="text/javascript">
	{if isset($_GPC['allpick'])}
	$(function(){
		{if $_GPC['allpick']==1}
		$("label[name=cchoice]").css("background-color","#5bc0de");
		$("label[name=cchoice]").html("选择");
		{else}
		$("label[name=cchoice]").each(function(){
			//data=$(this).attr("data");
			//if(data==1){}
			//else{
				$(this).html("未选择");
				$(this).css("background-color","#777");
			//}
			
		});
		{/if}
	})
	{/if}
	{if isset($_GPC['allupdate'])}
	$(function(){
		{if $_GPC['allupdate']==1}
		$("label[name=update]").css("background-color","#5bc0de");
		{else}	
		$("label[name=update]").css("background-color","#777");			
		{/if}
	})
	{/if}
	$(function(){
		unid={php echo $_W['uniacid'];};
		shopunid='{php echo $_GPC['shopunid'];}';
		if(shopunid=='pp'||shopunid=='')
		{
			$("#downgoods").css("display","inline");
			$("#downoption").css("display","inline");
		}
		if(unid==shopunid)
		{
			$("#downgoods").css("display","inline");
			$("#downoption").css("display","inline");		
		}
	})
	$("#allupdate").click(function(){
		val=$(this).val();
		if(val==1)
		{
			$(this).val(0);
			$(this).attr("checked",false);
			$("label[name=update]").css("background-color","#777");
			$(".pagination a").each(function(){
				href=$(this).attr("href");
				if(href.indexOf("allupdate")>0)hrf=href.replace("allupdate=1","allupdate=0");
			    else hrf=href+"&allupdate=0";
				$(this).attr("href",hrf);
	    	});
		}
		else
		{
			$(this).val(1);
			$("label[name=update]").css("background-color","#5bc0de");
			$(this).attr("checked",true);
			
			$(".pagination a").each(function(){
				href=$(this).attr("href");
				if(href.indexOf("allupdate")>0)hrf=href.replace("allupdate=0","allupdate=1");
				else hrf=href+"&allupdate=1";
				$(this).attr("href",hrf);
	    	});
		}
	});
	function down(ty)
	{
		href= window.location.href;
		if(ty=='goods')
		{
			window.location.href =href+'&dwnid=1';
		}
		else
		{
			window.location.href =href+'&dwnid=2';
		}
	}
	function allup()
	{
		href= window.location.search;
		up=$("input[name=allup]:checked").val();
		if(href.indexOf("allup")>0){
			if(up==1) hrf=href.replace("allup=0","allup=1");
			else hrf=href.replace("allup=1","allup=0");
		}
		else hrf=href+"&allup="+up;
		window.location.href ="index.php"+hrf;
		alert("操作成功");
	}	
	function cclear(val)
	{
		$("#category_parent option[value=0]").attr("selected",true);
		$("#category_child option[value=0]").attr("selected",true);
		$("#category_third option[value=0]").attr("selected",true);
		cp=$(val).val();
		if(cp=='pp')
			$("select[name=status] option[value=0]").attr("selected",true);
		else
			$("select[name=status] option[value=1]").attr("selected",true);
	}
	$("input[name=allup]").click(function(){
		val=$(this).val();
		if(val==0)
		{
			//$(this).attr("checked",true);
			$("label[name=upchoice]").html("下架");
			$("label[name=upchoice]").each(function(){				
					$(this).css("background-color","#808080");			
			});
			$(".pagination a").each(function(){
				href=$(this).attr("href");
				if(href.indexOf("allup")>0)hrf=href.replace("allup=1","allup=0");
			    else hrf=href+"&allup=0";
				$(this).attr("href",hrf);
	    	});
		}
		else
		{
			//$(this).attr("checked",true);
			$("label[name=upchoice]").css("background-color","#FF1493");
			$("label[name=upchoice]").html("上架");
			$(".pagination a").each(function(){
				href=$(this).attr("href");
				if(href.indexOf("allup")>0)hrf=href.replace("allup=0","allup=1");
				else hrf=href+"&allup=1";
				$(this).attr("href",hrf);
	    	});
		}
	});
	$("#allpick").click(function(){
		val=$("#allpick").val();
		if(val==1)
		{
			$("#allpick").val(0);
			$("#allpick").attr("checked",false);
			$("label[name=cchoice]").each(function(){
				//data=$(this).attr("data");
				//if(data==1){}
				//else{
					$(this).html("未选择");
					$(this).css("background-color","#777");
				//}
				
			});
			$(".pagination a").each(function(){
				href=$(this).attr("href");
				if(href.indexOf("allpick")>0)hrf=href.replace("allpick=1","allpick=0");
			    else hrf=href+"&allpick=0";
				$(this).attr("href",hrf);
	    	});
		}
		else
		{
			$("#allpick").val(1);
			$("label[name=cchoice]").css("background-color","#5bc0de");
			$("#allpick").attr("checked",true);
			$("label[name=cchoice]").html("选择");
			$(".pagination a").each(function(){
				href=$(this).attr("href");
				if(href.indexOf("allpick")>0)hrf=href.replace("allpick=0","allpick=1");
				else hrf=href+"&allpick=1";
				$(this).attr("href",hrf);
	    	});
		}
	});
    require(['bootstrap'], function ($) {
        $('.btn').hover(function () {
            $(this).tooltip('show');
        }, function () {
            $(this).tooltip('hide');
        });
    });
    var category = {php echo json_encode($children)};
    function setProperty(obj, id, type) {
		if(id=='upd')
		{
			vv=$("#allupdate").val();
			if(vv==0)return false;
		}
        $(obj).html($(obj).html() + "...");
        url= window.location.search;
        if(id=='all')data=$("#allpick").val();
        else data=obj.getAttribute("data");
		if(id=='upd')data=1;
		tt=$(obj).attr("alt");
        $.post("{php echo $this->createWebUrl('shop/goods')}", 
        {'op':'setgoodsproperty',id: id, type: type, data: data,url:url,tt:tt}
        , function (d) {
            $(obj).html($(obj).html().replace("...", ""));
            if(tt==1)
            {
				if(id=='upd')
				{
					$("label[name=tishi]").css("display","none");
					$("label[name=update]").css("display","none");
					$("#chhtml").html(d.chhtml);
					$("a[name=look]").css("display","inline");
				}
				else{
					$(obj).css("display","none");
					$(obj).siblings("label[name=tishi]").css("display","none"); 
					$("#chhtml").html(d.chhtml);
					lang=$(obj).attr("lang");
					$("#look"+lang).css("display","inline");
				}				
            }
            else{
            if (type == 'type') {
                $(obj).html(d.data == '1' ? '实体物品' : '虚拟物品');
            }
            if (type == 'status') {
                $(obj).html(d.data == '1' ? '上架' : '下架');
            }
            if (type == 'choice') {
            	if(id=='all')
            	{
            		alert("提交成功！");
            	}
            	else{
            		d.data == '1'?alert("选择成功！"):alert("取消成功！");
                	$(obj).html(d.data == '1' ? '选择' : '未选择');
                	$("#chhtml").html(d.chhtml);
                	{if $_GPC['status']==0}
                	if(d.data!=1) $(obj).removeAttr("onclick");
                	{/if}
            	}
            }
            $(obj).attr("data", d.data);
            if (d.result == 1) {
            	if(id!='all')
            	{
                	$(obj).toggleClass("label-info");
            	}
            }
            }
        }
        , "json"
                );
    }
    
</script>
{elseif $operation == 'service'}
<div class="panel panel-info">
    <div class="panel-heading">客服接入</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal" role="form" id="sform">
             <input type="hidden" name="op" value="service" />
             {if $item}
              <input type="hidden" name="up" value="1" />
             {/if}
            <div class="form-group">
    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否使用</label>
    	<div class="col-sm-9 col-xs-12">
                 
            <label for="disable1" class="radio-inline"><input type="radio" name="disable" value="1" id="disable1" {if !empty($item['disable'])}checked="true"{/if} > 允许</label>
            <label for="disable2" class="radio-inline"><input type="radio" name="disable" value="0" id="disable2" {if empty($item['disable'])}checked="true"{/if} > 不允许</label>
      
             </div>
		</div>
		 <div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>分类</label>
    <div class="col-sm-8 col-xs-12">
        {if $shopset['catlevel']==3}
             {ife 'shop.goods' $item}
             {php echo tpl_form_field_category_3level('category', $parent, $children, $item['pcate'], $item['ccate'], $item['tcate'])}
             {else}
              <div class='form-control-static'>
                   {php echo pdo_fetchcolumn('select name from '.tablename('ewei_shop_category').' where id=:id limit 1',array(':id'=>$item['pcate']))} - 
                   {php echo pdo_fetchcolumn('select name from '.tablename('ewei_shop_category').' where id=:id limit 1',array(':id'=>$item['ccate']))} -
                   {php echo pdo_fetchcolumn('select name from '.tablename('ewei_shop_category').' where id=:id limit 1',array(':id'=>$item['tcate']))}
              </div>
             {/if}
             
        {else}
            {ife 'shop.goods' $item}
            {php echo tpl_form_field_category_2level('category', $parent, $children, $item['pcate'], $item['ccate'])}
            {else}
              <div class='form-control-static'>
                   {php echo pdo_fetchcolumn('select name from '.tablename('ewei_shop_category').' where id=:id limit 1',array(':id'=>$item['pcate']))} - 
                   {php echo pdo_fetchcolumn('select name from '.tablename('ewei_shop_category').' where id=:id limit 1',array(':id'=>$item['ccate']))} 
              </div>
            {/if}
        {/if}
    </div>
</div>
           <div class="form-group">
    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">图标位置</label>
    	<div class="col-sm-9 col-xs-12">
                
            <label for="position1" class="radio-inline"><input type="radio" name="position" value="1" id="position1" {if $item['position']==1}checked="true"{/if} > 居左</label>
            <label for="position2" class="radio-inline"><input type="radio" name="position" value="2" id="position2" {if $item['position']==2}checked="true"{/if} > 居右</label>
        
             </div>
		</div>
		<div class="form-group">
    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">图标宽度</label>
    	<div class="col-sm-9 col-xs-12">
            <label for="width1" class="radio-inline"><input onclick="cuschange(this)" type="radio" name="cwidth" value="30" id="width1"  {if $item['width']==30}checked="true"{/if}> 30像素</label>
            <label for="width2" class="radio-inline"><input onclick="cuschange(this)" type="radio" name="cwidth" value="40" id="width2"  {if $item['width']==40}checked="true"{/if}> 40像素</label>
            <label for="width3" class="radio-inline"><input onclick="cuschange(this)" type="radio" name="cwidth" value="50" id="width3"  {if $item['width']==50}checked="true"{/if}> 50像素</label>
            <label class="radio-inline" style="cursor:pointer; ">自定义：<input type="text"  name="width" id="cwidth4" style="border-radius:5px;width:100px" value="{$item['width']}" placeholder="60" onblur="scheck(this)">px</label>
             </div>
		</div>
		<div class="form-group">
    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">顶部间距</label>
    	<div class="col-sm-9 col-xs-12">
             <label for="height1" class="radio-inline"><input onclick="cuschange(this)" type="radio" name="cheight" value="80" id="height1"  {if $item['height']==80}checked="true"{/if} > 80像素</label>
            <label for="height2" class="radio-inline"><input  onclick="cuschange(this)" type="radio" name="cheight" value="100" id="height2" {if $item['height']==100}checked="true"{/if}  > 100像素</label>
            <label for="height3" class="radio-inline"><input onclick="cuschange(this)" type="radio" name="cheight" value="120" id="height3"  {if $item['height']==120}checked="true"{/if} > 120像素</label>
            <label class="radio-inline" style="cursor:pointer; ">自定义：<input type="text" name="height" id="cheight4" style="border-radius:5px;width:100px" value="{$item['height']}" placeholder="140" onblur="scheck(this)">px</label>
             </div>
		</div>
		<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">客服名称</label>
    <div class="col-sm-6 col-xs-6">
        <input type="text" name="sername" class="form-control" value="{$item['sername']}"  />
    </div>
	</div>
	<div class="form-group">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">目标连接</label>
    <div class="col-sm-6 col-xs-6">
        <input type="text" name="serviceurl" class="form-control" value="{$item['serviceurl']}" placeholder="请以http://开头" />
    </div>
	</div>
	<div class="form-group" id="originimg">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图标图片</label>
    <div class="col-sm-9 col-xs-12 detail-logo">
             {ife 'shop.goods' $item}
        {php echo tpl_form_field_image('thumb', $item['thumb'])}
          {else}
                            {if !empty($item['thumb'])}
                            <a href='{php echo tomedia($item['thumb'])}' target='_blank'>
                            <img src="{php echo tomedia($item['thumb'])}" style='width:100px;border:1px solid #ccc;padding:1px' />
                             </a>
                            {/if}
                        {/if}
    </div>
</div>
<div class="form-group" id="originimg">
    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
    <div class="col-sm-9 col-xs-12 detail-logo">
    <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" >
    </div>
</div>
        </form>
    </div>
</div>
{if $_GPC['ty']!=1}
<div class="panel panel-default">
      <div class="panel-heading" >客服列表
       </div>
      
    <div class="panel-body ">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:200px'>客服名称</th>
                    <th style='width:120px'>一级分类</th>
                    <th style='width:120px'>二级分类</th>
					<th style='width:120px'>三级分类</th>
					<th >目标连接</th>
					<th style='width:160px'>更新时间</th>
					<th style='width:100px'>是否使用</th>
                    <th style='width:150px'>操作</th>
                </tr>
            </thead>
            <tbody>
              	{loop $service $row}
              	<tr>
              	<td>{$row['sername']}</td>
              	<td>{$row['npcate']}</td>
              	<td>{$row['nccate']}</td>
              	<td>{$row['ntcate']}</td>
              	<td>{$row['serviceurl']}</td>
				<td>{php echo date('Y-m-d H:i',$row['updatetime'])}</td>
				<td><a onclick="use({$row['id']})"><label  id="use{$row['id']}" class='label label-default {if !empty($row['disable'])}label-info{/if}' >{php echo empty($row['disable'])?"未使用":"使用中";}</label></a></td>
              	<td>
          		<a href="{php echo $this->createWebUrl('shop/goods', array('op'=>'service','id'=>$row['id'],'ty'=>1))}"><label  class='label label-default label-info' >详细</label></a>
              	<a href="{php echo $this->createWebUrl('shop/goods', array('op'=>'service','id'=>$row['id'],'ty'=>2))}"><label  class='label label-default label-info'>移除</label></a>
              	</td>
              	</tr>
                {/loop}
            </tbody>
        </table>
        {$pager}
    </div>
</div>
{/if}
<script type="text/javascript">
function scheck(th)
{
	val=$(th).val();
	if(val=='')
	{
		return false;
	}
	if(isNaN(val))
	{
		$(th).val('');
		alert("请输入大于0的数字");
	}
	else if(val<=0)
	{		
		$(th).val('');
		alert("请输入大于0的数字");
		
	}
	else
	{
		name=$(th).attr("name");
		val=val.toString();
		var width=new Array('30','40','50');
		var height=new Array('80','100','120');
		$("input[name=c"+name+"]").prop("checked",false);
		if(name=="width")
		{
			if(width.indexOf(val)<0)
			{
				
			}
			else
			{
				index=width.indexOf(val)+1;
				$("#width"+index).prop("checked",true);
			}
		}
		if(name=="height")
		{
			if(height.indexOf(val)<0)
			{

			}
			else
			{
				index=height.indexOf(val)+1;
				$("#height"+index).prop("checked",true);
			}
		}
	}
}
function cuschange(tis)
{ 
	val=$(tis).val();
	name=$(tis).attr("name");
	$("#"+name+"4").val(val);
}
function use(id)
{
	$.post("{php echo $this->createWebUrl('shop/goods')}", {'op':'seruse',id: id},function(data){
		 if (data==2) {
			 $("#use"+id).removeClass('label-info');
			 $("#use"+id).html("未使用");
		 }
		 if (data==1) {
				 $("#use"+id).addClass('label-info');
				 $("#use"+id).html("使用中");
		 }
		 if (data==0) {
			 alert("操作失败！");
		 }
	});
}
</script>
{/if}
{template 'web/_footer'}
