{template 'header'}
{template 'slide'}
<style>
body{
font:{$_W['styles']['fontsize']} {$_W['styles']['fontfamily']};
color:{$_W['styles']['fontcolor']};
padding:0;
margin:0;
background-image:url('{if !empty($_W['styles']['indexbgimg'])}{$_W['styles']['indexbgimg']}{/if}');
background-size:cover;
background-color:{if empty($_W['styles']['indexbgcolor'])}#f5f5f5{else}{$_W['styles']['indexbgcolor']}{/if};
{$_W['styles']['indexbgextra']}
}
a{color:{$_W['styles']['linkcolor']}; text-decoration:none;}
{$_W['styles']['css']}

.box{
	width:94%;
	overflow:hidden;
	margin-top:15px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: #EBEBEB;
	border-radius:5px;
	border: 1px solid #CCC;
}
.bt {
	font-size: 14px;
	line-height: 25px;
	padding-left: 5px;
	padding-top: 2px;
	color: #666;
	background-image: url(./themes/style88/images/btbg.jpg);
	background-repeat: repeat-x;
}
.box .box-item{
	display:block;
	text-decoration:none;
	outline:none;
	height:70px;
	position:relative;
	background-image: url(./themes/style88/images/jr.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.box .box-item i{
	display:inline-block;
	height:58px;
	color:#CCC;
	overflow: hidden;
	float: left;
	border: 1px solid #FFF;
	border-radius:5px;
	margin: 5px;
	width: 94px;
}
.box .box-item span{
	color:{$_W['styles']['fontnavcolor']};
	display:block;
	font-size:14px;
	height: 70px;
	padding-left: 10px;
	line-height: 70px;
	float: left;
}
</style>

<div class="box">
    <div class="bt">学晟惠</div>
	{loop $navs $nav}
	<a href="{$nav['url']}" class="box-item">
		{if !empty($nav['icon'])}
		<i style="background:url({$_W['attachurl']}{$nav['icon']}) no-repeat;background-size:cover;" class=""></i>
		{else}
		<i class="{$nav['css']['icon']['icon']}" style="{$nav['css']['icon']['style']}"></i>
		{/if}
		<span style="{$nav['css']['name']}">{$nav['name']}</span>
	</a>
	{/loop}
</div>
{template 'footer'}