{template 'common/header'}
{template 'nav'}
<div class="main">
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('announcement', array('op' => 'display','regionid'=>$_GPC['regionid']));}">管理</a></li>
	<li><a href="{php echo $this->createWebUrl('announcement', array('op' => 'post','regionid'=>$_GPC['regionid']));}">创建公告</a></li>
	<li {if $op == 'setting'}class="active"{/if}><a href="{php echo $this->createWebUrl('announcement', array('op' => 'setting','regionid'=>$_GPC['regionid']));}">参数设置</a></li>
</ul>
<form action=" " class="form-horizontal form" method="post" enctype="multipart/form-data" >
<div class="panel panel-default">
<div class="panel-heading">认证的服务号才可以使用，先到微信公众平台申请对应场景的模板ID。</div>
  <div class="panel-body">
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">停水通知模板ID：</label>
        <div class="col-sm-6">
          <input type="text" name="template_id_1" value="{$item['template_id_1']}" class="form-control" >
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 control-label">燃气通知模板ID：</label>
        <div class="col-sm-6">
          <input type="text" name="template_id_2" value="{$item['template_id_2']}" class="form-control" >
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 control-label">停电通知模板ID：</label>
        <div class="col-sm-6">
          <input type="text" name="template_id_3" value="{$item['template_id_3']}" class="form-control" >
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 control-label">门禁通知模板ID：</label>
        <div class="col-sm-6">
          <input type="text" name="template_id_4" value="{$item['template_id_4']}" class="form-control" >
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 control-label">电梯通知模板ID：</label>
        <div class="col-sm-6">
          <input type="text" name="template_id_5" value="{$item['template_id_5']}" class="form-control" >
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 control-label">停车场通知模板ID：</label>
        <div class="col-sm-6">
          <input type="text" name="template_id_6" value="{$item['template_id_6']}" class="form-control" >
        </div>
     </div>
     <div class="form-group">
          <label for="" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
          <button type="submit" class="btn btn-primary span3" name="submit" value="提交">提交</button>
          <input type="hidden" name="token" value="{$_W['token']}" />
          <input type="hidden" name="id" value="{$item['id']}">
          </div>
     </div>
  </div>
</div>
</form>
</div>




{template 'common/footer'}