{template 'common/header'}
<div class="main">
	<form action="" method="post" class="form-horizontal form">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">物业信息</h3>
		  </div>
		  <div class="panel-body">
		    <div class="form-group">
			    <label for="cname" class="col-sm-2 control-label">物业名称</label>
			    <div class="col-sm-10">
			      <input type="text" name="cname" id='cname' class="form-control" value="{$settings['cname']}" />
			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">物业电话</label>
			    <div class="col-sm-10">
			      <input type="text" name="tel" id='tel' class="form-control" value="{$settings['tel']}" />
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
				     <input name="submit" type="submit" value="提交" class="btn btn-primary span3">
					<input type="hidden" name="id" value="{$set['id']}" />
					<input type="hidden" name="token" value="{$_W['token']}" />
			    </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">短信设置</h3>
		  </div>
		  <div class="panel-body">
		    <div class="form-group">
			    <label for="cname" class="col-sm-2 control-label">是否开启人工审核</label>
			    <div class="col-sm-10">
			      <label for="radio_1" class="radio-inline">
    				<input type="radio" name="verify" id="radio_1" value="1" {if $settings[ 'verify']==1 } checked{/if} /> 审核</label>
				  <label for="radio_0" class="radio-inline">
					    <input type="radio" name="verify" id="radio_0" value="0" {if empty($settings[ 'verify']) && $settings[ 'verify']==0 } checked{/if} /> 不审核</label>
				  <span class="help-block">开启人工审核后，用户绑定需要管理人员审核方可使用物业相关功能，默认不开启审核</span>

			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">是否开启商家短信验证</label>
			    <div class="col-sm-10">
			      <label for="radio_1" class="radio-inline"><input type="radio" name="businesscode" id="radio_1" value="1" {if $settings['businesscode'] == 1} checked{/if} /> 验证</label>
					<label for="radio_0" class="radio-inline"><input type="radio" name="businesscode" id="radio_0" value="0" {if empty($settings['businesscode']) && $settings['businesscode'] == 0} checked{/if} /> 不验证</label>
					<span class="help-block">开启短信验证后，用户注册商家信息时自动验证其手机号的真实性（发送验证码）。</span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">是否开启注册短信验证</label>
			    <div class="col-sm-10">
			      <label for="radio_1" class="radio-inline"><input type="radio" name="verifycode" id="radio_1" value="1" {if $settings['verifycode'] == 1} checked{/if} /> 验证</label>
					<label for="radio_0" class="radio-inline"><input type="radio" name="verifycode" id="radio_0" value="0" {if empty($settings['verifycode']) && $settings['verifycode'] == 0} checked{/if} /> 不验证</label>
					<span class="help-block">开启短信验证后，用户注册微小区信息时自动验证其手机号的真实性（发送验证码）。</span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">是否开启报修投诉</label>
			    <div class="col-sm-10">
			      <label for="radio_1" class="radio-inline"><input type="radio" name="report_type" id="radio_1" value="1" {if $settings['report_type'] == 1} checked{/if} /> 验证</label>
					<label for="radio_0" class="radio-inline"><input type="radio" name="report_type" id="radio_0" value="0" {if empty($settings['report_type']) && $settings['report_type'] == 0} checked{/if} /> 不验证</label>
					<span class="help-block">开启报修投诉后，用户报修投诉信息会自动发给小区管理员手机号（发送验证码）。</span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">是否开启超市发货短信提醒</label>
			    <div class="col-sm-10">
			      <label for="radio_1" class="radio-inline"><input type="radio" name="shopping_status" id="radio_1" value="1" {if $settings['shopping_status'] == 1} checked{/if} /> 是</label>
					<label for="radio_0" class="radio-inline"><input type="radio" name="shopping_status" id="radio_0" value="0" {if empty($settings['shopping_status']) && $settings['shopping_status'] == 0} checked{/if} /> 否</label>
					<span class="help-block">开启短信提醒后，商家发货自动通过短信发送给购买者。</span>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">是否开启物业费缴费短信提醒</label>
			    <div class="col-sm-10">
			      <label for="radio_1" class="radio-inline"><input type="radio" name="property_status" id="radio_1" value="1" {if $settings['property_status'] == 1} checked{/if} /> 是</label>
					<label for="radio_0" class="radio-inline"><input type="radio" name="property_status" id="radio_0" value="0" {if empty($settings['property_status']) && $settings['property_status'] == 0} checked{/if} /> 否</label>
					<span class="help-block">开启短信提醒后，可通过短信通知小区用户催缴物业费。</span>
			</div>
			<div class="form-group">
			    <label for="reportid" class="col-sm-2 control-label">报修投诉模板ID</label>
			    <div class="col-sm-10">
			      <input type="text" name="reportid" id='reportid' class="form-control" value="{$settings['reportid']}" />
			      <span class='help-block'>
			    	注意：先去聚合，申请如下的模板：【报修】报修信息#content#,报修人电话#mobile#，物业#company#
			      </span>
			    </div>
			    
			</div>
			<div class="form-group">
			    <label for="resgisterid" class="col-sm-2 control-label">注册微小区模板ID</label>
			    <div class="col-sm-10">
			      <input type="text" name="resgisterid" id='resgisterid' class="form-control" value="{$settings['resgisterid']}" />	
			      <span class='help-block'>
			    	注意：先去聚合，申请如下的模板：【微小区】您的验证码是#code#。如非本人操作，请忽略本短信
			      </span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="resgisterid" class="col-sm-2 control-label">超市发货模板ID</label>
			    <div class="col-sm-10">
			      <input type="text" name="resgisterid" id='shopping_id' class="form-control" value="{$settings['shopping_id']}" />	
			      <span class='help-block'>
			    	注意：先去聚合，申请如下的模板：【微小区】您的快递是#express_name#,快递单号#express_code#。有任何问题请随时与我们联系，谢谢。
			      </span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="resgisterid" class="col-sm-2 control-label">物业费催缴模板ID</label>
			    <div class="col-sm-10">
			      <input type="text" name="resgisterid" id='property_id' class="form-control" value="{$settings['property_id']}" />	
			      <span class='help-block'>
			    	注意：先去聚合，申请如下的模板：【微小区】您好,您本月物业费已出。物业费金额#price#。请尽快缴纳，如有疑问，请咨询#phone#。
			      </span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="sms_account" class="col-sm-2 control-label">短信接口Key</label>
			    <div class="col-sm-10">
			      <input type="text" name="sms_account" id='sms_account' class="form-control" value="{$settings['sms_account']}" />
					<p class="help-block">目前暂时1个短信平台(聚合数据http://www.juhe.cn/)</p>
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
				     <input name="submit" type="submit" value="提交" class="btn btn-primary span3">
					<input type="hidden" name="id" value="{$set['id']}" />
					<input type="hidden" name="token" value="{$_W['token']}" />
			    </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">微信通知设置</h3>
		  </div>
		  <div class="panel-body">
		  	<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">是否启用微信通知</label>
			    <div class="col-sm-10">
			      <label for="radio_1" class="radio-inline"><input type="radio" name="wechat_status" id="radio_1" value="1" {if $settings['wechat_status'] == 1} checked{/if} /> 是</label>
					<label for="radio_0" class="radio-inline"><input type="radio" name="wechat_status" id="radio_0" value="0" {if empty($settings['wechat_status']) && $settings['wechat_status'] == 0} checked{/if} /> 否</label>
			    </div>
			</div>
		    <div class="form-group">
			    <label for="cname" class="col-sm-2 control-label">报修通知模板ID</label>
			    <div class="col-sm-5">
			      <input type="text" name="repair_tplid" id='repair_tplid' class="form-control" value="{$settings['repair_tplid']}" placeholder='请输入报修通知模板ID,从微信公众号后台添加获取'/>
			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">投诉通知模板ID</label>
			    <div class="col-sm-5">
			      <input type="text" name="report_tplid" id='report_tplid' class="form-control" value="{$settings['report_tplid']}" placeholder='请输入投诉通知模板ID,从微信公众号后台添加获取'/>
			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">订单发货通知模板ID</label>
			    <div class="col-sm-5">
			      <input type="text" name="shopping_tplid" id='shopping_tplid' class="form-control" value="{$settings['shopping_tplid']}" placeholder='请输入订单发货通知模板ID,从微信公众号后台添加获取'/>
			    </div>
			</div>
			<div class="form-group">
			    <label for="tel" class="col-sm-2 control-label">物业缴费通知模板ID</label>
			    <div class="col-sm-5">
			      <input type="text" name="property_tplid" id='property_tplid' class="form-control" value="{$settings['property_tplid']}" placeholder='请输入物业费缴费通知模板ID,从微信公众号后台添加获取'/>
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
				     <input name="submit" type="submit" value="提交" class="btn btn-primary span3">
					<input type="hidden" name="id" value="{$set['id']}" />
					<input type="hidden" name="token" value="{$_W['token']}" />
			    </div>
			</div>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">GPRS打印机基本设置</h3>
		  </div>
		  <div class="panel-body">
		    <div class="form-group">
			    <label for="" class="col-sm-2 control-label">是否开启</label>
			    <div class="col-sm-10">
			      <label for="isshow1" class="radio-inline"><input type="radio" name="print_status" value="1" id="isshow1" {if $settings['print_status']==1}checked="true"{/if} /> 是</label>
					&nbsp;&nbsp;&nbsp;
					<label for="isshow2" class="radio-inline"><input type="radio" name="print_status" value="0" id="isshow2"  {if $settings['print_status']==0}checked="true"{/if} /> 否</label>
					<span class="help-block"></span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 control-label">打印方式</label>
			    <div class="col-sm-10">
			      <label for="print_type2" class="radio-inline"><input type="radio" name="print_type" value="0" id="print_type2" {if $settings['print_type']==0}checked="true"{/if}/>打印报修</label>
					&nbsp;&nbsp;&nbsp;
					<label for="print_type2" class="radio-inline"><input type="radio" name="print_type" value="1" id="print_type2"  {if $settings['print_type']==1}checked="true"{/if}/>打印投诉</label>
					&nbsp;&nbsp;&nbsp;
					<label for="print_type3" class="radio-inline"><input type="radio" name="print_type" value="2" id="print_type3"  {if $settings['print_type']==2}checked="true"{/if}/>全部打印</label>
					
					<span class="help-block"></span>
			    </div>
			</div>
			<div class="form-group">
			    <label for="print_usr" class="col-sm-2 control-label">商户编码</label>
			    <div class="col-sm-5">
			      <input type="text" name="member_code"  value="{$settings['member_code']}" class="form-control"/>
					<p class="help-block">商户编码</p>
			    </div>
			</div>
			<div class="form-group">
			    <label for="print_nums" class="col-sm-2 control-label">API密钥</label>
			    <div class="col-sm-5">
			     <input type="text" name="api_key" class="form-control" value="{$settings['api_key']}" />
					<p class="help-block">API密钥</p>
			    </div>
			</div>
			<div class="form-group">
			    <label for="print_nums" class="col-sm-2 control-label">终端编号</label>
			    <div class="col-sm-5">
			     <input type="text" name="deviceNo" class="form-control" value="{$settings['deviceNo']}" />
					<p class="help-block">终端编号</p>	
			    </div>
			</div>
			<div class="form-group">
			    <label for="print_bottom" class="col-sm-2 control-label">底部自定义信息</label>
			    <div class="col-sm-10">
			     <input type="text" name="print_bottom" id='print_bottom' class="form-control" value="{$settings['print_bottom']}" />
					<p class="help-block">建议少于20字</p>
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
				     <input name="submit" type="submit" value="提交" class="btn btn-primary span3">
					<input type="hidden" name="id" value="{$set['id']}" />
					<input type="hidden" name="token" value="{$_W['token']}" />
			    </div>
			</div>
		  </div>
		  <div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">小区超市设置</h3>
		  </div>
		  <div class="panel-body">
		    <div class="form-group">
			    <label for="cname" class="col-sm-2 control-label">首页公告</label>
			    <div class="col-sm-10">
			      <input type="text" name="notice" id='notice' class="form-control" value="{$settings['notice']}" />
			    </div>
			</div>
			<div class="form-group">
			    <label for="" class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
				     <input name="submit" type="submit" value="提交" class="btn btn-primary span3">
					<input type="hidden" name="id" value="{$set['id']}" />
					<input type="hidden" name="token" value="{$_W['token']}" />
			    </div>
			</div>
		  </div>
		</div>
		</div>
	</form>
</div>
{template 'common/footer'}