{template 'common/header'}
{template 'common'}
{template 'shopping_nav'}
<ul class="nav nav-tabs">
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('shopping', array('operation' => 'display','op' => 'notice'))}">管理</a></li>
</ul>
{if $operation == 'display'}
<div class="main">
	<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="ewei_shopping" />
				<input type="hidden" name="do" value="notice" />
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
					<div class="col-xs-12 col-sm-7 col-lg-9">
						<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">类型</label>
					<div class="col-xs-12 col-sm-7 col-lg-9">
						<select name="type" class='form-control'>
							<option value="0" selected>维权和告警</option>
							<option value="1" {if $type==1} selected{/if}>维权</option>
							<option value="2" {if $type==2} selected{/if}>告警</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
					<div class="col-xs-12 col-sm-7 col-lg-9">
						<select name="status"  class='form-control'>
							<option value="-1" selected="selected">所有</option>
							<option value="0" {if $status==0} selected="selected"{/if}>未解决</option>
							<option value="1" {if $status==1} selected="selected" {/if}>用户同意</option>
							<option value="2" {if $status==2} selected="selected" {/if}>用户拒绝</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">日期范围</label>
					<div class="col-xs-12 col-sm-7 col-lg-9">
						{php echo tpl_form_field_daterange('date',array('start'=>date('Y-m-d', $starttime),'end'=>date('Y-m-d', $endtime)))}
					</div>
					<div class="col-sm-3 col-lg-2"><button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button></div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<thead class="navbar-inner">
				<tr>
					<th style="width:5%;">ID</th>
					<th style="width:10%;">投诉单号</th>
					<th style="width:10%;">订单号</th>
					<th style="width:5%;">类型</th>
					<th style="width:5%;">状态</th>
					<th style="width:7%;">投诉人</th>
					<th style="width:8%;">理由</th>
					<th style="width:12%;">期待解决方案</th>
					<th style="width:10%;">备注</th>
					<th style="width:8%;">投诉日期</th>
					<th style="text-align:right;width:10%;">操作</th>
				</tr>
				</thead>
				<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td style="word-break: break-all;">{$item['feedbackid']}</td>
					<td style="word-break: break-all;">{$item['transid']}</td>
					<td>{php echo $this->getFeedbackType($item['type']);}</td>
					<td>{php echo $this->getFeedbackStatus($item['status']);}</td>
					<td>{$item['address']['realname']}</td>
					<td>{$item['reason']}</td>
					<td>{$item['solution']}</td>
					<td>{$item['remark']}</td>
					<td>{php echo date('Y-m-d H:i:s', $item['createtime'])}</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('shopping', array('id' => $item['order']['id'], 'operation' => 'detail','op' => 'order'))}">订单详情</a>
						&nbsp;&nbsp;
						<a href="{php echo $this->createWebUrl('shopping', array('id' => $item['id'], 'operation' => 'delete','op' => 'notice'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;">删除</a>
					</td>
				</tr>
				{/loop}
				</tbody>
			</table>
			{$pager}
		</div>
	</div>
</div>

{/if}
{template 'common/footer'}
