{template 'common/header'}
<style>
	body{padding:0;margin:0;height:100%; background-image:url('{if empty($_W['styles']['indexbgimg'])}./themes/style23/images/bg_index.jpg{else}{$_W['styles']['indexbgimg']}{/if}');-moz-background-size:100% 100%; background-size:100% 100%;}
	a{color:{$_W['styles']['linkcolor']}; text-decoration:none;}
	{$_W['styles']['css']}
	.box{width:65%; margin:45.4% 0 0 34%; overflow:hidden;}
	.box .box-item{float:left; width:43.8%; margin:0 1.8% 1.8% 0; display:block;text-decoration:none;outline:none;height:6em; text-align:center; color:#fff; border-radius:5px;overflow:hidden; padding:5px 10px;}
	.box .box-item i{display:inline-block; width:50px; height:50px; line-height:50px; font-size:35px; color:#FFF; overflow:hidden; }
	.box .box-item span{color:{$_W['styles']['fontnavcolor']};display:block;font-size:14px; width:100%; text-align:center; white-space:nowrap; overflow:hidden;}
	.box .box-item.pic{display:block; width:89.4%;}
</style>
<div class="box clearfix">
	{php $num = 0;}
	{loop $navs $nav}
	{php if($num == 0) $bg = 'rgba(254,170,36,0.8)';}
	{php if($num == 1) $bg = 'rgba(88,181,225,0.8)';}
	{php if($num == 2) $bg = 'rgba(210,99,159,0.8)';}
	{php if($num == 3) $bg = 'rgba(128,188,80,0.8)';}
	{php if($num == 4) $bg = 'rgba(137,135,217,0.8)';}
	<a href="{$nav['url']}" class="box-item {if $num == 2}pic{else}icon{/if}" style="background:{$bg};">
		{if !empty($nav['icon'])}
		<i style="background:url({$_W['attachurl']}{$nav['icon']}) no-repeat;background-size:cover;{$nav['css']['icon']['style']}"></i>
		{else}
		<i class="fa {$nav['css']['icon']['icon']}" style="{$nav['css']['icon']['style']}"></i>
		{/if}
		<span style="{$nav['css']['name']}" title="{$nav['name']}">{$nav['name']}</span>
	</a>
	{php $num++; if($num > 4) $num = 0;}
	{/loop}
</div>
{template 'common/footer'}