/******** focus layer animation **********/

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
   }
   100% {
       opacity: 1;
       -webkit-transform: none;
       transform: none;
  }
}
@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        -ms-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
   }
   100% {
       opacity: 1;
       -webkit-transform: none;
       -ms-transform: none;
       transform: none;
  }
}
.fadeInDownBig {
    -webkit-animation: fadeInDownBig 1s;
}
@-webkit-keyframes fadeOutDownBig {
    0% {
        opacity: 1;
   }
   100% {
       opacity: 0;
       -webkit-transform: translate3d(0, 2000px, 0);
       transform: translate3d(0, 2000px, 0);
  }
}
@keyframes fadeOutDownBig {
    0% {
        opacity: 1;
   }
   100% {
       opacity: 0;
       -webkit-transform: translate3d(0, 2000px, 0);
       -ms-transform: translate3d(0, 2000px, 0);
       transform: translate3d(0, 2000px, 0);
  }
}
.fadeOutDownBig {
    -webkit-animation: fadeOutDownBig 1s;
}
#focusAIM {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
#focusAIM .fc-inner {
    z-index: 9999;
    width: 94%;
    height: 400px;
    position: absolute;
    margin: 5px 3%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 0 #dedede;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;

}
#focusAIM .fc-text {
    width: 230px;
    height: 25px;
    margin: 0 auto;
    background-image: url(../images/img_font_460x50.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 15px;
}
#focusAIM .fc-image {
    width: 160px;
    height: 145px;
    margin: 0 auto;
    background-image: url(../images/img_pic_320x290.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 24px;
}
#focusAIM .fc-method {
    background-color: #f6f6f6;
    padding: 8px 5px;
    margin: 0 auto;
    width: 90%;
    position: relative;
    border-radius: 5px;
    color: #7c8389;
    font-size: 14px;
    text-indent: 30px;
    box-shadow: 0 0 0 1px #f0f0f0;
    font-weight: bold;
}
#focusAIM .fc-line1 {
    top: 40px;
}
#focusAIM .fc-line1:before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 2px;
    left:0px;
    background-image: url(../images/icon_1_70x70.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
#focusAIM .fc-line2 {
    top: 59px;
}
#focusAIM .fc-line2:before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 2px;
    left:0px;
    background-image: url(../images/icon_2_70x70.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
#focusAIM .fc-line1 .sub-title {
    color: #06bf04;
}
#focusAIM .fc-line2 .sub-title {
    color: #5ed030;
}
#focusAIM .btn-focus {
    height: 40px;
    background-color: #5ec539;
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 78%;
    border-radius: 6px;
}
#focusAIM .btn-focus a {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    display: block;
    position: relative;
    font-weight: bold;
}
#focusAIM .fc-tips {
    position: relative;
    top: 95px;
    color: #63c04d;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}